grant codeBase "@MAVEN_REPO@-"{
   permission java.security.AllPermission;
};

grant codeBase "@MAIN_CLASSES@-"{
   permission java.security.AllPermission;
};

grant codeBase "@TEST_CLASSES@-"{
};





