/* ################# Common Tag ###################*/
html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

table {
	font-family: Tahoma;
	font-size: 11px;
}

a {
	color: black;
	text-decoration: none;
}

.Explorer {
	font-family: Tahoma;
	font-size: 11px;	
}

.Explorer .Separator {
	background: url('../images/Separator4x1.gif') repeat-y top right;
	width: 4px;
	height: 100%;
	float: left;
}

/* Folder Navigation */
.Navigation {
	width: 200px;	
	float: left;	
	height: 100%;
}

.Navigation .TitleText {
	padding-left: 15px;
}

.Navigation .Tree {
	font-weight: bold;
	overflow: auto;
	height: 100%;
}

/* Tree */
.Tree .HomeNode {
	background: url('../images/TreeRoot24x18.gif') no-repeat left;
	padding-left: 24px; 
	height: 18px;
	line-height: 18px;
}

.Tree .Node {
	background: url('../images/TreeDot8x10.gif') repeat-y 5px top;
	line-height: 18px;
	padding-top: 7px;	
	white-space: nowrap;
}

.Tree .NodeGroup {
	display: none;
	padding-left: 20px;
}

.Tree .LastNode{
	background: url('../images/TreeDot8x10.gif') no-repeat 5px top;
}

.Tree .IconNode {
	padding-left: 20px;
}

.Tree .Expand {
	background: url('../images/TreeMinus18x16.gif') no-repeat 5px top;
	height: auto;
	padding-left: 23px;
}

.Tree .Collapse {
	background: url('../images/TreePlus18x16.gif') no-repeat 5px top;
	height: auto;
	padding-left: 23px;
	border: 1px solid white;
}

.Tree .IconClose {
	padding-left: 25px;
	margin-left: 5px;
}

.exo_portalFolder16x16Icon {
	background:transparent url('../images/icons/nt-unstructured.gif') no-repeat scroll 0% 0%;
	height:16px;
	width:16px;
}

.exo_webContent16x16Icon {
	background:transparent url('../images/icons/nt-unstructured.gif') no-repeat scroll 0% 0%;
	height:16px;
	width:16px;
}

/* Folder Explorer */
.Workspace {
	margin-left: 200px;	
}

.MenuBar {
	background: url('../images/MenuBar1x28.gif') repeat-x;
	line-height: 28px;				
	padding-left: 5px;
	height: 28px;
	border-bottom: 1px #B7B7B7 solid;
}

.Workspace .MenuBar .Item {
	float: left;
	padding-left: 28px;
	margin-right: 13px;
}

.Workspace .MenuBar .IconRefresh {
	background: url('../images/icons/Refresh22x23.gif') no-repeat center left;
}

.Workspace .MenuBar .IconUpload {
	background: url('../images/icons/Upload22x23.gif') no-repeat center left;
}

.Workspace .MenuBar .IconSeparator {
	float: left;
	margin-right: 10px;
}

.Workspace .MenuBar .IconSetting {
	background: url('../images/icons/Setting22x23.gif') no-repeat center left;
}

.Workspace .MenuBar .IconHelp {
	background: url('../images/icons/Help22x23.gif') no-repeat center left;
}

/* ################# Action Button ###################*/
.ActionContainer {
	width: auto;
	margin: auto;
}

.ActionContainer .ActionButton {
	float: left;
	margin: 0px 3px 0px 3px;
	height: 23px;
	line-height: 23px;
}

.ActionButton .ButtonMiddle {
	background: url('../images/Button6x44.gif') repeat-x bottom center;
	line-height: 22px;
	padding: 0px 12px;
}

.ActionButton .ButtonLeft {
	background: url('../images/Button6x44.gif') no-repeat top left;
	line-height: 22px;
	padding-left: 3px;
}

.ActionButton .ButtonRight {
	background: url('../images/Button6x44.gif') no-repeat top right;
	line-height: 22px;
	padding-right: 3px;
}

/* ################# Menu Setting ###################*/
.Workspace .TitleBar {
	text-align: center;
	background: url('../images/TitleBar1x24.gif') repeat-x;
	line-height: 24px;
	font-weight: bold;
}

.Workspace .Setting {
	background-color: #F7F7F7;
	border-top: 1px #B7B7B7 solid;
	border-bottom: 1px #B7B7B7 solid;
	padding-bottom: 10px;
}

.Setting .SettingTable {
	text-align: center;
	margin-top: 10px;
}

.Setting .SettingTable tr {
	text-align: left;
}

.Setting .SettingTable td {
	width: 110px;
	padding-left: 40px;
	line-height: 23px;
}

.Setting .SettingTable input {
	margin-right: 10px;
}

.Setting .SettingTable a {
	color: #000000;
	text-decoration: none;
}

.Setting .SettingTable a:hover{
	color: #058EE6;
}

/* ################# List Item ###################*/
.DisplayArea {
	padding: 10px 0px 0px 10px;
	overflow: auto;
}

.ThumbnailTable {
	float: left;
	width:100px;
}

.DocumentTable a {
	padding-left: 20px; 
}

.DocumentTable .ItemName {
	width: 50%;
}

.DocumentTable .ItemName a {
	color: #058EE6;
	text-decoration: none;
}

.DocumentTable .ItemDate {
	width: 400px;
	text-align: right;
}

.DocumentTable .ItemSize {
	width: 100px;
	text-align: right;
}

/* ################# Context Menu ###################*/
.ContextMenu {
	background: #C4C4C4 none repeat scroll 0%;
	border: 1px solid #7E7E7F;
	background: #F6F6F6 none repeat 0%;
	margin: 1px;
	padding: 5px 0px;
	position: absolute;
}

.ContextMenu .MenuItem {
	cursor: pointer;
	line-height: 16px;
	white-space: nowrap;
}

.ContextMenu .IconItem {
	line-height: 16px;
	margin: 0px 7px;
	padding: 5px 0px 5px 26px;
}

.AddNewDocument {
	display: none;
	border: 1px #C7C7C7 solid;
	position: absolute;
}

.AddNewDocument .IconAdd {
	background: url('../images/icons/NewDocument16x14.gif') no-repeat left center;
	width: auto;
}

.ListItemOption {
	display: none;
	width: 88px;
	border: 1px #C7C7C7 solid;
	position: absolute;
}

.ListItemOption .IconView {
	background: url('../images/icons/View16x20.gif') no-repeat left center;
	width: auto;
}

.ListItemOption .IconSelect {
	background: url('../images/icons/Select16x20.gif') no-repeat left center;
	width: auto;
}

.StatusBar {
	width: 100%; 
	height: 20px; 
	padding: 2px;
	line-height: 20px; 
	background: #E3E1CD;
}

.AddForm, .AlertForm {
	border: 1px #000000 solid;
	padding: 10px;
	z-index: 1;
	background: #ffffff;
	width: 300px;
	margin: auto;
	overflow: auto;
}

.IFrameFormContainer {
	left: 250px; 
	top: 200px; 
	position: absolute;
	border: 1px #000000 solid;
	padding: 10px;
	z-index: 1;
	background: #ffffff;
}

.Mask {
	background: black; 
	position: absolute;
	display: none;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	*filter: alpha(opacity = 50);
}

.UploadForm {
	background: white;
	height: 128px;
	margin: auto;
	padding: 5px;
	width: 310px;
}

.UploadForm .Abort  .Abort {
	display: block;
}

.UploadForm .Abort  .Delete {
	display: none;
}

.UploadForm .Delete  .Abort {
	display: none;
}

.UploadForm .Delete  .Delete {
	display: block;
}

.UploadForm  .UploadInfo .GraphProgress{
	background: #abcdef;
	width: 0px;
	height: 21px;
	line-height: 21px;
}

.UploadForm  .UploadInfo .NumberProgress{
	color: orange;
	height: 21px;
	line-height: 21px;
	margin-top: -21px;
	text-align: center;
}

.UploadForm input, a {
	margin: 2px 6px 0px 0px;
	
}

.UploadForm iframe {
	height: 0px;
	border: none;
}

.PopupContainer {
	position: absolute;
	top: 30%;
	left: 0px;
	width: 100%;
	display: none;
}