#uiActionsBarContainer .uiIconEcmsNewDocument:before {
  content: "\e637";
}

.editorButtonContainer {
  display: inline;
}

.editorButtonContainer .dropdown-container {
  position: relative;
  display: inline;
}

.editorButtonContainer .dropdown-container .dropdown-menu {
  position: absolute;
  top: 120%; /* Bottom of button */
  margin-left: -140px !important; /* More to the left */
  margin-top: 5px !important;
}

.editorButtonContainer .dropdown-container .dropdown-menu li {
  display: block !important;
}

.editorButtonContainer .dropdown-container .dropdown-menu li a {
 padding: 7px 12px;
 text-align: left;
}

.editorButtonContainer .dropdown-container .dropdown-menu li a i {
 margin-right: 5px;
}

.editorButtonContainer .dropdown-container .dropdown-menu li a:hover {
 color: #fff !important;
}

.editorButtonContainer .dropdown-container .dropdown-toggle {
  background-color: #f3f3f3;
}

.editorButtonContainer .dropdown-toggle {
  padding: 2px;
}

.previewBtn .editorButtonContainer {
  float: right;
}

.previewBtn .editorButtonContainer > li {
  display: inline;
  margin-right: 10px;
}

.detailContainer .editorButtonContainer > li {
  display: inline;
}
.detailContainer .editorButtonContainer button i {
  margin: 5px;
}

.previewBtn .editorButtonContainer .dropdown-menu {
  margin-left: -140px !important; /* More to the left */
  top: auto;
}

.previewBtn .editorButtonContainer .dropdown-menu a{
  color: #3a3a3a;
}