.UINewsletterPortlet {
  background: #fff;
  padding: 3px;
}

.UINewsletterPortlet .MenuTitle {
  text-align: left;
}

.UINewsletterPortlet .NewsletterBoxContent {
  padding: 10px;
  /*background: #ebedf2;*/
}

.UINewLetterPopup .TopRightRightClickPopupMenu {
  background: url('background/PopupBg.gif') no-repeat top right;
  height: 5px;
  padding-right: 5px;
}

.UINewLetterPopup .MiddleRightRightClickPopupMenu {
  background: url('background/RightBg.gif') repeat-y right;
  padding-right: 5px;
}

.UINewLetterPopup .BottomLeftRightClickPopupMenu {
  background: url('background/PopupBg.gif') no-repeat left -5px;
  padding-left: 5px;
}

.UINewLetterPopup .BottomRightRightClickPopupMenu {
  background: url('background/PopupBg.gif') no-repeat right -5px;
  padding-right: 5px;
}

.UINewLetterPopup .BottomCenterRightClickPopupMenu {
  background: url('background/PopupBg.gif') repeat-x left -10px;
  height: 5px;
}

.UINewLetterPopup .MenuItem .ItemIcon {
  background-repeat: no-repeat;
}

.UINewsletterPortlet .BreadCumbs {
  border-bottom: 2px solid #2665a0;
}

.UINewsletterPortlet .BreadCumbs a {
  font-size: 11px;
  line-height: 28px;
  padding-left: 5px;
  font-weight: normal;
}

.UINewsletterPortlet .BreadCumbs .Selected {
  font-weight: bold;
  color: #2665a0;
}

.UINewsletterPortlet .BreadCumbs .UnSelected {
  font-weight: normal;
  color: #2665a0;
}

.BorderOutline {
  border: 1px solid #e8e8e8;
  background: #F6F6F6;
}

.UINewsletterPortlet .LeftActionBar {
  background: url('background/MenuBg.gif') no-repeat top left;
  padding-left: 5px;
}

.UINewsletterPortlet .RightActionBar {
  background: url('background/MenuBg.gif') no-repeat top right;
  padding-right: 5px;
}

.UINewsletterPortlet .CenterActionBar {
  background: url('background/MenuBg.gif') repeat-x left -68px;
  height: 68px;
  padding: 0px 10px;
}

.UINewsletterPortlet .CenterActionBar .NewsletterActionBar {
  height: 30px;
  padding-top: 17px;
}

.UINewsletterPortlet  .NewsletterActionBar .Newsletter {
  background: url('background/NewIcon.gif') no-repeat top left;
  line-height: 24px;
  display: block;
  color: #114474;
  padding: 0px 10px 0px 35px;
}

.UINewsletterPortlet  .NewsletterActionBar .NewsSubcript {
  background: url('background/NewIcon.gif') no-repeat left -24px;
  line-height: 24px;
  display: block;
  color: #114474;
  padding: 0px 10px 0px 35px;
}

.UINewsletterPortlet  .NewsletterActionBar .NewsCategory {
  background: url('background/NewIcon.gif') no-repeat left -48px;
  line-height: 24px;
  display: block;
  color: #114474;
  padding: 0px 10px 0px 35px;
}

.UINewsletterPortlet  .NewsletterActionBar .NewsAdmin {
  background: url('background/NewIcon.gif') no-repeat left -72px;
  line-height: 24px;
  display: block;
  color: #114474;
  padding: 0px 10px 0px 35px;
}

.UINewsletterPortlet  .NewsletterActionBar .Line {
  background: url('background/LineIco.gif') no-repeat right 5px;
  height: 30px;
  padding: 0px 5px;
}

.UINewsletterPortlet .UICategories { /*background: #fefef9;*/
  padding: 8px;
  margin-bottom: 10px;
}

.UICategories .CategoryTitle {
  overflow: hidden;
}

.UICategories .CategoryTitle .LeftTitle {
  background: url('background/TabBg.gif') no-repeat top left;
  padding-left: 7px;
  float: left;
}

.UICategories .CategoryTitle .RightTitle {
  background: url('background/TabBg.gif') no-repeat right -26px;
  padding-right: 19px;
}

.UICategories .CategoryTitle .CenterTitle {
  background: url('background/TabBg.gif') repeat-x left -52px;
  height: 26px;
  padding: 0px 10px;
}

.UICategories .CategoryTitle  .IconCategory {
  background: url('background/CategoryIco.gif') no-repeat left center;
  padding-left: 35px;
  line-height: 26px;
  color: #114474;
  font-weight: bold;
  display: block;
}

.UICategories .Subscriptions table {
  border: 1px solid #aeaeaf;
  margin-left: 2px;
}

.UICategories .Subscriptions .Title {
  line-height: 26px;
  color: #114474;
  font-weight: bold;
  text-align: center;
  background: #e7e7e7;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #b7b7b7;
}

.UICategories .Subscriptions .OddRow {
  background: #f9f9f9;
}

.UICategories .Subscriptions .EvenRow {
  background: #eeeeee;
}

.UICategories .Subscriptions td {
  border-right: 1px solid white;
  border-top: 1px solid white;
  line-height: 26px;
  color: #000;
  padding: 0px 5px;
  text-align: left;
}

.UICategories .Subscriptions .SubscriptionTitle {
  font-weight: bold;
  color: #333;
}

.UICategories .Subscriptions .SubscriptionDescription {
  font-style: italic;
  color: #333;
}