.UISingleContentViewerPortlet .WebContentContainer {
  
}


.UISingleContentViewerPortlet .Message {
  border: 1px solid #b7b7b7;
  height: 55px;
  padding: 10px;
  margin: 0px 5px;
  text-align: center;
  font-size: 13px;
  background: white;
}

.UISingleContentViewerPortlet .EditMode {
  padding: 5px;
  border: 1px solid #B7B7B7;
  margin: 0px 5px;
  background: white;
}
.UISingleContentViewerPortlet .SCVNoContent {
  height: 20px;
  text-align: center;
  font-size: 13px;
  background: white;
  padding: 10px;
  margin: 5px;
}
.UISingleContentViewerPortlet .UIWelcomeScreen .LeftColumn {
  float: left;
  background: url('background/LeftContent188x219.gif') no-repeat left top;
  width: 188px;
  height: 219px;
}

.UISingleContentViewerPortlet .UIWelcomeScreen .FormContainer {
  margin-left: 200px;
}

.UISingleContentViewerPortlet .UIWelcomeScreen .FormContainer .CreateNewContent {
  background: transparent url(/ecmexplorer/skin/icons/24x24/DefaultSkin/AddDocument.gif) no-repeat scroll left center;
  height: 22px;
  line-height: 22px;
  margin: 5px 0px 5px 250px;
  padding-left: 25px;
  width: auto;
}

.UISingleContentViewerPortlet .UIWelcomeScreen .FormContainer .SelectContent {
  background: transparent url(icons/16x16/BlueOpenFolder.gif) no-repeat scroll left center;
  height: 22px;
  line-height: 22px;
  margin: 5px 0px 5px 250px;
  padding-left: 25px;
  width: auto;
}

.UISingleContentViewerPortlet .UIWelcomeScreen .WelcomeScreen {
  padding: 20px 0px 10px;
  font-weight: bold;
  text-align: center;
}

.UISingleContentViewerPortlet .UIWelcomeScreen .WelcomeLable {
  font-size: 15px;
  color: #058ee6;
  line-height: 30px;
  height: 30px;
  padding-bottom: 5px;
  text-align: left;
}

.UISingleContentViewerPortlet .UIWelcomeScreen .WelcomeText {
  height: 20px;
}

.UISingleContentViewerPortlet .UIWelcomeScreen .WelcomeLablePadding {
  padding-left: 15px;
  font-weight: bold;
}

.UISingleContentViewerPortlet .UIWelcomeScreen .WelcomeTextPadding {
  padding-left: 15px;
  line-height: 25px;
}

.UISingleContentViewerPortlet .UIWizard {
  width: auto;
  background: white;
}

.UISingleContentViewerPortlet .QuickEditToolBar {
  background: url('background/QuickEditToolBar.gif') repeat-x left top;
  height: 25px;
  line-height: 25px;
}

.UISingleContentViewerPortlet .AdvancedOptions {
  background: url('background/AdvancedOptionIcon.gif') no-repeat left center;
  color: #275377;
  font-weight: bold;
  padding-left: 20px;
  margin-right: 5px;
  cursor: pointer;
  float: right;
}

.UISingleContentViewerPortlet .UIWizard .UIWizardPageSetInfo .PageNodeContainer {
  display: none;
}

.UISingleContentViewerPortlet .ShowHelp {
  background: url('background/ShowHelp.gif') no-repeat left center;
  color: #275377;
  font-weight: bold;
  padding-left: 20px;
  margin: 8px 5px 0px 0px;
  cursor: pointer;
  float: right;
}

.UISingleContentViewerPortlet .UIWizard .UIWizardPageSetInfo .PageInfoContainer {
  border: 0;
  padding: 0;
  margin: 0;
  background: white;
}

.UISingleContentViewerPortlet .UIWizard .UIWizardPageSetInfo .SelectedPageInfo {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
}

.UISingleContentViewerPortlet .UIForm .HorizontalLayout .textarea {
  width: 525px;
  height: 275px;
}

.UIWelcomeScreen .HorizontalLayout {
  padding: 0px;
  background: white;
}

.UIWebContentSelectorForm {
  margin: 8px auto;
}

.UIWebContentSelectorForm .UIFormGrid .UIFormInputSet {
  padding: 0px;
  width: auto;
}

.UIWebContentSelectorForm .UIFormGrid .UIFormInputSet .FormContainer {
  padding: 0px;
}

.UIWebContentSelectorForm .UIFormGrid .UIFormGrid .FieldComponent {
  padding: 0px;
}

.UIWebContentSelectorForm .BrowsePublicationIcon {
  width: 16px;
  height: 16px;
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/BrowseContent.gif') no-repeat;
  cursor: pointer;
}

.UIWebContentSelectorForm .BrowseIcon {
  width: 16px;
  height: 16px;
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/BrowseContent.gif') no-repeat;
  cursor: pointer;
}

.UIDMSSelectorForm {
  margin: 8px auto;
}

.UIDMSSelectorForm .UIFormGrid .UIFormInputSet {
  padding: 0px;
  width: auto;
}

.UIDMSSelectorForm .UIFormGrid .UIFormInputSet .FormContainer {
  padding: 0px;
}

.UIDMSSelectorForm .UIForm .UIFormGrid .FieldComponent {
  padding: 0px;
}

.UIDMSSelectorForm .HorizontalLayout {
  padding-top: 10px;
}

.UIDMSSelectorForm .BrowseIcon {
  width: 16px;
  height: 16px;
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/BrowseContent.gif') no-repeat;
  cursor: pointer;
}

.UINameWebContentForm .UIForm .HorizontalLayout .FieldComponent {
  width: 750px;
}

.UINameWebContentForm .UIForm .HorizontalLayout .textarea {
  width: 80%;
  height: 180px;
}

.UISingleContentViewerPortlet .UIFormWithTitle {
  width: 800px;
}

.UIDMSSelectorForm .BrowsePublicationIcon {
  width: 16px;
  height: 16px;
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/BrowseContent.gif') no-repeat;
  cursor: pointer;
}

.UIWCMPublicationGrid .SelectIcon {
  background-image: url('icons/16x16/SelectPage.gif');
  cursor: pointer;
  height: 16px;
  width: 16px;
}

.UISingleContentViewerPortlet .SelectIcon {
  background-image: url('icons/16x16/SelectPage.gif');
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: auto;
}

.UISingleContentViewerPortlet .UIDMSPathSelector {
  margin: 8px;
  padding: 8px;
  border: 1px solid #b7b7b7;
  background: #F3F3F3;
}

.UISingleContentViewerPortlet .QuickEditContainer {
  border: 1px solid #b7b7b7;
  background: white;
}

.UISingleContentViewerPortlet .QuickEditContainer .UIFormGrid td.FieldLabel {
  white-space: nowrap;
  width: 75px;
}

.UINameWebContentForm .UIFormGrid td.FieldLabel {
  white-space: nowrap;
  vertical-align:middle;
}

.UISingleContentViewerPortlet .QuickEditContainer .UIFormGrid {
  width: 99%;
}

.UISingleContentViewerPortlet .QuickEditBackButton {
  text-align: right;
  padding: 0px 10px;
  height: 36px;
  line-height: 36px;
  background: url('background/WizardStepBar.gif') repeat-x bottom;
  border-bottom: 1px solid #b7b7b7;
}

.UISingleContentViewerPortlet .QuickEditBackButton a {
  color: #058ee6;
  font-weight: bold;
  font-size: 12px;
}

.UISingleContentViewerPortlet .QuickEditBackButton a:hover {
  text-decoration: underline;
}

.UISingleContentViewerPortlet .UIFormGrid td.FieldLabel,.UISingleContentViewerPortlet .UIFormGrid td  {
  vertical-align: middle;
}

.UISingleContentViewerPortlet .UIFormGrid td.AlignRight  {
  text-align: right;
}

.UISingleContentViewerPortlet .UIContentDialogConfig .UIFormGrid td.FieldLabel {
  padding: 4px;
  width: 385px;
}

.UISingleContentViewerPortlet .UIFormGrid {
  width: 100%;
}

.UISingleContentViewerPortlet .UIWizard .UIWCMUserContainer .Icon {
  background: url(/eXoResources/skin/DefaultSkin/webui/component/UIPageIterator/background/ArrowPageIterator.gif) no-repeat scroll left top;
  float: left;
  height: 16px;
  width: 16px;
}

.UIPresentationContainer .Title {
    font-size: 24px;
    width:100%;
    line-height: 20px;    
    padding: 2px 0 0;
    overflow: hidden;
}
.UIPresentationContainer .TitleHover {
    background: #fffacd;
    font-size: 24px;
    width:100%;
    line-height: 20px;
    padding: 2px 0 0;
    cursor: text;
}

.UIPresentationContainer .EditTitle {
    background: #fffacd;
    display:none;
    line-height: 20px;
    padding: 2px 7px 2px 2px;
}

.UIPresentationContainer .EditTitleInput {
    margin-right: 45px;    
}

.UIPresentationContainer .EditTitleInput input{
    width:99%;
    border: 1px solid #BFD5ED;
} 
   
.UIPresentationContainer .EditTitleInput TEXTAREA{
    width:99%;
    border: 1px solid #BFD5ED;
} 
.UIPresentationContainer .EditTitle .AcceptButton{
  background: url(background/accep_button.png) no-repeat scroll left center;
  display: inline-block;
  width: 16px; height: 22px;
  float: right; 
  margin-right: 5px;
}

.UIPresentationContainer .EditTitle .CancelButton{
  background: url(background/cancel_button.png) no-repeat scroll left center;
  display: inline-block;
  width: 14px; height: 22px;
  float: right;
}

.UIPresentationContainer .BackButton {
  background: url(background/BackIcon.gif) no-repeat center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  float: left;
  padding-left: 20px;
}

.UIPresentationContainer .DateAndMail {
    color: #999999;
    font-size: 10px;
}
.UISingleContentViewerPortlet .UIContainerConfigOptions {
  border: 1px solid #b7b7b7;
}

.UISingleContentViewerPortlet .UIContainerConfigOptions .ContainerConfigOptions {
  line-height: 16px;
  border: 1px solid white;
  width:auto;
}

.UISingleContentViewerPortlet .UIContainerConfigOptions .ContainerConfigOptions .DescripberStep {
  padding: 5px 0px;
}

.UISingleContentViewerPortlet .UIContainerConfigOptions .ContainerConfigOptions .StepNavigationTitle {
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 1px;
}

*+html .UICategoriesSelector .UICategoriesSelectPanel .UIGrid { 
width: 95%;
}

* html .UICategoriesSelector .UICategoriesSelectPanel .UIGrid { 
width: 95%;
}



.UISingleContentViewerPortlet .UIStartEditionInPageWizard {
  text-align: center;
  padding: 20px;
}

.UISingleContentViewerPortlet .UIStartEditionInPageWizard a:hover {
  font-size: 12px;
  color: #058EE6;
}

.UISingleContentViewerPortlet .DraftIcon {
  padding-left: 20px;
  background: url('icons/16x16/DraftIcon.gif') no-repeat left center;
}

.UIContentViewerContainer .DraftIcon {
  padding-left: 20px;
  background: url('icons/16x16/DraftIcon.gif') no-repeat left center;
}

.UIOptionBar .PrintIcon {
  background: url('icons/16x16/ActionIcon.gif') no-repeat bottom left;
  padding-left: 25px;
}

.UIOptionBar .EmailIcon {
  background: url('icons/16x16/ActionIcon.gif') no-repeat top left;
  padding-left: 20px;
}

.UIOptionBar .VoteIcon {
  background: url('icons/16x16/ActionIcon.gif') no-repeat left -21px;
  padding-left: 20px;
}

.UIOptionBar .CommentIcon {
  background: url('icons/16x16/ActionIcon.gif') no-repeat left -42px;
  padding-left: 20px;
}

.UIOptionBar .InfoIcon {
  background: url('icons/16x16/ActionIcon.gif') no-repeat left -63px;
  padding-left: 20px;
}

.HorizontalLayout .UIForm input {
  font-size: 11px;
   width:auto;
}

.UIPresentationContainer .ActionContainer {
  height: 28px;
  line-height: 28px;
  text-align: center;
  border-top: 1px dotted #b7b7b7;
}
.UIPresentationContainer .ActionContainer .PrintFrameIcon {
  padding: 4px 15px 2px 23px;
  font-size: 12px;
}

.UIPresentationContainer .ActionContainer .PrintFrameIcon:hover {
  text-decoration: underline;
  color: #058ee6;
}

.UIPresentationContainer .ActionContainer .PrintIcon {
  background: url('icons/PrintFrameIcon.gif') no-repeat top left;
}

.UIPresentationContainer .ActionContainer .CloseIcon {
  background: url('icons/PrintFrameIcon.gif') no-repeat left -19px;
}

/*============================= UISCVPreferences ====================*/

.UISingleContentViewerPortlet .UISCVPreferences .SelectFolderPathIcon {
  background: url('icons/16x16/AddPage.gif') no-repeat left center;
  width: 16px;
  height: 16px;
  margin-left: 10px;
  cursor: pointer;
  vertical-align: -2px;
}

.UISingleContentViewerPortlet .UISCVPreferences .SelectTargetPageIcon {
  background: url('icons/SearchIcon.png') no-repeat;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.UISingleContentViewerPortlet .UISCVPreferences .tdShowHelp {
  width: 30px;
}


.UISingleContentViewerPortlet .UISCVPreferences a.AdvancePreferences {
  color:#1111CC;
  text-align:left;
  text-decoration:underline;
}

.UISingleContentViewerPortlet .UISCVPreferences .fieldsetPreferences{
	margin:10px;
	border: 1px solid #b7b7b7;
}
.UISingleContentViewerPortlet .UIPageSelector {
  margin: 0;
  width: auto;
}

.UISingleContentViewerPortlet #UIPageNodeSelector {
  float: left;
  width: 48%;
}

.UISingleContentViewerPortlet .MiddleRightContainerOptions {
  width: 200%;
}

.UISingleContentViewerPortlet .UIPageNodeSelector {
  width: 100%;
}

.UISingleContentViewerPortlet #UIPageSelectorPanel {
  float: left;
  width: 48%;
  padding-left:10px;
}

.UIAction .ActionContainer a:hover {
	color:#058ee6;
}

.UISingleContentViewerPortlet .UISCVPreferences #UISCVShowAdvanceOption {
  margin: 10px;
  display: block;
}

.UISingleContentViewerPortlet .UISCVPreferences a.AdvancePreferences {
	outline: none;
}

.UISingleContentViewerPortlet .UISCVPreferences .UIFormInputSet {
  padding:0px;
}

.UISingleContentViewerPortlet .UIFormInputSetWithAction input {
	width:220px;
}

