#DefaultPortalContainer .UIWCMColumnContainer {
  background: white url('/portal/rest/jcr/repository/collaboration/sites content/live/classic/web contents/site artifacts/banner/Default/medias/images/BgBanner.png') repeat-x;
}

td {
  min-width: 20px;
}

.UIWCMColumnContainer {
  margin: auto;
  overflow: hidden;
}

.UIWCMColumnContainer .BannerTDContainer {
  float: left;
  width: 50%;
  overflow: hidden;
}

.UIWCMColumnContainer .AccessContainerTDContainer {
  float: right;
}

#UIContainer-DefaultPortalContainer {
  padding: 0;
}

#UIContainer-DefaultPortalContainer .UITableColumnContainer {
  _width: 99%;
  _position: relative;
}

#UIContainer-DefaultPortalContainer .UIContainer {
  padding: 0;
}

.UIWorkingWorkspace {
  zoom: 100%;
}

.WCMTRContainer .CategoryNavigationPortletContainerTDContainer {
  float: left;
  width: 30%;
}

.WCMTRContainer .ParameterizedContentListViewerPortletContainerTDContainer {
  float: right;
  width: 70%;
}


.UIItemSelector .Presentation {
  height: 170px;
  margin: auto;
  width: 270px;
  background: url('background/presentation.gif') no-repeat center;
}

.UIItemSelector .Search {
  height: 170px;
  margin: auto;
  width: 270px;
  background: url('background/search.gif') no-repeat center;
}

.UIItemSelector .Sitemap {
  height: 170px;
  margin: auto;
  width: 270px;
  background: url('background/sitemap.gif') no-repeat center;
}

.QuickEdit {
  background: url('background/quickEdit.png') no-repeat scroll left top;
  height: 30px;
  width: 65px;
  padding-left: 0px;
  float: right;
}

.UIItemSelector .ItemDetailList .TemplateContainer .classicImage {
  background: transparent url(background/classic.png) scroll center;
  height: 222px;
  margin-top: 9px;
}

.UIItemSelector .ItemDetailList .TemplateContainer .acmeImage {
  background: transparent url(background/Acme.png) no-repeat center;
  height: 235px;
  width: 296px;
  margin: 3px auto;
}

.UIItemSelector .ItemDetailList .TemplateContainer .WAIPortalImage {
  background: transparent url(background/WAIPortal.png) no-repeat center;
  height: 230px;
  width: 296px;
  margin: 3px auto;
}

.ACMECategoriesTDContainer {
  padding: 10px;
}

.ACMEParameterizedTDContainer {
  padding: 10px;
  width: 730px;
}

.UIToolbarContainer  .EditingPortletTDContainer {
  float: right;
  width: 80px;
  margin: 7px 0px 0px 30px;
}

.UIToolbarContainer  .SEOToolbarPortletTDContainer {
  float: right;
}

.UISiteAdminToolBar {
  height: auto;
  padding-right: 20px;
  float: right;
}

.UISiteAdminToolBar .Editing {
  float:left;
  font-weight:bold;
  margin-top:3px;
}

.UISiteAdminToolBar .LeftSelect {
  float:left;
}

.UIToolbarContainer .StarToolBarPortletTDContainer {
	z-index: 3;
	position: relative;
}

.UIToolbarContainer .UserToolBarSitePortletTDContainer {
	z-index: 3;
	position: relative;
}

.UIToolbarContainer .UserToolBarGroupPortletTDContainer {
	z-index: 3;
	position: relative;
}

.UIToolbarContainer .UserToolBarDashboardPortletTDContainer  {
	z-index: 3;
	position: relative;
}


.UIToolbarContainer .AdminToolBarPortletTDContainer {
	z-index: 3;
	position: relative;
}

.UICategoryForm .UIForm .HorizontalLayout .UIFormInputSet {
	padding: 0px;
}
.UISubcriptionForm .UIForm .HorizontalLayout .UIFormInputSet {
	padding: 0px;
}

.UIPresentationContainer a {
  color: #0068FF;
}

.UIPresentationContainer a:hover {
  text-decoration: underline;
}

.UIPresentationContainer .EdittingToolBarContainer a:hover {
  text-decoration: none;
}


/* Context Help CSS START */
.ShowHelpIcon {
	background: url('background/ContextHelp/ShowHelpIcon.gif') no-repeat right center;
}


.IconInContextHelp {
  width: 16px; height:16px;
  cursor: pointer;
  float: left;
}

/********Thanh css********/

.InContextHelpContent {
  position: absolute;
  width: 450px;
  left: -450px;
  display: none;
  top: -13px;
  z-index: 100;
}

.LeftInContextHelpPopup  {
  background: #fff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 2px 2px 2px #cbcbcb;
  -moz-box-shadow: 2px 2px 2px #cbcbcb;
  -webkit-box-shadow: 2px 2px 2px #cbcbcb;
  border: 1px solid #bcbcbc;
  margin-right: 14px;
  padding: 10px 10px 15px 10px;
  position: relative;
  z-index: -1;
}

.InContextHelpPopup {
  background: url('background/ContextHelp/TopRightLeft15x14.png') no-repeat right 17px;
}

/********End Thanhcss********/

.InContextHelpContentData {
  white-space:normal;
  cursor: text;
  position: absolute;
  top: -35px;
}

.InContextHelpPopup .ContentPosition {
    position: relative;
    background: #ffffff;
}

/* Context Help CSS END */


/* QUICK EDIT */

.EdittingToolBarContainer{
  position:relative;
  right:0;
  top:0;
  z-index:1;
  width: 90px;
  float: right;
  display: none;
}

.UIPresentationContainer .EdittingToolBarContainer{
  width: 160px;
}

.EdittingToolBarContainer .EdittingToolBar {
  position:absolute;
  right:0;
  top:-20px;
}

.EdittingToolBarContainer .EdittingCurrentState {
  padding-left: 3px;
  color: #5E6D7B;
}

.EdittingToolBarContainer .EdittingToolBar .EdittingToolBarL {
  background: url('icons/EdittingToolBarL.png') no-repeat left top;
  padding-left: 4px;
}

.EdittingToolBarContainer .EdittingToolBar .EdittingToolBarR {
  background: url('icons/EdittingToolBarR.png') no-repeat right top;
  padding-right: 4px;
}

.EdittingToolBarContainer .EdittingToolBar .EdittingToolBarC {
  background: url('icons/EdittingToolBarC.png') repeat-x;
  line-height: 18px;
  padding:2px 0 0;
}

.AddContentIcon {
  background: url('icons/AddContentIcon.png') no-repeat center center;
  margin-left: 6px;
  width: 16px;
  display: block;
}

.ManageContentIcon {
  background: url('icons/ManageContentIcon.png') no-repeat center center;
  margin-left: 6px;
  display: block;
  width: 16px;
}

.PreferencesIcon {
  background: url('icons/PreferencesIcon.png') no-repeat center center;
  margin-left: 6px;
  width: 16px;
  display: block;
}

.EdittingContent{
  position:relative;
  right:0;
  top:0;
  z-index:1;
  float: right;
  width: 160px;
  display: none;
}

.EdittingContent .EdittingToolBar {
  position:absolute;
  right:0;
}


.EdittingContent .EdittingToolBar .EdittingToolBarL {
  background: url('icons/EdittingContentL.png') no-repeat left top;
  padding-left: 3px;
}


.EdittingContent .EdittingToolBar .EdittingToolBarC {
  background: url('icons/EdittingContentC.png') repeat-x;
  line-height: 20px;
  padding:2px 0 0;
}

.EdittingContent .EdittingCurrentState {
  padding-left: 3px;
  color: #5E6D7B;
}

.EditContentIcon {
  background: url('icons/EditContentIcon.png') no-repeat left center;
  margin-left: 6px;
  width: 16px;
  display: block;
}

.FastPublishIcon {
  background: url('icons/FastPublishIcon.png') no-repeat left center;
  margin-left: 6px;
  width: 16px;
  display: block;
}

.CloseContentIcon {
  background: url('icons/CloseContentIcon.png') no-repeat center center;
  margin-left:6px;
  width: 16px;
  display: block;
}


.UISingleContentViewerPortlet .ContainerHoverClass {
  border:1px solid #bfd5ed;
}

.UICLVPortlet .ContainerHoverClass {
  border:1px solid #bfd5ed;
}

.ContainerHoverClass {
  border:1px solid #bfd5ed;
}

.ContainerHoverClass .EdittingToolBarContainer{
  display: block;
}

.OneColumnCLVTemplate .Contents .ContainerHoverClassInner {
  border:1px solid #bfd5ed;
}

.TwoColumnsCLVTemplate .Contents .ContainerHoverClassInner {
  border:1px solid #bfd5ed;
}

.DocumentsCLVTemplate .Contents .ContainerHoverClassInner {
  border:1px solid #bfd5ed;
}

.ContainerHoverClassInner .EdittingContent{
  display: block;
}

.IconLocked {
  background: url('icons/IconLockedBig.gif') no-repeat right top; /* orientation=lt */
		background: url('icons/IconLockedBig.gif') no-repeat left top; /* orientation=rt */
  width: 20px;
  height: 16px;
  float: left;
}

/* QUICK EDIT END */
