.UIPCVPortlet {
  overflow: hidden;
  background: white;
  padding: 10px;
}

.UIPCVContainer .BackButton {
  background: url(DefaultSkin/images/BackIcon.gif) no-repeat center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  float: left;
  padding-left: 20px;
}

.UIPCVContainer .DocumentQuickEdit {
  background: url('DefaultSkin/images/quickEdit.png') no-repeat right top;
  height: 30px;
  width: 65px;
  float: right;
}

.UIPCVContainer .DraftIcon {
  padding-left: 20px;
  background: url('DefaultSkin/images/DraftIcon.gif') no-repeat left center;
}

.UIPCVContainer .ActionContainer {
  height: 28px;
  line-height: 28px;
  text-align: center;
  border-top: 1px dotted #b7b7b7;
}

.UIPCVContainer .ActionContainer .PrintFrameIcon {
  padding: 4px 15px 2px 23px;
  font-size: 12px;
}

.UIPCVContainer .ActionContainer .PrintFrameIcon:hover {
  text-decoration: underline;
  color: #058ee6;
}

.UIPCVContainer .ActionContainer .PrintIcon {
  background: url('DefaultSkin/images/PrintFrameIcon.gif') no-repeat top left;
}

.UIPCVContainer .ActionContainer .CloseIcon {
  background: url('DefaultSkin/images/PrintFrameIcon.gif') no-repeat left -19px;
}

.UIPCVContainer a {
  color: #00BAEB;
}

.UIPCVContainer a:hover {
  color: #058EE6;
}

.UIParameterizedManagementForm .quickSearchAction {
  background: url('DefaultSkin/images/SearchIcon.png') no-repeat;
  cursor: pointer;
  height: 16px;
  width: 16px;
}

.UIPCVPortlet .UIFormGrid {
  margin: 0;
}

.UIPCVPortlet .HorizontalLayout .UIFormInputSet {
  padding: 0;
}

.UIPCLVPortlet .UIPageSelector {
  margin: 0;
  width: auto;
}

.UIPCVPortlet #UIPageNodeSelector {
  float: left;
  width: 48%;
}

.UIPCVPortlet .MiddleRightContainerOptions {
  width: 200%;
}

.UIPCVPortlet .UIPageNodeSelector {
  width: 100%;
}

.UIPCVPortlet #UIPageSelectorPanel {
  float: left;
  width: 48%;
  padding-left:10px;
}

.UIPCVPortlet .UIPCVConfig .TitleBar {
  background: transparent url('DefaultSkin/images/BgCategoryTitle1x25.gif') repeat-x scroll 0 0;
  border-top: 1px solid #B7B7B7;
  border-left: 1px solid #B7B7B7;
  border-right: 1px solid #B7B7B7;
  color: #424242;
  font-weight: bold;
  line-height: 25px;
  padding-left: 10px;
  text-align: center;
}

.UIContainerConfigOptions .ContainerConfigOptions {
  background: #F2F2F2 none repeat scroll 0 0;
  border: 1px solid #BCBCBC;
  padding: 5px;
  width: 218px;
}

.UIPageSelector {
  margin: auto;
  padding: 10px;
  width: 65%;
}
