/**
 * Created by The eXo Platform SARL
 * Author : Tran The Trong
 *          trongtt@gmail.com
 * August 01, 2006
 * version: $Id$
 */

@import url("../../../icons/DefaultStylesheet.css");
@import url("UIMetadataManager/DefaultStylesheet.css");
@import url("UINodeTypeManager/DefaultStylesheet.css");

.UIGrid .TrashRow {
    text-decoration: line-through;
    color: gray;
}

.UIGrid .TrashRow a {
    text-decoration: line-through;
    color: gray;
}

.UIGrid .TrashRow sup {
    text-decoration: none;
    color: red;
}

.UIGroupMembershipSelector .MembershipTitle {
	font-weight:bold;
}

.UIWindow .UIECMAdminPortlet {
	border: none;
	margin: 0px;
}

.UIECMAdminPortlet {
	background: white;
	/*border: 1px solid #b7b7b7;*/
	/* margin: 5px; */
	overflow: hidden;
}

.UIECMAdminPortlet .UIFormGrid {
	width: 100%;
	margin: 0px;
}

.UIECMAdminPortlet .Icon16x16 {
	float: none;
}

.UIECMAdminPortlet .UIForm td.FieldComponent .textarea {
	height: 300px ;
	width: 400px;
	vertical-align: top;
}

.UIECMAdminPortlet .UISelect .UIForm .HorizontalLayout {
	padding: 0px;
	background: none;
	border: none;
}

.UIECMAdminPortlet .UIResizableBlock {
	overflow: auto;
	height: 400px;
}

/*############################## -- UIECMAdminFunctionTitle -- ########################*/

.UIECMAdminPortlet .UIFormWithTitle {
  width: auto;
  margin: 0px auto;
}

.UIECMAdminPortlet .UIPermissionManager .UIFormWithTitle {
  margin: 3px auto;
  width: auto;
}

.UIECMAdminPortlet .UIPermissionManager { 
	margin: auto;
	padding-top: 10px;
  width: 95%;
}

.UIECMAdminPortlet .UIOneNodePathSelector .UIFormWithTitle {
	margin: 10px auto;
	width: 580px;
	border:1px solid #b7b7b7;
}

.UIECMAdminPortlet .UIFormGrid input {
  padding-left: 3px; /* orientation=lt */ 
  padding-right: 3px; /* orientation=rt */
 
}

.UIECMAdminPortlet .UITemplateContent .UIFormInputSetWithAction .UIFormGrid input {
	 width: 235px;
}

.UIECMAdminPortlet .UIFormGrid .FieldComponent .ActionIcon {
  margin: 0px 5px;
}

.UIECMAdminPortlet .UIFormGrid .FieldLabel {
  width: 138px;
}

.UIECMAdminPortlet .ECMLayoutSeparator {
	width: 6px;
}

.UIECMAdminPortlet .CollapseSideBar {
	width: 6px; height: 100%;
	background: url('DefaultSkin/background/SideBar.gif') no-repeat left center; /* orientation=lt */
		background: url('DefaultSkin/background/SideBar-rt.gif') no-repeat right center; /* orientation=rt */
	cursor: pointer;
}

.UIECMAdminPortlet .UIFormWithTitle .FieldContainer .UIFormInputSet {
  background: none ;
  border: none ;
}

.UIECMAdminPortlet .ExpandSideBar {
	width: 6px; height: 100%;
	background: url('DefaultSkin/background/SideBar.gif') no-repeat right center; /* orientation=lt */
	background: url('DefaultSkin/background/SideBar-rt.gif') no-repeat left center; /* orientation=rt */
	cursor: pointer;
}

.UIECMAdminPortlet .ECMAdminTitleBar {
	font-weight: bold;
	line-height: 18px;
	text-align: center;
	padding-top: 8px;
}

.UIECMAdminPortlet .UIECMAdminFunctionTitle {
	height: 25px;
	padding: 0px 0px 5px 25px;
}

.UIECMAdminPortlet .UIECMAdminFunctionTitle .RightFunctionTitle .FunctionTitle {
	font-weight: bold;
  line-height: 25px;
  height: 25px;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVerticalSlideTabs {
  margin: 10px;
  padding: 0px;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTab {
  margin: 8px 0px;
  cursor: pointer;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTab .TabIcon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
  margin: 1px 5px 0px 5px;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTabContent {
  margin: 1px 2px;
  border: solid 1px #b2b1b1;
  background: #ffffff;
  padding: 5px ;
  overflow: hidden;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTabContent a {
	color: black;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTabContent a:hover {
	color: orange;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .FunctionItem {
  clear: both;
  height: 25px;
  margin: 4px 2px;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .FunctionItem .ItemIcon {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  margin-right: 6px; /* orientation=lt */
  margin-left: 6px; /* orientation=rt */
}

.UIECMAdminPortlet .UIECMAdminControlPanel .FunctionItem .ItemLabel {
  line-height: 25px;
  cursor: pointer;
}


/*############################## -- ECMLayoutSeparator -- ########################*/

.UIECMAdminPortlet .ECMLayoutSeparator {
	width: 6px;
	background: url('DefaultSkin/background/LayoutSeparator.gif') repeat-y left center;
}

.UIECMAdminPortlet .UIECMAdminWorkingArea {
	margin: 5px 10px 10px;
}

/*############################## -- UIFormInputSet -- ########################*/
.UIECMAdminPortlet .UIForm .HorizontalLayout .UIFormInputSet {
	width: 100%;
	padding: 0px;
}

.UIECMAdminPortlet .UIFormInputSet .AddIcon16x16 {
  margin-left: 5px;
  float: none;
}

.UIECMAdminPortlet .UIFormInputSetWithAction .ActionField {
  margin-bottom: 5px ;
  max-width: 400px;
  overflow: hidden;
}

.UIECMAdminPortlet  .UIFormInputSetWithAction .ActionField a {
  color: blue;
}

.UIECMAdminPortlet  .UIFormInputSetWithAction .ActionField a:hover {
  color: orange;
}

/*############################## -- UINamespaceManager -- ########################*/

.UIECMAdminPortlet .UINamespaceManager {
	padding: 2px 0px 0px 0px;
	width: 97%;
}

.UIECMAdminPortlet .UINamespaceForm {
  padding: 10px;
}

.UIECMAdminPortlet .UINamespaceForm .HorizontalLayout {
  padding-top: 10px;
  background: #f7f7f7;
}

.UIECMAdminPortlet .UINamespaceForm .FormContainer {
  width: 500px;
  margin: auto;
}

.UIECMAdminPortlet .UINamespaceList {
  margin-top: 5px ;
}

/*############################## -- UIDriveManager -- ########################*/

.UIECMAdminPortlet .UIDriveList {
  margin-top: 5px ;
  width: 100%;
}
.UIECMAdminPortlet .UIDriveList .FixTableSize {
  width: 100%;
  overflow:auto;
  max-height: 420px;
}
.UIECMAdminPortlet .UIDriveManager {
  padding: 2px 0px 0px 0px;
}

.UIECMAdminPortlet .UIDriveManager .UIForm .HorizontalLayout .rootNodeInfo .UIFormInputSet {
	width: auto;
}

.UIECMAdminPortlet .UIDriveManager .rootNodeInfo .UIFormGrid {
	width: 100%;
}

.UIECMAdminPortlet .UIDriveManager .UIFormGrid {
	width: 95%;
}

.UIECMAdminPortlet .UIDriveManager .UIFormInputSet .AddIcon16x16 {
  float: none;
  margin-left: 5px;
}

.UIECMAdminPortlet .UIDriveManager .UIGrid td {
    border-color: #FFFFFF;
    border-width: 1px 0 1px 1px;
    padding: 5px;
    vertical-align: middle;
}
/*############################## -- ECMTemplate -- ########################*/

.UIECMAdminPortlet .ECMTemplate .ECMTempForm {
	padding: 10px;
}

.UIECMAdminPortlet .ECMTemplate .ECMTempForm .HorizontalLayout {
  background: #f7f7f7;
  padding-top: 10px;
  border: 1px solid #b7b7b7;
}

.ECMTempForm .HorizontalLayout .textarea {
  width: 95%;
  height: 350px;
}

/*############################## -- CBTemplate -- ########################*/

.UIECMAdminPortlet .CBTemplate .CBTempForm  {
	padding: 10px;
}

.UIECMAdminPortlet .CBTemplate .CBTempForm .HorizontalLayout {
  background: #f7f7f7;
  padding-top: 10px;
  border: 1px solid #b7b7b7;
}

.CBTempForm .HorizontalLayout .textarea {
  width: 380px;
  height: 350px;
}

/*############################## -- UIActionManager -- ########################*/

.UIECMAdminPortlet .UIActionManager {
  width: 97%;
}

.UIActionManager .UIActionTypeForm  {
	padding: 10px; 
}

.UIActionManager .UIActionTypeForm .HorizontalLayout{
	padding-top: 10px; 
	background: #f7f7f7;
}

.UIActionManager .UIActionTypeForm .FormContainer  {
	width: 500px;
	margin: auto;
}

/*############################## -- UIScriptManager  -- ########################*/

/*------------------------------UICBScripts------------------------*/

.UIECMAdminPortlet .UIECMScripts  {
	padding: 10px;
}

.UIECMScripts .ECMScriptForm {
	padding: 10px;
}

.UIECMAdminPortlet .UIScriptFilterForm .UIForm .UIFormGrid td.FieldComponent {
	padding: 7px 4px 0px 4px;
}

.UIECMScripts .ECMScriptForm .HorizontalLayout {
  padding-top: 10px;
  background: #f7f7f7;
  border: 1px solid #b7b7b7;
}

.UIECMAdminPortlet .UIECMScripts .UIScriptFilterForm  {
  margin-bottom: 2px;
}

.UIECMAdminPortlet .UIECMScripts .UIScriptFilterForm .UIFormGrid .FieldLabel {
  width: 110px;
  padding: 0px 4px 0px 10px;
		vertical-align: middle;
}

.UIECMAdminPortlet .UIECMScripts .UIScriptFilterForm .UIFormGrid .FieldComponent select {
	height: 20px;
}

.UIECMScripts .HorizontalLayout .FormContainer .FieldComponent textarea {
  height: 350px;
  width: 90%;
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
}

/*------------------------------UICBScripts------------------------*/

.UIECMAdminPortlet .UICBScripts  {
  padding: 2px 0px 0px 0px;
}

.UIECMAdminPortlet .UICBScripts .CBScriptForm {
  width: 95%;
  margin: 10px auto;
}

.UICBScripts .CBScriptForm .HorizontalLayout {
  padding-top: 10px;
  background: #f7f7f7;
  border: 1px solid #b7b7b7;
}

.UICBScripts .HorizontalLayout .FormContainer .FieldComponent .textarea {
  width: 90%;
  height: 350px;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
}

/*############################## -- UIQueriesManager  -- ########################*/

.UIECMAdminPortlet .UIQueriesManager {
  padding: 2px 0px 0px 0px;
}

.UIQueriesManager .UIQueriesForm {
	width: 95%;
	margin: 10px auto;
}

.UIQueriesManager .UIQueriesForm .HorizontalLayout{
	background: #f7f7f7;
	padding-top: 10px;
}

.UIECMAdminPortlet .UIQueriesManager .UIQueriesForm .UIForm .textarea {
	height: 350px ;
	width: 95%;
}

.UIQueriesManager .UIAnyPermission {
	margin: 0px 0px 2px;
}


/*############################## -- UITaxonomyManager  -- ########################*/

.UIECMAdminPortlet .UITaxonomyManager .UITaxonomyForm  {
	padding: 10px;
}

/*############################## -- UIFolksonomyManager  -- ########################*/

.UIECMAdminPortlet .UIFolksonomyManager {
  padding: 2px 0px 0px 0px;
}

.UIECMAdminPortlet .UIFolksonomyManager .UITagStyleForm {
	padding: 10px;
}

/*----------------------------UIDialogTab-------------------------------*/

.UITemplatesManager .UIDialogTab .DialogForm {
	padding-top: 10px;
}

.UITemplatesManager .UIDialogTab .DialogForm .FormContainer {
	padding-top: 10px;
}

.UIECMAdminPortlet .UIDialogTab .UIFormGrid  td.FieldComponent .textarea {
  width: 460px;
  height: 350px;
}

/*----------------------------UIViewTab-------------------------------*/

.UITemplatesManager .UIViewTab .ViewForm {
	padding-top: 10px;
}

.UITemplatesManager .UIViewTab .ViewForm .FormContainer {
	padding-top: 10px;
}

.UIECMAdminPortlet .UIViewTab .UIFormGrid td.FieldComponent .textarea {
  width: 460px;
  height: 350px;
}

/*############################## -- Any Permission -- ########################*/
.UIECMAdminPortlet .UIAnyPermission .UIForm .HorizontalLayout {
	border: 1px solid #B7B7B7;
}

.UIECMAdminPortlet .ECMAdminPanel {
  height: 100%; width: 250px;
  overflow: auto; 
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
}
.UIECMAdminPortlet .UIResizableBlock .ECMLayoutFloat{
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	height: 100%;
}

.UIECMAdminWorkingArea .RightFunctionTitle .IconTitle{
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	margin: 0px 5px;
}

.UIECMAdminPortlet .UIResizableBlock .NotShowSideBar {
  margin-left: 6px; /* orientation=lt */
  margin-left: 6px; /* orientation=rt */
  height: 100%;
}

.UIECMAdminPortlet .UIResizableBlock .ShowSideBar {
  margin-left: 256px; /* orientation=lt */
  margin-right: 256px; /* orientation=rt */
  height: 100%;
}

.UIPageIterator .PageIteratorContainer .RightPageIteratorBlock{
	margin:5px 0px;
}

.UINamespaceManager UINamespaceList .UIPageIterator .PageIteratorContainer{
float: left;
}
 .UIFormGrid .MultiRadioInput {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	line-height: 16px;
}
 .UIFormGrid .MultiRadioInput input {
	float: left; /* orientation=lt */ 
	float: right; /* orientation=rt */
	clear: both;
}

.UITaxonomyManagerTrees .PopupContent {
	margin:  0px;
	background: #F9F9F9 none repeat scroll 0 0;
	padding:  0px;
}

.UITaxonomyTreeWizard .WorkingArea .SelectedLabel {
	border-bottom: 1px solid #B7B7B7;
	padding: 15px 0px;
	line-height: 15px;
  background: #f9f9f9;
}

.UIECMAdminPortlet .UITaxonomyTreeWizard .WorkingArea .UIFormWithTitle {
  width: auto;
  margin: 3px auto;
}

.UITaxonomyTreeWizard .WorkingArea .HiddenLabel  {
	display: none;
}

.UITaxonomyTreeWizard .WorkingArea .UIWizardAction {
  background: #F9F9F9 none repeat scroll 0 0;
}

.UITaxonomyTreeWizard .WorkingArea .UIWizardAction .StepNavigationTitle {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  font-weight: bold;
  margin: 0px 10px 0px 15px; /* orientation=lt */
  margin: 0px 15px 0px 10px; /* orientation=rt */
}

.UITaxonomyTreeWizard .WorkingArea .UIWizardAction .StepNavigationBar {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  line-height: 38px;
}

.UITaxonomyTreeWizard .WorkingArea .TaxonomyTreeMainForm .FieldComponent .FieldComponent input {
  width: 235px;
  !width: 205px;
}

.UITaxonomyTreeWizard .WorkingArea .UIWizardAction .StepNavigationBar a {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  width: 18px; line-height: 18px;
  font-weight: bold;
  text-align: center;
  margin: 9px 3px 0px 3px; 
  border: solid 1px gray;
}

.UITaxonomyTreeWizard .WorkingArea .UIWizardAction .StepNavigationBar a:hover {
  color: orange;
  background: #f8f8f8;
  border: solid 1px #fdb913;
}

.UITaxonomyTreeWizard .WorkingArea .StepNavigationBar a.SelectedStep {
  color: red;
}

.UITaxonomyTreeWizard .WorkingArea .UIWizardAction .UIAction {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	padding-right: 10px; /* orientation=lt */
	padding-left: 10px; /* orientation=rt */
}

.UITaxonomyTreeWizard .WorkingArea .UIWizardAction .UIAction .ActionContainer {
	margin: 0px;
}

.UITaxonomyTreeWizard .WorkingArea .UIFormWithTitle .HorizontalLayout {
	border: 1px solid #b7b7b7;
	border-top: none;
	padding: 10px;
}

.UITaxonomyTreeWizard .UITabPane .WorkingArea .UITaxonomyTreeCreateChildForm .HorizontalLayout {
	background:  #F7F7F7 none repeat scroll 0 0;
	border:  1px solid #AEAEAE;
	padding:  10px;
	margin: 10px;
}

.UIECMAdminPortlet .UITaxonomyTreeWizard .UIFormGrid .FieldComponent .ActionIcon {
	float: none;
	margin: 0px 5px;
}

.UITaxonomyTreeWizard .WorkingArea .UITaxonomyTreeCreateChild .UIBreadcumbs {
  padding-bottom: 10px;
}

.UITaxonomyTreeWizard .WorkingArea .UITaxonomyTreeCreateChild .UIAction {
	clear: both;
	padding: 8px;
}

.UITrees .Node .NodeIconLink {
	background-position: left top;
	font-weight: bold;
	height:  16px;
	padding-left: 11px;
	width: 20px;
}

.UIOneNodePathSelector .LinkSmall {
	background: url('DefaultSkin/background/LinkSmall.gif') no-repeat left bottom;
  width: 20px;
  height: 15px;
  padding-left: 12px;
  right: 0;
  bottom: 0;
}

.UIOneTaxonomySelector .LinkSmall {
	background: url('DefaultSkin/background/LinkSmall.gif') no-repeat left bottom;
  width: 20px;
  height: 15px;
  padding-left: 12px;
  right: 0;
  bottom: 0;
}

.UIECMAdminPortlet .UIDriveManager .DriveInputSet .UIFormInputSetWithAction .FieldLabel {
  width: 140px;
}

.UINodeTypeSearh {
  padding: 0 0 10px;
}

.UINodeTypeSearh td {
  vertical-align: middle;
}

.UINodeTypeSearh .UIBarStyle .FieldLabel {
  padding: 0px 0px 0px 25px;
}

.UINodeTypeSearh .UIBarStyle .GroupInput {
  padding: 0pt 5px;
}

.UINodeTypeSearh .UIBarStyle .SearchIcon {
		background: transparent url(/ecmadmin/skin/icons/24x24/DefaultSkin/Search.gif) no-repeat scroll left center;
		height: 24px;
		width: 24px;
}

.UINodeTypeSearh .UIBarStyle .ButtonCell {
  padding-top: 7px;
}

.UINodeTypeSearh .UIBarStyle .MultiValueContainerShow {
		padding-bottom:5px;
		vertical-align:bottom;
}

.UILockHolderContainer .UIGroupMembershipSelector .UITrees .TreeContainer {
  height: 146px;
}

.UILockHolderContainer .UIGroupMembershipSelector .MembershipSelector .OverflowContainer{
  height: 146px;
}

.UILockHolderContainer .UIGroupMembershipSelector .GroupSelector {
  height: 168px;
}

.UILockHolderContainer .UIGroupMembershipSelector .MembershipSelector {
  height: 183px;
}

/*#######################-VTabStyle3 VerticalSlideTabs-######################*/


.UIECMAdminPortlet .UIECMAdminControlPanel .UIVerticalSlideTabs .VTabStyle3 .TabRepeat {
	height: 28px;
	background: #f8f8f8;
	border: 1px solid #e1e1e1;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVerticalSlideTabs .VTabStyle3 .TabLabel {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	height: 28px; line-height: 28px;
	color: #4f4f4f;
	font-size: 14px;
	padding: 0px 12px;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVerticalSlideTabs .VTabStyle3 .NormalTab .SwitchButton {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	width: 16px;	height: 16px;
	background: url('DefaultSkin/background/GrayNextArrow2.gif') no-repeat center;
	margin: 6px 3px 0px 0px; /* orientation=lt */
	margin: 6px 0px 0px 3px; /* orientation=rt */
	cursor: pointer;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVerticalSlideTabs .VTabStyle3 .UIVTabContent {
	background: #ffffff;
	border: solid 1px #e1e1e1;
	padding: 5px;
	border-top: none;
	margin: 0px;
}

/***-SeltectedTab VerticalSlideTabs-***/


.UIECMAdminPortlet .UIECMAdminControlPanel .UIVerticalSlideTabs .VTabStyle3 .SelectedTab .SwitchButton {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	width: 16px; height: 16px;
	background: url('DefaultSkin/background/GrayDownArrow2.gif') no-repeat center;
	margin: 6px 3px 0px 0px; /* orientation=lt */
	margin: 6px 0px 0px 3px; /* orientation=rt */
}
