/**
 * Created by The eXo Platform SAS
 * Modifier : Vu Duy Tu
 *           duytucntt@gmail.com
 * January 05, 2006
 * version: $Id$
 */

@import url("../../../icons/MacStylesheet.css");
@import url("UIMetadataManager/MacStylesheet.css");
@import url("UINodeTypeManager/MacStylesheet.css");

.UIWindow .UIECMAdminPortlet {
	border: none;
	margin: 0px;
}

.UIECMAdminPortlet {
	background: white;
	/*border: 1px solid #b7b7b7;
	margin: 5px;*/
	overflow: hidden;
}

.UIECMAdminPortlet .Icon16x16 {
	float: none;
}

.UIECMAdminPortlet .UIForm td.FieldComponent .textarea {
	height: 300px ;
	width: 400px;
	vertical-align: top;
}

.UIECMAdminPortlet .UIFormGrid {
	width: 100%;
	margin: 0px;
}

.UIECMAdminPortlet .UITrees .Node .NodeIcon   {
  padding-left: 24px;
}

.UIECMAdminPortlet .UITaxonomyWorkingArea .UIGrid {
  width: 98%;
}

.UIECMAdminPortlet .UITaxonomyManager .UITaxonomyForm {
	padding: 10px;
}

.UIECMAdminPortlet .UITaxonomyManager .UITaxonomyForm .HorizontalLayout {
	background:  url(MacSkin/background/Background1x4.png) repeat 0%;
	padding-top: 10px;
}

.UIECMAdminPortlet .UITaxonomyManager .UITaxonomyForm .FormContainer {
	width: 500px;
	margin: auto;
}

.UIECMAdminPortlet .UIRepositoryControl {
	overflow: hidden;
}

.UIECMAdminPortlet .UIRepositoryControl .ControlLayout {
	font-size: 11px ;
  background: url('DefaultSkin/background/RepositoryBarBG.gif') repeat-x left top ; 
  height: 34px;
}

.UIECMAdminPortlet .UISelect .UIForm .HorizontalLayout {
	background: none;
	border: none;
	padding: 0px;
}

.UIECMAdminPortlet .UIRepositoryControl .SelectorArea {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  margin: auto ;
  height: 34px;
	line-height: 34px;
}

.UIECMAdminPortlet .UIRepositoryControl .SelectorArea .RepoNameLabel {
	font-weight: bold ;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	padding: 0px 7px 0px 20px; /* orientation=lt */
	padding: 0px 20px 0px 7px; /* orientation=rt */
	line-height: 30px;
}

.UIECMAdminPortlet .UIRepositoryControl .SelectorArea .UISelect {
	 width: 190px;
	 float: left;	
	 height: 34px; 
}

.UIECMAdminPortlet .UIRepositoryControl .SelectorArea .UISelect .selectbox {
	 width: 180px;
	 float:left;
	 margin-top: 3px;
}

.UIECMAdminPortlet .UIRepositoryControl .ActionsArea {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  height: 34px;
}

.UIECMAdminPortlet .UIRepositoryControl .ActionButton {
	width: 24px ; height: 24px;
	float: left ; /* orientation=lt */
	float: right ; /* orientation=rt */
	margin: 5px 0px 0px 5px;	/* orientation=lt */
	margin: 5px 5px 0px 0px;	/* orientation=rt */	
}

.UIECMAdminPortlet .UIRepositoryControl .SeparatorLine {
  width: 2px;
  height: 30px;
  margin: 2px 2px 0px 8px;	/* orientation=lt */
  margin: 2px 8px 0px 2px;	/* orientation=rt */
  background: url('DefaultSkin/background/SeparatorLine2x1.gif') repeat-y;
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
}

.UIECMAdminPortlet .UIECMPortletLayout {
  font-size: 11px ;
}

.UIECMAdminPortlet .ECMLayoutSeparator {
	width: 6px;
	background: url('MacSkin/background/LayoutSeparator.gif') repeat-y left center;
}

.UIECMAdminPortlet .CollapseSideBar {
	width: 6px; height: 100%;
	background: url('MacSkin/background/SideBar.gif') no-repeat left center; /* orientation=lt */
	background: url('MacSkin/background/SideBar-rt.gif') no-repeat right center; /* orientation=rt */
	cursor: pointer;
}

.UIECMAdminPortlet .ExpandSideBar {
	width: 6px; height: 100%;
	background: url('MacSkin/background/SideBar.gif') no-repeat right center; /* orientation=lt */
	background: url('MacSkin/background/SideBar-rt.gif') no-repeat left center; /* orientation=rt */
	cursor: pointer;
}

.UIECMAdminPortlet .ECMAdminTitleBar {
	font-weight: bold; 
  line-height: 18px;
  height: 18px;
	text-align: center;
	padding-top: 11px;
}

.UIECMAdminPortlet .UIECMAdminFunctionTitle {
	height: 25px;
	padding: 0px 0px 3px 10px;
}

.UIECMAdminPortlet .UIECMAdminFunctionTitle .RightFunctionTitle .FunctionTitle {
	font-weight: bold;
  line-height: 25px;
  height: 25px;
}

.UIECMAdminPortlet .UIECMAdminWorkingArea {
  margin: 10px;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVerticalSlideTabs {
  margin: 10px;
  padding: 0px;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTab {
  margin: 8px 0px;
  cursor: pointer;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTab .TabIcon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
  margin: 2px 5px 0px 5px;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTabContent {
  margin: 1px 2px;
  border: solid 1px #b2b1b1;
  background: #ffffff;
  padding: 5px ;
  overflow: hidden;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTabContent a {
	color: black;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTabContent a:hover {
	color: orange;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .FunctionItem {
  clear: both;
  height: 25px;
  margin: 4px 2px;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .FunctionItem .ItemIcon {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  margin-right: 6px; /* orientation=lt */
  margin-left: 6px; /* orientation=rt */
}

.UIECMAdminPortlet .UIECMAdminControlPanel .FunctionItem .ItemLabel {
  line-height: 25px;
  cursor: pointer;
}

/*--------------------------.UIFormWithTitle----------------------*/

.UIECMAdminPortlet .UIPermissionManager .UIFormWithTitle {
  margin: 3px auto;
  width: auto;
}

.UIECMAdminPortlet .UIPermissionManager { 
	margin: auto;
	padding-top: 10px;
	width: 95%;
}

.UIECMAdminPortlet .UIFormGrid .FieldComponent .ActionIcon {
  margin: 0px 5px;
}

.UIECMAdminPortlet .UIFormGrid .FieldLabel {
  width: 110px;
}

.UIECMAdminPortlet .UIFormWithTitle .FieldContainer .MultiValueContainer .AddNewNodeIcon  {
  float: left;
  margin: 2px 5px 0px 5px;
}

/*--------------------------.UIFormInputSet----------------------*/

.UIECMAdminPortlet .UIForm .HorizontalLayout .UIFormInputSet .AddIcon16x16 {
	float: none;
	margin-left: 5px;
}

.UIECMAdminPortlet .HorizontalLayout .UIFormInputSet {
	
	margin: 0px auto;
	padding: 0px;
}

/*----------------------------UIRepositoryForm -------------------------*/

.UIECMAdminPortlet .UIRepositoryForm  {
	padding: 10px;
}

.UIECMAdminPortlet .UIRepositoryForm .FormContainer {
	margin: auto;
}

.UIECMAdminPortlet .UIRepositoryFormContainer .UIGrid {
	width: 95%;
	margin: 10px auto;
}

.UIECMAdminPortlet .UIRepositoryFormContainer .UIGrid .SelectIcon {
	background: url('MacSkin/background/SelectPage.png') no-repeat;
	width: 16px; 
	height: 16px;
}

.UIECMAdminPortlet .UIRepositoryForm .FormContainer .UIFormGrid .FieldLabel {
	width: 128px;
}

.UIRepositoryFormContainer .UIWorkspaceWizard .UIFormTabPane, .UIRepositoryFormContainer .UIWorkspaceWizard .TabPaneContent {
	padding: 0px;
}

.UIRepositoryFormContainer .UIWorkspaceWizard .UIAction {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	padding-right: 15px;
}

.UIRepositoryFormContainer .UIWorkspaceWizard .UIAction .ActionContainer {
	margin: 0px;
}

.UIECMAdminPortlet .UIWorkspaceWizard .HiddenLabel {
	display: none  ;	
}

.UIECMAdminPortlet .UIWorkspaceWizard .SelectedLabel {
	display: block ;
	background: #F4F4F4 none repeat scroll 0%;
	border: 1px solid #B7B7B7 ;
	padding: 15px 0px;
	line-height: 15px;
}

.UIECMAdminPortlet .UIWorkspaceWizard .WizardLabel {
	font-size: 11px; font-weight: bold; 
  margin: 0px 7px;
}

.UIECMAdminPortlet  .UIWorkspaceWizard .UIWizardAction {
	background: #F4F4F4 none repeat scroll 0%;
	border: 1px solid #B7B7B7 ;
	border-top: none;
	height: 43px;
}

.UIWorkspaceWizard .UIWizardAction .StepNavigationTitle {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  line-height: 43px; 
  font-weight: bold;
  margin: 0px 10px 0px 15px; /* orientation=lt */
  margin: 0px 15px 0px 10px; /* orientation=rt */
}

.UIWorkspaceWizard .UIWizardAction .StepNavigationBar {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
}

.UIWorkspaceWizard .UIWizardAction .StepNavigationBar a {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  width: 18px; height: 18px; 
  line-height: 18px; 
  font-weight: bold;
  text-align: center; 
  margin: 12px 3px 0px 3px;
  border: solid 1px gray;
}

.UIWorkspaceWizard .UIWizardAction .StepNavigationBar a:hover {
  color: blue;
  background: #f8f8f8;
  border: solid 1px #cdb9a0 ;
}

.UIWorkspaceWizard .UIWizardAction .StepNavigationBar a.SelectedStep {
  color: red;
}

.UIPopupWizard .UIPermissionContainer .UIWorkspacePermissionForm {
  padding: 10px;
}

.UIPopupWizard .UIPermissionContainer .UIWorkspacePermissionForm .HorizontalLayout {
  background:  url(MacSkin/background/Background1x4.png) repeat 0%;
	padding-top: 10px;
}

/*############################## -- UINamespaceManager -- ########################*/

.UIECMAdminPortlet .UINamespaceList {
  margin-top: 5px ;
}

.UIECMAdminPortlet .UINamespaceForm {
  padding: 10px;
}

.UIECMAdminPortlet .UINamespaceForm .HorizontalLayout {
  background:  url(MacSkin/background/Background1x4.png) repeat 0%;
	padding-top: 10px;
}

.UIECMAdminPortlet .UINamespaceForm .FormContainer {
  width: 500px;
  margin: auto;
}

/*############################## -- UIDriveManager -- ########################*/

.UIECMAdminPortlet .UIDriveManager {
  padding: 2px 0px 0px 0px;
}

.UIECMAdminPortlet .UIDriveList {
  margin-top: 5px ;
  width: 100%;
}

.UIECMAdminPortlet .UIDriveList .FixTableSize {
  width: 100%;
  overflow:auto;
  max-height: 420px;
}

.UIECMAdminPortlet .UIDriveManager .DriveInputSet .UIFormInputSetWithAction .FieldLabel {
  width: 140px;
}

.UIECMAdminPortlet .UIDriveManager  .UIFormInputSetWithAction .radio {
  width: 20px;
  margin: 0px;
  float: none;
  border: none;
}

.UIECMAdminPortlet .UIDriveManager .UIFormInputSet .AddIcon16x16 {
  float: none;
  margin-left: 5px;
}

/*############################## -- UIViewManager -- ########################*/

.UIECMAdminPortlet .UIViewManager {
  height: 300px;
}

.UIECMAdminPortlet .UIViewContainer .UIViewList {
  margin-top: 5px;
}

.UIECMAdminPortlet .UIViewContainer .UIViewForm .FormContainer {
  width: 500px ;
  margin: auto;
}

.UIECMAdminPortlet .UIViewContainer .UITabContent .FormContainer {
  width: 500px ;
  margin: auto;
}

.UIECMAdminPortlet .UIViewContainer .UITabForm .FormContainer {
  width: 500px ;
  margin: auto;
}

/*############################## -- ECMTemplate -- ########################*/

.UIECMAdminPortlet .ECMTemplate .UIECMTemplateList {
  width: 85px;
  margin: auto;
}

.UIECMAdminPortlet .ECMTemplate .ECMTempForm {
  width: 95%;
  margin: 10px auto;
}

.UIECMAdminPortlet .ECMTemplate .ECMTempForm .HorizontalLayout {
  background:  url(MacSkin/background/Background1x4.png) repeat 0%;
	border: 1px solid #b7b7b7;
	padding: 10px;
}

.ECMTempForm .HorizontalLayout .textarea {
  width: 95%;
  height: 300px;
}

/*############################## -- CBTemplate -- ########################*/

.UIECMAdminPortlet .CBTemplate .CBTempForm {
  width: 95%;
  margin: 10px auto;
}

.UIECMAdminPortlet .CBTemplate .UICBTemplateList {
  width: 85px;
  margin: auto;
}

.CBTempForm .HorizontalLayout .textarea {
  width: 380px;
  height: 300px;
  padding: 3px;
  border: solid 1px #b7b7b7;
}

.UIECMAdminPortlet .CBTemplate .CBTempForm .HorizontalLayout {
  background:  url(MacSkin/background/Background1x4.png) repeat 0%;
  padding: 10px;
  border: 1px solid #b7b7b7;
}
/*############################## -- UIScriptManager  -- ########################*/

/*------------------------------UICBScripts------------------------*/

.UIECMScripts .ECMScriptForm {
  margin: 10px;
}

.UIECMScripts .ECMScriptForm .HorizontalLayout {
  background:  url(MacSkin/background/Background1x4.png) repeat 0%;
  padding-top: 10px;
  border: 1px solid #b7b7b7;
}

.UIECMScripts .ECMScriptForm .HorizontalLayout textarea {
	width: 370px;
	height: 300px;
}

/*------------------------------UICBScripts------------------------*/

.UICBScripts .CBScriptForm {
  width: 95%;
  margin: 10px auto;
}

.UICBScripts .CBScriptForm .HorizontalLayout {
  background:  url(MacSkin/background/Background1x4.png) repeat 0%;
  padding-top: 10px;
  border: 1px solid #b7b7b7;
}

.UICBScripts .HorizontalLayout .FormContainer textarea {
  width: 360px;
  height: 350px;
  padding: 3px;
}

/*############################## -- UIActionManager -- ########################*/

.UIECMAdminPortlet .UIActionManager {
  width: 97%;
  padding: 2px 0px 0px 0px;
}

.UIActionManager .UIActionTypeForm  {
	padding: 10px; 
}

.UIActionManager .UIActionTypeForm .HorizontalLayout {
	background:  url(MacSkin/background/Background1x4.png) repeat ;
	padding-top: 10px;
}

.UIActionManager .UIActionTypeForm .FormContainer {
	width: 500px; 
	margin: auto; 
}

/*############################## -- UIScriptManager UIScriptFilterForm  -- ########################*/

.UIECMAdminPortlet .UIECMScripts  {
  width: 97%;
  margin: auto;
}

.UIECMAdminPortlet .UIECMScripts .UIScriptFilterForm  {
  margin-bottom: 2px;
}

.UIECMAdminPortlet .UIECMScripts .UIScriptFilterForm .UIFormGrid td {
	padding-top: 0px;
	padding-bottom: 0px;
	vertical-align: middle;
}

.UIECMAdminPortlet .UIECMScripts .UIScriptFilterForm .UIFormGrid .FieldLabel {
  width: 90px;
  padding-left: 10px;
}

.UIECMScripts .UIBarStyle {
	margin-bottom: 2px;
}

/*############################## -- UIScriptManager UIScriptForm  -- ########################*/

.UICBScripts .UIFormWithTitle .HorizontalLayout .FieldContainer .MyEditor {
  padding-left: 7px;
}

.UICBScripts .HorizontalLayout .FormContainer .FieldComponent textarea {
  height: 350px;
  width: 90%;
  padding: 3px;
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
}

/*############################## --Begin UITemplatesManager --##############################*/

.UIECMAdminPortlet .UITemplatesManager .UITemplateEditForm .FormContainer{
  width: 550px ;
  margin: 10px auto;
}

.UIECMAdminPortlet .UITemplatesManager .template .FormContainer {
  width: 550px;
  margin: auto;
}

.UIECMAdminPortlet .UITemplatesManager .UIForm .textarea {
  width: 435px;
  height: 350px;
}

.UITemplatesManager .UITabPane {
	width: 95%;
	padding: 10px 0px;
	margin: auto;
}

/*----------------------------UIDialogTab-------------------------------*/

.UIECMAdminPortlet .UITemplatesManager   {
 	padding: 2px 0px 0px 0px;
 	width: 97%;
}

.UITemplatesManager .UITabPane .UIDialogTab .UIPageIterator{
	margin-bottom: 15px;
}

.UITemplatesManager .UITabPane .UIDialogTab .DialogForm {
	margin: 10px 0px 0px 0px;
}

.UITemplatesManager .UITabPane .UIDialogTab .DialogForm .FormContainer {
	padding-top: 10px;
	padding-left: 0px;
}

.UITemplatesManager .DialogForm .HorizontalLayout .UIFormInputSet {
	width: 100%;
	padding: 0px;
}

/*----------------------------UIViewTab-------------------------------*/

.UITemplatesManager .UITabPane .UIViewTab .ViewForm {
	margin: 30px 0px 0px 0px;
}

.UITemplatesManager .UITabPane .UIViewTab .ViewForm {
	margin: 10px 0px 0px 0px;
}

.UITemplatesManager .UITabPane .UIViewTab .ViewForm .FormContainer {
	padding-top: 10px;
	padding-left: 0px;
}

.UITemplatesManager .ViewForm .HorizontalLayout .UIFormInputSet {
	width: 100%;
	padding: 0px;
}

/*############################## -- UINamespaceManager -- ########################*/

.UIECMAdminPortlet .UINamespaceManager {
	padding: 2px 0px 0px 0px;
	width: 97%;
}

.UINamespaceManager .UIFormWithTitle .HorizontalLayout {
  padding-top: 15px;
}

/*############################## -- UIRuleManager  -- ########################*/

.UIRuleManager .UIFormWithTitle .HorizontalLayout {
  padding-top: 10px;
}

.UIRuleManager .UIFormWithTitle .UIForm textarea {
  width: 450px;
  height: 300px;
  margin-left: 25px;
}

/*############################## -- UIQueriesManager  -- ########################*/

.UIECMAdminPortlet .UIQueriesManager {
  padding: 2px 0px 0px 0px;
}

.UIQueriesManager .UIQueriesForm {
	margin: 10px auto;
	width: 95%;
	overflow: hidden;
}

.UIQueriesManager .UIQueriesForm .HorizontalLayout {
	background:  url(MacSkin/background/Background1x4.png) repeat 0%;
	margin: auto;
	padding-top: 10px;
}

.UIQueriesManager .UIQueriesForm .UIForm .textarea {
	height: 300px ;
	width: 350px;
	padding: 3px;
}

.UIQueriesManager .HorizontalLayout .PermissionButton .UIFormInputSet {
  width: auto;
}
/*############################## -- UIFolksonomyManager  -- ########################*/

.UIFolksonomyManager .UITagStyleForm {
	padding: 10px;
}

.UIFolksonomyManager .UITagStyleForm .UIForm .textarea {
	height: 300px ;
	width: 95% ;
	border: solid 1px #b7b7b7;
	padding: 3px;
	vertical-align:top;
}

.UIECMAdminPortlet .UIPopupWindow .Content {
  border: solid 1px #cdcdcd;
}

/*############################## -- Any Permission -- ########################*/
.UIECMAdminPortlet .UIAnyPermission .UIForm .HorizontalLayout {
	border: 1px solid #B7B7B7;
	padding: 0px;
}

.UIECMAdminPortlet .ECMAdminPanel {
  height: 100%; width: 250px;
  overflow: auto; 
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
}
.UIECMAdminPortlet .UIResizableBlock .ECMLayoutFloat{
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	height: 100%;
}

.UIECMAdminWorkingArea .RightFunctionTitle .IconTitle{
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	margin: 0px 5px;
}

.UIECMAdminPortlet .UIResizableBlock .NotShowSideBar {
  margin-left: 6px; /* orientation=lt */
  margin-left: 6px; /* orientation=rt */
  height: 100%;
}

.UIECMAdminPortlet .UIResizableBlock .ShowSideBar {
  margin-left: 256px; /* orientation=lt */
  margin-right: 256px; /* orientation=rt */
  height: 100%;
}


.UITaxonomyManagerTrees .PopupContent {
	margin:  0px;
	background: #F4F4F4  none repeat scroll 0 0;
	padding:  0px;
}

.UITaxonomyTreeWizard .WorkingArea .SelectedLabel {
	border-bottom: 1px solid #B7B7B7;
	padding: 15px 0px;
	line-height: 15px;
  background: #f9f9f9;
}

.UIECMAdminPortlet .UITaxonomyTreeWizard .WorkingArea .UIFormWithTitle {
  width: auto;
  margin: 3px auto;
}

.UIECMAdminPortlet .UITaxonomyTreeWizard .UIActionTaxonomyManager .UIFormGrid {
  width: auto;
}

.UITaxonomyTreeWizard .WorkingArea .HiddenLabel  {
	display: none;
}

.UITaxonomyTreeWizard .WorkingArea .UIWizardAction {
  background: #F9F9F9 none repeat scroll 0 0;
}

.UITaxonomyTreeWizard .WorkingArea .UIWizardAction .StepNavigationTitle {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  font-weight: bold;
  margin: 0px 10px 0px 15px; /* orientation=lt */
  margin: 0px 15px 0px 10px; /* orientation=rt */
}

.UITaxonomyTreeWizard .WorkingArea .UIWizardAction .StepNavigationBar {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  line-height: 38px;
}

.UITaxonomyTreeWizard .WorkingArea .TaxonomyTreeMainForm .FieldComponent .FieldComponent input {
	width: 235px;
}

.UITaxonomyTreeWizard .WorkingArea .UIWizardAction .UIAction {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	padding-right: 10px; /* orientation=lt */
	padding-left: 10px; /* orientation=rt */
}

.UITaxonomyTreeWizard .WorkingArea .UIWizardAction .UIAction .ActionContainer {
	margin: 0px;
}

.UITaxonomyTreeWizard .WorkingArea .UIForm .HorizontalLayout .FormContainer {
  padding: 2px;
}

.UITaxonomyTreeWizard .WorkingArea .UIFormWithTitle .HorizontalLayout {
	border: 1px solid #b7b7b7;
	border-top: none;
	padding: 10px;
}

.UITaxonomyTreeWizard .UITabPane .WorkingArea .UITaxonomyTreeCreateChildForm .HorizontalLayout {
	background: transparent url(/ecmadmin/skin/webui/component/admin/MacSkin/background/Background1x4.png) repeat scroll 0 50%;
	padding-top: 10px;
	margin: 10px;
	border: 1px solid #aeaeae;
}

.UIECMAdminPortlet .UITaxonomyTreeWizard .UIFormGrid .FieldComponent .ActionIcon {
	float: none;
	margin: 0px 5px;
}

.UITaxonomyTreeWizard .WorkingArea .UITaxonomyTreeCreateChild .UIBreadcumbs {
  padding-bottom: 10px;
}


.UITaxonomyTreeWizard .WorkingArea .UITaxonomyTreeCreateChild .UIAction {
	clear: both;
	padding: 8px;
}

.UITrees .Node .NodeIconLink {
	background-position: left top;
	font-weight: bold;
	height:  16px;
	padding-left: 11px;
	width: 20px;
}

.UIOneNodePathSelector .LinkSmall {
	background: url('DefaultSkin/background/LinkSmall.gif') no-repeat left bottom;
  width: 20px;
  height: 15px;
  padding-left: 12px;
  right: 0;
  bottom: 0;
}

.UIOneTaxonomySelector .LinkSmall {
	background: url('DefaultSkin/background/LinkSmall.gif') no-repeat left bottom;
  width: 20px;
  height: 15px;
  padding-left: 12px;
  right: 0;
  bottom: 0;
}


.UIECMAdminPortlet .UIDriveManager .UIFormGrid {
	width: 99%;
}

.UITabContent .UIForm .HorizontalLayout .FormContainer{
	padding: 0px;
}

.UINodeTypeSearh {
  padding: 0 0 10px;
}

.UINodeTypeSearh .UIBarStyle .FieldLabel {
  padding: 0px 0px 0px 25px;
}

.UINodeTypeSearh .UIBarStyle .GroupInput {
  padding: 0pt 5px;
}

.UINodeTypeSearh .UIBarStyle .SearchIcon {
		background: transparent url(/ecm/skin/icons/24x24/DefaultSkin/Search.gif) no-repeat scroll left center;
		height: 24px;
		width: 24px;
		padding: 10px;
}

.UINodeTypeSearh .UIBarStyle .MultiValueContainerShow {
		padding-bottom:5px;
		vertical-align:bottom;
}