/**
 * Created by The eXo Platform SAS
 * Modifier : Vu Duy Tu
 *           duytucntt@gmail.com
 * January 05, 2006
 * version: $Id$
 */

@import url("../../../icons/VistaStylesheet.css");
@import url("UIMetadataManager/VistaStylesheet.css");
@import url("UINodeTypeManager/VistaStylesheet.css");

.UIWindow .UIECMAdminPortlet {
	border: none;
	margin: 0px;
}

.UIECMAdminPortlet {
	background: white;
	/*border: 1px solid #b7b7b7;
	margin: 5px;*/
	overflow: hidden;
}

.UIECMAdminPortlet .UIFormGrid {
	width: 100%;
	margin: 0px;
}

.UIECMAdminPortlet .UITrees .Node  {
  line-height: 24px;
}

.UIECMAdminPortlet .UITaxonomyWorkingArea .UIGrid {
  width: 98%;
}

.UIECMAdminPortlet .UITaxonomyManager .UITaxonomyForm {
	padding: 10px;
}

/***********************UIRepositoryControl**************************/
.UIECMAdminPortlet .UIRepositoryControl .ControlLayout {
  background: url('VistaSkin/background/ECMAdminTitleBar1x35.gif') repeat-x left top ; 
  height: 35px;
}

.UIECMAdminPortlet .UIRepositoryControl .SelectorArea {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  margin: auto ;
  height: 34px;
}

.UIECMAdminPortlet .UIRepositoryControl .SelectorArea .RepoNameLabel {
	font-weight: bold ;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	padding: 0px 7px 0px 20px; /* orientation=lt */
	padding: 0px 20px 0px 7px; /* orientation=rt */
	line-height: 34px;
}

.UIECMAdminPortlet .UIRepositoryControl .SelectorArea .UISelect {
	 width: 190px;
	 margin: 0px;
	 float: left;	 
}

.UIECMAdminPortlet .UIRepositoryControl .UISelect .UIForm .HorizontalLayout select {
	 width: 170px;
	 margin-top: 3px;
}

.UIECMAdminPortlet .UIRepositoryControl .UISelect .UIForm .HorizontalLayout {
	 padding: 0px;
	 border: none;
}

.UIECMAdminPortlet .UIRepositoryControl .ActionsArea {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  height: 34px;
}

.UIECMAdminPortlet .UIRepositoryControl .ActionButton {
  height: 24px;
	float: left ; /* orientation=lt */
	float: right ; /* orientation=rt */
	margin: 5px 0px 0px 5px;	/* orientation=lt */
	margin: 5px 5px 0px 0px;	/* orientation=rt */
}

.UIECMAdminPortlet .UIRepositoryControl .SeparatorLine {
  width: 2px;
  height: 25px;
  margin: 2px 2px 0px 8px;	/* orientation=lt */
  margin: 2px 8px 0px 2px;	/* orientation=rt */
  background: url('VistaSkin/background/SeparatorLine2x1.png') repeat-y;
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
}

/********************************** End UIRepositoryControl************************/

.UIECMAdminPortlet .ProgressBarFrame {
	margin: 0px;
	width: 320px;
}

.UIECMAdminPortlet .SelectFileFrame {
	margin: 0px;
}

.UIECMAdminPortlet .FileNameLabel {
	width: auto;
}

/*############################## --Begin UIRepositoryManager -- ########################*/

.UIPageBody .UIECMAdminPortlet {
  background: url('VistaSkin/background/ECMAdminbottom1x30.gif') repeat-x left bottom;
  background-color: white;
  padding-bottom: 30px;
}

.UIECMAdminPortlet .UIRepositoryForm  {
	padding: 10px;
}

.UIECMAdminPortlet .UIRepositoryForm .authInputSet .UIFormInputSetWithAction .AddIcon16x16 {
	margin-left: 5px;
	float: none;
}

.UIECMAdminPortlet .UIRepositoryFormContainer .UIPageIterator {
	width: 90%;
	margin: auto;
}

.UIECMAdminPortlet .UIRepositoryFormContainer .UIGrid {
	width: 95%;
	margin: 10px auto;
}

.UIECMAdminPortlet .UIRepositoryFormContainer .UIGrid .SelectIcon{
	background: url('VistaSkin/background/SelectIcon.gif') no-repeat;
	width: 16px; 
	height: 16px;
}

.UIECMAdminPortlet .UIRepositoryFormContainer .FormContainer .FieldComponent a:hover {
	color: #0183F1;
}

.UIECMAdminPortlet .UIWorkspaceWizard .UITabPane .TabPaneContent {
	padding: 0px;
}

.UIECMAdminPortlet .UIWorkspaceWizard .UITabPane .UITabContentContainer {
	border: none;
}

.UIECMAdminPortlet .UIRepositoryForm .UIFormInputSet {
	padding: 0px;
}

.UIECMAdminPortlet .UIWorkspaceWizard .HiddenLabel {
	display: none  ;	
}

.UIECMAdminPortlet .UIWorkspaceWizard .SelectedLabel {
	display: block ;
	background: #F4F4F4 none repeat scroll 0%;
	border: 1px solid #B7B7B7 ;
	padding: 10px 0px 10px 10px;
	line-height: 15px;
}

.UIECMAdminPortlet .UIWorkspaceWizard .WizardLabel {
  font-weight: bold; 
  padding-right: 10px;
}

.UIECMAdminPortlet .UIWorkspaceWizard .UIWizardAction {
	background: #F4F4F4 none repeat scroll 0%;
	border: none ;
	border-top: 1px solid #939393 ;
	border-bottom: 1px solid #B7B7B7 ;
	height: 40px;
	line-height: 40px;
}

.UIWorkspaceWizard .UIWizardAction .StepNavigationTitle {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  font-weight: bold;
  margin: 0px 10px 0px 15px; /* orientation=lt */
  margin: 0px 15px 0px 10px; /* orientation=rt */
}

.UIWorkspaceWizard .UIWizardAction .StepNavigationBar {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
}

.UIWorkspaceWizard .UIWizardAction .StepNavigationBar a {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  width: 18px; height: 18px; 
  line-height: 18px;
  font-weight: bold;
  text-align: center; 
  margin: 10px 3px 0px 3px;
  border: solid 1px gray;
}

.UIWorkspaceWizard .UIWizardAction .StepNavigationBar a:hover {
  height: 18px; line-height: 18px; vertical-align: middle;
  color: orange;
  background: #f8f8f8;
  border: solid 1px #fdb913 ;
}

.UIWorkspaceWizard .UIWizardAction .StepNavigationBar a.SelectedStep {
  color: red;
}

.UIECMAdminPortlet .UIWorkspaceWizard .UIWizardAction .UIAction {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	padding-right: 5px;
}

.UIECMAdminPortlet .UIWorkspaceWizard .UIWizardAction .ActionContainer {
  margin: 0px ;
}

.UIWorkspaceWizardContainer .UIWorkspaceWizard .UIFormTabPane {
	padding: 0px;
	margin: 0px;
}

.UIWorkspaceWizardContainer .UIWorkspaceWizard .UIFormTabPane .HorizontalLayout {
	padding: 0px;
	margin: 0px;
	border: solid 1px #b7b7b7;
	border-top: none;
	border-bottom: none;
}

.UIPopupWizard .UIPermissionContainer .UIWorkspacePermissionForm {
  margin: 5px 5px 10px 5px;
  border: 1px solid #b7b7b7;
}

.UIPopupWizard .UIPermissionContainer .UIWorkspacePermissionForm .UIFormGrid {
  width: 500px;
  margin: auto;
}

.UIECMAdminPortlet .UIFormGrid input {
  padding-left: 3px;
}

.UIECMAdminPortlet .UIFormGrid input.radio {
  float: none;
  margin-left: 0px;
}

.UIECMAdminPortlet .UIFormGrid .FieldLabel {
  width: 110px;
}

.UIECMAdminPortlet .UIECMPortletLayout {
  background: url('VistaSkin/background/ECMAdminTitleBar1x33.gif') repeat-x left top;
  border-collapse: collapse ;
}

.UIECMAdminPortlet .ECMLayoutSeparator {
	width: 8px;
	background: url('VistaSkin/background/LayoutSeparator.gif') repeat-y center;
}

.UIECMAdminPortlet .CollapseSideBar {
	width: 8px; height: 100%;
	background: url('VistaSkin/background/SideBar.gif') no-repeat left center; /* orientation=lt */
	background: url('VistaSkin/background/SideBar-rt.gif') no-repeat right center; /* orientation=rt */
	cursor: pointer;
}

.UIECMAdminPortlet .ExpandSideBar {
	width: 8px; height: 100%;
	background: url('VistaSkin/background/SideBar.gif') no-repeat right center; /* orientation=lt */
	background: url('VistaSkin/background/SideBar-rt.gif') no-repeat left center; /* orientation=rt */
	cursor: pointer;
}

.UIECMAdminPortlet .ECMAdminTitleBar {
	font-weight: bold; 
	text-align: center;
	padding: 10px 0px 4px 0px;
	line-height: 20px;
}

.UIECMAdminPortlet .UIECMAdminFunctionTitle {
	font-weight: bold;
}

.UIECMAdminPortlet .UIECMAdminFunctionTitle .RightFunctionTitle {
	height: 32px;
}

.UIECMAdminPortlet .UIECMAdminFunctionTitle .FunctionTitle {
	line-height: 20px;
}

.UIECMAdminPortlet .UIResizableBlock {
  height: 400px;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVerticalSlideTabs {
  margin: 10px;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTab {
  margin: 8px 0px;
  cursor: pointer;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTab .TabIcon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
  margin: 1px 5px;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTabContent {
  background: #ffffff;
  border: solid 1px #b2b1b1;
  margin: 1px 3px;
  padding: 5px ;
  overflow: hidden;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTabContent a {
	color: black;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTabContent a:hover {
	color: orange;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .FunctionItem {
  height: 25px;
  clear: both;
  margin: 4px 2px;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .FunctionItem .ItemIcon {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  margin-right: 6px; /* orientation=lt */
  margin-left: 6px; /* orientation=rt */
}

.UIECMAdminPortlet .UIECMAdminControlPanel .FunctionItem .ItemLabel {
  line-height: 25px;
  cursor: pointer;
}

.UIECMAdminPortlet .UIECMAdminWorkingArea {
  margin: 10px;
}

.UIECMAdminPortlet .UIForm .HorizontalLayout .UIFormInputSet  {
  width: auto;
}

.UIECMAdminPortlet .UIGrid .ActionContainer a {
	width: 24px; height: 24px;
}

.UIECMAdminPortlet .UIFormInputSet .AddIcon16x16 {
	float: none;
	margin-left: 5px;
}

.UIECMAdminPortlet .UIFormInputSet .UIFormInputSetWithActions .ActionFieldContainer {
	padding-left: 170px;
}

.UIECMAdminPortlet .UIFormInputSet .UIFormInputSetWithActions .ActionField {
  float: left ;
  margin-right: 5px ;
}

.UIECMAdminPortlet .UIFormInputSet .UIFormInputSetWithActions .ActionField a {
  color: blue;
}

.UIECMAdminPortlet .UIFormInputSet .UIFormInputSetWithActions .ActionField a:hover {
  color: orange;
}

/*############################## -- UINamespaceManager -- ########################*/

.UIECMAdminPortlet .UINamespaceManager {
  width: 97.5%;
}

.UIECMAdminPortlet .UINamespaceList {
  margin-top: 5px ;
}

/*############################## -- UIFolksonomyManager -- ########################*/

.UIECMAdminPortlet .UIFolksonomyManager .UITagStyleForm {
	padding: 10px;
}

/*############################## -- UIDriveManager -- ########################*/

.UIECMAdminPortlet .UIDriveList {
  margin-top: 5px ;
  width: 100%;
}

.UIECMAdminPortlet .UIDriveList .FixTableSize {
  width: 100%;
  overflow:auto;
  max-height: 420px;
}

.UIECMAdminPortlet .UIDriveManager .UIForm .HorizontalLayout .UIFormInputSet {
	padding: 10px;
}

.UIECMAdminPortlet .UIDriveManager .UIForm .HorizontalLayout .rootNodeInfo .UIFormInputSet {
	width: auto;
	padding: 0px;
}

.UIECMAdminPortlet .UIDriveManager .rootNodeInfo .FormContainer {
	padding: 0px;
}


.UIECMAdminPortlet .UIDriveManager .UIFormTabPane .UITabPane {
	width: 95%;
	margin: 10px auto;
}

.UIECMAdminPortlet .UIDriveManager .WorkingArea .UITabContentContainer .UITabContent {
	padding: 0px;
}

.UIECMAdminPortlet .UIDriveManager .DriveInputSet .UIFormInputSetWithAction .FieldLabel {
  width: 140px;
}

.UIECMAdminPortlet .MultiRadioInput {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
}

.UIECMAdminPortlet .UIDriveManager .UIFormInputSet .AddIcon16x16 {
  float: none;
  margin-left: 5px;
}

.UIECMAdminPortlet .UIDriveManager .UIGrid td {
    border-color: #FFFFFF -moz-use-text-color #FFFFFF #FFFFFF;
    border-style: solid none solid solid;
    border-width: 1px 0 1px 1px;
    padding: 5px;
    vertical-align: middle;
}
/*############################## -- UIViewManager -- ########################*/

.UIECMAdminPortlet .UIFormInputSetWithActions {
	padding: 10px;
}

.UIECMAdminPortlet .ECMTemplate .ECMTempForm {
	padding: 10px;
}

.UIECMAdminPortlet .CBTemplate .CBTempForm {
	padding: 10px;
}

.UIECMAdminPortlet .ECMTemplate .UIForm .HorizontalLayout {
	border: 1px solid #b7b7b7;
	padding: 10px;
}

.UIECMAdminPortlet .CBTempForm .UIForm .HorizontalLayout {
	border: 1px solid #b7b7b7;
	padding: 10px;
}

.ECMTempForm .UIForm .textarea {
  width: 380px;
  height: 300px;
  padding: 3px;
}

.CBTempForm .UIForm textarea {
  width: 380px;
  height: 300px;
  padding: 3px;
}

.UIECMAdminPortlet .UIViewContainer .UIForm .FormContainer {
	padding: 0px;
}

/*############################## -- UIActionManager -- ########################*/

.UIECMAdminPortlet .UIActionManager .UIActionTypeForm {
	padding: 10px;
}

.UIActionManager .UIActionTypeForm .AddNewNodeIcon {
	margin: 0px 0px 0px 3px;
}

.UIActionManager .UIActionTypeForm label {
	width: 140px;
}

/*############################## -- UIScriptManager UIScriptFilterForm  -- ########################*/

.UIECMAdminPortlet .UIECMScripts .ECMScriptForm {
	padding: 10px;
}

.UIECMAdminPortlet .UIECMScripts .UIForm .HorizontalLayout {
	border: 1px solid #b7b7b7;
	padding: 10px;
}

.UIECMAdminPortlet .UICBScripts .CBScriptForm {
	padding: 10px;
}

.UIECMAdminPortlet .UICBScripts .UIForm .HorizontalLayout {
	border: 1px solid #b7b7b7;
	padding: 10px;
}

.UIECMAdminPortlet .UIECMScripts .UIScriptFilterForm .UIFormGrid {
	line-height: 30px;
}

.UIECMAdminPortlet .UIECMScripts .UIScriptFilterForm .UIFormGrid .FieldLabel {
  text-align: center;
  width: 100px;
}

.UIECMScripts .UIScriptFilterForm .UIForm .selectbox {
  margin-top: 7px;
}

.UIECMScripts .UIForm textarea {
  width: 348px;
  height: 300px;
  padding: 3px;
  vertical-align:top;
}

/*############################## -- UIScriptManager UIScriptForm  -- ########################*/

.UICBScripts .UIForm textarea {
  width: 350px; 
  height: 300px;
  padding: 3px;
}

/*############################## --Begin UITemplatesManager --##############################*/

.UIECMAdminPortlet .UITemplatesManager   {
 	padding: 10px;
}

.UITemplatesManager .UIFormTabPane .UIForm .textarea {
  width: 380px;  height: 300px; 
  padding: 3px;
}

.UITemplatesManager .UIDialogTab .UIForm .textarea {
  width: 450px;  
  height: 320px; 
  padding: 3px;
}

.UITemplatesManager .UIViewTab .UIForm .textarea {
  width: 450px;  
  height: 320px; 
  padding: 3px;
}

.UITemplatesManager .UIFormTabPane .HorizontalLayout .template { 
	height: 305px;
	padding-top: 15px;
}

.UITemplatesManager .UITemplateContent .UIForm .HorizontalLayout .UIFormInputSet { 
	padding: 0px;
}

.UITemplatesManager .UITemplateContent .UIFormInputSet { 
	padding: 0px;
}

.UITemplatesManager .UITemplateContent .UIFormInputSet .UIFormGrid td.FieldLabel { 
	padding: 4px 4px 4px 0px;
}

.UITemplatesManager .UITemplateContent  .UIFormInputSetWithAction .FormContainer { 
	padding: 10px 10px 10px 0px;
}

.UIECMAdminPortlet .UITemplateContent  .UIFormInputSetWithAction  .UIFormGrid td.FieldLabel{
  width: 110px;
}


/*############################## -- UINamespaceManager -- ########################*/

.UINamespaceManager .HorizontalLayout {
  padding-top: 15px;
}

/*############################## -- UIRuleManager  -- ########################*/

.UIRuleManager .HorizontalLayout {
  padding-top: 10px;
}

.UIRuleManager .textarea {
  width: 446px;
  height: 300px;
  margin-left: 25px;
}

/*############################## -- UIQueriesManager  -- ########################*/

.UIQueriesManager .UIQueriesForm .UIForm .textarea {
	width: 350px; 
	height: 320px ;
	padding: 3px;
	vertical-align:top;
}

.UIQueriesManager .UIQueriesForm {
	padding: 10px;
}

.UIQueriesManager .UIQueriesForm .UIForm .HorizontalLayout .UIFormInputSet {
	padding: 10px 0px 0px 0px;
}

.UIQueriesManager .UIQueriesForm .UIForm .HorizontalLayout .UIFormGrid td {
	padding: 4px 2px;
}

/*############################## -- UIFolksonomyManager  -- ########################*/

.UIFolksonomyManager .UITagStyleForm .UIForm .textarea {
	height: 320px;
	padding: 3px;
	width: 95%;
	vertical-align:top;
}

.UIFolksonomyManager .UITagStyleForm .UIForm .HorizontalLayout {
	padding-top: 10px;
}

/************************* UIFormInputSet ***********************************/

.UIECMAdminPortlet  .UIFormInputSetWithAction input.radio {
  float: none;
}

.UIECMAdminPortlet  .UIFormInputSetWithAction .ActionField {
  margin: 0px 0px 5px 0px ;
  line-height: 20px;
}

.UIECMAdminPortlet  .UIFormInputSetWithAction .ActionField a {
  color: blue;
}

.UIECMAdminPortlet  .UIFormInputSetWithAction .ActionField a:hover {
  color: orange;
}

/*############################## -- MultiField  -- ########################*/

.UIECMAdminPortlet .HorizontalLayout .FieldContainer .MultiValueContainer {
  margin: 0px 0px 4px 175px;
}

.UIECMAdminPortlet .FieldContainer .MultiValueContainer .AddNewNodeIcon  {
  float: left;
  margin: 3px 5px 0px 5px;
}

/*############################## -- Any Permission -- ########################*/
.UIECMAdminPortlet .UIAnyPermission {
	border: none;
}

.UIECMAdminPortlet .UIAnyPermission .HorizontalLayout {
	padding: 0px;
}

.UIECMAdminPortlet .UIAnyPermission .UIForm .HorizontalLayout .UIFormInputSet {
	padding: 0px;
}
/*############################## -- Edit View -- ########################*/


.UIECMAdminPortlet .UIAnyPermission .UIForm .HorizontalLayout {
	border: 1px solid #B7B7B7;
}

.UIECMAdminPortlet .ECMAdminPanel {
  height: 100%; width: 250px;
  overflow: auto; 
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
}
.UIECMAdminPortlet .UIResizableBlock .ECMLayoutFloat{
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	height: 100%;
}

.UIECMAdminWorkingArea .RightFunctionTitle .IconTitle{
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	margin: 0px 5px;
}

.UIECMAdminPortlet .UIResizableBlock .NotShowSideBar {
  margin-left: 6px; /* orientation=lt */
  margin-left: 6px; /* orientation=rt */
  height: 100%;
}

.UIECMAdminPortlet .UIResizableBlock .ShowSideBar {
  margin-left: 256px; /* orientation=lt */
  margin-right: 256px; /* orientation=rt */
  height: 100%;
}

.UIECMAdminPortlet .UIPermissionManager { 
	margin: auto;
	padding-top: 10px;
	width: 95%;
}

.UIECMAdminPortlet .UIPermissionManager .UIFormWithTitle {
  margin: 3px auto;
  width: auto;
}


.UITaxonomyManagerTrees .PopupContent {
	margin:  0px;
	background: #F4F4F4 none repeat scroll 0 0;
	padding:  0px;
}

.UITaxonomyTreeWizard .WorkingArea .SelectedLabel {
	border-bottom: 1px solid #B7B7B7;
	padding: 15px 0px;
	line-height: 15px;
  background: #f9f9f9;
}

.UIECMAdminPortlet .UITaxonomyTreeWizard .WorkingArea .UIFormWithTitle {
  width: auto;
  margin: 3px auto;
}

.UIECMAdminPortlet .UITaxonomyTreeWizard .UIActionTaxonomyManager .UIFormGrid {
  width: auto;
}

.UITaxonomyTreeWizard .WorkingArea .HiddenLabel  {
	display: none;
}

.UITaxonomyTreeWizard .WorkingArea .UIWizardAction {
  background: #F9F9F9 none repeat scroll 0 0;
}

.UITaxonomyTreeWizard .WorkingArea .UIWizardAction .StepNavigationTitle {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  font-weight: bold;
  margin: 0px 10px 0px 15px; /* orientation=lt */
  margin: 0px 15px 0px 10px; /* orientation=rt */
}

.UITaxonomyTreeWizard .WorkingArea .UIWizardAction .StepNavigationBar {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  line-height: 38px;
}

.UITaxonomyTreeWizard .WorkingArea .TaxonomyTreeMainForm .FieldComponent .FieldComponent input {
	width: 235px;
}

.UITaxonomyTreeWizard .WorkingArea .UIWizardAction .StepNavigationBar a {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  width: 18px; line-height: 18px;
  font-weight: bold;
  text-align: center;
  margin: 9px 3px 0px 3px; 
  border: solid 1px gray;
}

.UITaxonomyTreeWizard .WorkingArea .UIWizardAction .StepNavigationBar a:hover {
  color: orange;
  background: #f8f8f8;
  border: solid 1px #fdb913;
}

.UITaxonomyTreeWizard .WorkingArea .StepNavigationBar a.SelectedStep {
  color: red;
}

.UITaxonomyTreeWizard .WorkingArea .UIWizardAction .UIAction {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	padding-right: 10px; /* orientation=lt */
	padding-left: 10px; /* orientation=rt */
}

.UITaxonomyTreeWizard .WorkingArea .UIWizardAction .UIAction .ActionContainer {
	margin: 0px;
}


.UITaxonomyTreeWizard .WorkingArea .UIForm .HorizontalLayout .FormContainer {
  padding: 2px;
}


.UITaxonomyTreeWizard .WorkingArea .UIFormWithTitle .HorizontalLayout {
	border: 1px solid #b7b7b7;
	border-top: none;
	padding: 10px;
}

.UITaxonomyTreeWizard .UITabPane .WorkingArea .UITaxonomyTreeCreateChildForm .HorizontalLayout {
	border: 1px solid #b7b7b7;
  padding:  10px;
	margin: 10px;
}

.UIECMAdminPortlet .UITaxonomyTreeWizard .UIFormGrid .FieldComponent .ActionIcon {
	float: none;
	margin: 0px 5px;
}

.UITaxonomyTreeWizard .WorkingArea .UITaxonomyTreeCreateChild .UIBreadcumbs {
  padding-bottom: 10px;
}

.UITrees .Node .NodeIconLink {
	background-position: left top;
	font-weight: bold;
	height:  16px;
	padding-left: 11px;
	width: 20px;
}

.UIOneNodePathSelector .LinkSmall {
	background: url('DefaultSkin/background/LinkSmall.gif') no-repeat left bottom;
  width: 20px;
  height: 15px;
  padding-left: 12px;
  right: 0;
  bottom: 0;
}

.UIOneTaxonomySelector .LinkSmall {
	background: url('DefaultSkin/background/LinkSmall.gif') no-repeat left bottom;
  width: 20px;
  height: 15px;
  padding-left: 12px;
  right: 0;
  bottom: 0;
}


.UITaxonomyTreeWizard .WorkingArea .UITaxonomyTreeCreateChild .UIAction {
	clear: both;
	padding: 8px;
}


.UIECMAdminPortlet .UIDriveManager .UIFormGrid {
	width: 99%;
}

.UINodeTypeSearh {
  padding: 0 0 10px;
}

.UINodeTypeSearh .UIBarStyle .FieldLabel {
  padding: 0px 0px 0px 25px;
}

.UINodeTypeSearh .UIBarStyle .GroupInput {
  padding: 0pt 5px;
}

.UINodeTypeSearh .UIBarStyle .SearchIcon {
		background: transparent url(/ecmadmin/skin/icons/24x24/DefaultSkin/Search.gif) no-repeat scroll left center;
		height: 24px;
		width: 24px;
		padding: 10px;
}

.UINodeTypeSearh .UIBarStyle .MultiValueContainerShow {
		padding-bottom:5px;
		vertical-align:bottom;
}