/* skeleton loader */

.v-skeleton-loader {
  position: relative;
  vertical-align: top;
  background: rgba(0, 0, 0, 0.1);
}

.v-skeleton-loader--is-loading {
  overflow: hidden;
}

.v-skeleton-loader__bone::after {
  animation: loader 2s infinite;
  animation-timing-function: linear;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(-100%);
  z-index: 1;
}

.v-skeleton-loader__bone::after {
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.6), transparent);
}

.v-skeleton-loader__bone {
  border-radius: inherit;
  overflow: hidden;
  position: relative;
}

.v-skeleton-loader__image {
  height: 200px;
}

.blockProvidersInner {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 33%;
  margin: 0 32px 10px;
}

.providersItem {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.providersItem--name {
  width: 25%;
}

.providersItem--description {
  width: 65%;
}

.providersItem--active,
.providersItem--permissions {
  width: 5%;
  align-items: center;
}

.providersItem--active > .tableHeader {
  width: 70%;
}

.providersItem--permissions > .tableHeader {
  width: 100%;
}

.providersSkeleton {
  max-width: 100%;
  margin-bottom: 6px;
}

.tableHeader {
  width: 50%;
  border-radius: 15px;
  height: 15px;
  margin-bottom: 15px;
}

.editorsSkeletonTitle {
  margin: 3% 32px;
  width: 25%;
  height: 20px;
  border-radius: 10px;
}

.skeletonSwitcher {
  width: 48px;
  margin: 5px 0;
  border-radius: 14px;
  height: 28px;
}

.skeletonSettings {
  width: 25px;
  margin: 6px 0;
  border-radius: 25px;
  height: 25px;
}

.skeletonText {
  width: 70%;
  height: 12px;
  border-radius: 15px;
  margin: 16px 0;
}

@keyframes loader {
  from {
    left: 0px;
  }
  to {
    left: 600px;
  }
}
