#uiActionsBarContainer .uiIconEcmsNewDocument:before {
  content: "\e637";
}

.editorButtonContainer {
  display: inline;
}

.editorButtonContainer .dropdown-container {
  position: relative;
  display: inline;
}

.editorButtonContainer .dropdown-container .dropdown-menu {
  margin-top: 7px !important;
}

.editorButtonContainer .dropdown-container .dropdown-menu li {
  display: block !important;
  margin: 0 !important;
}

.editorButtonContainer .dropdown-container .dropdown-menu li a {
 padding: 7px 12px;
 text-align: left;
}

.editorButtonContainer .dropdown-container .dropdown-menu li a i {
 margin-right: 5px;
}

.editorButtonContainer .dropdown-container .dropdown-menu li a:hover {
 color: #fff;
}

.editorButtonContainer .dropdown-container .dropdown-toggle {
  background: none;
  border: none;
}

.editorButtonContainer .dropdown-container .dropdown-toggle:focus { 
  background-color: #e7e7e7; 
  border: none !important;
  outline:none;
}

.previewBtn .editorButtonContainer .dropdown-container .dropdown-toggle {
  background: none;
}

.editorButtonContainer .dropdown-container .dropdown-toggle,
.editorButtonContainer .dropdown-container .dropdown-toggle:hover i {
  background: none;
  color: white;
}
.editorButtonContainer .dropdown-container .dropdown-toggle span {
  margin: 0 3px;
}

.previewBtn .editorButtonContainer i {
  color: white;
}

.editorButtonContainer .dropdown-toggle {
  padding: 2px;
}

.previewBtn .editorButtonContainer {
  float: right;
}

.editorButtonContainer > li {
  display: inline;
}

.previewBtn .editorButtonContainer > li {
  margin-right: 10px;
}

.detailContainer .editorButtonContainer {
  display: inline;
  border: 1px solid gray;
  padding: 12px;
  border: 1px solid #e1e8ee;
  border-radius: 2px;
  position: relative;
  top: 1px;
  margin-right: 3px;
}

.detailContainer .editorButtonContainer a {
 color: #4d5466;
}
   
.detailContainer .editorButtonContainer button,
.detailContainer .editorButtonContainer .dropdown-menu a {
 margin: 0 !important;
}
.detailContainer .editorButtonContainer button i {
 margin: 3px !important;
}

.previewBtn .editorButtonContainer .dropdown-container .dropdown-menu {
  top: auto;
}

.previewBtn .editorButtonContainer .dropdown-menu a{
  color: #3a3a3a;
}

.detailContainer .editors-placeholder {
  display:inline;
  margin-right: 5px;
}

.editorButtonContainer .disabledProvider:active {
  pointer-events: none;
}

.editorButtonContainer .disabledProvider a,
.editorButtonContainer .disabledProvider a > [class^="uiIcon"]:before {
  cursor: not-allowed;
  color: #ADADAD !important;
  background-image: none;
}

.editorButtonContainer .dropdown-container .dropdown-menu li.disabledProvider a:hover,
.editorButtonContainer .dropdown-container .dropdown-menu li.disabledProvider a:focus,
.editorButtonContainer .dropdown-container .dropdown-menu li.disabledProvider a:hover > [class^="uiIcon"]:before,
.editorButtonContainer .dropdown-container .dropdown-menu li.disabledProvider a:focus > [class^="uiIcon"]:before {
  background-image: none;
  color: #ADADAD;
}

#UIActionBar .editorButtonContainer {
  margin: 7px 3px 0px 3px;
}

#UIActionBar .dropdown-container {
  margin-left: 2px;
}

#UIActionBar .editorButtonContainer {
  flex-shrink: 0;
}

#UIActionBar .editorButtonContainer .dropdown-container .dropdown-toggle:focus {
  background: none;
}

.editorButtonContainer > li.hidden-tabletL {
  display: block;
  margin: 2px 3px;
  font-size: 1.1em;
}
.editorButtonContainer > li.hidden-tabletL .editorLabel {
  color: white;
  margin: 0 3px;
}

.actionBar .disabledProvider a:hover {
  color: #999999 !important;
}