#uiActionsBarContainer .uiIconEcmsNewDocument:before {
  content: "\e637";
}

.editorButtonContainer {
  display: inline;
}

.editorButtonContainer .dropdown-container {
  position: relative;
  display: inline;
}

.editorButtonContainer .dropdown-container .dropdown-menu {
  position: absolute;
  top: 120%; 
  margin-left: -140px !important;
  min-width: 140px !important;
  margin-top: 5px !important;
}

.editorButtonContainer .dropdown-container .dropdown-menu li {
  display: block !important;
  margin: 0 !important;
}

.editorButtonContainer .dropdown-container .dropdown-menu li a {
 padding: 7px 12px;
 text-align: left;
}

.editorButtonContainer .dropdown-container .dropdown-menu li a i {
 margin-right: 5px;
}

.editorButtonContainer .dropdown-container .dropdown-menu li a:hover {
 color: #fff !important;
}

.editorButtonContainer .dropdown-container .dropdown-toggle {
  background: none;
  border: none;
}

.editorButtonContainer .dropdown-container .dropdown-toggle:focus { 
  background-color: #e7e7e7; 
  border: none !important;
  outline:none;
}

.previewBtn .editorButtonContainer .dropdown-container .dropdown-toggle {
  background: none;
  border-color: gray;
}

.previewBtn .editorButtonContainer .dropdown-container .dropdown-toggle {
  background: none;
}
.previewBtn .editorButtonContainer .dropdown-container .dropdown-toggle:focus {
  background-color: #323232;
}

.previewBtn .editorButtonContainer i {
  color: white;
}

.editorButtonContainer .dropdown-toggle {
  padding: 2px;
}

.previewBtn .editorButtonContainer {
  float: right;
}

.editorButtonContainer > li {
  display: inline;
}

.previewBtn .editorButtonContainer > li {
  margin-right: 10px;
}

.detailContainer .editorButtonContainer {
  display: inline;
  border: 1px solid gray;
  padding: 12px;
  border: 1px solid #e1e8ee;
  border-radius: 2px;
  position: relative;
  top: 1px;
  margin-right: 3px;
}

.detailContainer .editorButtonContainer a {
 color: #4d5466;
}
   
.detailContainer .editorButtonContainer button,
.detailContainer .editorButtonContainer .dropdown-menu a {
 margin: 0 !important;
}
.detailContainer .editorButtonContainer button i {
 margin: 3px !important;
}

.previewBtn .editorButtonContainer .dropdown-container .dropdown-menu {
  top: auto;
}

.previewBtn .editorButtonContainer .dropdown-menu a{
  color: #3a3a3a;
}

/* skeleton loader */

.v-skeleton-loader {
  position: relative;
  vertical-align: top;
  background: rgba(0, 0, 0, 0.1);
}

.v-skeleton-loader--is-loading {
  overflow: hidden;
}

.v-skeleton-loader__bone::after {
  animation: loader 2s infinite;
  animation-timing-function: linear;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(-100%);
  z-index: 1;
}

.v-skeleton-loader__bone::after {
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.6), transparent);
}

.v-skeleton-loader__bone {
  border-radius: inherit;
  overflow: hidden;
  position: relative;
}

.v-skeleton-loader__image {
  height: 200px;
}

.blockProvidersInner {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 33%;
  margin-bottom: 10px;
}

.providersItem {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.providersItem--name {
  width: 25%;
}

.providersItem--description {
  width: 65%;
}

.providersItem--active,
.providersItem--permissions {
  width: 5%;
  align-items: center;
}

.providersItem--active > .tableHeader {
  width: 70%;
}

.providersItem--permissions > .tableHeader {
  width: 100%;
}

.providersSkeleton {
  max-width: 100%;
  margin-bottom: 6px;
}

.tableHeader {
  width: 50%;
  border-radius: 15px;
  height: 15px;
  margin-bottom: 15px;
}

.editorsSkeletonTitle {
  margin: 3% 0;
  width: 25%;
  height: 20px;
  border-radius: 10px;
}

.skeletonSwitcher {
  width: 48px;
  margin: 5px 0;
  border-radius: 14px;
  height: 28px;
}

.skeletonSettings {
  width: 25px;
  margin: 6px 0;
  border-radius: 25px;
  height: 25px;
}

.skeletonText {
  width: 70%;
  height: 12px;
  border-radius: 15px;
  margin: 16px 0;
}

@keyframes loader {
  from {
      left: 0px;
  }
  to {
      left: 600px;
  }
}
