/**
 * Created by The eXo Platform SARL
 * Modif : Tran The Trong
 *          trongtt@gmail.com
 * March 14, 2007
 * version: $Id$
 */

.Icon16x16 {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
}

.AddIcon16x16 {
  width: 16px; 
  height: 16px;
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat; 
  cursor: pointer;
}

.AddAnyIcon {
	width: 16px; height: 16px;
  background: url('DefaultSkin/SmallGroupIcon.gif') no-repeat;  
  cursor: pointer;
}

.Remove16x16Icon {
	width: 16px; height: 16px;
  background: url('DefaultSkin/DustBin.png') no-repeat;  
  cursor: pointer;
}

.Permission16x16Icon {
	width: 16px; height: 16px;
  background: url('DefaultSkin/ViewPermission.gif') no-repeat;  
  cursor: pointer;
}

.AddNewNodeIcon {
	width: 16px; height: 20px;
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat center;  
  cursor: pointer;
}

.AddIconIcon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 16px;	height: 16px;
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat ;
  cursor: pointer;
}

.AddPathIcon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 16px;	height: 16px;
  background: url('DefaultSkin/AddPath.gif') no-repeat ;
  cursor: pointer;
}

.AddPermissionIcon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 16px; height: 16px;
  margin: 2px 4px 0px 4px;
  background: url('DefaultSkin/SelectPermission.gif') no-repeat center; 
  cursor: pointer;
}

.RemovePermissionIcon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 16px; height: 16px;
 margin: 2px 4px 0px 4px;
 background: url('DefaultSkin/DustBin.png') no-repeat center; 
 cursor: pointer; 
}

.ChooseNodeTypeIcon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 16px; height: 16px;
  margin: 2px 4px 0px 4px;
  background: url('DefaultSkin/BlueRoundedPlusPage.gif') no-repeat center; 
  cursor: pointer;
}

.RemoveNodeTypeIcon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 16px; height: 16px;
 margin: 2px 4px 0px 4px;
 background: url('DefaultSkin/DustBin.png') no-repeat center; 
 cursor: pointer; 
}

.UIGrid .ViewIcon {
	width: 16px; height: 16px;
	background: url('DefaultSkin/YellowLight.gif') no-repeat;
}

.UIGrid .DeleteIcon {
  width: 16px ;  height: 16px ;
  background: url('DefaultSkin/DustBin.png') no-repeat ;
}

.EnrolIcon {
  width: 16px ;  height: 16px ;
  background: url('DefaultSkin/SelectPage.gif') no-repeat ;
}
.UIGrid .PasteIcon {
  width: 16px ;  height: 16px ;
  background: url('DefaultSkin/PasteIcon.gif') no-repeat ;
}

.UIGrid .EditInfoIcon {
  width: 16px ;  height: 16px ;
  background: url('DefaultSkin/Edit.png') no-repeat ;
}

.PermissionIcon16x16 {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
  width: 16px; height: 16px;
  margin: 4px;
  background: url('DefaultSkin/GreenAddIcon.gif') no-repeat; 
  cursor: pointer;
}
 
.SelectMemberIcon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/SmallMemberIcon.gif') no-repeat;
  cursor: pointer;  
}

.ExecuteIcon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/Execute.gif') no-repeat;  
  cursor: pointer;
}
 
.RemoveFile {
	width: 16px;
	height: 18px;
	background: url('DefaultSkin/DustBin.png') no-repeat center;
	margin-left: 10px;
}

.SelectGroupIcon {
	width: 16px; height: 16px;
  background: url('DefaultSkin/SmallGroupIcon.gif') no-repeat;  
  cursor: pointer;
}

.SelectUserIcon {
	width: 16px; height: 16px;
  background: url('DefaultSkin/SmallUserIcon.gif') no-repeat;  
  cursor: pointer;
}
 
.ExpandIcon {
  width: 16px;
  background: url('DefaultSkin/SmallGrayExpand.gif') no-repeat left top; /* orientation=lt */
  background: url('DefaultSkin/SmallGrayExpand-rt.gif') no-repeat right top; /* orientation=rt */
  cursor: pointer;
}

.EmptyIcon {
  width: 16px;
  background: url('DefaultSkin/ExpandEmptyIcon.gif') no-repeat left 3px; /* orientation=lt */
  background: url('DefaultSkin/ExpandEmptyIcon-rt.gif') no-repeat right 3px; /* orientation=rt */
  cursor: pointer;
}

.CollapseIcon  {
  width: 16px;
  background: url('DefaultSkin/SmallGrayCollapse.gif') no-repeat left top; /* orientation=lt */
  background: url('DefaultSkin/SmallGrayCollapse-rt.gif') no-repeat right top; /* orientation=rt */
  cursor: pointer;
}

.CompareVersion16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/CompareVersion.gif') no-repeat;
  cursor: pointer;
}

.RestoreVersion16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/RestoreVersion.gif') no-repeat;
  cursor: pointer;
}

.BlueRoundedPlusPage16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/BlueRoundedPlusPage.gif') no-repeat;
  cursor: pointer;
}

.RedRoundedPlusPage16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/RedRoundedPlusPage.gif') no-repeat;
  cursor: pointer;
}

.CloseSidebarIcon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/CloseSidebarIcon.gif') no-repeat;
  cursor: pointer;
}

.Style1NextArrow16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/BlueCircleNextArrow.gif') no-repeat;
}

.Style1DownArrow16x16Icon {
  width: 9px; height: 9px;
  background: url('DefaultSkin/BlackBorderDownArrow.gif') no-repeat;
}

.BlueDownArrow16x16Icon {
  height: 16px;
  background: url('DefaultSkin/BlueDownArrow.gif') no-repeat right center; /* orientation=lt */
	background: url('DefaultSkin/BlueDownArrow.gif') no-repeat left center; /* orientation=rt */
}

.BlueUpArrow16x16Icon {
  height: 16px;
  background: url('DefaultSkin/BlueUpArrow.gif') no-repeat right center; /* orientation=lt */
	background: url('DefaultSkin/BlueUpArrow.gif') no-repeat left center; /* orientation=rt */
}

.AddType16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/Save.gif') no-repeat;  
}

.Watch16x16Icon {
	width: 16px; height: 16px;
  background: url('DefaultSkin/Save.gif') no-repeat;  
}

.Unwatch16x16Icon {
	width: 16px; height: 16px;
  background: url('DefaultSkin/Save.gif') no-repeat;  
}

.Continue16x16Icon {
	width: 16px; height: 16px;
  background: url('DefaultSkin/GreenRightArrowPage.gif') no-repeat;  
}

.SaveDraft16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/Save.gif') no-repeat;  
}

.AddTag16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/Save.gif') no-repeat;  
}

.SetDefault16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/Save.gif') no-repeat;  
}

.AddLanguage16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat;  
}

.UpdateStyle16x16Icon {
	width: 16px; height: 16px;
  background: url('DefaultSkin/Save.gif') no-repeat;  
}

.UpdateChild16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/Save.gif') no-repeat;  
}

.UpdateProperty16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/Save.gif') no-repeat;  
}

.MoreConstraints16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat;  
}

.AddProperty16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat;  
}

.AddQuery16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat;  
}

.AddConstraints16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat;  
}

.AddValue16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat;  
}

.AddNamespace16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat;  
}

.AddChild16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat;  
}

.SelectProperty16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat;  
}

.CancelTab16x16Icon {
  background: url('DefaultSkin/RedCrossCircle.gif') no-repeat;  
}

.CancelChild16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/RedCrossCircle.gif') no-repeat;  
}

.Close16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/RedCrossCircle.gif') no-repeat;  
}

.CancelProperty16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/RedCrossCircle.gif') no-repeat;  
}

.CancelConstraints16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/RedCrossCircle.gif') no-repeat;  
}

.Save16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/Save.gif') no-repeat;  
}

.View16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/YellowLight.gif') no-repeat;  
}

.OpenFolder16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/OpenFolder.gif') no-repeat;  
}

.MetaView16x16Icon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
  width: 16px; height: 16px;
  background: url('DefaultSkin/YellowLight.gif') no-repeat;  
  cursor: pointer;
}

.DeleteIconInfo {
  width: 16px; height: 16px;
  background: url('DefaultSkin/DustBin.png') no-repeat center; 
  cursor: pointer;
  margin-left: 3px;
}

.EditStyleIcon {
  width: 16px ;  height: 16px ;
  background: url('DefaultSkin/Edit.png') no-repeat ;
  cursor: pointer;
}

.RemoveStyleIcon {
  width: 16px ;  height: 16px ;
  background: url('DefaultSkin/DustBin.png') no-repeat ;
  cursor: pointer;
}

.EditTagIcon {
  width: 16px ;  height: 16px ;
  background: url('DefaultSkin/Edit.png') no-repeat ;
  cursor: pointer;
}

.RemoveTagIcon {
  width: 16px ;  height: 16px ;
  background: url('DefaultSkin/DustBin.png') no-repeat ;
  cursor: pointer;
}



.EditIcon {
  width: 16px ;  height: 16px ;
  background: url('DefaultSkin/Edit.png') no-repeat ;
  cursor: pointer;
}

.False16x16Icon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
  width: 16px ;  height: 16px ;
  background: url('DefaultSkin/False.gif') no-repeat;
  padding-left: 20px; /* orientation=lt */
  padding-right: 20px; /* orientation=rt */ 
}

.True16x16Icon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
  width: 16px ;  height: 16px ;
  background: url('DefaultSkin/True.gif') no-repeat;
  padding-left: 20px; /* orientation=lt */
  padding-right: 20px; /* orientation=rt */  
}

.false16x16Icon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
  width: 16px ;  height: 16px ;
  background: url('DefaultSkin/False.gif') no-repeat;  
}

.true16x16Icon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
  width: 16px ;  height: 16px ;
  background: url('DefaultSkin/True.gif') no-repeat;  
}

.SelectPath16x16Icon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
  width: 16px ;  height: 16px ;
  background: url('DefaultSkin/SearchPage.gif') no-repeat;  
}

.SelectPermission16x16Icon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
  width: 16px ;  height: 16px ;
  background: url('DefaultSkin/SmallGroup.gif') no-repeat;  
}

.Repository16x16Icon{
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
  width: 16px ;  height: 16px ;
  background: url('DefaultSkin/RepositoryIcon.gif') no-repeat;
}

.AddRootNodeIcon {
	width: 16px ;  height: 16px ;
  background: url('DefaultSkin/SelectPage.gif') no-repeat;  
}

/*############################## -- Action Icon  -- ##############################*/
.Add16x16Icon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
  width: 16px; height: 16px;
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat;  
}
/*   float: left; */

.Delete16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/DustBin.png') no-repeat left center; /* orientation=lt */  
  background: url('DefaultSkin/DustBin.png') no-repeat right center; /* orientation=rt */  
}

.Locked16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/Lock.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/Lock.gif') no-repeat right center; /* orientation=rt */
}

.Unlock16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/UnLock.gif') no-repeat left center; /* orientation=lt */ 
  background: url('DefaultSkin/UnLock.gif') no-repeat right center; /* orientation=rt */ 
}

.CheckIn16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/CheckIn.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/CheckIn.gif') no-repeat right center; /* orientation=rt */
}

.WebDAV16x16Icon {
  height: 16px;
  background: url('DefaultSkin/Webdav.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/Webdav.gif') no-repeat right center; /* orientation=rt */
}

.GetURL16x16Icon {
  height: 16px;
  background: url('DefaultSkin/Documents.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/Documents.gif') no-repeat right center; /* orientation=rt */
}

.AddThumbnail16x16Icon {
  height: 16px;
  background: url('DefaultSkin/AddThumbnails.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/AddThumbnails.gif') no-repeat right center; /* orientation=rt */
}

.DownLoad16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/DownLoadIcon.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/DownLoadIcon.gif') no-repeat right center; /* orientation=rt */
}

.Permlink16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/PermlinkIcon.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/PermlinkIcon.gif') no-repeat right center; /* orientation=rt */
}

.CheckOut16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/CheckOut.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/CheckOut.gif') no-repeat right center; /* orientation=rt */
}

.Copy16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/Copy.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/Copy.gif') no-repeat right center; /* orientation=rt */
}

.EmptyTrash16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/EmptyTrash.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/EmptyTrash.gif') no-repeat right center; /* orientation=rt */
}


.AddToFavourite16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/AddToFavourite.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/AddToFavourite.gif') no-repeat right center; /* orientation=rt */
}

.RemoveFromFavourite16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/RemoveFromFavourite.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/RemoveFromFavourite.gif') no-repeat right center; /* orientation=rt */
}

.RestoreFromTrash16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/RestoreFromTrash.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/RestoreFromTrash.gif') no-repeat right center; /* orientation=rt */
}

.MoveToTrash16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/MoveToTrash.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/MoveToTrash.gif') no-repeat right center; /* orientation=rt */
}

.RemoveHidden16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/RemoveHidden.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/RemoveHidden.gif') no-repeat right center; /* orientation=rt */
}

.Cut16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/Cut.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/Cut.gif') no-repeat right center; /* orientation=rt */
}

.Rename16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/Rename.gif') no-repeat left center; /* orientation=lt */  
  background: url('DefaultSkin/Rename.gif') no-repeat right center; /* orientation=rt */  
}

.Edit16x16Icon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
  width: 16px; height: 16px;
  background: url('DefaultSkin/Edit.png') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/Edit.png') no-repeat right center; /* orientation=rt */
  cursor: pointer;   
}

.Lock16x16Icon {
	width: 16px; height: 16px;
  background: url('DefaultSkin/Lock.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/Lock.gif') no-repeat right center; /* orientation=rt */
}

.EditDocument16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/EditDocument.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/EditDocument.gif') no-repeat right center; /* orientation=rt */
  cursor: pointer;   
}

.Save16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/Save.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/Save.gif') no-repeat right center; /* orientation=rt */
}

.Search16x16Icon { 
  width: 16px ;  height: 16px ;
  background: url('DefaultSkin/SearchPage.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/SearchPage.gif') no-repeat right center; /* orientation=rt */
}

.AddRule16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat right center; /* orientation=rt */
}

.AddAction16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat right center; /* orientation=rt */
}

.AddNameSpace16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat right center; /* orientation=rt */
}

.AddNew16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat right center; /* orientation=rt */
}

.AddDrive16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat right center; /* orientation=rt */
}

.Custom16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat right center; /* orientation=rt */
}

.Upload16x16Icon {
	width: 16px; height: 16px;
  background: url('DefaultSkin/UploadFile.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/UploadFile.gif') no-repeat right center; /* orientation=rt */
}

.AddSymLink16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/AddSymLink.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/AddSymLink.gif') no-repeat right center; /* orientation=rt */
}

.AddFolder16x16Icon {
	width: 16px; height: 16px;
  background: url('DefaultSkin/AddFolder.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/AddFolder.gif') no-repeat right center; /* orientation=rt */
}

.AddDocument16x16Icon {
	width: 16px; height: 16px;
  background: url('DefaultSkin/AddDocument.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/AddDocument.gif') no-repeat right center; /* orientation=rt */
}

.ViewProperties16x16Icon {
	width: 16px; height: 16px;
  background: url('DefaultSkin/ViewProperties.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/ViewProperties.gif') no-repeat right center; /* orientation=rt */
}

.AddView16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat right center; /* orientation=rt */
}

.Paste16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/OrangeNote.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/OrangeNote.gif') no-repeat right center; /* orientation=rt */
}
.Select16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/SelectPage.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/SelectPage.gif') no-repeat right center; /* orientation=rt */
  cursor: pointer;
}

.Export16x16Icon {
  background: url('DefaultSkin/Export.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/Export.gif') no-repeat right center; /* orientation=rt */
}

.UncheckAll16x16Icon {
  background: url('DefaultSkin/UnCheckAll.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/UnCheckAll.gif') no-repeat right center; /* orientation=rt */
}

.CheckAll16x16Icon {
  background: url('DefaultSkin/CheckAll.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/CheckAll.gif') no-repeat right center; /* orientation=rt */
}

.Import16x16Icon {
  background: url('DefaultSkin/Import.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/Import.gif') no-repeat right center; /* orientation=rt */
}
.Active16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/SelectPage.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/SelectPage.gif') no-repeat right center; /* orientation=rt */
}
/*############################## -- End Action Icon  -- ##############################*/

.ExtendButton16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/SmallSelect.gif') no-repeat;  
}

.Note16x16Icon{
  width: 16px; height: 16px;
  background: url('DefaultSkin/SmallNote.gif') no-repeat center;  
}

.RightArrow16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/SmallRightArrow.gif') no-repeat center;  
}

.DropDownArrow16x16Icon {
	width: 16px; height:16px;
  background: url('DefaultSkin/DropDownArrow.gif') no-repeat;
}

.S2RightArrow16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/SmallBlackNext.gif') no-repeat center;  
}

.S2LeftArrow16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/SmallBlackBack.gif') no-repeat center;  
}

.S2RightGrayArrow16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/SmallGrayNext.gif') no-repeat center;  
}

.S2LeftGrayArrow16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/SmallGrayBack.gif') no-repeat center;  
}

/*############################## -- Begin BC Portlet Icon -- ########################*/

.CBHome16x16Icon {
	width: 16px; height:16px;
  background: url('VistaSkin/CBHomeIcon.png') no-repeat;
}

.ScrollBackArrow16x16Icon {
  width: 16px; height:16px;
  background: url('DefaultSkin/SrollBackArrow.gif') no-repeat;  
  padding-left: 16px;
}

.ScrollNextArrow16x16Icon {
  width: 16px;height:16px;
  background: url('DefaultSkin/SrollNextArrow.gif') no-repeat;  
}

.DisableBackArrow16x16Icon {
  width: 16px; height:16px;
  background: url('DefaultSkin/DisableBackArrow.gif') no-repeat;  
  padding-left: 16px;
}

.DisableNextArrow16x16Icon {
  width: 16px; height:16px;
  background: url('DefaultSkin/DisableNextArrow.gif') no-repeat;  
}

.Documents16x16Icon {
	width: 16px;	height: 16px;
  background: url('DefaultSkin/Documents.gif') no-repeat ;
}

.CategoryArrow16x16Icon {
	width: 16px;	height: 16px;
  background: url('DefaultSkin/CategoryArrow.gif') no-repeat ;
}

.RedEmpty16x16Icon {
	width: 16px;	height: 16px;
  background: url('DefaultSkin/Empty.gif') no-repeat ;
}

.CBDropDownArrow16x16Icon {
	width: 16px; height:16px;
  background: url('VistaSkin/BlueDownArrow.png') no-repeat;
}

.LastPage {
	width: 18px; height:16px;
  background: url('DefaultSkin/BlueBackIcon.gif') no-repeat center;
}

.NextPage {
	width: 18px; height:16px;
  background: url('DefaultSkin/BlueNextIcon.gif') no-repeat center;
}
/*====================================UIRightClickPopupMenu==================================*/


.UIRightClickPopupMenu .AddToFavourite16x16Icon {
  background: url('DefaultSkin/AddToFavourite.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/AddToFavourite.gif') no-repeat right center; /* orientation=rt */
}

.UIRightClickPopupMenu .RemoveFromFavourite16x16Icon {
  background: url('DefaultSkin/RemoveFromFavourite.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/RemoveFromFavourite.gif') no-repeat right center; /* orientation=rt */
}

.UIRightClickPopupMenu .RestoreFromTrash16x16Icon {
  background: url('DefaultSkin/RestoreFromTrash.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/RestoreFromTrash.gif') no-repeat right center; /* orientation=rt */
}

.UIRightClickPopupMenu .MoveToTrash16x16Icon {
  background: url('DefaultSkin/MoveToTrash.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/MoveToTrash.gif') no-repeat right center; /* orientation=rt */
}

.UIRightClickPopupMenu .RemoveHidden16x16Icon {
  background: url('DefaultSkin/RemoveHidden.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/RemoveHidden.gif') no-repeat right center; /* orientation=rt */
}


.UIRightClickPopupMenu .Copy16x16Icon {
  background: url('DefaultSkin/Copy.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/Copy.gif') no-repeat right center; /* orientation=rt */
}

.UIRightClickPopupMenu .PlayMedia16x16Icon {
  background: url('DefaultSkin/Play.png') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/Play.png') no-repeat right center; /* orientation=rt */
}

.UIRightClickPopupMenu .EmptyTrash16x16Icon {
  background: url('DefaultSkin/EmptyTrash.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/EmptyTrash.gif') no-repeat right center; /* orientation=rt */
}


.UIRightClickPopupMenu .EditDocument16x16Icon {
  background: url('DefaultSkin/EditDocument.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/EditDocument.gif') no-repeat right center; /* orientation=rt */
}

.UIRightClickPopupMenu .Cut16x16Icon {
  background: url('DefaultSkin/Cut.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/Cut.gif') no-repeat right center; /* orientation=rt */
}

.UIRightClickPopupMenu .Delete16x16Icon {
  background: url('DefaultSkin/DustBin.png') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/DustBin.png') no-repeat right center; /* orientation=rt */
}

.UIRightClickPopupMenu .Lock16x16Icon {
  background: url('DefaultSkin/Lock.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/Lock.gif') no-repeat right center; /* orientation=rt */
}

.UIRightClickPopupMenu .Rename16x16Icon {
  background: url('DefaultSkin/Rename.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/Rename.gif') no-repeat right center; /* orientation=rt */
}

.UIRightClickPopupMenu .AddSymLink16x16Icon {
  background: url('DefaultSkin/AddSymLink.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/AddSymLink.gif') no-repeat right center; /* orientation=rt */
}

.UIRightClickPopupMenu .Paste16x16Icon {
  background: url('DefaultSkin/OrangeNote.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/OrangeNote.gif') no-repeat right center; /* orientation=rt */
}

.UIRightClickPopupMenu .WebDAV16x16Icon {
  background: url('DefaultSkin/Webdav.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/Webdav.gif') no-repeat right center; /* orientation=rt */
}

.UIRightClickPopupMenu .exo_sendMailAction16x16Icon {
  background: url('DefaultSkin/exo-sendMailAction.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/exo-sendMailAction.gif') no-repeat right center; /* orientation=rt */
}

.UIRightClickPopupMenu .Unlock16x16Icon {
  background: url('DefaultSkin/UnLock.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/UnLock.gif') no-repeat right center; /* orientation=rt */
}

.UIRightClickPopupMenu .CheckIn16x16Icon {
  background: url('DefaultSkin/CheckIn.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/CheckIn.gif') no-repeat right center; /* orientation=rt */
}

.UIRightClickPopupMenu .CheckOut16x16Icon {
  background: url('DefaultSkin/CheckOut.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/CheckOut.gif') no-repeat right center; /* orientation=rt */
}

.UIRightClickPopupMenu .CheckOut16x16Icon {
  background: url('DefaultSkin/CheckOut.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/CheckOut.gif') no-repeat right center; /* orientation=rt */
}

.UIRightClickPopupMenu .Save16x16Icon {
  background: url('DefaultSkin/Save.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/Save.gif') no-repeat right center; /* orientation=rt */
}

.ScissorsEraserWarning16x16Icon {
  width: 16px ; height: 16px ;
  background: url('DefaultSkin/ScissorsEraserWarning.gif') no-repeat;
}
/*############################## -- End BC Portlet Icon -- ########################*/

.UIVersionTreeList .TrueIcon {
  background: url('DefaultSkin/DisabelCheck.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/DisabelCheck.gif') no-repeat right center; /* orientation=rt */
}

.UIVersionTreeList .TrueSelectIcon {
  background: url('DefaultSkin/SelectCheck.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/SelectCheck.gif') no-repeat right center; /* orientation=rt */
}

.UIVersionTreeList .Publishedicon {
  background: url('DefaultSkin/PublishedIcon.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/PublishedIcon.gif') no-repeat right center; /* orientation=rt */
}

.UIVersionTreeList .UnPublishedicon {
  background: url('DefaultSkin/UnPublished.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/UnPublished.gif') no-repeat right center; /* orientation=rt */
}

.FullContentPermission {
  cursor : pointer;  
}

.ShortContentPermission {
  cursor : pointer;  
}
