/**
 * Created by The eXo Platform SARL
 * Modif : Vu Duy Tu
 *          duytucntt@gmail.com
 * DEC 20, 2006
 * version: $Id$
 */

.Icon16x16 {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
}

.EmptyIcon {
	background:transparent url(DefaultSkin/ExpandEmptyIcon.gif) no-repeat scroll left 3px;
	cursor:pointer;
	width:16px;
	padding-left: 16px;
}


.AddIcon16x16 {
  width: 16px;
  height: 16px;
  background: url('VistaSkin/AddNodeIcon.gif') no-repeat;
  cursor: pointer;
}

.UIGrid .ViewIcon {
	width:16px; 
	height: 16px;
	background: url('VistaSkin/YellowLight.png') no-repeat center;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
}

.UIGrid .DeleteIcon {
	width: 18px; height: 20px;
	background: url('VistaSkin/Delete.png') no-repeat center;
}

.UIGrid .EditInfoIcon {
	width: 18px; height: 17px;
	background: url('VistaSkin/Edit.png') no-repeat center;
}

.AddPathIcon {
  float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 17px;	height: 19px;
  background: url('VistaSkin/AddPath.png') no-repeat;
  cursor: pointer;
}

.AddIconIcon {
  float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 17px;	height: 18px;
  background:transparent url('VistaSkin/AddNodeIcon.png') no-repeat left center;
  cursor: pointer;
} 

.AddPermissionIcon {
  float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 16px; height: 17px;
  background: url('VistaSkin/SelectPermissionIcon.png') no-repeat; 
  cursor: pointer;
  margin: 2px 4px 0px 4px;
}

.RemovePermissionIcon {
 float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 16px; height: 17px;
 background: url('VistaSkin/DustBin.png') no-repeat; 
 cursor: pointer;
 margin: 2px 4px 0px 4px;
}
 
.PermissionIcon16x16 {
  float:left;
  width: 16px; height: 16px;
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat; 
  cursor: pointer;
  margin: 4px;
}
 
.Remove16x16Icon {
	width: 19px; height: 18px;
  background: url('VistaSkin/DustBin.png') no-repeat center; 
  cursor: pointer;
}

.Permission16x16Icon {
	width: 19px; height: 18px;
  background: url('VistaSkin/ViewPermission.gif') no-repeat center; 
  cursor: pointer;
}

.RemoveReference16x16Icon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 16px;	height: 16px;
  background: url('VistaSkin/DustBin.gif') no-repeat;
  cursor: pointer;
}

.Upload16x16Icon {
	width: 16px; height: 16px;
  background: url('VistaSkin/UploadFile.png') no-repeat;
}

.AddSymLink16x16Icon {
  width: 16px; height: 16px;
  background: url('VistaSkin/AddSymLink.png') no-repeat;
}

.AddFolder16x16Icon {
	width: 16px; height: 16px;
  background: url('VistaSkin/AddFolder.png') no-repeat;
}

.AddDocument16x16Icon {
	width: 16px; height: 16px;
  background: url('VistaSkin/AddDocument.png') no-repeat;
}

.GetURL16x16Icon {
  height: 16px;
  background: url('DefaultSkin/Documents.gif') no-repeat;  
}

.AddThumbnail16x16Icon {
  height: 16px;
  background: url('VistaSkin/AddThumbnails.gif') no-repeat;  
}

.SelectMemberIcon {
  width: 16px; height: 16px;
  background: url('VistaSkin/SmallMemberIcon.png') no-repeat;
  cursor: pointer;  
}

.ExecuteIcon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/Execute.gif') no-repeat;  
  cursor: pointer;
}

.SelectGroupIcon {
	width: 24px; height: 20px;
  background: url('VistaSkin/SmallGroup.png') no-repeat;  
  cursor: pointer;
}

.AddAnyIcon {
	width: 20px; height: 16px;
  background: url('VistaSkin/SmallGroup.png') no-repeat;  
  cursor: pointer;
}

.SelectUserIcon {
	width: 16px; height: 16px;
  background: url('VistaSkin/SmallUserIcon.png') no-repeat;  
  cursor: pointer;
}
 
.ExpandIcon {
  width: 16px;
  background: url('VistaSkin/SmallGrayMinus.gif') no-repeat left center; /* orientation=lt */
  background: url('VistaSkin/SmallGrayMinus-rt.gif') no-repeat right center; /* orientation=rt */
  cursor: pointer;
}

.CollapseIcon  {
  width: 18px;
  background: url('VistaSkin/SmallGrayPlus.gif') no-repeat left top; /* orientation=lt */
  background: url('VistaSkin/SmallGrayPlus-rt.gif') no-repeat right top; /* orientation=rt */
  cursor: pointer;
}

.CompareVersion16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/CompareVersion.gif') no-repeat;
  cursor: pointer;
}

.RestoreVersion16x16Icon {
  width: 19px; height: 18px;
  background: url('VistaSkin/RestoreVersion.png') no-repeat;
  cursor: pointer;
}

.UIGrid .PasteIcon {
  width: 16px;  height: 16px;
  background: url('VistaSkin/PasteIcon.png') no-repeat;
}

.BlueRoundedPlusPage16x16Icon {
  width: 19px; height: 18px;
  background: url('VistaSkin/BlueRoundedPlusPage.png') no-repeat;
  cursor: pointer;
}

.RedRoundedPlusPage16x16Icon {
  width: 19px; height: 18px;
  background: url('VistaSkin/RedRoundedPlusPage.png') no-repeat;
  cursor: pointer;
}

.Style1NextArrow16x16Icon {
  width: 16px; height: 16px;
  background: url('VistaSkin/BlueCircleNextArrow.png') no-repeat;
}

.Style1DownArrow16x16Icon {
  width: 15px; height:19px;
  background: url('VistaSkin/BlackBorderDownArrow.gif') no-repeat center;
}

.BlackClose16x16Icon {
  width: 16px; height: 16px;
  background: url('VistaSkin/BlackClose.gif') no-repeat center center;
}

.BlueDownArrow16x16Icon {
  height: 16px;
  background: url('DefaultSkin/BlueDownArrow.gif') no-repeat right center; /* orientation=lt */
	background: url('DefaultSkin/BlueDownArrow.gif') no-repeat left center; /* orientation=rt */
}

.Close16x16Icon {
  width: 16px; height: 16px;
  background: url('VistaSkin/BlueCrossRect.gif') no-repeat;  
}

.View16x16Icon {
  width: 19px; height: 18px;
  background: url('VistaSkin/YellowLight.png') no-repeat center;  
}

.MetaView16x16Icon {
  width: 24px; height: 24px;
  background: url('VistaSkin/YellowLight.png') no-repeat;  
  cursor: pointer;
}

.DeleteIconInfo {
  width: 24px; height: 24px;
  background: url('VistaSkin/Delete.png') no-repeat; 
  cursor: pointer;
  margin-left: 3px;
}

.EditStyleIcon {
  width: 24px;  height: 24px;
  background: url('VistaSkin/Edit.png') no-repeat;
  cursor: pointer;
}

.RemoveStyleIcon {
  width: 24px;  height: 24px;
  background: url('VistaSkin/Delete.png') no-repeat;
  cursor: pointer;
}

.EditTagIcon {
  width: 24px;  height: 24px;
  background: url('VistaSkin/Edit.png') no-repeat;
  cursor: pointer;
}

.RemoveTagIcon {
  width: 24px;  height: 24px;
  background: url('VistaSkin/Delete.png') no-repeat;
  cursor: pointer;
}


.EditIcon {
  width: 24px;  height: 24px;
  background: url('VistaSkin/Edit.png') no-repeat;
  cursor: pointer;
}

.False16x16Icon {
  width: 16px;  height: 16px;
  background: url('VistaSkin/False.png') no-repeat;
  padding-left: 20px; /* orientation=lt */
  padding-right: 20px; /* orientation=rt */  
}

.True16x16Icon {
  width: 16px;  height: 16px;
  background: url('VistaSkin/True.png') no-repeat;
  padding-left: 20px; /* orientation=lt */
  padding-right: 20px; /* orientation=rt */  
}

.false16x16Icon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
  width: 16px ;  height: 16px ;
  background: url('DefaultSkin/False.gif') no-repeat;  
}

.true16x16Icon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
  width: 16px ;  height: 16px ;
  background: url('DefaultSkin/True.gif') no-repeat;  
}


.AddType16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/Save.gif') no-repeat;  
}

.Watch16x16Icon {
	width: 16px; height: 16px;
  background: url('DefaultSkin/Save.gif') no-repeat;  
}

.Unwatch16x16Icon {
	width: 16px; height: 16px;
  background: url('DefaultSkin/Save.gif') no-repeat;  
}

.Continue16x16Icon {
	width: 16px; height: 16px;
  background: url('DefaultSkin/GreenRightArrowPage.gif') no-repeat;  
}

.SaveDraft16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/Save.gif') no-repeat;  
}

.AddTag16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/Save.gif') no-repeat;  
}

.SetDefault16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/Save.gif') no-repeat;  
}

.AddLanguage16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat;  
}

.UpdateStyle16x16Icon {
	width: 16px; height: 16px;
  background: url('DefaultSkin/Save.gif') no-repeat;  
}

.UpdateChild16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/Save.gif') no-repeat;  
}

.UpdateProperty16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/Save.gif') no-repeat;  
}

.AddProperty16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat;  
}

.AddQuery16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat;  
}

.AddConstraints16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/AddNodeIcon.gif') no-repeat;  
}

.AddValue16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat;  
}

.AddNamespace16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat;  
}

.AddChild16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat;  
}

.CancelTab16x16Icon {
  background: url('DefaultSkin/RedCrossCircle.gif') no-repeat;  
}

.CancelChild16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/RedCrossCircle.gif') no-repeat;  
}

.CancelProperty16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/RedCrossCircle.gif') no-repeat;  
}

.CancelConstraints16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/RedCrossCircle.gif') no-repeat;  
}

.Save16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/Save.gif') no-repeat;  
}

.OpenFolder16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/OpenFolder.gif') no-repeat;  
}

.SelectPath16x16Icon {
  float: left; /* orientation=lt */
	float: right; /* orientation=rt */
  width: 16px;  height: 16px;
  background: url('DefaultSkin/SearchPage.gif') no-repeat;  
}

.SelectPermission16x16Icon {
  float: left; /* orientation=lt */
	float: right; /* orientation=rt */
  width: 16px;  height: 16px;
  background: url('DefaultSkin/SmallGroup.gif') no-repeat;  
}

.LastPage {
	width: 18px; height:16px;
  background: url('DefaultSkin/BlueBackIcon.gif') no-repeat center;
}

.NextPage {
	width: 18px; height:16px;
  background: url('DefaultSkin/BlueNextIcon.gif') no-repeat center;
}

.AddRootNodeIcon {
	width: 16px;  height: 16px;
  background: url('VistaSkin/SelectIcon.gif') no-repeat;  
}

/*############################## -- Action Icon  -- ##############################*/
.Add16x16Icon {
  float: left; /* orientation=lt */
	float: right; /* orientation=rt */
  width: 24px; height: 24px;
  background: url('VistaSkin/BlueCirclePlus.png') no-repeat;  
}

.Delete16x16Icon {
  width: 24px; height: 24px;
  background: url('VistaSkin/Delete.png') no-repeat ; /* orientation=lt */ 
  background: url('VistaSkin/Delete.png') no-repeat right center; /* orientation=rt */ 
}

.Locked16x16Icon {
  width: 16px; height: 16px;
  background: url('VistaSkin/Lock.gif') no-repeat;
}

.Lock16x16Icon {
  width: 24px; height: 24px;
  background: url('VistaSkin/Lock.png') no-repeat center left; /* orientation=lt */
  background: url('VistaSkin/Lock.png') no-repeat center right; /* orientation=rt */
}

.Unlock16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/UnLock.gif') no-repeat;   
}

.DownLoad16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/DownLoadIcon.gif') no-repeat;   
}

.Permlink16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/PermlinkIcon.gif') no-repeat;   
}

.CheckIn16x16Icon {
  width: 24px; height: 20px;
  background: url('VistaSkin/CheckIn.png') no-repeat left center; /* orientation=lt */  
  background: url('VistaSkin/CheckIn.png') no-repeat right center; /* orientation=rt */  
}

.CheckOut16x16Icon {
  width: 24px; height: 20px;
  background: url('VistaSkin/CheckOut.png') no-repeat left center; /* orientation=lt */  
  background: url('VistaSkin/CheckOut.png') no-repeat right center; /* orientation=rt */  
}

.WebDAV16x16Icon {
  height: 24px;
  background: url('VistaSkin/Webdav.png') no-repeat left center ; /* orientation=lt */
  background: url('VistaSkin/Webdav.png') no-repeat right center ; /* orientation=rt */
}

.AddToFavourite16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/AddToFavourite.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/AddToFavourite.gif') no-repeat right center; /* orientation=rt */
}

.RemoveFromFavourite16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/RemoveFromFavourite.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/RemoveFromFavourite.gif') no-repeat right center; /* orientation=rt */
}

.RestoreFromTrash16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/RestoreFromTrash.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/RestoreFromTrash.gif') no-repeat right center; /* orientation=rt */
}

.MoveToTrash16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/MoveToTrash.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/MoveToTrash.gif') no-repeat right center; /* orientation=rt */
}

.RemoveHidden16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/RemoveHidden.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/RemoveHidden.gif') no-repeat right center; /* orientation=rt */
}


.Copy16x16Icon {
  width: 24px; height: 24px;
  background: url('VistaSkin/Copy.png') no-repeat left center ; /* orientation=lt */
  background: url('VistaSkin/Copy.png') no-repeat right center ; /* orientation=rt */
}

.UIRightClickPopupMenu
.EmptyTrash16x16Icon {
  width: 24px; height: 24px;
  background: url('VistaSkin/EmptyTrash.png') no-repeat left center ; /* orientation=lt */
  background: url('VistaSkin/EmptyTrash.png') no-repeat right center ; /* orientation=rt */
}

.UIRightClickPopupMenu .PlayMedia16x16Icon {
  background: url('DefaultSkin/Play.png') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/Play.png') no-repeat right center; /* orientation=rt */
}

.Cut16x16Icon {
  width: 24px; height: 24px;
  background: url('VistaSkin/Cut.png') no-repeat left center ; /* orientation=lt */
  background: url('VistaSkin/Cut.png') no-repeat right center ; /* orientation=rt */
}

.Rename16x16Icon {
  height: 24px;
  background: url('VistaSkin/Rename.gif') no-repeat left center ; /* orientation=lt */
  background: url('VistaSkin/Rename.gif') no-repeat right center ; /* orientation=rt */
}

.Edit16x16Icon {
  float: left; /* orientation=lt */
	float: right; /* orientation=rt */
  width: 24px; height: 24px;
  background: url('VistaSkin/Edit.png') no-repeat left center ; /* orientation=lt */
  background: url('VistaSkin/Edit.png') no-repeat right center ; /* orientation=rt */
  cursor: pointer;   
}

.EditDocument16x16Icon {
  width:24px; height:20px;
  background: url('VistaSkin/Edit.png') no-repeat left center ; /* orientation=lt */
  background: url('VistaSkin/Edit.png') no-repeat right center ; /* orientation=rt */
  cursor: pointer;   
}

.Save16x16Icon {
  width: 24px; height: 20px;
  background: url('VistaSkin/Save.png') no-repeat left center ; /* orientation=lt */
  background: url('VistaSkin/Save.png') no-repeat right center ; /* orientation=rt */
}

.Search16x16Icon { 
  width: 16px ;  height: 16px ;
  background: url('DefaultSkin/SearchPage.gif') no-repeat left center ; /* orientation=lt */
  background: url('DefaultSkin/SearchPage.gif') no-repeat right center ; /* orientation=rt */
}

.AddRule16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat left center ; /* orientation=lt */
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat right center ; /* orientation=rt */
}

.AddAction16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat left center ; /* orientation=lt */
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat right center ; /* orientation=rt */
}

.AddNameSpace16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat left center ; /* orientation=lt */
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat right center ; /* orientation=rt */
}

.AddNew16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat left center ; /* orientation=lt */
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat right center ; /* orientation=rt */
}

.AddDrive16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat left center ; /* orientation=lt */
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat right center ; /* orientation=rt */
}

.AddView16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat left center ; /* orientation=lt */
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat right center ; /* orientation=rt */
}

.Custom16x16Icon {
  width: 24px; height: 24px;
  background: url('VistaSkin/AddNodeIcon.png') no-repeat left center ; /* orientation=lt */
  background: url('VistaSkin/AddNodeIcon.png') no-repeat right center ; /* orientation=rt */
}

.Paste16x16Icon {
  width: 24px; height: 24px;
  background: url('VistaSkin/Paste.png') no-repeat left center ; /* orientation=lt */
  background: url('VistaSkin/Paste.png') no-repeat right center ; /* orientation=rt */
}

.Select16x16Icon {
  width: 16px; height: 16px;
  background: url('VistaSkin/SelectIcon.gif') no-repeat; 
  cursor: pointer;
}

.Export16x16Icon {
  background-image: url('DefaultSkin/Export.gif') no-repeat left center ; /* orientation=lt */
  background-image: url('DefaultSkin/Export.gif') no-repeat right center ; /* orientation=rt */
}

.Import16x16Icon {
  background-image: url('DefaultSkin/Import.gif') no-repeat left center ; /* orientation=lt */
  background-image: url('DefaultSkin/Import.gif') no-repeat right center ; /* orientation=rt */
}

.Active16x16Icon {
  width: 16px; height: 16px;
  background-image: url('DefaultSkin/SelectPage.gif') no-repeat left center ; /* orientation=lt */
  background-image: url('DefaultSkin/SelectPage.gif') no-repeat right center ; /* orientation=rt */
}

.RemoveFile {
	width: 19px;
	height: 18px;
	background: url('VistaSkin/DustBin.png') no-repeat;
	margin-left: 10px;
}

/*############################## -- End Action Icon  -- ##############################*/

.UIRightClickPopupMenu .Save16x16Icon {
  background: url('VistaSkin/Save.png') no-repeat left center; /* orientation=lt */
  background: url('VistaSkin/Save.png') no-repeat right center; /* orientation=rt */
}

.UIVersionTreeList .TrueIcon {
  background: url('DefaultSkin/DisabelCheck.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/DisabelCheck.gif') no-repeat right center; /* orientation=rt */
}

.UIVersionTreeList .TrueSelectIcon {
  background: url('DefaultSkin/SelectCheck.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/SelectCheck.gif') no-repeat right center; /* orientation=rt */
}

.UIAllItems .TrueSelectIcon {
  background: url('DefaultSkin/SelectCheck.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/SelectCheck.gif') no-repeat right center; /* orientation=rt */
}

.UIAllItemsByType .TrueSelectIcon {
  background: url('DefaultSkin/SelectCheck.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/SelectCheck.gif') no-repeat right center; /* orientation=rt */
}


.UIVersionTreeList .Publishedicon {
  background: url('DefaultSkin/PublishedIcon.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/PublishedIcon.gif') no-repeat right center; /* orientation=rt */
}

.UIVersionTreeList .UnPublishedicon {
  background: url('DefaultSkin/UnPublished.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/UnPublished.gif') no-repeat right center; /* orientation=rt */
}

/*
* minh.js.exo
* ECM-2418
*/

.ScrollBackArrow16x16Icon {
  width: 16px; height:16px;
  background: url('DefaultSkin/SrollBackArrow.gif') no-repeat;
  padding-left: 16px; 
}

.ScrollNextArrow16x16Icon {
  width: 16px;height:16px;
  background: url('DefaultSkin/SrollNextArrow.gif') no-repeat;  
}

.DisableBackArrow16x16Icon {
  width: 16px; height:16px;
  background: url('DefaultSkin/DisableBackArrow.gif') no-repeat;
  padding-left: 16px;
}

.DisableNextArrow16x16Icon {
  width: 16px; height:16px;
  background: url('DefaultSkin/DisableNextArrow.gif') no-repeat;  
}

/*
* end
*/
