/**
 * Created by The eXo Platform SARL
 * Author : Tran The Trong
 *          trongtt@gmail.com
 * August 01, 2006
 * version: $Id$
 */

/*############################## -- Begin UIViewBar -- ##############################*/

.UIJCRExplorerPortlet .UIJCRExplorer .UIViewBar {
  border-bottom: solid 1px #b7b7b7;
  background: url('DefaultSkin/background/LineDecorator1x28.gif') repeat-x center center;
  height: 28px;
  line-height: 28px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIViewBar .SelectViewLabel {
  padding-left: 0px 5px 0px 8px; /* orientation=lt */
  padding-left: 0px 8px 0px 5px; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIViewBar .SelectViewBox {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIViewBar .SelectBox {
  padding-left: 6px; /* orientation=lt */
  padding-right: 6px; /* orientation=rt */
  margin-top: 2px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIViewBar .IconFrame {
  float: right; /* orientation=lt */
  float: left; /* orientation=rt */
  padding-right: 10px; /* orientation=lt */
  padding-left: 10px; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIJCRExplorer .WorkspaceName {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	padding-right: 5px; /* orientation=lt */
	padding-left: 5px; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIViewBar .ViewBarSeparator {
  float: right; /* orientation=lt */
  float: left; /* orientation=rt */
  height: 27px;
  margin: 0px 4px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIViewBar .Icon {
  float: right; /* orientation=lt */
  float: left; /* orientation=rt */
  margin: 2px 7px;
  cursor: pointer;
}

.UIJCRExplorerPortlet .BackToMainDriveButton {
	width: 24px;
	height: 24px;
  background: url('MacSkin/icons/BackToMainDriveButton.gif') no-repeat center ;
  float: right; /* orientation=lt */
  float: left; /* orientation=rt */
  margin-left: 5px; /* orientation=lt */
	margin-right: 5px; /* orientation=rt */
}

.UIJCRExplorerPortlet .SetupPreferencesButton {
  width: 24px;
  height: 22px;
  background: url('MacSkin/icons/SetupPreferencesButton.gif') no-repeat center;
  float: right; /* orientation=lt */
  float: left; /* orientation=rt */
  padding: 0px 0px 0px 10px; /* orientation=lt */
  padding: 0px 10px 0px 0px; /* orientation=rt */
}

.UIJCRExplorerPortlet .SaveSessionButton {
  width: 24px;	height: 24px;
  background: url('DefaultSkin/icons/SaveSession.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/icons/SaveSession.gif') no-repeat right center; /* orientation=rt */
  padding: 2px 0px 0px 10px; /* orientation=lt */
  padding: 2px 10px 0px 0px; /* orientation=rt */
}

.UIJCRExplorerPortlet .RefreshSessionButton  {
  width: 26px;	height: 21px;
  background: url('MacSkin/icons/RefreshSessionButton.gif') no-repeat left center; /* orientation=lt */
  background: url('MacSkin/icons/RefreshSessionButton.gif') no-repeat right center; /* orientation=rt */
}

/*############################## -- End UIViewBar -- ##############################*/
/*############################## -- Begin UIViewBar -- ##############################*/

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar {
  border-bottom: solid 1px #b3b3b3;
  background: url('MacSkin/background/LineDecorator1x30.gif') repeat-x center center;
  height: 53px;
  line-height: 21px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .AddressBarSeparator {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  height: 26px;
  padding: 2px 4px 0px 4px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .BlockLeft {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .AddressLabel {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  line-height: 28px;
  padding-left: 2px; /* orientation=lt */
  padding-right: 2px; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .BlockRight {
  float: right; /* orientation=lt */
  float: left; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .BackButton {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  margin: 3px 3px 0px 3px;
  cursor: pointer;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .GoButton {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  margin: 8px 3px 0px 3px;
  cursor: pointer;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .GoText {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  height: 16px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .BlockMiddle {
  height: 20px; line-height: 20px;
	padding-top: 2px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .BlockMiddle1 {
  height: 20px; line-height: 20px;
  background: white;
  border: solid 1px #d8d8d8;
  border-right: solid 1px #cdcdcd; /* orientation=lt */
  border-left: solid 1px #cdcdcd; /* orientation=rt */
  border-bottom: solid 1px #cdcdcd;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .BlockMiddle2 {
  height: 20px; line-height: 20px;
  background: white;
  border: solid 1px #d8d8d8;
  border-right: solid 1px #cdcdcd; /* orientation=lt */
  border-left: solid 1px #cdcdcd; /* orientation=rt */
  border-bottom: solid 1px #cdcdcd;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .BlockMiddle3 {
  height: 20px; line-height: 20px;
  background: white;
  border: solid 1px #d8d8d8;
  border-right: solid 1px #cdcdcd; /* orientation=lt */
  border-left: solid 1px #cdcdcd; /* orientation=rt */
  border-bottom: solid 1px #cdcdcd;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .BlockMiddle4 {
  height: 19px;
  line-height: 19px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .HardDisk {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  margin: 4px 0px 0px 4px; /* orientation=lt */
  margin: 4px 4px 0px 0px; /* orientation=rt */
  width: 10px;
  height: 12px;
  background: url('MacSkin/icons/HardDisk.gif') no-repeat center center;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .InputContainer {
  margin: 0px 20px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .InputContainer input {
  border: solid 0px white;
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  width: 100%;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar input {
  border: solid 0px white;
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  width: 135px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .DropDownButtonBox {
  float: right; /* orientation=lt */
  float: left; /* orientation=rt */
  width: 18px;  height: 16px;
  background-color: white;
  border: solid 1px white;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .DropDownButton {
  cursor: pointer;
  margin: auto;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .UISelectContent {
  border: solid 1px #716f64;
  border-top: none;
  position: absolute;
  height: 150px;
  width: 100%;
  overflow: auto;
  background: white;
  left: -1px; /* orientation=lt */
  right: -1px; /* orientation=rt */
  display: none;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .UISelectContent .AddressItem {
  line-height: 18px;
  margin: 2px;
  cursor: pointer;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .UISelectContent .SelectedAddressItem {
  line-height: 18px;
  margin: 2px;
  cursor: pointer;
  color: white;
  background-color: #316ac5;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .BgLeftAddressBar{
	background: url('MacSkin/background/BgAdressActionBar.gif') no-repeat left top;
	padding-left: 12px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .BgRightAddressBar{
	background: url('MacSkin/background/BgAdressActionBar.gif') no-repeat right -22px;
	padding-right: 12px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .BgCenterAddressBar{
	background: url('MacSkin/background/BgAdressActionBar.gif') repeat-x left -44px;
	height: 22px;
}

/*############################## -- End UIAddressBar -- ##############################*/
/*############################## -- Begin UIActionBar -- ##############################*/

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBar {
  border-bottom: solid 1px #cdcdcd;
  height:50px;
  background:url('MacSkin/background/HeaderBg.gif') repeat-x;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBarAlone {
  border-top: solid 1px #fdfdfd;
  border-bottom: solid 1px #b7b7b7;
  height: 30px;
  background:url('MacSkin/background/HeaderBg.jpg') repeat-x center bottom;
}

.UIJCRExplorerPortlet .UIActionBarAlone .TabsContainer {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBar .ActionLabel {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  line-height: 32px;
  text-align: center;
  font-size: 11px; color: #058ee6;
  width: 90px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBar .ActionBarSeparator {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  height: 31px;
  padding: 0px 4px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBar .ActionComboBox {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  padding: 6px 4px 0px 4px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBar .ActionComboBox select{
  font-size: 11px;
  width: 97px;
  height: 19px;
  padding-left: 5px; /* orientation=lt */
  padding-right: 5px; /* orientation=rt */
}

/* <ECM-1543>
	* minh.js.exo
	* add to manage group icon
	*/

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBar .StoreBoxContentContainer {
  position: relative;
  float: right; /* orientation=lt */
  float: left; /* orientation=rt */
  width: 24px;
  margin: 3px;
  height: 28px;
  display: none;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBar .ShowHideBoxContainer {
	position: absolute;
	background: #f7f7f7;
	border: 1px solid #b7b7b7;
	width: 81px;
	right: 0px; /* orientation=lt */
	left: 0px; /* orientation=rt */
	padding-bottom: 6px;
}

/* </ECM-1543> */

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBar .ActionBg {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  margin: 0px 5px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBar .ActionBg .Icon {
  margin: 3px 3px 0px 3px;
  cursor: pointer;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBar .SwitchSearch {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  margin: 2px 0px 0px 2px; /* orientation=lt */
  margin: 2px 2px 0px 0px; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBar .SearchIcon {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  margin-left: 5px; /* orientation=lt */
  margin-right: 5px; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBar .SavedQueries {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  margin-left: 2px; /* orientation=lt */
  margin-right: 2px; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBar .UISimpleSearch {
  padding: 4px 5px 0px 0px; /* orientation=lt */
  padding: 4px 0px 0px 5px; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBar .UISimpleSearch  .SeparatorLine {
  height: 22px;
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  padding: 0px 5px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBar .UISimpleSearch input {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  width: 200px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBar .UIAdvanceSearch select {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBar .UIAdvanceSearch {
  padding: 4px 5px 0px 0px; /* orientation=lt */
  padding: 4px 0px 0px 5px; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBar .UIAdvanceSearch .AdvanceSearchContainer {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  margin-left: 5px; /* orientation=lt */
  margin-right: 5px; /* orientation=rt */
  width: 300px; height: 20px;
  background: white;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBar .UIAdvanceSearch input {
  width: 270px;
  border: solid 1px white;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBar .UIAdvanceSearch .DropDownButtonBox {
  float: right; /* orientation=lt */
  float: left; /* orientation=rt */
  width: 18px;  height: 18px;
  background-color: white;
  border: solid 1px white;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBar .UIAdvanceSearch .DropDownButton {
  cursor: pointer;
  margin: auto;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBar .UIAdvanceSearch .UISelectContent {
  border: solid 1px #716f64;
  position: absolute;
  height: 100px;
  overflow: auto;
  background: white;
  display: none;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBar .UIAdvanceSearch .UISelectContent .Item {
  white-space: nowrap;
  cursor: pointer;
  margin: 2px 0px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIFormGrid .FieldLabel {
  width: 128px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIFormGrid .UIFormUploadInput .SelectFileFrame {
	width: auto;
}

.UIJCRExplorerPortlet .UIViewBar .ShowSideBarButton {
  width: 24px;	height: 24px;
  background: url('DefaultSkin/icons/ShowSideBarButton.gif') no-repeat bottom;
}

/**************New skin**************/

/*New Search Bar*/

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .TblAddressBar{
	table-layout: fixed;
	width: 99%;
	_width: auto;
	margin: 16px 10px 0px 10px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .IconFileExplorer{
	width: 26px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .Block {
	margin: 4px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .Left {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	_width: 110px; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .Right {
	width: 180px;
	padding: 0px 10px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .Center {
	height: 22px;
	margin-left: 116px; /* orientation=lt */
	margin-right: 116px; /* orientation=rt */
	margin-right: 236px; /* orientation=lt */
	margin-left: 236px; /* orientation=rt */
	line-height:22px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .View {
	height: 22px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .ViewIcon {
	height: 22px;
	width: 26px;
	display: block;
	margin: 0px 1px 0px 0px; /* orientation=lt */
	margin: 0px 0px 0px 1px; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .MoreViewIcon {
	background: url(MacSkin/icons/MoreViewIcon.gif) no-repeat;
	width: 13px;
	height: 21px;
	margin-left: 2px; /* orientation=lt */
	margin-right: 2px; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .DetailMoreViewIcon {
	width: 17px;
}


.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .MoreViewIconSelected {
	background: url(DefaultSkin/background/MoreViewIconSelected.gif) no-repeat;
	width: 12px;
	height: 21px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .ExtendedView {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  position: relative;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .ListExtendedView {
  position: absolute;
  background: #f7f7f7;
  border: 1px solid #b7b7b7;
  padding: 5px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .DefaultView {
	background: url(DefaultSkin/background/DefaultView.gif) no-repeat;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .Block .BackAndRefreshBlock {
  margin-left: 3px; /* orientation=lt */
  margin-right: 3px; /* orientation=rt */
  _width: 55px; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .DefaultViewSelected {
	background: url(DefaultSkin/background/DefaultViewSelected.gif) no-repeat;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .icon-view{
	background: url(MacSkin/icons/IconView.gif) no-repeat;
}


.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .icon-view-selected{
	background: url(MacSkin/icons/IconViewSelected.gif) no-repeat;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .admin-view{
	background: url(MacSkin/icons/DetailView.gif) no-repeat; /* orientation=lt */
	background: url(MacSkin/icons/DetailView-rt.gif) no-repeat; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .admin-view-selected{
	background: url(MacSkin/icons/DetailViewSelected.gif) no-repeat; /* orientation=lt */
	background: url(MacSkin/icons/DetailViewSelected-rt.gif) no-repeat; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .simple-view{
	background: url(MacSkin/icons/ThumbnailView.gif) no-repeat; /* orientation=lt */
	background: url(MacSkin/icons/ThumbnailView-rt.gif) no-repeat; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .simple-view-selected{
	background: url(MacSkin/icons/ThumbnailViewSelected.gif) no-repeat; /* orientation=lt */
	background: url(MacSkin/icons/ThumbnailViewSelected-rt.gif) no-repeat; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .cover-flow{
	background: url(MacSkin/icons/CoverflowView.gif) no-repeat;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .cover-flow-selected{
	background: url(MacSkin/icons/CoverflowViewSelected.gif) no-repeat;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .BackBtn {
	background: url(MacSkin/icons/BackBtn.gif) no-repeat left center; /* orientation=lt */
	background: url(MacSkin/icons/BackBtn-rt.gif) no-repeat right center; /* orientation=rt */
	height: 21px;
	padding-left: 25px; /* orientation=lt */
	padding-right: 25px; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .Center .SearchTxtField {
	height: 20px;
	border: 1px solid #ccc;
	background: #fff;
	width: 100%;
}

.UIJCRExplorerPortlet .Center .SearchTxtField .HddIco {
	background: url(DefaultSkin/background/DirIco.jpg) no-repeat;
	height: 14px;
	line-height: 14px;
	padding-left: 22px; /* orientation=lt */
	padding-right: 22px; /* orientation=rt */
	margin: 3px 4px;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
}

.UIJCRExplorerPortlet .Center .SearchTxtField .DropDownBtn {
	background: url(DefaultSkin/background/DropDownBtn.jpg) no-repeat;
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	height: 15px;
	width: 18px;
	margin: 3px 4px;
}

.UIJCRExplorerPortlet .Center .SearchTxtField .Path {
	margin: 3px 24px 18px;
	line-height: 15px;
}

.UIJCRExplorerPortlet .UIAddressBar .Right .SearchSetting {
	width: 51px;
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIAddressBar .Right .SearchSetting .SearchAdvanceBtn{
	background: url(MacSkin/icons/SearchAdvance.gif) no-repeat;
	width: 20px;
	height: 22px;
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIAddressBar .Right .SearchSetting .SearchSettingBtn{
	background: url(MacSkin/icons/SearchSetting.gif) no-repeat;
	width: 22px;
	height: 22px;
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
}

.UIJCRExplorerPortlet .Right .Advance {
	height: 19px;
	width: 165px;
	padding-top: 2px;
}

.UIJCRExplorerPortlet .Right .Advance .SearchBtn {
	background: url(MacSkin/icons/SearchBtn.gif) no-repeat;
	width: 18px;
	height: 16px;
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	margin-top: 2px;
	margin-right: 2px; /* orientation=lt */
	margin-left: 2px; /* orientation=rt */
}

.UIJCRExplorerPortlet  .UIActionBar  {
	background: #b7b7b7;
	height: 57px;
}

.UIJCRExplorerPortlet  .UIActionBar .MenuItemContainer{
	padding: 0px 10px;
}

.UIJCRExplorerPortlet  .UIActionBar  .UIHorizontalTabs .TabsContainer {
	height: auto;
  border-bottom-width: 0px;
}

.UIJCRExplorerPortlet  .UIActionBar  .UITab {
	padding: 0px 5px;
}

.UIJCRExplorerPortlet .UIActionBar .SelectedActionBarTab  .TabL {
	background: url(MacSkin/background/TabSelect.gif) no-repeat left 0px;
	padding-left: 3px;
}

.UIJCRExplorerPortlet .UIActionBar .SelectedActionBarTab  .TabR {
	background: url(MacSkin/background/TabSelect.gif) no-repeat right -25px;
	padding-right: 3px;
}

.UIJCRExplorerPortlet .UIActionBar .SelectedActionBarTab  .TabM {
	background: url(MacSkin/background/TabSelect.gif) repeat-x left -50px;
	height: 25px;
	padding: 0px 10px;
	text-align: center;
  line-height: 25px;
}

.UIJCRExplorerPortlet .UIActionBar .SubTabItem {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIActionBar .SubTabItem a:hover{
	color: blue;
}

.UIJCRExplorerPortlet .UIActionBar .TabLabel {
	line-height: 24px;
	color: #333;
	font-weight: bold;
}

.UIJCRExplorerPortlet .UIActionBar .SubTabIcon{
	line-height: 16px;
	padding: 0px 15px 0px 27px; /* orientation=lt */
	padding: 0px 27px 0px 15px; /* orientation=rt */
	display: block;
	white-space: nowrap;
}

.UIJCRExplorerPortlet .UIActionBar .AddIcon{
	background: url(DefaultSkin/background/AddNewBtn.jpg) no-repeat;
	height: 18px;
}

.UIJCRExplorerPortlet .UIActionBar .DocumentIcon{
	background: url(DefaultSkin/background/NewDocument.jpg) no-repeat;
	height: 18px;
}

.UIJCRExplorerPortlet .UIActionBar .TransferIcon{
	background: url(DefaultSkin/background/TransferDoc.jpg) no-repeat;
	height: 18px;
}

.UIJCRExplorerPortlet .UIActionBar .SubTabItemL{
	background: url(DefaultSkin/background/SelectedTabL.jpg) no-repeat left;
	padding-left: 4px;
}

.UIJCRExplorerPortlet .UIActionBar .SubTabItemR{
	background: url(DefaultSkin/background/SelectedTabR.jpg) no-repeat right;
	padding-right: 4px;
}

.UIJCRExplorerPortlet .UIActionBar .SubTabItemM{
	background: url(DefaultSkin/background/SelectedTabBg.jpg) repeat-x;
	height: 21px;
	padding: 3px 3px 0px;
}

.UIJCRExplorerPortlet .UIActionBar .NormalSubItem{
	padding-top: 2px;
}

.UIJCRExplorerPortlet .UIActionBar .SelectedSubItem{
	padding: 5px;
}

.UIJCRExplorerPortlet .UIActionBar .SelectedActionBarTab  a{
	color: #d56e00;
}

.UIJCRExplorerPortlet .NormalSubItem,.SubTabItemM a{
	font-weight:normal;
}

.UIJCRExplorerPortlet .ShowElementIcon {
	background: url(DefaultSkin/icons/NormalButton.gif) no-repeat right center; /* orientation=lt */
	background: url(DefaultSkin/icons/NormalButton.gif) no-repeat left center; /* orientation=rt */
	width:24px;
	height:22px;
	display:block;
	margin-top: 2px;
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
}

.UIJCRExplorerPortlet .ShowElementIcon:hover {
	background: url(DefaultSkin/icons/HoverButton.gif) no-repeat;
}


.UIViewBarContainer {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	padding-top: 2px;
	width:70px;
}

.ListHideContainer {
	background: #f7f7f7;
	border:solid 1px #b7b7b7;
	position:absolute;
}

.DMSMenuItemContainer {
	display: block;
	left: 0px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBar .CleanRTL{
	clear:left;  /* orientation=lt */
	clear: right;  /* orientation=rt */
}