/**
 * Created by The eXo Platform SARL
 * Author : Tran The Trong
 *          trongtt@gmail.com
 * August 01, 2006
 * version: $Id$
 */

@import url("../../../icons/DefaultStylesheet.css");
@import url("control/DefaultStylesheet.css");
@import url("sidebar/DefaultStylesheet.css");
@import url("UIPopupAction/DefaultStylesheet.css");
@import url("UIDrivesBrowser/DefaultStylesheet.css");
@import url("UIJCRExplorer/DefaultStylesheet.css");

.UIPageDesktop .UIJCRExplorerPortlet {
  overflow: hidden;
}

.UIWindow .UIJCRExplorerPortlet {
	border: none;
	margin: auto;
}

.UIJCRExplorerPortlet {
	overflow: hidden; /* orientation=rt */
	background: white;
    padding: 9px;
}

.UIJCRExplorerPortlet .LeftCotainer {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 240px;
}

.UIJCRExplorerPortlet .RightCotainer {
	margin-left: 224px; /* orientation=lt */
	margin-right: 224px; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIFormGrid {
	width: 100%;
}

.UIJCRExplorerPortlet .UIPreferencesForm {
  width: 550px;
  border: none;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIPageIterator {
	width: auto;
	padding-right: 10px; /* orientation=lt */
	padding-left: 10px; /* orientation=rt */
	margin: 0px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.UIJCRExplorerPortlet .UITabPane .UIFormWithTitle .HorizontalLayout {
	border: 1px solid #b7b7b7;
	border-top: none;
}

.UIJCRExplorer .UIPreferencesForm .UIFormGrid .FieldLabel {
  width: auto;
  text-align: left;
}

.UIVersionTreeList {
  margin: 6px 0px 16px 0px;
}

.UIVersionTreeList .UITrees {
	border: none;
}

.UIVersionTreeList .ItemIcon {
  width: 16px; height: 16px;
  margin: 3px auto 0px;
}

.UIVersionTreeList .UIGrid .EvenRow {
  background: #F5F5F5;
}

.UIVersionTreeList .UIGrid .OddRow {
  background: #F0F0F0;
}

.UIVersionTreeList .UIGrid td {
  padding: 0px 0px 0px 7px;
}

.UIVersionTreeList .UITrees .Node {
  padding-top: 0px;
  height: 23px;
}

.UIVersionTreeList .UIGrid .FieldLabel {
  width: 100px;
}

.UIVersionTreeList .UIGrid .SelectRow {
  background: #cedeed;
  font-weight: bold;
}

.UIVersionTreeList .UITrees .Node .ExpandIcon {
  height: 20px;
  background-position: left bottom; /* orientation=lt */
  background-position: right bottom; /* orientation=rt */
  line-height: 24px;
}

.UIVersionTreeList .UITrees .Node .CollapseIcon {
  height: 20px;
  background-position: left bottom; /* orientation=lt */
  background-position: right bottom; /* orientation=rt */
  line-height: 24px;
}

.UIPublicationContainer .State input.radio {
	margin: 0px 7px;
}

.UIPublicationContainer .UIFormGrid .FieldLabel {
  width: 100px;
  padding: 6px 6px 6px 16px;
  text-align: left; /* orientation=lt */
  text-align: right; /* orientation=rt */
}

/*******************************UIDocumentForm****************************************/
.UIDialogAction {
	background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #E1E1E1;
    height: 21px;
    margin-bottom: 10px;
}

.UIDialogTitle {
	float: left; 
	margin: 5px 10px;
}

/*******************************UIDocumentFormController****************************************/

.UIDocumentFormController {
}

.ChangeTypeLink {
	color: #058EE6;
    text-decoration: underline;
    cursor: pointer;
}

.SelectTemplateTitle {
	color: #666666;
	font-weight: bold;
	line-height: 24px;	
	margin-top: 10px;
}

.ChangeThumbnailViewIcon {
	float: right; 
	width: 23px; 
	height: 21px; 
	background: url('/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/IconView.gif');
	cursor: pointer;
}

.SelectedThumbnailViewIcon {
	float: right; 
	width: 23px; 
	height: 21px; 
	background: url('/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/IconViewSelected.gif');
	cursor: pointer;
}

.ChangeListViewIcon {
	float: right; 
	width: 23px; 
	height: 21px; 
	background: url('/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/DetailView.gif');
	cursor: pointer;
}

.SelectedListViewIcon {
	float: right; 
	width: 23px; 
	height: 21px; 
	background: url('/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/DetailViewSelected.gif');
	cursor: pointer;
}

.SelectTemplateArea{
	width:100%;
}

.SelectTemplateArea a{
	text-decoration:none;
	color: #0467E2;
}

.SelectTemplateArea a:hover{
	text-decoration:underline;
}

.SelectTemplateThumbnailView {
	overflow-x:hidden;
	overflow-y:auto;
}

.SelectTemplateArea .TemplateBox {
	padding-top: 4px; 
	padding-right: 0px; 
	padding-bottom: 4px; 
	padding-left: 0px; 
	height: auto; 
	width: 100px; 
	float: left; 
	margin: 5px; 
	overflow: hidden;
}

.SelectTemplateArea .TemplateIconContainer {
	width: 75px; 
	height: 83px; 
	margin: 9px auto 0px auto;
}

.SelectTemplateArea .TemplateIcon {
	width: 70px; 
	height: 80px; 
	margin: auto; 
	cursor: pointer; 
}

.SelectTemplateArea .TemplateLabel {
	width: auto; 
	line-height: 15px; 
	margin: auto; 
	height: 30px; 
	text-align: center;
}

.EditFormController {
	padding: 10px;
}

.UIShowAllFavouriteResult .UICursorPointer {
  cursor: pointer;
}

.UINodeTypeList {
  padding: 10px;
}

.UINodeTypeSearh {
		padding-bottom: 5px;
}

.UINodeTypeSearh .UIBarStyle .FieldLabel {
  padding: 0px 0px 0px 25px;
}

.UINodeTypeSearh .UIBarStyle .GroupInput {
  padding: 0pt 5px;
}

.UINodeTypeSearh .UIBarStyle .SearchIcon {
		background: transparent url(/ecmexplorer/skin/icons/24x24/DefaultSkin/Search.gif) no-repeat scroll left center;
		height: 24px;
		width: 24px;
		padding: 10px;
}

.UIJCRExplorer .MultiValueContainerShow {
		padding-bottom: 5px;
		vertical-align: bottom;
}

.UIJCRExplorer .AllDocument {
		height: 38px;
		line-height: 38px;
		margin: 5px 0px 5px 0px;
		border: 1px solid #B7B7B7;
		background: #FBFBFB none repeat scroll 0 0;
		padding-top: 5px;
}

.UIPreferencesForm .HorizontalLayout {
  background:none repeat scroll 0 0 #F7F7F7;
  border-color:-moz-use-text-color #E3E2E2 #E3E2E2;
  border-right:1px solid #E3E2E2;
  border-style:none solid solid;
  border-width:medium 1px 1px;
}
.UIPreferencesForm .HorizontalLayout {
  background:none repeat scroll 0 0 #F7F7F7;
  border:1px solid #AEAEAE;
  padding:10px;
}
.UIPreferencesForm .UIFormGrid td.FieldLabel {
  padding:4px;
  text-align:right;
  vertical-align:top;
}
.UIPreferencesForm .UIFormGrid td.FieldComponent {
  padding:4px;
}
.UIPreferencesForm .UIFormGrid a.AdvancePreferences {
  color:#1111CC;
  text-align:right;
  text-decoration:underline;
}
.UIPreferencesForm .HorizontalLayout input.checkbox {
  margin:0;
  width:16px;
}
.UIPreferencesForm .HorizontalLayout input {
  font-size:11px;
  width:235px;
}
.UIPreferencesForm .HorizontalLayout select {
  font-size:11px;
  width:100px;
}
.SelectTemplateThumbnailView .SelectTemplateTitle .SelectedThumbnailViewIcon {
  background-position: center center;
  background-repeat: no-repeat;
  height: 25px;
  width: 28px;
}

.SelectTemplateThumbnailView .SelectTemplateTitle .SelectedListViewIcon {
  background-position: center center;
  background-repeat: no-repeat;
  height: 25px;
  width: 28px;
}

.SelectTemplateThumbnailView .SelectTemplateTitle .ChangeThumbnailViewIcon {
  background-position: center center;
  background-repeat: no-repeat;
  height: 25px;
  width: 28px;
}

.SelectTemplateThumbnailView .SelectTemplateTitle .ChangeListViewIcon {
  background-position: center center;
  background-repeat: no-repeat;
  height: 25px;
  width: 28px;
}