/**
 * Created by The eXo Platform SARL
 * Author : Tran The Trong
 *          trongtt@gmail.com
 * August 01, 2006
 * version: $Id$
 */

@import url("../../../icons/DefaultStylesheet.css");

.UIPageDesktop .UIDialogPortlet {
  overflow: hidden;
}

.UIWindow .UIFastContentCreatorPortlet {
	border: none;
	margin: auto;
	border: none;
}

.UIFastContentCreatorPortlet {
	background: white;
	border: 1px solid #b7b7b7;
	margin: 5px;
	padding: 10px ;
}

.UIFastContentCreatorPortlet .UIFormGrid {
	width: 100%;
}

.UIFastContentCreatorPortlet .MsgLable {
	text-align: center;
	line-height: 40px;
	color: #E80C00;
	border: 1px solid red;
}

.UIFastContentCreatorPortlet .UITabPane .TabPaneContent {
  width: 500px;
  margin: auto;
}

.UIFastContentCreatorPortlet .UIFormGrid .FieldLabel {
	width: 160px;
}

.UIFastContentCreatorPortlet .UIEditModeConfiguration {
  margin: 10px auto;
  width: 600px;
}

.UIFastContentCreatorPortlet .MultiValueContainer a  {
  margin: 0px 5px;
}

.UIFastContentCreatorPortlet .UIFormUploadInput .ProgressBarFrame { 
	width: 330px;
	overflow: hidden;
	margin: 0px;
}

.UIFastContentCreatorPortlet .UIFormUploadInput .SelectFileFrame { 
	width: 330px;
	overflow: hidden;
	margin: 0px;
}

.UIFastContentCreatorPortlet .UIFormUploadInput  .FileNameLabel {
	width: auto;	
}

.UIFastContentCreatorPortlet .UIEditModeConfiguration .HorizontalLayout .UIFormInputSet .AddIcon16x16{
	margin-left: 5px;
	float: none;
}

.UIFastContentCreatorPortlet .UIEditModeConfiguration .FieldComponent .actionInput .FieldComponent {
	padding: 4px 0px;
}

.UIFastContentCreatorPortlet .UIEditModeConfiguration .HorizontalLayout .FormContainer {
	width: 555px;
	margin: auto;
}

.UIFastContentCreatorPortlet .UIEditModeConfiguration .HorizontalLayout .UIFormInputSet {
	margin: auto;
	padding: 0px;
	width: 100%;
}

.UIFastContentCreatorPortlet .UIEditModeConfiguration .FieldComponent .actionInput {
	width: 100%;
	padding: 0px;
}

.UIFastContentCreatorPortlet .UIEditModeConfiguration .UIForm .HorizontalLayout input {
	width: 235px;
}

.UIFastContentCreatorPortlet .UIForm td.FieldComponent {
  padding: 4px 0px;
}

.UIFastContentCreatorPortlet .UIForm .rootNodeInfo td.FieldComponent {
	padding: 0px;
}

.UIFastContentCreatorPortlet .UIOneNodePathSelector .rootNodeInfo .UIFormInputSet {
	padding: 0px;
}

.UIFastContentCreatorPortlet .UIFormInputSet .UIFormInputSetWithAction .UIFormGrid td.FieldLabel {
  padding: 0px 4px 0px 4px;
  vertical-align: middle;
}

.UITrees .Node .NodeIconLink {
	background-position: left top;
	font-weight: bold;
	height:  16px;
	padding-left: 11px;
	width: 20px;
}

.UIOneNodePathSelector .LinkSmall {
	background: url('MacSkin/background/LinkSmall.gif') no-repeat left bottom;
  width: 20px;
  height: 15px;
  padding-left: 12px;
  right: 0;
  bottom: 0;
}

.UIOneTaxonomySelector .LinkSmall {
	background: url('MacSkin/background/LinkSmall.gif') no-repeat left bottom;
  width: 20px;
  height: 15px;
  padding-left: 12px;
  right: 0;
  bottom: 0;
}