.UIJCRBrowser {
	padding: 10px;
}

.ExplorerTree {
  float: left ; /* orientation=lt */
  float: right ; /* orientation=rt */
  width: 230px ;
  background: #f3f3f3;
}

.ExplorerTree .InnerExplorerTree {
  border: solid 1px #b1b0b0;
  padding: 10px;
}

.UITreeList {
  margin-left: 240px; /* orientation=lt */
  margin-right: 240px; /* orientation=rt */
}

.UITreeList table {
	*width: 94%;
}

.UITreeList table .Icon16x16 {
	float: none;
	margin: 5px;
}

.Select16x16Icon {
 width: 16px; height: 16px;
 background-image: url('images/SelectPage.gif');
 cursor: pointer;
}

.UITreeList .Text {
  background-position: left top; /* orientation=lt */
  background-position: right top; /* orientation=rt */
	padding-left: 24px; /* orientation=lt */
	padding-right: 24px; /* orientation=rt */
	width: 100%;
}
.UITreeList .Truncated {
  overflow:hidden;
}
.UITreeList .TextSymLink {
  background-position: left top; /* orientation=lt */
  background-position: right top; /* orientation=rt */
	padding-left: 14px; /* orientation=lt */
	padding-right: 24px; /* orientation=rt */
}

.UIOneNodePathSelector {
	padding: 10px;
}

.UICategoriesSelector .UITabPane .TabPaneContent {
  overflow: hidden;
  padding: 8px;
}

.UICategoriesSelector .ExplorerTree {
  float: left ; /* orientation=lt */
  float: right ; /* orientation=rt */
  width: 230px ;
  background: #f3f3f3;
  margin: 10px;
}

.UICategoriesSelector .UIBreadcumbs {
	padding: 10px 10px 0px 10px;
}

.UICategoriesSelector .UISelectedCategoriesGrid {
	padding: 10px 10px 0px 10px;
}

.UICategoriesSelector .UICategoriesSelectPanel {
	padding: 10px 10px 0px 250px; /* orientation=lt */
	padding: 10px 250px 0px 10px; /* orientation=rt */
}

.UIOneNodePathSelector .UIBreadcumbs {
	padding-bottom: 10px;
}

.UITaxonomyManager .UIBreadcumbs {
	padding-bottom: 10px;
}

.UIJCRExplorer .UIDocumentWorkspace .UITabPane .UITabContent a:link {
    color: #2200C1;
    cursor: pointer;
    text-decoration: none;
}

.UIJCRExplorer .UIDocumentWorkspace .UITabPane .UITabContent a:visited {
    color: #800080;
    text-decoration: none;
}

.UIJCRExplorer .UIDocumentWorkspace .UITabPane .UITabContent a:hover {
    color: #2200C1;
    cursor: pointer;    
    text-decoration: underline;
}

.UIJCRExplorer .UIDocumentWorkspace .UITabPane .UITabContent a:active {
    color: #2200C1;
    cursor: pointer;
    text-decoration: underline;
}
