/**
  RTL skin for nt:file template
*/
.FileContent {  
	padding: 10px;
	color: #0e396c;
}

.FileContent .NavigationContainer {  
	padding-bottom: 5px;
	background: url('/eXoWCMResources/skin/images/file/TitleBG1x21.gif') repeat-x top;
	border: 1px solid #cbcbcb;
}

.FileContent .TopTitle {  
	padding-left: 10px;
	height: 22px; line-height: 22px;
	color: #058ee6; font-weight: bold; 
	overflow: hidden;
}

.FileContent .ECMIframe {
	border: 1px solid #cbcbcb; 
	height: 100%;
	overflow: auto;
	width: 93%;
	margin: 5px;
	background: white;
}

.FileContent .ECMIframe body {
	font-size: 13px;
}

.FileContent .Content {  
	white-space: normal;
	padding: 10px;
}

.FileContent .Content .TextContent {  
	overflow: auto;
	height: 100%;
	margin: auto;
	width: 89%;
	padding: 10px;
	border: 1px solid #b7b7b7;
}

.FileContent .Content .TextContent pre {  
	white-space: normal;
}

.FileContent .ContentDetail {  
	text-align: center;
	overflow: visible;
	padding: 15px 0px;
}
	
.FileContent .UIVoteForm {
	padding: 0px;
}

.FileContent .UIRatingInfoContainer {
	margin:0px 0px 0px auto;
}

.FileContent p a {
	color: #058EE6;
	text-decoration: underline;
}
