/**
 * Created by The eXo Platform SARL
 * Author : Luong Trung Hieu
 *          hieu2b1@yahoo.com
 * May 14, 2007
 * version: $Id$
 */

@import url("../../../icons/VistaStylesheet.css");

.UIPageDesktop .UIDialogPortlet {
  overflow: hidden;
}

.UIWindow .UIFastContentCreatorPortlet {
	border: none;
	margin: auto;
	border: none;
}

.UIFastContentCreatorPortlet {
	background: white;
	border: 1px solid #b7b7b7;
	margin: 5px;
}

.UIFastContentCreatorPortlet .UIFormGrid {
	width: 100%;
}

.UIFastContentCreatorPortlet .MsgLable {
	text-align: center;
	line-height: 60px;
	color: #E80C00;
}

.UIFastContentCreatorPortlet .UITabPane .TabPaneContent {
  width: 500px;
  margin: auto;
}

.UIFastContentCreatorPortlet .UITabPane {
  padding: 10px 0px 20px 0px;
}

.UIFastContentCreatorPortlet .UIFormWithTitle {
  border: 1px solid #e1e1e1;
  width: 650px;
  margin: 10px auto ;
}

.UIFastContentCreatorPortlet .UIFormWithTitle .HorizontalLayout {
  padding-bottom: 10px;
}

.UIFastContentCreatorPortlet .UIFormGrid .FieldLabel {
	width: 160px;
}

.UIFastContentCreatorPortlet .UIEditModeConfiguration .UIFormWithTitle  {
  border: none;
}

.UIFastContentCreatorPortlet .UIEditModeConfiguration .UIFormWithTitle .HorizontalLayout {
  width: 500px;
  margin: auto;
  padding-top: 10px;
}

.UIFastContentCreatorPortlet .UIFormInputSet .UIFormInputSetWithAction .UIFormGrid td.FieldLabel {
  padding: 0px 4px;
  vertical-align: middle;
}

.UIFastContentCreatorPortlet .UIForm td.FieldComponent {
  padding: 4px 0px;
}

.UIFastContentCreatorPortlet .UIForm .rootNodeInfo td.FieldComponent {
	padding: 0px;
}

.UIFastContentCreatorPortlet .UIEditModeConfiguration {
  margin: 10px auto;
  width: 600px;
}

.UIFastContentCreatorPortlet .UIEditModeConfiguration .UIFormWithTitle  {
  border: none;
}

.UIFastContentCreatorPortlet .UIForm .HorizontalLayout {
  padding-top: 10px;
}

.UIFastContentCreatorPortlet .UITabPane .UIForm .HorizontalLayout {
  padding-top: 0px;
}

.UIFastContentCreatorPortlet .UIOneNodePathSelector .UIFormWithTitle {
	padding: 0px;
	width: auto;
}

.UIFastContentCreatorPortlet .UIOneNodePathSelector .UITrees .Node {
  line-height: 24px;
}

.UIFastContentCreatorPortlet .UIEditModeDocumentType {
  padding-bottom: 3px; 
}

.UIFastContentCreatorPortlet .TabPaneContent .UIFormWithTitle {
  width: auto;
  border: solid 1px #939393;
  border-top: none;
}

.UIFastContentCreatorPortlet .TabPaneContent {
  margin: 5px;
}

.UIFastContentCreatorPortlet .FieldContainer .MultiValueContainer .AddNewNodeIcon  {
  float: left;
  margin: 3px 5px 0px 5px;
}

.UIFastContentCreatorPortlet .UIFormUploadInput .ProgressBarFrame { 
	width: 330px;
	overflow: hidden;
	margin: 0px;
}

.UIFastContentCreatorPortlet .UIFormUploadInput .SelectFileFrame { 
	width: 330px;
	overflow: hidden;
	margin: 0px;
}

.UIFastContentCreatorPortlet .UIFormUploadInput  .FileNameLabel {
	padding: 0px;
	width: auto;
}

.UIFastContentCreatorPortlet .UIFormUploadInput  .ProgressBar {
	margin: 0px;
}

.UIFastContentCreatorPortlet .rootNodeInfo .UIFormInputSet .FormContainer {
	padding: 0px;
}

.UIFastContentCreatorPortlet .UIEditModeConfiguration .UIFormGrid .AddIcon16x16 {
	float: none;
}

.UIFastContentCreatorPortlet .UIEditModeConfiguration .HorizontalLayout .FormContainer {
	width: 555px;
	margin: auto;
}

.UIFastContentCreatorPortlet .UIEditModeConfiguration .HorizontalLayout .UIFormInputSet {
	margin: auto;
	padding: 0px;
	width: 555px;
}

.UIFastContentCreatorPortlet .UIEditModeConfiguration .FieldComponent .actionInput {
	width: 555px;
	padding: 0px;
}
