.default70x80Icon {
  width: 70px; height: 80px;
  background: url('icons/default.png') no-repeat;  
  cursor: pointer;
}

.exo_article70x80Icon {
  width: 70px; height: 80px;
  background: url('icons/exo_article.png') no-repeat;  
  cursor: pointer;
}

.exo_accessibleMedia70x80Icon {
  width: 70px; height: 80px;
  background: url('icons/exo_accessibleMedia.png') no-repeat;  
  cursor: pointer;
}

.exo_contact_us70x80Icon {
  width: 70px; height: 80px;
  background: url('icons/exo_contact_us.png') no-repeat;  
  cursor: pointer;
}

.exo_cssFile70x80Icon {
  width: 70px; height: 80px;
  background: url('icons/exo_cssFile.png') no-repeat;  
  cursor: pointer;
}

.exo_event70x80Icon {
  width: 70px; height: 80px;
  background: url('icons/exo_event.png') no-repeat;  
  cursor: pointer;
}

.exo_htmlFile70x80Icon {
  width: 70px; height: 80px;
  background: url('icons/exo_contact_us.png') no-repeat;  
  cursor: pointer;
}

.exo_jsFile70x80Icon {
  width: 70px; height: 80px;
  background: url('icons/exo_jsFile.png') no-repeat;  
  cursor: pointer;
}

.exo_link70x80Icon {
  width: 70px; height: 80px;
  background: url('icons/exo_link.png') no-repeat;  
  cursor: pointer;
}

.exo_pictureOnHeadWebcontent70x80Icon {
  width: 70px; height: 80px;
  background: url('icons/exo_pictureOnHeadWebcontent.png') no-repeat;  
  cursor: pointer;
}

.exo_podcast70x80Icon {
  width: 70px; height: 80px;
  background: url('icons/exo_podcast.png') no-repeat;  
  cursor: pointer;
}

.exo_sample70x80Icon {
  width: 70px; height: 80px;
  background: url('icons/exo_sample.png') no-repeat;  
  cursor: pointer;
}

.exo_siteBreadcrumb70x80Icon {
  width: 70px; height: 80px;
  background: url('icons/exo_siteBreadcrumb.png') no-repeat;  
  cursor: pointer;
}

.exo_siteNavigationWebContent70x80Icon {
  width: 70px; height: 80px;
  background: url('icons/exo_siteNavigationWebContent.png') no-repeat;  
  cursor: pointer;
}

.exo_siteSearchBox70x80Icon {
  width: 70px; height: 80px;
  background: url('icons/exo_siteSearchBox.png') no-repeat;  
  cursor: pointer;
}

.exo_webContent70x80Icon {
  width: 70px; height: 80px;
  background: url('icons/exo_webContent.png') no-repeat;  
  cursor: pointer;
}

.kfx_document70x80Icon {
  width: 70px; height: 80px;
  background: url('icons/kfx_document.png') no-repeat;  
  cursor: pointer;
}

.nt_file70x80Icon {
  width: 70px; height: 80px;
  background: url('icons/nt_file.png') no-repeat;  
  cursor: pointer;
}

.rma_filePlan70x80Icon {
  width: 70px; height: 80px;
  background: url('icons/rma_filePlan.png') no-repeat;  
  cursor: pointer;
}