.default70x80Icon {
  width: 70px; height: 80px;
  background: url('icons/default.jpg') no-repeat;  
  cursor: pointer;
}

.exo_article70x80Icon {
  width: 70px; height: 80px;
  background: url('icons/exo_article.jpg') no-repeat;  
  cursor: pointer;
}

.exo_webContent70x80Icon {
  width: 70px; height: 80px;
  background: url('icons/exo_webContent.jpg') no-repeat;  
  cursor: pointer;
}

.exo_contact_us70x80Icon {
  width: 70px; height: 80px;
  background: url('icons/exo_contact_us.jpg') no-repeat;  
  cursor: pointer;
}

