/**
 * Created by The eXo Platform SARL
 * Modif : Tran The Trong
 *          trongtt@gmail.com
 * March 14, 2007
 * version: $Id$
 */
 
/*************************** NodeType Icon ***********************/

.ItemIcon16x16 { 
 	float: left; /* orientation=lt */
 	float: right; /* orientation=rt */
 	margin-top: 0px;
 	margin-left: 4px; /* orientation=lt */
 	margin-right: 4px; /* orientation=rt */
 	width: 16px;
 	height: 16px;
}

.CBDefaultFolder16x16Icon {
  background: url('icons/NodeTypes/DefaultFolderIcon.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/DefaultFolderIcon.gif') no-repeat right center; /* orientation=rt */
}

.SelectFolder16x16Icon  {
  background: url('icons/NodeTypes/SmallSelectFolderIcon.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/SmallSelectFolderIcon.gif') no-repeat right center; /* orientation=rt */
}

.NormalFolder16x16Icon  {
  background: url('icons/NodeTypes/SmallNormalFolderIcon.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/SmallNormalFolderIcon.gif') no-repeat right center; /* orientation=rt */
}

.CBDefaultDocument16x16Icon {
  background: url('icons/NodeTypes/DefaultDocumentIcon.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/DefaultDocumentIcon.gif') no-repeat right center; /* orientation=rt */
}

.default16x16Icon {
  background: url('icons/NodeTypes/default.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/default.gif') no-repeat right center; /* orientation=rt */
  width: 16px; height: 16px;
}

.dc_elementSet16x16Icon {
  background: url('icons/NodeTypes/dc-elementSet.gif') no-repeat left center; /* orientation=lt */  
  background: url('icons/NodeTypes/dc-elementSet.gif') no-repeat right center; /* orientation=rt */  
}

.exo_sample16x16Icon {
  background: url('icons/NodeTypes/default.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/default.gif') no-repeat right center; /* orientation=rt */
}

.exo_accessControllable16x16Icon {
  background: url('icons/NodeTypes/exo-accessControllable.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/exo-accessControllable.gif') no-repeat right center; /* orientation=rt */
}

.exo_action16x16Icon {
  background: url('icons/NodeTypes/exo-action.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/exo-action.gif') no-repeat right center; /* orientation=rt */
}

.exo_actionable16x16Icon {
  background: url('icons/NodeTypes/exo-actionable.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/exo-actionable.gif') no-repeat right center; /* orientation=rt */
}

.exo_article16x16Icon {
  background: url('icons/NodeTypes/exo-article.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/exo-article.gif') no-repeat right center; /* orientation=rt */
}

.exo_accessibleMedia16x16Icon {
  background: url('icons/NodeTypes/exo-accessibleMedia.png') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/exo-accessibleMedia.png') no-repeat right center; /* orientation=rt */
}

.exo_article_reference16x16Icon {
  background: url('icons/NodeTypes/exo-article-reference.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/exo-article-reference.gif') no-repeat right center; /* orientation=rt */
}

.exo_backupAction16x16Icon {
  background: url('icons/NodeTypes/exo-backupAction.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/exo-backupAction.gif') no-repeat right center; /* orientation=rt */
}

.exo_businessProcessAction16x16Icon {
  background: url('icons/NodeTypes/exo-businessProcessAction.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/exo-businessProcessAction.gif') no-repeat right center; /* orientation=rt */
}

.exo_categorized16x16Icon {
  background: url('icons/NodeTypes/exo-categorized.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/exo-categorized.gif') no-repeat right center; /* orientation=rt */
}

.exo_mockNodeType16x16Icon {
  background: url('icons/NodeTypes/exo-mockNodeType.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/exo-mockNodeType.gif') no-repeat right center; /* orientation=rt */
}

.exo_move16x16Icon {
  background: url('icons/NodeTypes/exo-move.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/exo-move.gif') no-repeat right center; /* orientation=rt */
}

.exo_namespace16x16Icon {
  background: url('icons/NodeTypes/exo-namespace.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/exo-namespace.gif') no-repeat right center; /* orientation=rt */
}

.exo_published16x16Icon {
  background: url('icons/NodeTypes/exo-published.gif') no-repeat left center; /* orientation=lt */  
  background: url('icons/NodeTypes/exo-published.gif') no-repeat right center; /* orientation=rt */  
}

.exo_relationable16x16Icon {
  background: url('icons/NodeTypes/exo-relationable.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/exo-relationable.gif') no-repeat right center; /* orientation=rt */
}

.exo_ruleAction16x16Icon {
  background: url('icons/NodeTypes/exo-ruleAction.gif') no-repeat left center; /* orientation=lt */ 
  background: url('icons/NodeTypes/exo-ruleAction.gif') no-repeat right center; /* orientation=rt */ 
}

.exo_scriptAction16x16Icon {
  background: url('icons/NodeTypes/exo-scriptAction.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/exo-scriptAction.gif') no-repeat right center; /* orientation=rt */  
}

.exo_sendMailAction16x16Icon {
  background: url('icons/NodeTypes/exo-sendMailAction.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/exo-sendMailAction.gif') no-repeat right center; /* orientation=rt */
}

.exo_tab16x16Icon {
  background: url('icons/NodeTypes/exo-tab.gif') no-repeat left center; /* orientation=lt */  
  background: url('icons/NodeTypes/exo-tab.gif') no-repeat right center; /* orientation=rt */  
}

.exo_taxonomy16x16Icon {
  background: url('icons/NodeTypes/exo-taxonomy.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/exo-taxonomy.gif') no-repeat right center; /* orientation=rt */
}

.exo_template16x16Icon {
  background: url('icons/NodeTypes/exo-template.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/exo-template.gif') no-repeat right center; /* orientation=rt */
}

.exo_tag16x16Icon {
  background: url('icons/NodeTypes/exo-tag.gif') no-repeat left center; /* orientation=lt */
	background: url('icons/NodeTypes/exo-tag.gif') no-repeat right center; /* orientation=rt */  
}

.exo_tagStyle16x16Icon {
  background: url('icons/NodeTypes/exo-tagStyle.gif') no-repeat left center; /* orientation=lt */
	background: url('icons/NodeTypes/exo-tagStyle.gif') no-repeat right center; /* orientation=rt */  
}

.exo_versionStorage16x16Icon {
  background: url('icons/NodeTypes/exo-versionStorage.gif') no-repeat left center; /* orientation=lt */
	background: url('icons/NodeTypes/exo-versionStorage.gif') no-repeat right center; /* orientation=rt */  
}

.exo_transformBinaryToTextAction16x16Icon {
  background: url('icons/NodeTypes/exo-transformBinaryToTextAction.gif') no-repeat left center; /* orientation=lt */
	background: url('icons/NodeTypes/exo-transformBinaryToTextAction.gif') no-repeat right center; /* orientation=rt */  
}

.exo_view16x16Icon {
  background: url('icons/NodeTypes/exo-view.gif') no-repeat left center; /* orientation=lt */
	background: url('icons/NodeTypes/exo-view.gif') no-repeat right center; /* orientation=rt */  
}

.exo_workflowAction16x16Icon {
  background: url('icons/NodeTypes/exo-workflowAction.gif') no-repeat left center; /* orientation=lt */
	background: url('icons/NodeTypes/exo-workflowAction.gif') no-repeat right center; /* orientation=rt */  
}

.exo_createRSSFeedAction16x16Icon {
  background: url('icons/NodeTypes/exo-createRSSFeedAction.gif') no-repeat left center; /* orientation=lt */
	background: url('icons/NodeTypes/exo-createRSSFeedAction.gif') no-repeat right center; /* orientation=rt */  
}

.exo_documentFolder16x16Icon {
  background: url('icons/NodeTypes/exo-documentFolder.gif') no-repeat left center; /* orientation=lt */
	background: url('icons/NodeTypes/exo-documentFolder.gif') no-repeat right center; /* orientation=rt */ 
}

.exo_pictureFolder16x16Icon {
  background: url('icons/NodeTypes/exo-pictureFolder.gif') no-repeat left center; /* orientation=lt */
	background: url('icons/NodeTypes/exo-pictureFolder.gif') no-repeat right center; /* orientation=rt */  
}

.exo_videoFolder16x16Icon {
  background: url('icons/NodeTypes/exo-videoFolder.gif') no-repeat left center; /* orientation=lt */
	background: url('icons/NodeTypes/exo-videoFolder.gif') no-repeat right center; /* orientation=rt */  
}

.exo_searchFolder16x16Icon {
  background: url('icons/NodeTypes/exo-searchFolder.gif') no-repeat left center; /* orientation=lt */
	background: url('icons/NodeTypes/exo-searchFolder.gif') no-repeat right center; /* orientation=rt */  
}

.exo_musicFolder16x16Icon {
  background: url('icons/NodeTypes/exo-musicFolder.gif') no-repeat left center; /* orientation=lt */
	background: url('icons/NodeTypes/exo-musicFolder.gif') no-repeat right center; /* orientation=rt */  
}

.exo_registry16x16Icon {
	background: url('icons/NodeTypes/nt-unstructured.gif') no-repeat left center; /* orientation=lt */
	background: url('icons/NodeTypes/nt-unstructured.gif') no-repeat right center; /* orientation=rt */  
}

.exo_registryGroup16x16Icon {
	background: url('icons/NodeTypes/nt-unstructured.gif') no-repeat left center; /* orientation=lt */
	background: url('icons/NodeTypes/nt-unstructured.gif') no-repeat right center; /* orientation=rt */  
}

.exo_registryEntry16x16Icon {
	background: url('icons/NodeTypes/nt-unstructured.gif') no-repeat left center; /* orientation=lt */
	background: url('icons/NodeTypes/nt-unstructured.gif') no-repeat right center; /* orientation=rt */  
}

.mix_lockable16x16Icon {
  background: url('icons/NodeTypes/mix-lockable.gif') no-repeat left center; /* orientation=lt */
	background: url('icons/NodeTypes/mix-lockable.gif') no-repeat right center; /* orientation=rt */  
}

.mix_referenceable16x16Icon {
  background: url('icons/NodeTypes/mix-referenceable.gif') no-repeat left center; /* orientation=lt */
	background: url('icons/NodeTypes/mix-referenceable.gif') no-repeat right center; /* orientation=rt */  
}

.mix_versionable16x16Icon {
  background: url('icons/NodeTypes/mix-versionable.gif') no-repeat left center; /* orientation=lt */
	background: url('icons/NodeTypes/mix-versionable.gif') no-repeat right center; /* orientation=rt */  
}

.nt_base16x16Icon {
  background: url('icons/NodeTypes/nt-base.gif') no-repeat left center; /* orientation=lt */
	background: url('icons/NodeTypes/nt-base.gif') no-repeat right center; /* orientation=rt */  
}

.nt_childNodeDefinition16x16Icon {
  background: url('icons/NodeTypes/nt-childNodeDefinition.gif') no-repeat left center; /* orientation=lt */
	background: url('icons/NodeTypes/nt-childNodeDefinition.gif') no-repeat right center; /* orientation=rt */  
}

.nt_file16x16Icon {
  background: url('icons/NodeTypes/nt-file.gif') no-repeat left center; /* orientation=lt */
	background: url('icons/NodeTypes/nt-file.gif') no-repeat right center; /* orientation=rt */  
}

.nt_folder16x16Icon {
  background: url('icons/NodeTypes/nt-folder.gif') no-repeat left center; /* orientation=lt */
	background: url('icons/NodeTypes/nt-folder.gif') no-repeat right center; /* orientation=rt */  
}

.Collapsent_folder16x16Icon {
  background: url('icons/NodeTypes/open-nt-folder.gif') no-repeat left center; /* orientation=lt */
	background: url('icons/NodeTypes/open-nt-folder.gif') no-repeat right center; /* orientation=rt */  
}

.nt_frozenNode16x16Icon {
  background: url('icons/NodeTypes/nt-frozenNode.gif') no-repeat left center; /* orientation=lt */
	background: url('icons/NodeTypes/nt-frozenNode.gif') no-repeat right center; /* orientation=rt */  
}

.nt_hierarchyNode16x16Icon {
  background: url('icons/NodeTypes/nt-hierarchyNode.gif') no-repeat left center; /* orientation=lt */  
	background: url('icons/NodeTypes/nt-hierarchyNode.gif') no-repeat right center; /* orientation=rt */
}

.nt_linkedFile16x16Icon {
  background: url('icons/NodeTypes/nt-linkedFile.gif') no-repeat left center; /* orientation=lt */
	background: url('icons/NodeTypes/nt-linkedFile.gif') no-repeat right center; /* orientation=rt */  
}

.nt_nodeType16x16Icon {
  background: url('icons/NodeTypes/nt-nodeType.gif') no-repeat left center; /* orientation=lt */
	background: url('icons/NodeTypes/nt-nodeType.gif') no-repeat right center; /* orientation=rt */  
}

.nt_propertyDefinition16x16Icon {
  background: url('icons/NodeTypes/nt-propertyDefinition.gif') no-repeat left center; /* orientation=lt */
	background: url('icons/NodeTypes/nt-propertyDefinition.gif') no-repeat right center; /* orientation=rt */  
}

.nt_query16x16Icon {
  background: url('icons/NodeTypes/nt-query.gif') no-repeat left center; /* orientation=lt */
	background: url('icons/NodeTypes/nt-query.gif') no-repeat right center; /* orientation=rt */  
}

.nt_resource16x16Icon {
  background: url('icons/NodeTypes/nt-resource.gif') no-repeat left center; /* orientation=lt */
	background: url('icons/NodeTypes/nt-resource.gif') no-repeat right center; /* orientation=rt */  
}

.nt_unstructured16x16Icon {
  background: url('icons/NodeTypes/nt-unstructured.gif') no-repeat left top; /* orientation=lt */
	background: url('icons/NodeTypes/nt-unstructured.gif') no-repeat right top; /* orientation=rt */  
}

.exo_trashFolder16x16Icon {
  background: url('icons/NodeTypes/exo-trashFolder.gif') no-repeat left top; /* orientation=lt */
  background: url('icons/NodeTypes/exo-trashFolder.gif') no-repeat right top; /* orientation=rt */  
}

.exo_favoriteFolder16x16Icon {
  background: url('icons/NodeTypes/exo-favoriteFolder.gif') no-repeat left top; /* orientation=lt */
  background: url('icons/NodeTypes/exo-favoriteFolder.gif') no-repeat right top; /* orientation=rt */  
}

.Collapsent_unstructured16x16Icon {
  background: url('icons/NodeTypes/open-nt-unstructured.gif') no-repeat left -16px; /* orientation=lt */
	background: url('icons/NodeTypes/open-nt-unstructured.gif') no-repeat right -16px; /* orientation=rt */  
}

.nt_version16x16Icon {
  background: url('icons/NodeTypes/nt-version.gif') no-repeat left center; /* orientation=lt */
	background: url('icons/NodeTypes/nt-version.gif') no-repeat right center; /* orientation=rt */  
}

.nt_versionedChild16x16Icon {
  background: url('../DefaultSkin/nt-versionedChild.gif') no-repeat left center; /* orientation=lt */
	background: url('../DefaultSkin/nt-versionedChild.gif') no-repeat right center; /* orientation=rt */  
}

.nt_versionHistory16x16Icon {
  background: url('icons/NodeTypes/nt-versionHistory.gif') no-repeat left center; /* orientation=lt */
	background: url('icons/NodeTypes/nt-versionHistory.gif') no-repeat right center; /* orientation=rt */ 
}

.nt_query16x16Icon {
  background: url('icons/NodeTypes/nt-query.gif') no-repeat left center; /* orientation=lt */
	background: url('icons/NodeTypes/nt-query.gif') no-repeat right center; /* orientation=rt */  
}

.nt_versionLabels16x16Icon {
  background: url('icons/NodeTypes/nt-versionLabels.gif') no-repeat left center; /* orientation=lt */
	background: url('icons/NodeTypes/nt-versionLabels.gif') no-repeat right center; /* orientation=rt */  
}

.rma_filePlan16x16Icon {
  background: url('icons/NodeTypes/rma-filePlan.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/rma-filePlan.gif') no-repeat right center; /* orientation=rt */  
}

.kfx_document16x16Icon {
  background: url('icons/NodeTypes/kfx-document.gif') no-repeat left center; /* orientation=lt */
	background: url('icons/NodeTypes/kfx-document.gif') no-repeat right center; /* orientation=rt */  
}
/*############################## -- End NodeType Icon -- ########################*/
.application_msword16x16Icon, .application_vnd_openxmlformats-officedocument_wordprocessingml_document16x16Icon {
  background: url('icons/NodeTypes/doc.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/doc.gif') no-repeat right center; /* orientation=rt */
}

.application_xls16x16Icon, .application_vnd_openxmlformats-officedocument_spreadsheetml_sheet16x16Icon {
  background: url('icons/NodeTypes/xls.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/xls.gif') no-repeat right center; /* orientation=rt */
}

.application_ppt16x16Icon, .application_vnd_openxmlformats-officedocument_presentationml_presentation16x16Icon {
  background: url('icons/NodeTypes/ppt.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/ppt.gif') no-repeat right center; /* orientation=rt */
}

.application_pdf16x16Icon {
  background: url('icons/NodeTypes/pdf.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/pdf.gif') no-repeat right center; /* orientation=rt */
}

.application_vnd_oasis_opendocument_text16x16Icon {
  background: url('icons/NodeTypes/odt.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/odt.gif') no-repeat right center; /* orientation=rt */
}

.application_vnd_oasis_opendocument_spreadsheet16x16Icon {
  background: url('icons/NodeTypes/ods.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/ods.gif') no-repeat right center; /* orientation=rt */
}

.application_vnd_oasis_opendocument_presentation16x16Icon {
  background: url('icons/NodeTypes/odp.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/odp.gif') no-repeat right center; /* orientation=rt */
}

.application_zip16x16Icon {
  background: url('icons/NodeTypes/zip.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/zip.gif') no-repeat right center; /* orientation=rt */
}

.application_rar16x16Icon {
  background: url('icons/NodeTypes/rar.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/rar.gif') no-repeat right center; /* orientation=rt */
}

.text_rtf16x16Icon {
  background: url('icons/NodeTypes/rtf.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/rtf.gif') no-repeat right center; /* orientation=rt */
}
.application_rtf16x16Icon {
  background: url('icons/NodeTypes/rtf.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/rtf.gif') no-repeat right center; /* orientation=rt */
}
.text_plain16x16Icon {
  background: url('icons/NodeTypes/txt.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/txt.gif') no-repeat right center; /* orientation=rt */
}

.audio_mp316x16Icon {
  background: url('icons/NodeTypes/mp3.png') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/mp3.png') no-repeat right center; /* orientation=rt */
}

.video_mp416x16Icon {
  background: url('icons/NodeTypes/mp4.png') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/mp4.png') no-repeat right center; /* orientation=rt */
}

.video_x-flv16x16Icon {
  background: url('icons/NodeTypes/flash.png') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/flash.png') no-repeat right center; /* orientation=rt */
}

.text_xml16x16Icon {
  background: url('icons/NodeTypes/xml.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/xml.gif') no-repeat right center; /* orientation=rt */
}

.image_gif16x16Icon {
  background: url('icons/NodeTypes/gif.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/gif.gif') no-repeat right center; /* orientation=rt */
}

.image_bmp16x16Icon {
  background: url('icons/NodeTypes/bmp.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/bmp.gif') no-repeat right center; /* orientation=rt */
}

.image_jpeg16x16Icon {
  background: url('icons/NodeTypes/jpg.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/jpg.gif') no-repeat right center; /* orientation=rt */
}

.image_png16x16Icon {
  background: url('icons/NodeTypes/png.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/png.gif') no-repeat right center; /* orientation=rt */
}

.application_octet-stream16x16Icon {
  background: url('icons/NodeTypes/exe.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/exe.gif') no-repeat right center; /* orientation=rt */
}

.text_html16x16Icon {
  background: url('icons/NodeTypes/html.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/html.gif') no-repeat right center; /* orientation=rt */
}
 
.text_css16x16Icon {
  background: url('icons/NodeTypes/css.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/css.gif') no-repeat right center; /* orientation=rt */
}
 
.application_x-javascript16x16Icon {
  background: url('icons/NodeTypes/js.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/js.gif') no-repeat right center; /* orientation=rt */
}

.application_postscript16x16Icon {
  background: url('icons/NodeTypes/ai.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/ai.gif') no-repeat right center; /* orientation=rt */
}

.UIRightClickPopupMenu .exo_createRSSFeedAction16x16Icon {
  background: url('icons/NodeTypes/exo-createRSSFeedAction.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/exo-createRSSFeedAction.gif') no-repeat right center; /* orientation=rt */
}

.UIRightClickPopupMenu .exo_createRSSFeedAction16x16Icon {
  background: url('icons/NodeTypes/exo-createRSSFeedAction.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/exo-createRSSFeedAction.gif') no-repeat right center; /* orientation=rt */
}

.UIRightClickPopupMenu .exo_transformBinaryToTextAction16x16Icon {
  background: url('icons/NodeTypes/exo-transformBinaryToTextAction.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/exo-transformBinaryToTextAction.gif') no-repeat right center; /* orientation=rt */
}

.UIRightClickPopupMenu .exo_ReloadBPAction16x16Icon {
  background: url('icons/NodeTypes/DefaultDocumentIcon.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/DefaultDocumentIcon.gif') no-repeat right center; /* orientation=rt */
}

.UIRightClickPopupMenu .exo_workflowAction16x16Icon {
  background: url('icons/NodeTypes/exo-workflowAction.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/exo-workflowAction.gif') no-repeat right center; /* orientation=rt */
}

.UIRightClickPopupMenu .exo_iCalendarGenerateAction16x16Icon {
  background: url('icons/NodeTypes/DefaultDocumentIcon.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/DefaultDocumentIcon.gif') no-repeat right center; /* orientation=rt */
}

.UIRightClickPopupMenu .exo_getMailAction16x16Icon {
  background: url('icons/NodeTypes/exo-sendMailAction.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/exo-sendMailAction.gif') no-repeat right center; /* orientation=rt */
}

.UIRightClickPopupMenu .exo_autoVersioning16x16Icon {
  background: url('icons/NodeTypes/exo-versionStorage.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/exo-versionStorage.gif') no-repeat right center; /* orientation=rt */
}

.UIRightClickPopupMenu .exo_publishingRequest16x16Icon {
  background: url('icons/NodeTypes/exo-publishingRequest.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/NodeTypes/exo-publishingRequest.gif') no-repeat right center; /* orientation=rt */
}

/*############################## -- Begin Properties Icon -- ########################*/
.dc_contributor16x16Icon {
  background: url('icons/Properties/dc-contributor.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/dc-contributor.gif') no-repeat right center; /* orientation=rt */
}

.dc_coverage16x16Icon {
  background: url('icons/Properties/dc-coverage.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/dc-coverage.gif') no-repeat right center; /* orientation=rt */
}

.dc_creator16x16Icon {
  background: url('icons/Properties/dc-creator.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/dc-creator.gif') no-repeat right center; /* orientation=rt */
}

.dc_date16x16Icon {
  background: url('icons/Properties/dc-date.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/dc-date.gif') no-repeat right center; /* orientation=rt */
}

.dc_description16x16Icon {
  background: url('icons/Properties/dc-description.gif') no-repeat left center; /* orientation=lt */  
  background: url('icons/Properties/dc-description.gif') no-repeat right center; /* orientation=rt */  
}

.dc_format16x16Icon {
  background: url('icons/Properties/dc-format.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/dc-format.gif') no-repeat right center; /* orientation=rt */
}

.dc_identifier16x16Icon {
  background: url('icons/Properties/dc-identifier.gif') no-repeat left center; /* orientation=lt */ 
  background: url('icons/Properties/dc-identifier.gif') no-repeat right center; /* orientation=rt */ 
}

.dc_language16x16Icon {
  background: url('icons/Properties/dc-language.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/dc-language.gif') no-repeat right center; /* orientation=rt */
}

.dc_publisher16x16Icon {
  background: url('icons/Properties/dc-publisher.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/dc-publisher.gif') no-repeat right center; /* orientation=rt */
}

.dc_relation16x16Icon {
  background: url('icons/Properties/dc-relation.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/dc-relation.gif') no-repeat right center; /* orientation=rt */
}

.dc_resourceType16x16Icon {
  background: url('icons/Properties/dc-resourceType.gif') no-repeat left center; /* orientation=lt */ 
  background: url('icons/Properties/dc-resourceType.gif') no-repeat right center; /* orientation=rt */ 
}

.dc_rights16x16Icon {
  background: url('icons/Properties/dc-rights.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/dc-rights.gif') no-repeat right center; /* orientation=rt */
}

.dc_source16x16Icon {
  background: url('icons/Properties/dc-source.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/dc-source.gif') no-repeat right center; /* orientation=rt */
}

.dc_subject16x16Icon {
  background: url('icons/Properties/dc-subject.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/dc-subject.gif') no-repeat right center; /* orientation=rt */
}

.dc_title16x16Icon {
  background: url('icons/Properties/dc-title.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/dc-title.gif') no-repeat right center; /* orientation=rt */
}

.exo_businessProcess16x16Icon {
  background: url('icons/Properties/exo-businessProcess.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/exo-businessProcess.gif') no-repeat right center; /* orientation=rt */
}

.exo_buttons16x16Icon {
  background: url('icons/Properties/exo-buttons.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/exo-buttons.gif') no-repeat right center; /* orientation=rt */
}

.exo_date16x16Icon {
  background: url('icons/Properties/exo-date.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/exo-date.gif') no-repeat right center; /* orientation=rt */
}

.exo_datetime16x16Icon {
  background: url('icons/Properties/exo-datetime.gif') no-repeat left center; /* orientation=lt */ 
  background: url('icons/Properties/exo-datetime.gif') no-repeat right center; /* orientation=rt */ 
}

.exo_description16x16Icon {
  background: url('icons/Properties/exo-description.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/exo-description.gif') no-repeat right center; /* orientation=rt */
}

.exo_destPath16x16Icon {
  background: url('icons/Properties/exo-destPath.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/exo-destPath.gif') no-repeat right center; /* orientation=rt */
}

.exo_destWorkspace16x16Icon {
  background: url('icons/Properties/exo-destWorkspace.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/exo-destWorkspace.gif') no-repeat right center; /* orientation=rt */
}

.exo_image16x16Icon {
  background: url('icons/Properties/exo-image.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/exo-image.gif') no-repeat right center; /* orientation=rt */
}

.exo_lifecyclePhase16x16Icon {
  background: url('icons/Properties/exo-lifecyclePhase.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/exo-lifecyclePhase.gif') no-repeat right center; /* orientation=rt */
}

.exo_name16x16Icon {
  background: url('icons/Properties/exo-name.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/exo-name.gif') no-repeat right center; /* orientation=rt */
}

.exo_owner16x16Icon {
  background: url('icons/Properties/exo-owner.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/exo-owner.gif') no-repeat right center; /* orientation=rt */
}

.exo_permissions16x16Icon {
  background: url('icons/Properties/exo-permissions.gif') no-repeat left center; /* orientation=lt */ 
  background: url('icons/Properties/exo-permissions.gif') no-repeat right center; /* orientation=rt */ 
}

.exo_prefix16x16Icon {
  background: url('icons/Properties/exo-prefix.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/exo-prefix.gif') no-repeat right center; /* orientation=rt */
}

.exo_relation16x16Icon {
  background: url('icons/Properties/exo-relation.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/exo-relation.gif') no-repeat right center; /* orientation=rt */
}

.exo_roles16x16Icon {
  background: url('icons/Properties/exo-roles.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/exo-roles.gif') no-repeat right center; /* orientation=rt */
}

.exo_rule16x16Icon {
  background: url('icons/Properties/exo-rule.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/exo-rule.gif') no-repeat right center; /* orientation=rt */
}

.exo_script16x16Icon {
  background: url('icons/Properties/exo-script.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/exo-script.gif') no-repeat right center; /* orientation=rt */
}

.exo_summary16x16Icon {
  background: url('icons/Properties/exo-summary.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/exo-summary.gif') no-repeat right center; /* orientation=rt */
}

.exo_template16x16Icon {
  background: url('icons/Properties/exo-template.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/exo-template.gif') no-repeat right center; /* orientation=rt */
}

.exo_templateFile16x16Icon {
  background: url('icons/Properties/exo-templateFile.gif') no-repeat left center; /* orientation=lt */ 
  background: url('icons/Properties/exo-templateFile.gif') no-repeat right center; /* orientation=rt */ 
}

.exo_text16x16Icon {
  background: url('icons/Properties/exo-text.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/exo-text.gif') no-repeat right center; /* orientation=rt */
}

.exo_title16x16Icon {
  background: url('icons/Properties/exo-title.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/exo-title.gif') no-repeat right center; /* orientation=rt */
}
.exo_uri16x16Icon {
  background: url('icons/Properties/exo-uri.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/exo-uri.gif') no-repeat right center; /* orientation=rt */
}

.exo_validator16x16Icon {
  background: url('icons/Properties/exo-validator.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/exo-validator.gif') no-repeat right center; /* orientation=rt */
}

.jcr_autoCreated16x16Icon {
  background: url('icons/Properties/jcr-autoCreated.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/jcr-autoCreated.gif') no-repeat right center; /* orientation=rt */
}

.jcr_baseVersion16x16Icon {
  background: url('icons/Properties/jcr-baseVersion.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/jcr-baseVersion.gif') no-repeat right center; /* orientation=rt */
}

.jcr_childNodeDefinition16x16Icon {
  background: url('icons/Properties/jcr-childNodeDefinition.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/jcr-childNodeDefinition.gif') no-repeat right center; /* orientation=rt */
}

.jcr_content16x16Icon {
  background: url('icons/Properties/jcr-content.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/jcr-content.gif') no-repeat right center; /* orientation=rt */
}

.jcr_created16x16Icon {
  background: url('icons/Properties/jcr-created.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/jcr-created.gif') no-repeat right center; /* orientation=rt */
}

.jcr_data16x16Icon {
  background: url('icons/Properties/jcr-data.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/jcr-data.gif') no-repeat right center; /* orientation=rt */
}

.jcr_defaultPrimaryType16x16Icon {
  background: url('icons/Properties/jcr-defaultPrimaryType.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/jcr-defaultPrimaryType.gif') no-repeat right center; /* orientation=rt */
}

.jcr_defaultValues16x16Icon {
  background: url('icons/Properties/jcr-defaultValues.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/jcr-defaultValues.gif') no-repeat right center; /* orientation=rt */
}

.jcr_encoding16x16Icon {
  background: url('icons/Properties/jcr-encoding.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/jcr-encoding.gif') no-repeat right center; /* orientation=rt */
}

.jcr_frozenMixinTypes16x16Icon {
  background: url('icons/Properties/jcr-frozenMixinTypes.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/jcr-frozenMixinTypes.gif') no-repeat right center; /* orientation=rt */
}

.jcr_frozenPrimaryType16x16Icon {
  background: url('icons/Properties/jcr-frozenPrimaryType.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/jcr-frozenPrimaryType.gif') no-repeat right center; /* orientation=rt */
}

.jcr_frozenUuid16x16Icon {
  background: url('icons/Properties/jcr-frozenUuid.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/jcr-frozenUuid.gif') no-repeat right center; /* orientation=rt */
}

.jcr_hasOrderableChildNodes16x16Icon {
  background: url('icons/Properties/jcr-hasOrderableChildNodes.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/jcr-hasOrderableChildNodes.gif') no-repeat right center; /* orientation=rt */
}

.jcr_isCheckedOut16x16Icon {
  background: url('icons/Properties/jcr-isCheckedOut.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/jcr-isCheckedOut.gif') no-repeat right center; /* orientation=rt */
}

.jcr_isMixin16x16Icon {
  background: url('icons/Properties/jcr-isMixin.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/jcr-isMixin.gif') no-repeat right center; /* orientation=rt */
}

.jcr_language16x16Icon {
  background: url('icons/Properties/jcr-language.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/jcr-language.gif') no-repeat right center; /* orientation=rt */
}

.jcr_lastModified16x16Icon {
  background: url('icons/Properties/jcr-lastModified.gif') no-repeat left center; /* orientation=lt */ 
  background: url('icons/Properties/jcr-lastModified.gif') no-repeat right center; /* orientation=rt */ 
}

.jcr_lockIsDeep16x16Icon {
  background: url('icons/Properties/jcr-lockIsDeep.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/jcr-lockIsDeep.gif') no-repeat right center; /* orientation=rt */
}

.jcr_lockOwner16x16Icon {
  background: url('icons/Properties/jcr-lockOwner.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/jcr-lockOwner.gif') no-repeat right center; /* orientation=rt */
}

.jcr_mandatory16x16Icon {
  background: url('icons/Properties/jcr-mandatory.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/jcr-mandatory.gif') no-repeat right center; /* orientation=rt */
}

.jcr_mergeFailed16x16Icon {
  background: url('icons/Properties/jcr-mergeFailed.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/jcr-mergeFailed.gif') no-repeat right center; /* orientation=rt */
}

.jcr_mimeType16x16Icon {
  background: url('icons/Properties/jcr-mimeType.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/jcr-mimeType.gif') no-repeat right center; /* orientation=rt */
}

.jcr_mixinTypes16x16Icon {
  background: url('icons/Properties/jcr-mixinTypes.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/jcr-mixinTypes.gif') no-repeat right center; /* orientation=rt */
}

.jcr_multiple16x16Icon {
  background: url('icons/Properties/jcr-multiple.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/jcr-multiple.gif') no-repeat right center; /* orientation=rt */
}

.jcr_name16x16Icon {
  background: url('icons/Properties/jcr-name.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/jcr-name.gif') no-repeat right center; /* orientation=rt */
}

.jcr_nodeTypeName16x16Icon {
  background: url('icons/Properties/jcr-nodeTypeName.gif') no-repeat left center; /* orientation=lt */  
  background: url('icons/Properties/jcr-nodeTypeName.gif') no-repeat right center; /* orientation=rt */  
}

.jcr_onParentVersion16x16Icon {
  background: url('icons/Properties/jcr-onParentVersion.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/jcr-onParentVersion.gif') no-repeat right center; /* orientation=rt */
}

.jcr_predecessors16x16Icon {
  background: url('icons/Properties/jcr-predecessors.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/jcr-predecessors.gif') no-repeat right center; /* orientation=rt */
}

.jcr_primaryItemName16x16Icon {
  background: url('icons/Properties/jcr-primaryItemName.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/jcr-primaryItemName.gif') no-repeat right center; /* orientation=rt */
}

.jcr_primaryType16x16Icon {
  background: url('icons/Properties/jcr-primaryType.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/jcr-primaryType.gif') no-repeat right center; /* orientation=rt */
}

.jcr_propertyDefinition16x16Icon {
  background: url('icons/Properties/jcr-propertyDefinition.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/jcr-propertyDefinition.gif') no-repeat right center; /* orientation=rt */
}

.jcr_protected16x16Icon {
  background: url('icons/Properties/jcr-protected.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/jcr-protected.gif') no-repeat right center; /* orientation=rt */
}

.jcr_requiredPrimaryTypes16x16Icon {
  background: url('icons/Properties/jcr-requiredPrimaryTypes.gif') no-repeat left center; /* orientation=lt */ 
  background: url('icons/Properties/jcr-requiredPrimaryTypes.gif') no-repeat right center; /* orientation=rt */ 
}

.jcr_requiredType16x16Icon {
  background: url('icons/Properties/jcr-requiredType.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/jcr-requiredType.gif') no-repeat right center; /* orientation=rt */
}

.jcr_rootVersion16x16Icon {
  background: url('icons/Properties/jcr-rootVersion.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/jcr-rootVersion.gif') no-repeat right center; /* orientation=rt */
}

.jcr_sameNameSiblings16x16Icon {
  background: url('icons/Properties/jcr-sameNameSiblings.gif') no-repeat left center; /* orientation=lt */  
  background: url('icons/Properties/jcr-sameNameSiblings.gif') no-repeat right center; /* orientation=rt */  
}

.jcr_statement16x16Icon {
  background: url('icons/Properties/jcr-statement.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/jcr-statement.gif') no-repeat right center; /* orientation=rt */
}

.jcr_successors16x16Icon {
  background: url('icons/Properties/jcr-successors.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/jcr-successors.gif') no-repeat right center; /* orientation=rt */
}

.jcr_supertypes16x16Icon {
  background: url('icons/Properties/jcr-supertypes.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/jcr-supertypes.gif') no-repeat right center; /* orientation=rt */
}

.jcr_uuid16x16Icon {
  background: url('icons/Properties/jcr-uuid.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/jcr-uuid.gif') no-repeat right center; /* orientation=rt */
}

.jcr_valueConstraints16x16Icon {
  background: url('icons/Properties/jcr-valueConstraints.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/jcr-valueConstraints.gif') no-repeat right center; /* orientation=rt */
}

.jcr_versionableUuid16x16Icon {
  background: url('icons/Properties/jcr-versionableUuid.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/jcr-versionableUuid.gif') no-repeat right center; /* orientation=rt */
}

.jcr_versionHistory16x16Icon {
  background: url('icons/Properties/jcr-versionHistory.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/jcr-versionHistory.gif') no-repeat right center; /* orientation=rt */
}

.jcr_versionLabels16x16Icon {
  background: url('icons/Properties/jcr-versionLabels.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/Properties/jcr-versionLabels.gif') no-repeat right center; /* orientation=rt */
}

.SelectPath24x24Icon {
  float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 16px;	
	height: 16px;
  background: url('/ecmexplorer/skin/icons/24x24/DefaultSkin/MagnifierIconNews.png') no-repeat;
}
