.UISEOForm .UIFormGrid td.FieldComponent {
  padding: 4px;
  text-align: left;
  vertical-align: middle;
}
.UISEOForm .HorizontalLayout input {
  width: 235px;
}
.UISEOForm .HorizontalLayout select {
  width: auto;
  min-width: 100px;
}
.UISEOForm .HorizontalLayout selectbox {
  width: auto;
}

.SEOToolbar img {
  width: 16px;
  height: 16px;
  border: 0;
}
.UISEOToolbarPorlet .SEOToolbar .Enable {
  cursor: pointer
  display: auto; 
  line-height: 32px; 
  padding: 0 20px 0 5px;
}
.UISEOToolbarPorlet .SEOToolbar .Disable {
  display: auto; 
  line-height: 32px; 
  padding: 0 20px 0 5px;
}
.UISEOForm .UIActionSEO {
  padding: 8px 0;
  text-align: center;
}
.UISEOForm .UIActionSEO a{
  display: inline;
  padding: 0 12px;
}
.UISEOForm .UIActionSEO .ActionButton {
  cursor: pointer;
  display: inline-block;
  margin: 0 3px;
}
.UISEOForm .UIActionSEO .LightBlueStyle {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: url("/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIAction/background/LightBlueStyle.gif") repeat-x scroll center center  transparent;
  border-color: #8A8A8A #8A8A8A #5D5D5D;
  border-radius: 3px 3px 3px 3px;
  border-style: solid;
  border-width: 1px;
  line-height: 19px;
  padding: 0 12px;
  text-align: center;
  white-space: nowrap;
}
