.UISEOForm .UIFormGrid td.FieldComponent {
	padding: 4px;
	text-align: left;
	vertical-align: middle;
	display: inline-block;
}

.UISEOForm .UIFormGrid td.tdShowHelp {
	padding: 4px;
}

.UISEOForm .HorizontalLayout input {
	width: 230px;  
	*width: 225px;  
}

.UISEOForm .HorizontalLayout .Tip {
	font-style: italic; 
	color:#737373;
	background: #f8f8f8;
	border: solid 1px #ddd;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.UISEOForm .HorizontalLayout .SeoPriority{
	color:#737373;
	background: #f8f8f8;
	border: solid 1px #ddd;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.UISEOForm .HorizontalLayout select {
	width: auto;
	min-width: 75px;
}

.UISEOForm .HorizontalLayout selectbox {
	width: auto;
}

.SEOToolbar img {
	width: 16px;
	height: 16px;
	border: 0;
}
.UISEOToolbarPorlet .SEOToolbar .Enable {
	cursor: pointer;
	line-height: 32px; 
	padding: 0 20px 0 5px;
}

.UISEOToolbarPorlet .SEOToolbar .Disable {
	line-height: 32px; 
	padding: 0 20px 0 5px;
}

.UISEOForm .UIActionSEO {
	padding: 8px 0;
	text-align: left;
	border-top: solid 1px #ededed;
	margin-top: 5px;
}

.UISEOForm .UIActionSEO a{
	display: inline;
	padding: 0 12px;
	color: #4c4c4c;
}

.UISEOForm .UIActionSEO a:hover{
	color: #0053a7;
}
.UISEOForm .UIActionSEO .ActionButton {
	cursor: pointer;
	display: inline-block;
	margin: 0 3px;
}
.UISEOForm .UIActionSEO .LightBlueStyle {
	background: url("/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIAction/background/LightBlueStyle.gif") repeat-x scroll center center  transparent;
    border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    border: 1px solid #ACACAC;
    color: #464646;
    font-size: 12px;
    line-height: 22px;
    padding: 0 14px;
    text-align: center;
    white-space: nowrap;
}

.UISEOForm .HorizontalLayout .UIActionSEO .CancelButton{
	background: none;
	border: none;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	margin: 0px;
	padding: 0px 5px;
}


/************** For edit UISEOForm ***********************/

.UISEOForm .HorizontalLayout{
	background: #fff;
	border: none;
	padding: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.UISEOForm .UIForm .UIFormGrid td.FieldLabel{
	text-align: left;
}

.UISEOForm .UIForm .HorizontalLayout textarea{
	background: #f8f8f8;
	border: solid 1px #ddd;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	width: 230px;
	*width: 225px;
	overflow: auto;
}
