
.UISEOForm .UIFormGrid td.FieldComponent {
	padding: 4px;
	text-align: left;
	vertical-align: middle;
	display: inline-block;
}

.UISEOForm .UIFormGrid td.tdShowHelp {
	padding: 4px;
}

.UISEOForm .HorizontalLayout input {
	width: 230px;  
	*width: 225px;  
}

.UISEOForm .HorizontalLayout .Tip {
	font-style: italic; 
	color:#737373;
	background: #f8f8f8;
	border: solid 1px #ddd;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.UISEOForm .HorizontalLayout .SeoPriority{
	color:#737373;
	background: #f8f8f8;
	border: solid 1px #ddd;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.UISEOForm .HorizontalLayout select {
	width: auto;
	min-width: 75px;
}

.UISEOForm .HorizontalLayout selectbox {
	width: auto;
}

.SEOToolbar img {
	width: 16px;
	height: 16px;
	border: 0;
}
.UISEOToolbarPorlet .SEOToolbar .Enable {
	cursor: pointer;
	line-height: 32px; 
	padding: 0 20px 0 5px;
}

.UISEOToolbarPorlet .SEOToolbar .Disable {
	line-height: 32px; 
	padding: 0 20px 0 5px;
}

.UISEOForm .UIActionSEO {
	padding: 8px 0;
	text-align: left;
	border-top: solid 1px #ededed;
	margin-top: 5px;
}

.UISEOForm .UIActionSEO a{
	display: inline;
	padding: 0 12px;
	color: #4c4c4c;
}

.UISEOForm .UIActionSEO a:hover{
	color: #0053a7;
}
.UISEOForm .UIActionSEO .ActionButton {
	cursor: pointer;
	display: inline-block;
	margin: 0 3px;
}
.UISEOForm .UIActionSEO .LightBlueStyle {
    border: 1px solid #ACACAC;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 -8px 2px #E9E9E9 inset;
    color: #464646;
    font-size: 12px;
    line-height: 22px;
    padding: 0 14px;
    text-align: center;
    white-space: nowrap;
}

.UISEOForm .HorizontalLayout .UIActionSEO .CancelButton {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-radius: 0 0 0 0;
    box-shadow: none;
    margin: 0;
    padding: 0 5px;
}

/************** For edit UISEOForm ***********************/

.UISEOForm .HorizontalLayout{
	background: #fff;
	border: none;
	padding: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	
}

.UISEOForm .HorizontalLayout .FormContainer{    
#    width: 595px;
}

.UISEOForm .HorizontalLayout .FormContainer .LeftContainer {    
    margin-right: 0px !important;
    float: left;
    width: 197px;
}

.UISEOForm .HorizontalLayout .FormContainer .RightContainer {
    border: 1px solid #c7c7c7;
    border-radius: 3px 3px 3px 3px;
    overflow: auto;
    margin-top: 4px;
    padding: 8px;
    margin-left: 185px;   
}

.UISEOForm .HorizontalLayout .FormContainer .ResizeSideBar {
    float: right;        
    width: 14px;    
}

.UISEOForm .HorizontalLayout .FormContainer .ResizeSideBar .ResizeButton {
    background: url("/ecmexplorer/skin/webui/component/explorer/UIJCRExplorer/DefaultSkin/background/ShowLeftContent.gif") no-repeat scroll center center transparent;
    cursor: pointer;    
    margin: auto;    
    width: 14px;
    display: block;
    margin: auto;
    position: static;
}

.UISEOForm .HorizontalLayout .FormContainer .ResizeSideBar .ShowRightContent {
    background: url("/ecmexplorer/skin/webui/component/explorer/UIJCRExplorer/DefaultSkin/background/ResizeButton.gif") no-repeat scroll center center transparent;
    cursor: pointer;
    height: 14px;
    margin: auto;    
    width: 14px;
    display: block;
    margin: auto;
    position: static;
}

.UISEOForm .UIForm .UIFormGrid td.FieldLabel{
	text-align: left;
	width: 102px;
}

.UISEOForm .UIForm .HorizontalLayout textarea{
  	background: #f8f8f8;
	border: solid 1px #ddd;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	width: 230px;
	*width: 225px;
	overflow: auto;
}

.UISEOForm .UIForm .HorizontalLayout .AddSEOIcon16x16 {
    float: none;
    margin-left: 5px;
}

.UISEOForm .UIForm .HorizontalLayout .AddSEOIcon {
  height: 24px;
  cursor: pointer;
  background: url('/ecmexplorer/skin/icons/24x24/DefaultSkin/AddLocalizationLink.png') no-repeat left center; /* orientation=lt */
  background: url('/ecmexplorer/skin/icons/24x24/DefaultSkin/AddLocalizationLink.png') no-repeat right center; /* orientation=rt */
}

.UISEOForm .UIForm .HorizontalLayout .RemoveSEOIcon {
  width: 16px;
  height: 18px;
  background: url('/ecmexplorer/skin/icons/16x16/DefaultSkin/DustBin.gif') no-repeat center;
  margin-left: 10px;
}

.UISEOForm .HorizontalLayout .FormContainer .LeftContainer .SEOLanguage {  
}

.UISEOForm .HorizontalLayout .FormContainer .LeftContainer .SEOLanguage .SEOFlag{  
  margin-right: 8px;
  padding: 4px 6px 3px 5px;
}

.UISEOForm .HorizontalLayout .FormContainer .LeftContainer .SEOLanguage .SEODustBin{  
  margin-left: 8px;
  padding: 4px 7px 3px 6px;
}

.UISEOForm .HorizontalLayout .FormContainer .LeftContainer .FL{
  margin-right: 6px;
  padding: 4px;
}

.UISEOForm .HorizontalLayout .FormContainer .LeftContainer .SEOTab{
  background: none repeat scroll 0 0 #F1f1f1;
  border: 1px solid #E7E7E7;
  margin: 4px 0px 4px 0;
}

.UISEOForm .HorizontalLayout .FormContainer .LeftContainer .Selected{
  background: none repeat scroll 0 0 white;    
  margin: 4px -1px 4px 0;
  border: 1px solid #c7c7c7;
  border-right: 1px solid white;
}


.UISEOForm .HorizontalLayout .FormContainer .LeftContainer .SEOLanguage .Hover:hover{
  background: #E7F3FF;  
}

.AddIcon16x16 {
  width: 16px; 
  height: 16px;
  background: url('/ecmexplorer/skin/icons/16x16/DefaultSkin/BlueCirclePlus.gif') no-repeat; 
  cursor: pointer;
}

