.SimpleVerticalHierachy .CategoriesContainer .TitleBarL {
  background: url('background/CompanyBarL.gif') no-repeat left top;
  padding-left: 4px;
}

.SimpleVerticalHierachy .CategoriesContainer .TitleBarR {
  background: url('background/CompanyBarR.gif') no-repeat right top;
  padding-right: 4px;
}

.SimpleVerticalHierachy .CategoriesContainer .TitleBarM {
  background: url('background/CompanyBarM.gif') repeat-x;
  height: 27px;
  color: #565759;
  line-height: 26px;
  padding-left: 10px;
  font-weight: bold;
}

.SimpleVerticalHierachy .NewContent {
  padding: 10px;
  border: 1px solid #ededee;
}

.SimpleVerticalHierachy .CategoriesContainer {
  width: 200px;
}

.SimpleVerticalHierachy .CategoriesContainer .CategoryLabel {
  color: #565759;
  font-weight: bold;
  margin-top: 8px;
  display: block;
}

.SimpleVerticalHierachy .CategoriesContainer .SubCategory {
  background: url('background/SubCategory.gif') no-repeat 3px center;
  padding-left: 16px;
  color: #010101;
  cursor: pointer;
  margin-top: 4px;
  display: block;
}

.SimpleVerticalHierachy .CategoriesContainer .SubCategorySelected {
  background-color: #f2f2f2;
}

.SimpleVerticalHierachy .CategoriesContainer .SubCategory:hover {
  color: #058ee6;
}


.SimpleHorizontal {
}

.SimpleHorizontal .CategoriesContainer .TitleBarL {
  background: url('background/CompanyBarHL.gif') no-repeat left top;
  padding-left: 4px;
}

.SimpleHorizontal .CategoriesContainer .TitleBarR {
  background: url('background/CompanyBarHR.gif') no-repeat right top;
  padding-right: 4px;
}

.SimpleHorizontal .CategoriesContainer .TitleBarM {
  background: url('background/CompanyBarHM.gif') repeat-x;
  height: 27px;
  color: #565759;
  line-height: 26px;
  padding-left: 10px;
  font-weight: bold;
}

.SimpleHorizontal .CategoriesContainer {
  width: 600px;
}

.SimpleHorizontal .CategoriesContainer .CategoryLabel {
  color: #565759;
  font-weight: bold;
  margin-top: 8px;
}

.SimpleHorizontal .CategoriesContainer .SubCategory {
  background: url('background/SubCategory.gif') no-repeat 3px center;
  padding-left: 16px;
  color: #010101;
  cursor: pointer;
  margin-top: 4px;
}

.SimpleHorizontal .CategoriesContainer .SubCategorySelected {
  background-color: #f2f2f2;
}

.SimpleHorizontal .CategoriesContainer .SubCategory:hover {
  color: #058ee6;
}
