
/**
 * Created by The eXo Platform SARL
 * Author : Tran The Trong
 *          trongtt@gmail.com
 * August 01, 2006
 * version: $Id$
 */

/*############################## -- Begin UIJCRExplorer -- ##############################*/
.UIJCRExplorerPortlet .UIJCRExplorer {
}

#fileexplorer .UIApplication {
	overflow:hidden;
}

.UIJCRExplorerPortlet .MoveNode {
	background: url('DefaultSkin/background/MoveNode.gif') no-repeat center center;
	font-size: 14px;
	font-weight: bold;
	height: 64px;
	line-height: 64px;
	text-align: center;
	width: 64px;
	/*
	 minh.js.exo
	*/
}

.UIJCRExplorerPortlet .UIJCRExplorer .Separator {
  width: 2px;
  background: url('DefaultSkin/background/LineDecorator2x1.gif') repeat-y center center;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIWorkingArea {
	width: 100%;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIWorkingArea .ResizeSideBar{
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 24px;
	/*cursor:col-resize;*/
	height: 475px;
	position: relative;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIWorkingArea .ResizeButton{
	background: url('DefaultSkin/background/ResizeButton.gif') no-repeat center center;
	width: 24px;
	height: 14px;
	position : absolute;
	margin : auto;
	cursor : pointer;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIWorkingArea .ShowLeftContent{
	background: url('DefaultSkin/background/ShowLeftContent.gif') no-repeat center center;
	width: 5px;
	height: 10px;
	margin : auto;
	cursor : pointer;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIDocumentWorkspace .UIResizableBlock {
	overflow: auto;
}

.UIJCRExplorerPortlet .UIWorkingArea .UIPageIterator .PageIteratorContainer {
	float: none;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIDocumentWorkspace .UITabPane {
	height: auto;
}


.UIJCRExplorerPortlet .UIRelationManager .UIBreadcumbs .LeftBreadcumbsBar {
	height: 25px;
}

/*############################## -- End UIJCRExplorer -- ##############################*/

.UIJCRExplorerPortlet .UIFormWithTitle {
  width: 95%;
  margin: 15px auto;
}

.UIJCRExplorerPortlet .UIOneNodePathSelector .UIFormWithTitle {
  width: 560px;
  margin: 10px auto;
  border: 1px solid #b7b7b7;
  background: #F3F3F3;
}

.UIJCRExplorerPortlet .UICompareExactlyForm .UIFormWithTitle {
  margin: 0px auto;
  background: #efefef;
  border: solid 1px #939393;
  width: 97%;
  margin: 10px 0px 10px 5px; /* orientation=lt */
  margin: 10px 5px 10px 0px; /* orientation=rt */
}

.UIJCRExplorerPortlet .UITabPane .UICompareExactlyForm .UIFormWithTitle .HorizontalLayout {
	border: none;
}

.UIJCRExplorerPortlet .UIFormGrid .FieldComponent .ActionIcon {
  margin: 0px 5px;
  float: none;
}

.UIJCRExplorerPortlet .UIFormInputSet .UIFormInputSetWithAction .autocomplete {
    font-family: Tahoma;
    font-size: 8pt;
    background-color: white;
    border: 1px solid black;
    position: absolute;
    cursor: default;
    overflow: auto;
    overflow-x: hidden;
}

.UIJCRExplorerPortlet .UIFormInputSet .UIFormInputSetWithAction .autocomplete_item {
    padding: 1px;
    padding-left: 5px;
    color: black;
    width: 100%;
}

.UIJCRExplorerPortlet .UIFormInputSet .UIFormInputSetWithAction .autocomplete_item_highlighted {
    padding: 1px;
    padding-left: 5px;
    color: white;
    background-color: #0A246A;
}

.UIJCRExplorerPortlet .UIFormInputSet .UIFormInputSetWithAction .UIFormGrid td {
 	padding: 4px 8px 4px 0px; /* orientation=lt */
 	padding: 4px 0px 4px 8px; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIFormInputSet .UIFormInputSetWithAction .UIFormGrid .tagSet td {
 	padding: 4px 8px 4px 0px; /* orientation=lt */
 	padding: 4px 0px 4px 8px; /* orientation=rt */
 	line-height: 20px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIFormGrid .tagSet .FieldLabel {
		width: 110px;
		line-height: 20px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIFormGrid .tagSet .ActionField {
		float: left; /* orientation=lt */
	 float: right; /* orientation=rt */
		line-height: 20px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIFormGrid .tagSet a {
		color: black;
		float: left; /* orientation=lt */
	 float: right; /* orientation=rt */
	 padding-right: 12px; /* orientation=lt */
	 padding-left: 12px; /* orientation=rt */
		text-decoration:none;
}

.UIJCRExplorerPortlet .DriveNameInput .UIFormInputSet .UIFormInputSetWithAction .UIFormGrid {
  width: auto;
}

.UIJCRExplorerPortlet .SelectNodePath .UIFormInputSet .UIFormInputSetWithAction .UIFormGrid {
  width: auto;
}

.UIJCRExplorerPortlet .DriveNameInput .UIFormInputSet .UIFormInputSetWithAction .UIFormGrid td.FieldLabel {
 	padding: 4px 8px 4px 0px; /* orientation=lt */
 	padding: 4px 0px 4px 8px; /* orientation=rt */
 	_width: 120px;
	width: 43%;
}

.UIJCRExplorerPortlet .SelectNodePath .UIFormInputSet .UIFormInputSetWithAction .UIFormGrid td.FieldLabel {
 	padding: 4px 8px 4px 0px; /* orientation=lt */
 	padding: 4px 0px 4px 8px; /* orientation=rt */
 	_width: 120px;
	width: 43%;
}


.UIJCRExplorerPortlet .UIJcrExplorerEditContainer .UIOneNodePathSelector .UIWorkspaceList .UIFormGrid {
	width: 15%;
}

.UIJCRExplorerPortlet .UIForm .HorizontalLayout .UIFormInputSet {
	width: 100%;
	padding: 0px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIWorkingArea .UIContextMenuContainer {
	width: 200px;
	overflow: hidden;
}

.UIJCRExplorerPortlet .rootNodeInfo .UIFormInputSet .UIFormInputSetWithAction .FormContainer {
	padding: 0px;
}

.UIJCRExplorerPortlet .rootNodeInfo .UIFormInputSet .UIFormInputSetWithAction .UIFormGrid td {
	padding: 0px;
}

.UIJCRExplorerPortlet .UITreeTaxonomyList .rootNodeInfo .UIFormInputSet .UIFormInputSetWithAction .UIFormGrid td {
	padding: 4px;
}

/*############################## -- Begin UIDocumentWorkspace -- ##############################*/

.UIJCRExplorerPortlet .RightContainer {
  margin-left: 0px;
}

.UIJCRExplorerPortlet .UIDocumentWorkspace {
  overflow: auto;
}

.UIJCRExplorerPortlet .UIListView {
	position: relative;
}

.UIJCRExplorerPortlet .UITabPane .UIListView {
	background: white;
	border: 1px solid #b7b7b7;
	min-width: 660px;
}

.UIJCRExplorerPortlet .UIListView .UIListGrid {
	-moz-user-select: none;
	overflow: auto;
}

.UIJCRExplorerPortlet .UIListView .TitleTable {
	font-weight: bold;
	line-height: 25px; height: 27px;
  background: #f8f8f8;
  border: 1px solid #e1e1e1;
}

.UIJCRExplorerPortlet .UIListGrid  .ColumnIcon .BlueDownArrow16x16Icon{
	background-position: center center;
}

.UIJCRExplorerPortlet .UIListGrid .BlueDownArrow16x16Icon{
	margin: 6px 0px 0px 0px;
	line-height: 14px;
	padding-left: 0px !important;
}

.UIJCRExplorerPortlet .UIListView .OverHeader {
  background: url('DefaultSkin/background/OverThGridRepeatBg1x19.gif') repeat-x center;
	font-weight: bold;
	line-height: 19px; height: 19px;
}

.UIJCRExplorerPortlet .UIListView .ColumnName .NodeLabel {
  margin-right: 10px;
  overflow: hidden;
}

.UIJCRExplorerPortlet .UIListGrid .ColumnIcon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	height: 19px;
	overflow: hidden;
  white-space: nowrap;
  padding-left: 3px;
}

.UIJCRExplorerPortlet .UIListGrid .ColumnName {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	height: 19px;
	overflow: hidden;
  white-space: nowrap;
  padding-left: 3px;
  color: #4f4f4f;
}

.UIJCRExplorerPortlet .UIListGrid .ColumnAuditing {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	height: 19px;
	overflow: hidden;
  white-space: nowrap;
  padding-left: 3px;
  color: #4f4f4f;
}

.UIJCRExplorerPortlet .UIListGrid .ColumnVersion {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	height: 19px;
	overflow: hidden;
  white-space: nowrap;
  padding-left: 3px;
  color: #4f4f4f;
}

.UIJCRExplorerPortlet .UIListGrid .Columnowner {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	height: 19px;
	overflow: hidden;
  white-space: nowrap;
  padding-left: 3px;
  color: #4f4f4f;
}

.UIJCRExplorerPortlet .UIListGrid .ColumndateModified {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	height: 19px;
	overflow: hidden;
  white-space: nowrap;
  padding-left: 3px;
  color: #4f4f4f;
}

.UIJCRExplorerPortlet .UIListGrid .ColumndateCreated {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	height: 19px;
	overflow: hidden;
  white-space: nowrap;
  padding-left: 3px;
  color: #4f4f4f;
}

.UIJCRExplorerPortlet .UIListGrid .ColumnName .NodeLabel div{
	font-size: 12px;
}

.UIJCRExplorerPortlet .UIListGrid .RowView {
	line-height: 19px;
	margin-top: 6px;
}

.MoveItem .UIListGrid .RowView {
	margin-top: 0px;
}

.UIJCRExplorerPortlet .UIListGrid .RowView .ColumnIcon {
	padding: 2px 0px 2px 3px;
 	border-right: none; /* orientation=lt */
 	border-left: none; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIListGrid .RowView .ColumnName {
	padding: 2px 0px 2px 3px;
 	border-right: none; /* orientation=lt */
 	border-left: none; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIListGrid .RowView .ColumnAuditing {
	padding: 2px 0px 2px 3px;
 	border-right: none; /* orientation=lt */
 	border-left: none; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIListGrid .RowView .ColumnVersion {
	padding: 2px 0px 2px 13px;
 	border-right: none; /* orientation=lt */
 	border-left: none; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIListGrid .RowView .ColumndateModified{
	padding: 2px 0px 2px 10px;
 	border-right: none; /* orientation=lt */
 	border-left: none; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIListGrid .RowView .ColumnDatetime{
	padding: 2px 0px 2px 10px;
 	border-right: none; /* orientation=lt */
 	border-left: none; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIListGrid .RowView .ColumndateCreated{
	padding: 2px 0px 2px 10px;
 	border-right: none; /* orientation=lt */
 	border-left: none; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIListGrid .RowView .ColumnOwner {
	padding: 2px 0px 2px 3px;
 	border-right: none; /* orientation=lt */
 	border-left: none; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIListGrid .RowView .ColumnModified {
	padding: 2px 0px 2px 3px;
 	border-right: none; /* orientation=lt */
 	border-left: none; /* orientation=rt */
}


.UIJCRExplorerPortlet .UIListGrid .RowView .ColumnCreated {
	padding: 2px 0px 2px 3px;
 	border-right: none; /* orientation=lt */
 	border-left: none; /* orientation=rt */
}


.UIJCRExplorerPortlet .UIListGrid .Icon16x16 {
	float: none;
	margin: auto;
	width: 20px;
	line-height: 16px;
}

.UIJCRExplorerPortlet .UIListGrid .LinkSmall {
	background: url('DefaultSkin/background/LinkSmall.gif') no-repeat right bottom; /* orientation=lt */
	background: url('DefaultSkin/background/LinkSmall.gif') no-repeat left bottom; /* orientation=rt */
  width: 20px;
  height: 16px;
}

.UIJCRExplorerPortlet .UIListGrid .IconLocked {
	background: url('DefaultSkin/background/IconLocked.gif') no-repeat right top; /* orientation=lt */
	background: url('DefaultSkin/background/IconLocked.gif') no-repeat left top; /* orientation=rt */
  width: 20px;
  height: 16px;
  float: left;
}

.UIJCRExplorerPortlet .UIListGrid .LineLeft {
	background: url('/ecmexplorer/skin/icons/24x24/DefaultSkin/Split.gif') no-repeat center;
  width: 3px;
  height: 19px;
  float: left;/* orientation=lt */
  float: right;/* orientation=rt */
  cursor: col-resize;
  margin: 4px 0px 0px;
  padding: 0px 2px;
}

.UIJCRExplorerPortlet .RowView .LineLeftItem {  
  width: 3px;
  height: 19px;
  float: left;/* orientation=lt */
  float: right;/* orientation=rt */  
  margin: 4px 0px 0px;
  padding: 0px 2px;
}

.UIJCRExplorerPortlet .UIListGrid .ResizeHandle {
		cursor: col-resize;
		width: 1px;
		height: 190px; /* default height */
		border-right: 1px dashed #000;
		position: absolute;
		top: 0;
		left: 0;
}


.UIJCRExplorerPortlet .UIListGrid .RowView .ResizeColumn .NodeLabel {
	width: 95%;
	overflow: hidden;
}

/*############################## -- Begin TimelineView -- ##############################*/
 /*
	* trung.UI.exo
	*/


.UIJCRExplorerPortlet .UIListView .UITimelineView {
	overflow: auto;
	-moz-user-select: none;
	color: #666666;
}

.UIJCRExplorerPortlet .UIListView .UITimelineView .TitleTable {
	font-weight: bold;
	line-height: 23px; height: 28px;
  background: #f8f8f8;
  border: solid 1px #e1e1e1;
}

.UIJCRExplorerPortlet .UIListView .UITimelineView .Split{
	background: url('DefaultSkin/background/BgBorderTitle.gif') no-repeat right -23px; /* orientation=lt */
	background: url('DefaultSkin/background/BgBorderTitle.gif') no-repeat left -23px; /* orientation=rt */
	height: 23px;
	margin-top: 2px;
	width: 350px;
}


.UIJCRExplorerPortlet .UIListView .UITimelineView .OverHeader {
  background: url('DefaultSkin/background/OverThGridRepeatBg1x19.gif') repeat-x center;
	font-weight: bold;
	line-height: 19px; height: 19px;
}

.UIJCRExplorerPortlet .UITimelineView .LeftColumn {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 30px;
	height: 23px;
	overflow: hidden;
  white-space: nowrap;
}

.UIJCRExplorerPortlet .UITimelineView .RightColumn {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	padding-left: 3px; /* orientation=lt */
	padding-right: 3px; /* orientation=rt */
	width: 105px;
	overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
  margin-top: 2px;
}

.UIJCRExplorerPortlet .UIListView .UIListGrid .RightColumn {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	padding-left: 3px; /* orientation=lt */
	padding-right: 3px; /* orientation=rt */
	width: 105px;
	overflow: hidden;
	cursor: pointer;
	white-space: nowrap;
}

.UIJCRExplorerPortlet .UIListView .UIListGrid .RowView .RightColumn {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	padding-left: 3px; /* orientation=lt */
	padding-right: 3px; /* orientation=rt */
	width: 105px;
	overflow: hidden;
	cursor: pointer;
	white-space: nowrap;
}

.UIJCRExplorerPortlet .UITimelineView .ResizeColumn {
	height: 23px;
	_padding-left: 15px; /* orientation=lt */
	_padding-right: 15px; /* orientation=rt */
	white-space: nowrap;
	cursor: pointer;
}

.UIJCRExplorerPortlet .UITimelineView .RowView {
	line-height: 19px;
	padding-top: 5px;
}

.UIJCRExplorerPortlet .UITimelineView .RowView .BorderRow{
	border-bottom: dotted 1px #a0a0a0;
	margin: 0px 10px;
}

.UIJCRExplorerPortlet .UITimelineView .RowView .LasrBorderRow{
	border-bottom: none;
	margin: 0px 10px
}

.UIJCRExplorerPortlet .UITimelineView .RowView .RightColumn {
	padding: 2px 0px 2px 3px; /* orientation=lt */
	padding: 2px 3px 2px 0px; /* orientation=rt */
 	border-right: none; /* orientation=lt */
 	border-left: none; /* orientation=rt */
}

.UIJCRExplorerPortlet .UITimelineView .RowView .LeftColumn {
	padding: 2px 0px;
 	border-right: none; /* orientation=lt */
 	border-left: none; /* orientation=rt */
}

.UIJCRExplorerPortlet .UITimelineView .LeftColumn .Icon16x16 {
	float: none;
	margin: auto;
	width: 20px;
	line-height: 16px;
}

.UIJCRExplorerPortlet .UITimelineView .LeftColumn .LinkSmall {
	background: url('DefaultSkin/background/LinkSmall.gif') no-repeat right bottom; /* orientation=lt */
	background: url('DefaultSkin/background/LinkSmall.gif') no-repeat left bottom; /* orientation=rt */
  width: 20px;
  height: 16px;
}

.UIJCRExplorerPortlet .UITimelineView .RowView .ResizeColumn {
 	border-right: none; /* orientation=lt */
 	border-left: none; /* orientation=rt */
	padding: 2px 0px 2px 3px; /* orientation=lt */
	padding: 2px 3px 2px 0px; /* orientation=rt */
}

.UIJCRExplorerPortlet .UITimelineView .RowView .ResizeColumn .NodeLabel {
	width: 95%;
	overflow: hidden;
}

.UIJCRExplorerPortlet .UITimelineView .TextTitleDay {
  padding: 5px 0px 0px 10px; /* orientation=lt */
  padding: 5px 10px 0px 0px; /* orientation=rt */
  font-weight: bold;
}
 
.UIJCRExplorerPortlet .UITimelineView .TextTitleDay a:hover {
  color: blue;
}

.UIJCRExplorerPortlet .UITimelineView .ExpandCategory {
  cursor: pointer;
}

.UIJCRExplorerPortlet .UITimelineView .CollapseCategory {
  cursor: pointer;
}

.UIJCRExplorerPortlet .StarLight{
	background: url('DefaultSkin/background/Star.gif') no-repeat center top;
	height: 10px;
}

.UIJCRExplorerPortlet .StarOff{
	background: url('DefaultSkin/background/Star.gif') no-repeat center -10px;
	height: 10px;
}

.UIJCRExplorerPortlet .UITimelineView .ResizeColumn .PositionIconDocument{
	margin-left:70px; /* orientation=lt */
	margin-right:70px; /* orientation=rt */
	padding-left:30px; /* orientation=lt */
	padding-right:30px; /* orientation=rt */
	overflow:hidden;
	*margin-left:10px; /* orientation=lt */
	*margin-right:10px; /* orientation=rt */
}

.UIJCRExplorerPortlet .UITimelineView .ResizeColumn .PositionIconDocument a{
	color: #4f4f4f;
	font-size: 12px;
	line-height: 25px;
}

.UIJCRExplorerPortlet .UITimelineView .IconPic{
	background: url('DefaultSkin/background/IconDocument.gif') no-repeat left 4px; /* orientation=lt */
	background: url('DefaultSkin/background/IconDocument.gif') no-repeat right 4px; /* orientation=rt */
}

.UIJCRExplorerPortlet .UITimelineView .IconExcel{
	background: url('DefaultSkin/background/IconDocument.gif') no-repeat left -70px; /* orientation=lt */
	background: url('DefaultSkin/background/IconDocument.gif') no-repeat right -70px; /* orientation=rt */
}

.UIJCRExplorerPortlet .UITimelineView .IconAI{
	background: url('DefaultSkin/background/IconDocument.gif') no-repeat left -16px; /* orientation=lt */
	background: url('DefaultSkin/background/IconDocument.gif') no-repeat right -16px; /* orientation=rt */
}

.UIJCRExplorerPortlet .UITimelineView .IconAcrobat{
	background: url('DefaultSkin/background/IconDocument.gif') no-repeat left -35px; /* orientation=lt */
	background: url('DefaultSkin/background/IconDocument.gif') no-repeat right -35px; /* orientation=rt */
}

.UIJCRExplorerPortlet .UITimelineView .IconIndesign{
	background: url('DefaultSkin/background/IconDocument.gif') no-repeat left -53px; /* orientation=lt */
	background: url('DefaultSkin/background/IconDocument.gif') no-repeat right -53px; /* orientation=rt */
}

/*############################## -- Begin UIThumbnailsView -- ##############################*/

.UIJCRExplorerPortlet .UIThumbnailsView {
}

.UIJCRExplorerPortlet #UIDocumentWithTree .UIThumbnailsView {
	background: white;
	border: 1px solid #b7b7b7;
}

.UIJCRExplorerPortlet .UIThumbnailsView .ActionIconsContainer {
  padding-left: 10px; /* orientation=lt */
  padding-right: 10px; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIThumbnailsView .ActionIconBox {
  width: 90px;
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  margin: 5px;
  height: 110px;
  overflow:hidden;
}

.UIJCRExplorerPortlet .UIThumbnailsView .ActionIconContainer {
  width: 70px;
  height: 70px;
  border: solid 1px #eeeeee;
  background: #f8f8f8;
  margin: auto;
}

.UIJCRExplorerPortlet .UIThumbnailsView .ActionIcon {
  width: 50px;
  height: 50px;
  margin: 9px auto 0px auto;
}

.UIJCRExplorerPortlet .UIThumbnailsView .ThumbnailImage {
  width: 64px;
  height: 64px;
  border: 1px solid #afffff;
  text-align: center;
  margin: auto;
}

.UIJCRExplorerPortlet .UIThumbnailsView .Icon48x48 {
  width: 48px;
  height: 48px;
  margin: auto;
  cursor: pointer;
  position: relative;
}

.UIJCRExplorerPortlet .UIThumbnailsView .ActionIconLabel {
  width: 100px;
  line-height: 15px;
  margin: auto;
  height: 30px;
  text-align: center;
}

.UIJCRExplorerPortlet .UIThumbnailsView .ActionIconLabel a {
  color: #4f4f4f;
}

.UIJCRExplorerPortlet .UIThumbnailsView .ActionIconLabel a:hover {
  color: orange;
}

/*############################## -- End UIThumbnailsView -- ##############################*/

.UIJCRExplorerPortlet .UIJCRExplorer .UISearchResult {
	padding: 10px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIPopupWindow .UITabContent .UIArticle {
	border: solid 1px #cdcdcd;
	padding: 5px;
}

/*############################## -- BEGIN UIDocumentInfo -- ##############################*/

.UIJCRExplorerPortlet .UIJCRExplorer .UIDocumentWorkspace .TitleBG {
	height: 18px;
  background: url('/eXoDMSResources/skin/images/event/EventFrameBG.gif') repeat-x;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIDocumentWorkspace .HeaderBG {
  background: url('/eXoDMSResources/skin/images/event/EventFrameBG.gif') repeat-x;
  margin-bottom: 1px;
  padding: 0px 5px 0px 5px;
  height: 18px;
  border: solid 1px #bdbdbd;
  border-bottom: none;
}

/*############################## -- END UIDocumentInfo -- ##############################*/

/*===========================Folder Form=====================*/

.UIJCRExplorerPortlet .UIJCRExplorer .UIFolderForm {
	padding: 10px;
}

/*================================UIUploadForm===================================*/

.UIJCRExplorerPortlet .UIUploadManager {
  padding: 10px;
}

.UIJCRExplorerPortlet .UIUploadManager .SelectFileFrame {
	white-space: normal;
}

.UIJCRExplorerPortlet .UIUploadManager .SelectFileFrame .FileNameLabel {
	width: 230px;
	overflow: hidden;
	margin: 0px;
}
/*=============================UIWatchDocumentForm=======================*/

.UIJCRExplorerPortlet .UIWatchDocumentForm {
  padding: 10px;
}

/*=============================UITaggingForm=======================*/

.UIJCRExplorerPortlet .UITaggingForm {
  padding: 10px;
}

.UIJCRExplorerPortlet .UITaggingForm .FieldComponent .FieldComponent input {
  width: 180px;
}

.UIJCRExplorerPortlet .UITaggingForm .UIFormGrid .Introduction {
  padding-left: 5px; /* orientation=lt */
  padding-right: 5px; /* orientation=rt */
  color: #ef5604;
}

/*=============================UILanguageTypeForm============================*/

.UIJCRExplorerPortlet .UIAddLanguageContainer .UIUploadManager {
	padding: 0px;
}

/*=============================UICommentForm=======================*/

.UIJCRExplorerPortlet .UICommentForm {
  padding: 10px;
}

/*================================UISimpleSearch==============================*/

.UIJCRExplorerPortlet .UISimpleSearch .moreConstraints .InforField {
	line-height: 18px;
	_padding-top: 4px;
}

.UIJCRExplorerPortlet .moreConstraints .UIFormInputSet .UIFormInputSetWithAction .UIFormGrid td.FieldComponent {
	padding: 0px 4px;
}

.UIJCRExplorerPortlet .EditQueryForm {
  margin: 10px;
	border: 1px solid #AEAEAE;
	background: #F7F7F7;
	padding: 10px;
}

.UIJCRExplorerPortlet .UISaveQueryForm  {
 	margin: 10px;
	border: 1px solid #AEAEAE;
	background: #F7F7F7;
	padding: 10px;
}

.UIJCRExplorerPortlet .UISimpleSearch .UIFormGrid{
 table-layout: fixed;
}
/*================================UIJCRAdvancedSearch=================================*/

.UIJCRExplorerPortlet .UIJCRAdvancedSearch .FormContainer {
  width: 550px;
  margin: auto;
}

.UIJCRExplorerPortlet .UIJCRAdvancedSearch .HorizontalLayout textarea {
  padding: 3px;
}

.UIJCRExplorerPortlet .UISearchContainer .ConstraintOption .IconConstraint {
	cursor: pointer;
}

.UIJCRExplorerPortlet #UIECMSearch {
	padding: 8px;
	height: auto;
}

.UIJCRExplorerPortlet #UIECMSearch .TabsContainer {
	border-bottom: 1px solid #AEAEAE;
}

.UIJCRExplorerPortlet #UIECMSearch .UITabContentContainer .UITabContent {
	background: #ffffff;
}

/*================================UIConstraintsForm=================================*/

/*================================UIMetadataSelectForm=================================*/

.UIJCRExplorerPortlet .UIMetadataSelectForm {
	width: 95%;
	margin: 10px auto;
}

/*================================UINodeTypeSelectForm=================================*/

.UIJCRExplorerPortlet .UISearchContainer .UINodeTypeSelectForm {
	margin: 10px;
	border: 1px solid #AEAEAE;
	background: #F7F7F7;
	padding: 10px;
}

.UIJCRExplorerPortlet .UISearchContainer .UISelectPropertyForm {
	padding: 10px;
	margin: 10px;
	border: 1px solid #AEAEAE;
	background: #F7F7F7;
	padding: 10px;
}

.UIJCRExplorerPortlet .UISearchContainer .UISelectPropertyForm td.FieldLabel {
  text-transform: capitalize;
}

/*================================UIPropertyForm=================================*/

.UIJCRExplorerPortlet .UIPropertyForm .HorizontalLayout .UIFormGrid {
  width: 500px;
  margin: auto;
}

.UIJCRExplorerPortlet .UIPropertyForm .FieldComponent .MultiValueContainer  {
	overflow: hidden;
}

/*================================.UIExportNode=================================*/

.UIJCRExplorerPortlet .UIExportNode {
	padding: 10px;
}

.UIJCRExplorerPortlet .UIExportNode .UIFormGrid {
	width: auto;
	margin: auto;
}

.UIJCRExplorerPortlet .UIExportNode .UIFormGrid .FieldLabel {
	width: auto;
}
/*================================.UIImportNode=================================*/

.UIJCRExplorerPortlet .UIImportNode {
	padding: 10px;
}

.UIJCRExplorerPortlet .UIImportNode .UIFormGrid {
	width: auto;
	margin: auto;
}

.UIJCRExplorerPortlet .UIImportNode .UIFormGrid .FieldLabel {
	width: auto;
}

/*================================UIReferencesList=================================*/

.UIJCRExplorerPortlet .UIReferencesList {
  padding: 10px;
}

.UIJCRExplorerPortlet .UIReferencesList .UIPageIterator {
  width: 98%;
}

/*================================UIPermissionManager=================================*/

.UIJCRExplorerPortlet .UIPermissionManager {
  width: 95%;
  margin: auto;
  padding-top: 10px;
}

.UIJCRExplorerPortlet .UIPermissionManager .UIFormWithTitle .HorizontalLayout .FormContainer {
  padding: 0px;
}

.UIJCRExplorerPortlet .UIPermissionManager .UIPermissionForm .UIFormInputSet .AddIcon16x16 {
  margin-left: 5px; /* orientation=lt */
  margin-right: 5px; /* orientation=rt */
  float: none;
}

/*================================UIPropertyTab=================================*/

.UIJCRExplorerPortlet .UIPropertyTab .MultiValue .Icon16x16 {
	width: auto;
	padding-left: 20px; /* orientation=lt */
	padding-right: 20px; /* orientation=rt */
	float: none;
	background-position: left center; /* orientation=lt */
	background-position: right center; /* orientation=rt */
	height: 24px;
}

.UIJCRExplorerPortlet .UIPropertyTab .MultiValue {
	width: 50px;
	margin: auto;
}

.UIJCRExplorerPortlet .UIPropertyTab .UIGrid th {
  padding: 0px;
  white-space: nowrap;
  height: 19px;
}

.UIJCRExplorerPortlet .UIPropertyTab .UIGrid .Field1 {
	width: 30px;
}

.UIJCRExplorerPortlet .UIPropertyTab .UIGrid .Field3,.Field5 {
	width: 80px;
}

.UIJCRExplorerPortlet .UIPropertyTab .UIGrid .Icon16x16 {
  float: none;
  vertical-align: middle;
  margin: auto;
}
/*================================UINodeTypeInfo=================================*/

.UINodeTypeInfo .NavigationButtonContainer {
	display: none;
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	cursor: pointer;
}

.UINodeTypeInfo .UIGrid td {
  padding-right: 5px;
  padding-left: 5px;
}
/*================================UIGrid=================================*/

.UIJCRExplorerPortlet .UIGrid .OddRow {
  background: #fbfbfb;
}

.UIJCRExplorerPortlet .UIGrid tr {
  background: #f3f3f3;
}

/*=================================UICategoryManager==============================*/
.UIJCRExplorer .UIRenameForm {
	padding: 10px;
}

.UIJCRExplorer .UIRenameForm .FormContainer {
	width: 500px;
	margin: auto;
}
/*====================================UIActivateVersion==================================*/

.UIJCRExplorer .UIActivateVersion {
	border: solid 1px #b7b7b7;
	margin: 10px;
	background: #efefef;
}

/*====================================UIActivePublication==================================*/

.UIJCRExplorer .UIActivePublication {
	border: solid 1px #b7b7b7;
	margin: 10px;
	background: #efefef;
}

/*====================================UIActivateAuditing==================================*/

.UIJCRExplorer .UIActivateAuditing {
	border: solid 1px #b7b7b7;
	margin: 10px;
	background: #efefef;
}

/*================================ UIViewMetadataManager ====================================*/

.UIJCRExplorerPortlet .UIViewMetadataManager #UIViewMetadataForm {
	border: 1px solid #b7b7b7;
}

/*=============================== UIConstraintsForm =======================================*/

.UIJCRExplorerPortlet .UIConstraintsForm .UIFormWithTitle {
  width: auto;
}

/*====================================UISavedQuery==================================*/

.UIJCRExplorer .UISavedQuery {
	padding: 10px;
}

.EmptyGrid {
  width: 100px ;
  padding: 5px 0px 10px 0px;
  font-style: italic;
  margin: auto;
}

/*====================================MultiValueContainer==================================*/

.UIJCRExplorer .MultiValueContainer .MultiFieldAction {
	margin-left: 5px; /* orientation=lt */
	margin-right: 5px; /* orientation=rt */
	height: 18px;
	background-position: center;
}

.UIJCRExplorer .MultiValueContainer .UIFormUploadInput {
	margin-bottom: 5px;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
}

.UIJCRExplorer .MultiValueContainer .UIFormUploadInput .MultiFieldAction {
	margin: 4px 3px 0px 3px;
}

.UIJCRExplorer .MultiValueContainer .UIFormUploadInput .FileNameLabel {
	width: auto;
}

.UIJCRExplorer .UIConfirmMessage .RecycleBinFull {
  background: url('DefaultSkin/background/Recycle_Bin_Full.gif') no-repeat left top ;
	width: 29px; height: 33px;
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
}

.UIJCRExplorer .UIConfirmMessage .Text {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	padding-left: 10px; /* orientation=lt */
	padding-right: 10px; /* orientation=rt */
	width: 90%;
  overflow: hidden;
}

.UIJCRExplorer .UIUploadBehaviorWithSameName .RecycleBinFull {
  width: 48px; height: 48px;
  background: url('/eXoDMSResources/skin/DefaultSkin/skinIcons/48x48/icons/NodeTypes/exo-versionStorage.gif') no-repeat;
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
}

.UIJCRExplorer .UIUploadBehaviorWithSameName .Text {
	padding: 10px;
	width: 90%;
}

/*############################## -- End UIDocumentWorkspace -- ##############################*/


/*====================================UIActionManager==================================*/
.UIJCRExplorerPortlet .UITabContentContainer .UIActionContainer .UIFormWithoutAction {
	border: 1px solid #B7B7B7;
	width: 95%;
	margin: 10px auto;
}

.LoadingProgressIcon {
  width: 64px;
  height: 64px;
  background: url('DefaultSkin/background/LoadingProgress.gif') no-repeat center center;
  position: relative;
}

.UIJCRExplorerPortlet .UIThumbnailsView .Link {
  background: url('DefaultSkin/background/Link.gif') no-repeat right bottom;
  position: absolute;
  width: 16px;
  height: 16px;
  right: 0; /* orientation=lt */
  left: 0; /* orientation=rt */
  bottom: 0;
}

.UIJCRExplorerPortlet .UIThumbnailsView .IconLocked {
  background: url('DefaultSkin/background/IconLockedBig.gif') no-repeat right top;
  position: absolute;
  width: 16px;
  height: 48px;
  right: 0; /* orientation=lt */
  left: 0; /* orientation=rt */
  bottom: 0;
}


/*===========================================UIRightClickPopupMenu===========================================*/
.UIRightClickPopupMenu .MenuURLIcon {
	line-height:16px;
	padding: 5px 0 5px 26px; /* orientation=lt */
	padding: 5px 26px 5px 0px; /* orientation=rt */
	width: auto;
}

.UIRightClickPopupMenu .ItemSelected .MenuURLIcon {
	color: orange;
}

.UIJCRExplorerPortlet .UIRightClickPopupMenu .ItemSelected {
	cursor: pointer;
	background-color: #eaeaea;
	padding: 0 10px;
}

.UIRightClickPopupMenu .ItemSelected .ItemIcon {
	padding: 5px 0px 5px 26px; /* orientation=lt */
	padding: 5px 26px 5px 0px; /* orientation=rt */
	line-height: 16px;
	white-space: nowrap;
	color: orange;
	width: auto;
}

.UIJCRExplorerPortlet .UISymLinkManager {
  padding: 10px;
}

.UIJCRExplorerPortlet .UISymLinkManager .SelectFileFrame {
  white-space: normal;
}

.UIJCRExplorerPortlet .UISymLinkManager .SelectFileFrame .FileNameLabel {
  width: 230px;
  overflow: hidden;
  margin: 0px;
}

.UITrees .Node .NodeIconLink {
	background-position: left top;

	font-weight: bold;
	height:  16px;
	padding-left: 11px;
	width: 20px;
}

.UIOneNodePathSelector .LinkSmall {
	background: url('DefaultSkin/background/LinkSmall.gif') no-repeat left bottom;
  width: 20px;
  height: 15px;
  padding-left: 12px;
  right: 0;
  bottom: 0;
}

.UIOneTaxonomySelector .LinkSmall {
	background: url('DefaultSkin/background/LinkSmall.gif') no-repeat left bottom;
  width: 20px;
  height: 15px;
  padding-left: 12px;
  right: 0;
  bottom: 0;
}

.UIImportNode .HorizontalLayout select {
  font-size: 11px;
  width: 100px;
}

.UIUploadForm .GroupUploadILine {
  background: url('DefaultSkin/background/DotLine1x2.gif') repeat-x;
  height: 2px;
  margin: 10px;
}

/*===============================UIDrivesArea===================================*/

.UIJCRExplorerPortlet .UIJCRExplorer .UIDrivesArea {
	background:#F8F8F8;
    border: 1px solid #E1E1E1;
    padding: 6px;
}

.UIJCRExplorer .UIDrivesArea .UIDriversAreaContainer{
	padding: 10px;
	color: #666666;
	background: white;
  overflow: hidden;
}

.UIJCRExplorer .UIDrivesArea .RowDrives{
	border-bottom: dotted 1px #cccccc;
	padding-bottom: 20px;
}

.UIJCRExplorer .UIDrivesArea .RowNormal{
	padding-bottom: 15px;
	padding-top: 15px;
}

.UIJCRExplorer .UIDrivesArea .IconArrowDrives{
	background: url('DefaultSkin/background/ArrowDrivers.gif') no-repeat left center; /* orientation=lt */
	background: url('DefaultSkin/background/ArrowDrivers-rt.gif') no-repeat right center; /* orientation=rt */
	height: 15px;
}

.UIJCRExplorer .UIDrivesArea .TextTitleDriver{
	font-weight: bold;
	text-transform: uppercase;
	padding-left: 15px;
	line-height: 15px;
	margin-bottom:10px;
}

.UIJCRExplorer .UIDrivesArea .Drive {
	margin: 5px;
	float: left;
	width:150px;
	line-height: 19px;
	height: 50px;
}

.UIJCRExplorer .UIDrivesArea .DriveLabel {
	margin:3px auto 0;
}

.UIJCRExplorer .UIDrivesArea .RowDrivesGroups .DriveLabel {
  padding-left: 33px;
  word-wrap: break-word;
  display: block;
}

.UIJCRExplorer .UIDrivesArea .RowDrivesGroups .Drive {
  height: 70px;
}

.UIJCRExplorer .UIDrivesArea .DriveIcon {
	margin: 0px 5px 3px 0px; /* orientation=lt */
	margin: 0px 0px 3px 5px; /* orientation=rt */
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 27px;
	cursor: pointer;
}

.UIJCRExplorer .UIDrivesArea .IconDrivesDefault{
	background: url('DefaultSkin/background/DefaultDriveIcon.gif') no-repeat;
	height: 23px;
}

.UIJCRExplorer .UIDrivesArea .IconDrivessystem{
	background: url('DefaultSkin/background/IconDrivesArea.gif') no-repeat left top;
	height: 23px;
}

.UIJCRExplorer .UIDrivesArea .IconDrivesdms-system{
	background: url('DefaultSkin/background/IconDrivesArea.gif') no-repeat center -23px;
	height: 23px;
}


.UIJCRExplorer .UIDrivesArea .IconDrivescollaboration{
	background: url('DefaultSkin/background/IconDrivesArea.gif') no-repeat center -46px;
	height: 23px;
}

.UIJCRExplorer .UIDrivesArea .IconDrivesbackup{
	background: url('DefaultSkin/background/IconDrivesArea.gif') no-repeat center -69px;
	height: 23px;
}

.UIJCRExplorer .UIDrivesArea .IconDrivesUse{
	background: url('DefaultSkin/background/IconDrivesArea.gif') no-repeat center -92px;
	height: 23px;
}

.UIJCRExplorer .UIDrivesArea .IconDrivesPrivate{
	background: url('DefaultSkin/background/IconDrivesArea.gif') no-repeat center -115px;
	height: 23px;
}

.UIJCRExplorer .UIDrivesArea .IconDrivesPublic{
	background: url('DefaultSkin/background/IconDrivesArea.gif') no-repeat center -138px;
	height: 25px;
}

.UIJCRExplorer .UIDrivesArea .IconDrivesPersonal{
	background: url('DefaultSkin/background/IconDrivesArea.gif') no-repeat center bottom;
	height: 23px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIFormGrid .FileNameLabel {
 overflow: hidden;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UISaveQueryForm .UIFormGrid .FieldLabel {
    width: 80px;
}

.UIJCRExplorerPortlet .UIListGrid .ColumnIcon .BlueUpArrow16x16Icon{
 background-position: center center;
}

.UIJCRExplorerPortlet .UIListGrid .BlueUpArrow16x16Icon{
 margin: 6px 0px 0px 0px;
 line-height: 14px;
 padding-left: 0px !important;
}
