/**
 * Created by The eXo Platform SARL
 * Author : Tran The Trong
 *          trongtt@gmail.com
 * August 01, 2006
 * version: $Id$
 */

/*############################## -- Begin UIFormWithTitle -- ##############################*/
.UIJCRExplorerPortlet .UIFormWithTitle .FieldContainer .UIFormInputSet {
  background: none ;
  border: none ;
}
/*############################## -- End UIFormWithTitle -- ##############################*/

/*############################## -- Begin UIVersionInfo -- ##############################*/

.UIJCRExplorerPortlet .UIVersionInfo  {  
  padding: 12px;
}

.UIJCRExplorerPortlet .UIVersionInfo .UITabPane {
  height: auto;
}

.UIJCRExplorerPortlet .UIVersionInfo .FileContent {  
  padding: 10px 0px;
}

.UIJCRExplorerPortlet .UIVersionInfo .FormContainer .UIFormGrid {
  width: 500px;
  margin: auto;
}

.UIJCRExplorerPortlet .UIVersionInfo .UILabelForm .HorizontalLayout {
  padding: 1px;
}

.UIJCRExplorerPortlet .UIVersionInfo .UILabelForm .HorizontalLayout .FormContainer {
  border: none;
}

.UIJCRExplorerPortlet .UIVersionInfo .UIRemoveLabelForm .HorizontalLayout {
  padding: 1px;
}

.UIJCRExplorerPortlet .UIVersionInfo .UIRemoveLabelForm .HorizontalLayout .FormContainer {
  border: none;
}

.UIJCRExplorerPortlet .UIVersionInfo .Icon16x16 {
  margin: 7px 5px 0px 5px;
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  width: 16px; height: 16px;
  cursor: pointer;
}

.UIJCRExplorerPortlet .UIVersionInfo .Icon24x24 {
  margin: 2px 3px 2px 0px; /* orientation=lt */
  margin: 2px 0px 2px 3px; /* orientation=rt */
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  width: 24px; height: 24px;
}

.UIJCRExplorerPortlet .UIVersionInfo .HomeNode {
  padding: 0px 10px;
  line-height: 30px;
  background-color: #eaedf6;
  margin-bottom: 1px;
  font-weight: bold;
}

.UIJCRExplorerPortlet .UIVersionInfo .Node {
  height: 30px;
  line-height: 30px;
  background-color: #eaedf6;
  margin-bottom: 1px;
}

.UIJCRExplorerPortlet .UIVersionInfo .NodeEven {
  line-height: 30px;
  background-color: #e4e7f3;
  margin-bottom: 1px;
  height: 30px;
}

.UIJCRExplorerPortlet .UIVersionInfo .NoneIcon {
  margin: 7px 0px;
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  width: 16px; height: 16px;  
}

.UIJCRExplorerPortlet .UIVersionInfo .ExpandIcon {
  margin: 7px 0px;
  float: left;
  width: 16px; height: 16px;
  cursor: pointer;
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/SmallGray.gif') no-repeat left -16px; /* orientation=lt */
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/SmallGray-rt.gif') no-repeat right -16px; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIVersionInfo .ColapseIcon {
  margin: 7px 5px 0px 5px;
  width: 16px; height: 16px;
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  cursor: pointer;
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/SmallGray.gif') no-repeat left top; /* orientation=lt */
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/SmallGray.gif') no-repeat right top; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIVersionInfo .NodeActionsContainer {
  float: right; /* orientation=lt */
  float: left; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIVersionInfo .UITabPane .UIGrid tr td .UIGrid {
	border: none;
	border-top: solid 1px #cccccc;
}

.UIJCRExplorerPortlet .UIVersionInfo .UITabPane .UIGrid tr td .UIGrid tr {
  border-top: 1px solid white;
} 

/*############################## -- Begin UIAuditingInfo -- added CPop Bull CS ##############################*/

.UIJCRExplorerPortlet .UIAuditingInfo  {  
  padding: 10px;
}

.UIJCRExplorerPortlet .UIAuditingInfo .HomeNode {
  padding: 0px 10px;
  line-height: 30px;
  background-color: #eaedf6;
  margin-bottom: 1px;
  font-weight: bold;
}

/*############################## -- Begin UIDiff -- ##############################*/

.UIJCRExplorerPortlet .UIDiff .FileContent {  	  
  font-family: Verdana;
  color: #0e396c; font-size: 11px;
  text-align: left;
  padding: 10px 0px;
}
	
.UIJCRExplorerPortlet .UIDiff .FileContent .NavigationContainer{  
  padding-bottom: 5px;
  background: url(/ecmexplorer/skin/images/file/TitleBG1x21.gif) repeat-x center top;
	border: 1px solid #CBCBCB;
}
	
.UIJCRExplorerPortlet .UIDiff .FileContent .TopTitle{  
  height: 21px; line-height: 21px;
  font-family: Verdana;
  color: #1e1e1e; font-weight: bold; 
  background: none;
  border: none;
  padding-left: 10px;
}
	
.UIJCRExplorerPortlet .UIDiff .FileContent .Content {  
  padding: 10px;
  border: none;
  height: auto;
}

.UIJCRExplorerPortlet .UIDiff .FileContent .ContentDetail {
	text-align: center;
	border: none ;
	padding: 0px;
}

.UIJCRExplorerPortlet .UIDiff .FileContent .ContentDetailLeft {  
  width: 45%;
  border: 1px solid #e1e1e1; 	  
 	float: left; /* orientation=lt */
 	float: right; /* orientation=rt */
  margin: 0px 10px;
}
	
.UIJCRExplorerPortlet .UIDiff .FileContent .ContentDetailLeft label {
	font-family: Verdana;
  color: #058ee6; font-weight: bold; 
  font-size: 11px;	
} 

.UIJCRExplorerPortlet .UIDiff .FileContent .VersionInfo {
	border: 1px dotted #e1e1e1; 	  
  margin: 2px;
  padding: 3px 2px;
}	

.UIJCRExplorerPortlet .UIDiff .NavigationContainer .WorkContainerDiff {
	border: solid 2px white;
	padding: 4px 0px 10px 7px; /* orientation=lt */
	padding: 4px 7px 10px 0px; /* orientation=rt */
}	

.UIJCRExplorerPortlet .UIDiff .NavigationContainer .ContentEmpty {
	border: solid 1px #cdcdcd;
	color: #ef5604;
	text-align: center;
	padding: 20px 0px;
}	

.UIJCRExplorerPortlet .UIDiff .FileContent .UIGrid td {
	padding: 1px;
	background: white;
} 

.UIJCRExplorerPortlet .UIDiff .FileContent .ContentDetailRight label {
	font-family: Verdana;
  color: #058ee6; font-weight: bold; 
} 

.UIJCRExplorerPortlet .UIDiff .FileContent .ContentDetailRight {  
  width: 45%;
  border: 1px solid #e1e1e1; 	  
 	float: right; /* orientation=lt */
 	float: left; /* orientation=rt */
  margin: 0px 10px;
}
	
.UIJCRExplorerPortlet .UIDiff .FileContent .UIVoteForm {
		padding: 0px;
}
	
.UIJCRExplorerPortlet .UIDiff .FileContent .UIRatingInfoContainer {
		margin: 0px;
}

/*############################## -- Begin UINodeTypeInfo -- ##############################*/
.UIJCRExplorerPortlet .UINodeTypeInfo {
  padding: 10px;
}

.UIJCRExplorerPortlet .UINodeTypeInfo .Icon16x16 {
  width: auto; 
  height: 20px;
  padding-left: 18px; /* orientation=lt */
  padding-right: 18px; /* orientation=rt */
  background-position: left center; /* orientation=lt */
  background-position: right center; /* orientation=rt */
  overflow: hidden;
	float: none;
}

.UIJCRExplorerPortlet .UINodeTypeInfo .HorizontalLayout {
  border: solid 1px #939393; border-top: none;
  padding: 10px 0px 10px 4px; /* orientation=lt */
  padding: 10px 4px 10px 0px; /* orientation=rt */
  background: none repeat scroll 0 0 white;
}

.UIJCRExplorerPortlet .UINodeTypeInfo .HorizontalLayout .UITabContentContainer {
  width: 97%;
  margin: auto;
}

.UIJCRExplorerPortlet .GridTitleBar {
  margin-top: 15px;
  font-weight: bold;
}

.UIJCRExplorerPortlet .GridTitleBar table {
	width: auto;
}

.UIJCRExplorerPortlet .GridTitleBar .GridTitleLeftBar {
  padding-left: 5px; /* orientation=lt */
  padding-right: 5px; /* orientation=rt */
  line-height: 21px;
  background: url('DefaultSkin/background/InfoBar.gif') no-repeat left top; /* orientation=lt */
  background: url('DefaultSkin/background/InfoBar-rt.gif') no-repeat right top; /* orientation=rt */
}

.UIJCRExplorerPortlet .GridTitleBar .GridTitleRightBar {
  padding-right: 21px; /* orientation=lt */
  padding-left: 21px; /* orientation=rt */
  line-height: 21px;
  background: url('DefaultSkin/background/InfoBar.gif') no-repeat right -21px; /* orientation=lt */
  background: url('DefaultSkin/background/InfoBar-rt.gif') no-repeat left -21px; /* orientation=rt */
}

.UIJCRExplorerPortlet .GridTitleBar .GridTitleMiddleBar {
  line-height: 21px;
  background: url('DefaultSkin/background/InfoBar.gif') repeat-x left -42px;
  padding: 0px 10px;
}

/*############################## -- UIMultiLanguageForm   -- ##############################*/
.UIJCRExplorerPortlet .UILanguageTypeForm .UIBarStyle {
	height: 70px ;
}

/*############################## -- Begin UIVoteForm   -- ##############################*/

.UIJCRExplorerPortlet .UIVoteForm {
  padding: 10px;
}

.UIJCRExplorerPortlet .VoteFormContainer {
	padding-top: 8px;
  background: #efefef;
  border: solid 1px #aeaeae;
}

.UIJCRExplorerPortlet .VoteFormContainer .UIRatingInfoContainer {
  background: white;
  width: 150px;
  padding: 5px 12px;
  border: solid 1px #b7b7b7;
  margin: auto;
}

.UIJCRExplorerPortlet .UIVoteForm .NormalVote {
  cursor: pointer;
}

.UIJCRExplorerPortlet .UIVoteForm .OptionsContainer {
	margin: auto;
	width: 120px; 
	height: 20px;
}

.UIJCRExplorerPortlet .UIVoteForm .OptionsContainer .NormalVote {
  background: url('/eXoDMSResources/skin/images/vote/ImageVote.gif') left -16px;
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
	margin: 2px 3px 0px;
	width: 16px; height: 16px;
} 

.UIJCRExplorerPortlet .UIVoteForm .OptionsContainer .RatedVote {
  background: url('/eXoDMSResources/skin/images/vote/ImageRate.gif') left -35px;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	margin: 2px 3px 0px;
	width: 16px; height: 16px;
}

.UIJCRExplorerPortlet .UIVoteForm .OptionsContainer .OverVote {
  background: url('/eXoDMSResources/skin/images/vote/ImageVote.gif') left top;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	margin: 2px 3px 0px;
	width: 16px; height: 16px;
}

/*############################## -- End UIVoteForm   -- ##############################*/

/*############################## -- UISearch   -- ##############################*/

.UIJCRExplorerPortlet .UISearchContainer .ConstraintOption {
  margin: 10px 0px 10px 5px; /* orientation=lt */
  margin: 10px 5px 10px 0px; /* orientation=rt */
  height: 26px;
}

.UIJCRExplorerPortlet .UISearchContainer .ConstraintOption .Label {
  line-height: 18px;
}

.UIJCRExplorerPortlet .UISearchContainer .ConstraintOption input.checkbox {
 	margin: 5px 3px 0px 0px; /* orientation=lt */
 	margin: 5px 0px 0px 3px; /* orientation=rt */
}

.UIJCRExplorerPortlet .UISearchContainer .UICompareExactlyForm {
	background: #F7F7F7;
	border: 1px solid #AEAEAE;
	margin: 10px;
}

.UIJCRExplorerPortlet .UISearchContainer .UICompareExactlyForm select {
  width: 415px;
  height: 170px;
  vertical-align: baseline;
}

.UIJCRExplorerPortlet .UISelectPropertyForm .UIFormWithTitle .HorizontalLayout {
  margin: auto;
}

.UIJCRExplorerPortlet .UISearchContainer .UINodeTypeSelectForm .UIFormWithTitle .HorizontalLayout {
  margin: auto;
  border: 1px solid #939393;
  width: 350px ;
}

.UIJCRExplorerPortlet .UISearchContainer .UIFormWithTitle .HorizontalLayout {
  width: 520px;
  border: none;
  margin: auto;
}

.UIJCRExplorerPortlet .UIPopupWindow .UIWindowContent .UISearch {
  height: 350px ;
}

.UIJCRExplorerPortlet .UIPopupWindow .UIWindowContent .UIUserContainer .UISearch {
  height: 50px ;
}

/*############################## -- End UISearch   -- ##############################*/

/*############################## -- Others   -- ##############################*/

.UIJCRExplorerPortlet .UIPopupAction .MultiRadioInput {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIPopupAction .MultiRadioInput input.radio {
	margin-left: 0px; /* orientation=lt */
	margin-right: 0px; /* orientation=rt */
}

.UIJCRExplorer .UIPopupWindow .Content .WorkWorkFlow .UIGrid {
	border-top: none;
}

.UIJCRExplorer .UIPopupWindow .Content .WorkWorkFlow .UIGrid td {
	border-top: solid 1px #cccccc;
	line-height: 26px;
}
