/**
 * Created by The eXo Platform SARL
 * Modifile : Vu Duy Tu
 *           duytucntt@gmail.com
 * December 08, 2006
 * version: $Id$
 */


.UIJCRExplorerPortlet .UIVersionInfo  {  
  padding: 10px;
}

.UIJCRExplorerPortlet .UIVersionInfo .FormContainer .UIFormGrid {
  width: 500px;
  margin: auto;
}

.UIJCRExplorerPortlet .UIVersionInfo .UILabelForm .HorizontalLayout {
  padding: 1px;
  border: 1px solid #BEC1C7;
  border-top: none;
}

.UIJCRExplorerPortlet .UIVersionInfo .UILabelForm .HorizontalLayout .FormContainer {
  border: none;
}

.UIJCRExplorerPortlet .UIVersionInfo .UIRemoveLabelForm .HorizontalLayout {
  padding: 1px;
}

.UIJCRExplorerPortlet .UIVersionInfo .UIRemoveLabelForm .HorizontalLayout .FormContainer {
  border: none;
}

.UIJCRExplorerPortlet .UIVersionInfo .Icon16x16 {
  margin: 7px 5px 0px;
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  cursor: pointer;
  width: 16px; height: 16px;
}

.UIJCRExplorerPortlet .UIVersionInfo .Icon24x24 {
  margin: 2px 3px 2px 0px; /* orientation=lt */
  margin: 2px 0px 2px 3px; /* orientation=rt */
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  width: 24px; height: 24px;
}

.UIJCRExplorerPortlet .UIVersionInfo .HomeNode {
  padding: 0px 10px;
  line-height: 30px;
  background-color: #eaedf6;
  margin-bottom: 1px;
  font-weight: bold;
}

.UIJCRExplorerPortlet .UIVersionInfo .Node {
  height: 30px;
  line-height: 30px;
  background-color: #eaedf6;
  margin-bottom: 1px;
}

.UIJCRExplorerPortlet .UIVersionInfo .NodeEven {
  line-height: 30px;
  background-color: #e4e7f3;
  margin-bottom: 1px;
}
.UIJCRExplorerPortlet .UIVersionInfo .NoneIcon {
  margin: 7px 0px;
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  width: 16px; height: 16px;  
}

.UIJCRExplorerPortlet .UIVersionInfo .ExpandIcon {
  margin: 7px 0px;
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  width: 16px; height: 16px;
  cursor: pointer;
  background: url('/eXoResources/icons/16x16/DefaultSkin/SmallGray.gif') no-repeat left -16px; /* orientation=lt */
  background: url('/eXoResources/icons/16x16/DefaultSkin/SmallGray-rt.gif') no-repeat right -16px; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIVersionInfo .ColapseIcon {
  margin: 7px 5px 0px 5px;
  width: 16px; height: 16px;
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  cursor: pointer;
  background: url('/eXoResources/icons/16x16/DefaultSkin/SmallGray.gif') no-repeat left top; /* orientation=lt */
  background: url('/eXoResources/icons/16x16/DefaultSkin/SmallGray-rt.gif') no-repeat right top; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIVersionInfo .NodeActionsContainer {
  float: right; /* orientation=lt */
  float: left; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIVersionInfo .UIFormWithTitle {
	border: none;
	padding: 10px 0px;
	margin: 0px auto;
}

/*############################## -- Begin UIDiff -- ##############################*/
	
.UIJCRExplorerPortlet .UIDiff {
}

.UIJCRExplorerPortlet .UIDiff .FileContent {  	  
  font-family: Verdana;
  color: #0e396c; font-size: 11px;
  text-align: left; /* orientation=lt */
  text-align: right; /* orientation=rt */
  padding: 5px 0px;
}
	
.UIJCRExplorerPortlet .UIDiff .FileContent .NavigationContainer{  
  padding-bottom: 5px;
}
	
.UIJCRExplorerPortlet .UIDiff .FileContent .TopTitle{  
  padding-left: 10px;
  height: 21px; line-height: 21px;
  font-family: Verdana;
  color: #058ee6; font-weight: bold; 
  background: url('/ecmexplorer/skin/images/file/TitleBG1x21.gif') repeat-x;
  border: 1px solid #cbcbcb;
}
	
.UIJCRExplorerPortlet .UIDiff .FileContent .Content {  
  padding: 10px;
  border: 1px solid #cbcbcb; 
  border-top: none;
}

.UIJCRExplorerPortlet .UIDiff .FileContent .ContentDetail {
	text-align: center;
	border:none ;
}

.UIJCRExplorerPortlet .UIDiff .FileContent .ContentDetailLeft {  
  width: 45%;
  border: 1px solid #e1e1e1; 	  
 	float: left; /* orientation=lt */
 	float: right; /* orientation=rt */
  margin: 0px 10px;
}
	
.UIJCRExplorerPortlet .UIDiff .FileContent .ContentDetailLeft label{		
	font-family: Verdana;
  color: #058ee6; font-weight: bold; 
  font-size: 11px;	
} 

.UIJCRExplorerPortlet .UIDiff .FileContent .VersionInfo{
	border: 1px dotted #e1e1e1; 	  
  margin: 2px;
  padding: 3px 2px;
}	

.UIJCRExplorerPortlet .UIDiff .FileContent .ContentDetailRight label{		
	font-family: Verdana;
  color: #058ee6; font-weight: bold; 
  font-size: 11px;	
} 

.UIJCRExplorerPortlet .UIDiff .FileContent .ContentDetailRight {  
  width: 45%;
  border: 1px solid #e1e1e1; 	  
 	float: right; /* orientation=lt */
 	float: left; /* orientation=rt */
  margin: 0px 10px;
}
	
/*############################## -- Begin UIVoteForm   -- ##############################*/

.UIJCRExplorerPortlet .UIVoteForm {
  padding: 10px;
}

.UIJCRExplorerPortlet .VoteFormContainer {
	padding-top: 8px;
  border: solid 1px #aeaeae;
}

.UIJCRExplorerPortlet .VoteFormContainer .UIRatingInfoContainer {
  background: white;
  width: 150px;
  padding: 5px 12px;
  border: solid 1px #b7b7b7;
  margin: auto;
}

.UIJCRExplorerPortlet .UIVoteForm .NormalVote {
  cursor: pointer;
}

.UIJCRExplorerPortlet .UIVoteForm .OptionsContainer {
	margin: auto;
	width: 120px; height: 20px;
}

.UIJCRExplorerPortlet .UIVoteForm .OptionsContainer .NormalVote {
  background: url('/eXoDMSResources/skin/images/vote/ImageVote.gif') left -16px;
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
	margin: 2px 3px 0px;
	width: 16px; height: 16px;
} 

.UIJCRExplorerPortlet .UIVoteForm .OptionsContainer .RatedVote {
  background: url('/eXoDMSResources/skin/images/vote/ImageRate.gif') left -35px;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	margin: 2px 3px 0px;
	width: 16px; height: 16px;
}

.UIJCRExplorerPortlet .UIVoteForm .OptionsContainer .OverVote {
  background: url('/eXoDMSResources/skin/images/vote/ImageVote.gif') left top;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	margin: 2px 3px 0px;
	width: 16px; height: 16px;
}


/*############################## -- Begin UINodeTypeInfo -- ##############################*/
.UIJCRExplorerPortlet .UINodeTypeInfo {
  padding: 5px 0px;
}

.UIJCRExplorerPortlet .UINodeTypeInfo .Icon16x16 {
  padding-left: 18px; /* orientation=lt */
  padding-right: 18px; /* orientation=rt */
	height: 20px;
  line-height: 20px;
	width: auto;
	background-position: left center; /* orientation=lt */
	background-position: right center; /* orientation=rt */
  overflow: hidden;
  float: none;
}

.UIJCRExplorerPortlet .UINodeTypeInfo .HorizontalLayout {
  border: solid 1px #8D919D;
  background-color: #f2f2f2;
  padding: 10px;
}

.UIJCRExplorerPortlet .GridTitleBar {
  margin-top: 15px;
}

.UIJCRExplorerPortlet .GridTitleBar table {
	width: auto;
	margin: 0px;
}

.UIJCRExplorerPortlet .GridTitleBar .GridTitleLeftBar  {
  line-height: 24px;
  background: url('VistaSkin/background/InfoBar.png') no-repeat left top; /* orientation=lt */
  background: url('VistaSkin/background/InfoBar-rt.png') no-repeat right top; /* orientation=rt */
  padding-left: 30px; /* orientation=lt */
  padding-right: 30px; /* orientation=rt */
}

.UIJCRExplorerPortlet .GridTitleBar .GridTitleRightBar {
  line-height: 24px;
  background: url('VistaSkin/background/InfoBar.png') no-repeat right -24px; /* orientation=lt */
  background: url('VistaSkin/background/InfoBar-rt.png') no-repeat left -24px; /* orientation=rt */
  padding-right: 34px; /* orientation=lt */
  padding-left: 34px; /* orientation=rt */
}

.UIJCRExplorerPortlet .GridTitleBar .GridTitleMiddleBar {
  line-height: 24px;
  background: url('VistaSkin/background/InfoBar.png') repeat-x left -48px;
  padding: 0px 10px;
}
/*############################## -- End UINodeTypeInfo -- ##############################*/

.UIJCRExplorerPortlet .UICategoriesAddedList .DeleteIcon {
  margin-left: 15px ; /* orientation=lt */
  margin-right: 15px; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIRelationsAddedList .DeleteIcon {
  margin-left: 15px;
}

/*############################## --End UITreeJCRExplorer   -- ##############################*/

/*############################## -- UISearch   -- ##############################*/

.UIJCRExplorerPortlet .UISearchContainer .ConstraintOption {
  margin: 10px 0px;
  overflow: hidden;
}

.UIJCRExplorerPortlet .UISearchContainer .ConstraintOption .Label {
  line-height: 18px;
}

.UIJCRExplorerPortlet .UISearchContainer .ConstraintOption input.checkbox {
 	margin: 5px 3px 0px 0px; /* orientation=lt */
 	margin: 5px 0px 0px 3px; /* orientation=rt */
}

.UIJCRExplorerPortlet .UISearchContainer .UICompareExactlyForm select {
  width: 430px;
  vertical-align: baseline;
}

.UIJCRExplorerPortlet .UISelectPropertyForm .UIFormWithTitle .HorizontalLayout {
  margin: auto;
}

.UIJCRExplorerPortlet .UISearchContainer .UINodeTypeSelectForm .UIFormWithTitle .HorizontalLayout {
  margin: auto;
  border: 1px solid #939393;
  width: 350px;
}

.UIJCRExplorerPortlet .UISearchContainer .UIFormWithTitle .HorizontalLayout {
  width: 520px;
  border: none;
  margin: auto;
}

.UIJCRExplorerPortlet .UISimpleSearch .HorizontalLayout .UIFormInputSet {
  padding: 0px;
}

.UIJCRExplorerPortlet .moreConstraints .UIFormInputSet .UIFormInputSetWithAction .UIFormGrid td.FieldComponent {
	padding: 0px 4px;
}

.UIJCRExplorerPortlet .UISimpleSearch .moreConstraints .InforField {
	line-height: 24px;
	_padding-top: 4px;
}


/*############################## -- End UISearch   -- ##############################*/

/*############################## -- Others   -- ##############################*/

.UIJCRExplorerPortlet .UIPopupAction .MultiRadioInput {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIPopupAction .MultiRadioInput input.radio {
	margin-left: 0px;
}

.UIJCRExplorerPortlet .UIUploadForm {
  padding: 10px;
}

.UIJCRExplorerPortlet .PopupContent .UIUploadForm .UIForm .HorizontalLayout {
	border: 1px solid #BEC1C7;
}

.UIJCRExplorerPortlet .UIUploadManager .UIExternalMetadataForm {
	border: 1px solid #b7b7b7;
	margin: 10px;
}

.UIJCRExplorerPortlet .UIUploadManager .UIUploadContainer .UIFormGrid {
	width: 95%;
}

/*############################## -- UIActionManager   -- ##############################*/

.UIJCRExplorerPortlet .UIPopupAction .MultiRadioInput {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
}
/*############################## -- End UIActionManager   -- ##############################*/

.UIJCRExplorerPortlet .UISymLinkForm {
  padding: 10px;
}

