<?xml version="1.0" encoding="ISO-8859-1" ?> 
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
                 "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<display-name>ecmworkflow-extension</display-name>

	<context-param>
		<param-name>org.exoplatform.frameworks.jcr.command.web.fckeditor.digitalAssetsWorkspace</param-name>
		<param-value>collaboration</param-value>
		<description>Binary assets workspace name</description>
	</context-param>

	<context-param>
		<param-name>org.exoplatform.frameworks.jcr.command.web.fckeditor.digitalAssetsPath</param-name>
		<param-value>/Digital Assets/</param-value>
		<description>Binary assets path</description>
	</context-param>

	<context-param>
		<param-name>CurrentFolder</param-name>
		<param-value>/Digital Assets/</param-value>
		<description>Binary assets workspace name</description>
	</context-param>

	<!-- ================================================================== -->
	<!--           LISTENER                                                 -->
	<!-- ================================================================== -->
	<listener>
		<listener-class>org.exoplatform.container.web.PortalContainerConfigOwner</listener-class>
	</listener>
	<!-- ================================================================== -->
	<!--           SERVLET                                                  -->
	<!-- ================================================================== -->
	<servlet>
		<servlet-name>GateInServlet</servlet-name>
		<servlet-class>org.gatein.wci.api.GateInServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<!--  =================================================================  -->
	<servlet-mapping>
		<servlet-name>GateInServlet</servlet-name>
		<url-pattern>/gateinservlet</url-pattern>
	</servlet-mapping>
</web-app>