@import "variables.less";
@import "mixins.less";
@import "Seo/Style.less";
@import "Sprites/Style.less";
@import "UITreeJCRExplorer/Style.less";
@import "UIPublication/Style.less";
@import "content/Style.less";
@import "InlineEditing/Style.less";


/******** UIContentBrowserPanel **************/

#UIContentSelectorOne {
	.uiWCMSearchContainer, .uiContentSearchForm, .uiContentSearchResult {
		height: 400px;
	}
}

#UIContentSelectorMulti {
	.uiWCMSearchContainer, .uiContentSearchResult {
		height: 400px;
	}
}

.uiWCMSearchContainer {

	.breadcumbsPortlet {
		height: 30px;

		.breadcumbTab {
			display: inline-block;
			font-size: 13px;

			a.normal {
				color: @grayDark;

				&:hover {
					color: @grayLight;
				}
			}

			a.active {
				color: @grayLight;
				font-weight: bold;
			}
		}
	}

	.actionBar {
		.control-label {
			width: auto;
			margin-right: 20px;
		}

		.controls {
			margin: 0px;

			.uiSelectbox {
				width: 120px;

				.selectbox {
					width: 123px;
				}
			}
		}
	}

	.listContainer {
		padding-bottom: 10px;
	}

	.leftWorkspace {
		width: 210px;
		float: left;
		border: 1px solid @borderColor;
		background: @componentBackgroundLight;
		overflow: auto;
		height: 461px;
		.ChildrenContainer{
			margin-left: 15px;
		}
	}

	.rightWorkspace{
		 margin-left: 230px;

		.multiListContainer .listFileContainer {
			margin-top:6px;
			overflow: auto;
			height: 130px;
		}

		.noContent{
			color: @grayLight;
		}
	}
  height: 400px;

}

.uiContentSearchForm {

	.dateInput {
		margin: 10px 10px 0px 0px;

		input {
			width: 125px;
		}
	}

	.uiRadio {
		margin: 0px;
	}

	.txt {
		margin: 5px 0px;
	}

	.inputGroup {
		input {
			width: 125px;
		}
	}

	.uiSelectbox {
		width: 123px;
		.selectbox {
			width: 126px;
		}
	}
}

.UICLVPortlet {
	.uiContentSearchForm {
		.controls{
			.dateInput {
				margin: 10px 10px 0px 0px;
				input {
					width: 125px;
				}
			}
			.uiCalendarComponent .calendarTimeInput input[type="text"]:first-child{
				width: 25px;
			}
			.uiCalendarComponent .calendarTimeInput input[type="text"]{
				width: 28px;
			}
		}
	}

}

.uiContentSearchResult {
	.uiWCMSearchContent {
		.title {
			width: 50%;
		}
		.publicationstate {
			white-space: nowrap;
		}
	}

	.noContent{
		color: @grayLight;
	}
}

/******** UISearchPageLayoutManager **************/
.UISearchPageLayoutManager {
	.form-horizontal {
		.control-label {
			width: 220px;
		}
		.controls {
			margin-left: 240px;
		}
	}
	.searchResultBasePathInputSetAction .controls-nowrap {
		margin: 0px;
	}
	.uiAction {
		padding-bottom: 15px;
	}
}

/******** EdittingToolBar **************/

.edittingToolBarContainer,.edittingContent {
	display: none;
	float: right;
	position: relative;
	right: 0;
	top: 0;
	width: 160px;
	z-index: 1;

	.edittingToolBar {
		background: @primaryLightColor;
		padding: 5px;
		.border-radius(3px 3px 0px 0px);
    position: absolute;
    right: -1px;
    top: -36px;

		.btn-group .btn {
			padding: 3px 5px;
			border: 1px solid @primaryDarkColor;
			background: @primaryLightColor;
			box-shadow: none;
			margin-left: -5px;
			&:hover {
				#gradient .vertical(@primaryLighterColor, @primaryColor);
				box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
			}
		}

		.btn-group > .btn:first-child{
			margin-left: 0px;
		}

		[class^="uiIcon"] {
			background-image: url("@{images-path}/Icons/uiIconsWhite.png");
		}
		[class^="uiIconEcms"] {
			background-image: url("/eXoWCMResources/skin/images/Icons/uiIconsEcmsWhite.png");
		}

		.edittingCurrentState .publishText,
		.edittingCurrentState .draftText {
			color: @white;
			margin: 3px 10px 0px 3px;
			font-weight: bold;
			display: block;
		}

		.edittingCurrentState .draftText {
			color: @primaryLighterColor;
		}
	}
}

.edittingContent {
	.edittingToolBar {
		.border-radius(0px 0px 0px 3px);
    top: 0px;
	}
}

.containerHoverClass {
  border:1px solid @primaryLightColor !important;

	.edittingToolBarContainer {
		display: block;
	}
}

.containerHoverClassInner:hover {
  border:1px solid @primaryLightColor !important;
	.edittingContent {
		display: block;
	}
}

.OneColumnCLVTemplate .Contents .Column1 {
	.edittingContent .edittingToolBar {
		top: -8px;
	}
}

/*############################## -- Begin UIThumbnailsView -- ##############################*/

.uiThumbnailsView {
	overflow-y: auto;
	overflow-x: hidden;

	.actionIconsContainer {

		.actionIconBox {
			.size(200px, 148px);
			float: left;
			margin: 10px;
			padding: 0px !important;
			overflow: hidden;
			cursor: pointer;

			&:hover {
				.nodeLabel {
					background: @componentBackground;
				}
			}
		}

		.selectedBox {
			.nodeLabel {
				background: @borderColor;
			}

			.actionIconLabel {
				background: @primaryColor;

				> a {
					color: @white;
				}
			}
		}

		.bgThumbnailImage {
			padding: 5px;
			background: @white;
			box-shadow: 1px 1px 3px 1px rgba(25,44,48,0.2);
			display: inline-block;
		}

		.loadingProgressIcon {
			.size(64px,64px);
			background: url('/eXoWCMResources/skin/images/Icons/LoadingProgress.gif') no-repeat center center;
			position: relative;
			margin: auto;

			img {
				display: none;
				max-width: 116px;
				max-height: 116px;
				margin: auto;
				border: 1px solid @borderColor;
			}
		}

		.nodeLabel {
			.size(148px,148px);
			.border-radius(3px);
			margin-bottom: 5px;
		}

		.actionIcon {
			width: 50px;
			height: 50px;
			margin: 9px auto 0px auto;
		}

		.thumbnailImage {
			width: 128px;
			height: 128px;
			border: none;
			text-align: center;
			display: table-cell;
			vertical-align: middle;
			padding: 10px;
		}

		.actionIconLabel {
			line-height: 15px;
			max-height: 28px;
			overflow: hidden;
			margin: auto;
			text-align: center;
			padding: 5px;
			.border-radius(3px);

			> a {
				color: @textColor;
			}
		}
	}

	[class^="uiIcon64x64"] {
		margin: auto;
		position: relative;
	}

	.Link,.IconLocked {
		background: url("/ecmexplorer/skin/images/Icons/IconBigLink.png") no-repeat right top;
		position: absolute;
		width: 32px;
		height: 32px;
		right: -5px;
		bottom: 0;
	}

	.IconLocked {
		background: url("/ecmexplorer/skin/images/Icons/IconBigLock.png") no-repeat right top;
		top: 0;
	}
}

/*############################## -- End UIThumbnailsView -- ##############################*/

/******** UIRelationManager **************/
.uiOneNodePathSelector {
	.breadcrumb {
		background: @componentBackgroundLight;
		border: 1px solid @borderColor;
		padding: 5px 10px;
		margin-bottom: 20px;
		line-height: 16px;
		.border-radius(0px);
	}
}

.uiGroupSelector, .uiGroupMembershipSelector, .uiMemberSelector, .anyPermission {
	.form-horizontal{
		padding: 0px;
		.control-label{
			width: auto;
		}
		.controls {
			margin-left: 0px;
			.anyPermission{
				.controls{
					margin: 0px;
				}
			}
		}
	}
}

.uiECMAdminPortlet {.uiECMAdminWorkingArea {.uiMDriveAnyPermission {.form-horizontal{
       .form-horizontal{
               padding: 0px;
       }
}}}}

.uiPopup .popupContent .uiMemberSelector{
	margin: -10px -10px 10px -10px;
}

.uiTreeList {
	margin-left: 250px;
}

.uiWaitting {
  	width: 32px;
  	height: 32px;
  	display: block;
  	position: absolute;
  	background: url("/eXoWCMResources/skin/images/Icons/loading_24x24.gif") no-repeat center;
  	top: 50%;
  	left: 50%;
  	z-index: 15;
  	margin: -12px 0 0 -12px;
}

.markLayerInline {
  	background: black;
	opacity: 0.3;
	position: absolute;
	z-index: 10;
	border-radius: 5px;
}

.cke_editable ul li {
  list-style: disc;
}
.cke_editable ol li {
  list-style: decimal;
}


.permission{
	.controls{
		.PemissionInputset{
			overflow: hidden;
			padding-right: 10px;
			input{
				width: 100%;
			}
		}
	}
}

.ie8 {
  .UICLVPortlet {
    .CLV {
      .Contents {
        .Image img{
          padding-right: 51px;
        }
      }
    }
  }
}

.UIWCMSearchPortlet{
	.result{
		border-top: 1px solid #D7D7D7;
    	padding: 10px 20px;
    	.resultSort{
    		line-height: 28px;
    		.uiDropdownWithIcon {
    			margin-left: 6px;
    		}
    	}
	}

	.showMore{
		padding: 15px 0;
		.btn{
			display: block;
		    margin: 0;
		    width: 100%;
		}
	}
	.UIAdvanceSearchResultDefault {
	    padding: 10px;
	    .ResultHeader {
		    border-bottom: 1px solid @borderColor;
		    line-height: 25px;
		    overflow: hidden;
		    padding: 0 5px;
		  }
		p {
			padding: 0px 10px;
		}
		.resultBox {
			padding: 0 20px 20px;
			.content {
		    	margin-left: 85px;
		    	h6{
		    		margin: 0px;
		    	}
		    	.detail{
		    		color:@grayLight;
		    	}
		    }
		}
	}
	.UISearchForm{
		.controls{
			line-height: 25px;
		}
	}
}

.UISingleContentViewerPortlet{
	.UIPresentationContainer{
		.title{
			color: @textColor;
		    padding: 20px 0 0 0;
		    margin: 0 0 2px 0;
		    text-shadow: none;
		}
		.dateAndMail {
		    color: @textColor;
		    padding: 5px 0 0 0;
		}
		.uiOptionBar{
			background: none repeat scroll 0 0 @componentBackgroundLight;
		    border: 1px solid @borderColor;
		    padding: 4px 8px 4px 4px;
		    margin: 8px 0;
		    a{color:@textColor;}
		}
		.BigNews{
			.Title{
			    padding: 0px;
			}
		}
	}
}

.cke_show_borders ul li {
    list-style-type: disc;
}

/**************** Quick edit ************/
.quickEdit {
	float: right;
    margin: 10px 10px 0 0;
	.UIWorkingWorkspace {
	  .UISingleContentViewerPortlet {
	    .UIPresentationContainer {
	      .Title {
	        padding: 20px 20px 5px;
	        p{
			  margin: 0px;
			}
		  }
		}
	  }	  	
	}
}
