.UICategoryNavigationTargetPathFormInputSet .SelectTargetPathIcon {
  background: url('DefaultSkin/SearchPath.gif') no-repeat;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.UICategoryNavigationTargetPathFormInputSet .UIFormGrid {
  margin: 0;
}

.UICategoryNavigationPortlet .HorizontalLayout .UIFormInputSet {
  padding: 0;
}

.UICategoryNavigationPortlet .HorizontalLayout .FormContainer {
  padding: 0;
}

.UICategoryNavigationPortlet {
  min-width: 0 !important;
}
.UICategoryNavigationPortlet .UIPageSelector {
  margin: 0;
  width: auto;
}

.UICategoryNavigationPortlet #UIPageNodeSelector {
  float: left;
  width: 48%;
}

.UICategoryNavigationPortlet .MiddleRightContainerOptions {
  width: 200%;
}

.UICategoryNavigationPortlet .UIPageNodeSelector {
  width: 100%;
}

.UICategoryNavigationPortlet #UIPageSelectorPanel {
  float: left;
  width: 48%;
  padding-left:10px;
}


.UICategoryNavigationPortlet .UICategoryNavigationConfig {
  margin: 10px;
}

.UICategoryNavigationPortlet .UICategoryNavigationConfig .SelectTreePathIcon {
  background: url('DefaultSkin/SearchPath.gif') no-repeat left center;
  width: 16px;
  height: 16px;
  margin-left: 10px;
  cursor: pointer;
  vertical-align: -2px;
}

.UICategoryNavigationPortlet .UICategoryNavigationConfig .FolderPathInputSet .UIFormInputSet .FormContainer {
  margin-left: -2px;
  padding: 0px;
}

.UICategoryNavigationPortlet .UICategoryNavigationConfig .FieldLabel {
  width: 125px;
}

