.UICategoryNavigationTargetPathFormInputSet .SelectTargetPathIcon {
  background: url('DefaultSkin/SearchPath.gif') no-repeat;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.UICategoryNavigationTargetPathFormInputSet .UIFormGrid {
  margin: 0;
}

.UICategoryNavigationPortlet .HorizontalLayout .UIFormInputSet {
  padding: 0;
}

.UICategoryNavigationPortlet .HorizontalLayout .FormContainer {
  padding: 0;
}

.UICategoryNavigationPortlet {
  min-width: 0 !important;
}
.UICategoryNavigationPortlet .UIPageSelector {
  margin: 0;
  width: auto;
}

.UICategoryNavigationPortlet #UIPageNodeSelector {
  float: left;
  width: 49%;
}

.UICategoryNavigationPortlet .MiddleRightContainerOptions {
  width: 200%;
}

.UICategoryNavigationPortlet .UIPageNodeSelector {
  width: 100%;
}

.UICategoryNavigationPortlet #UIPageSelectorPanel {
  float: left;
  width: 49%;
  padding-left:10px;
}