.UIEventViewer {  
  margin: 0px;
  border: solid 1px #c0c0c0;
  padding: 8px 0px;
  height: 100%;
}

.UIEventViewer .DocumentsPageIterator {
}
  
.UIEventViewer .DocumentsPageIterator .UIPageIterator {
	margin-right: 0px; /* orientation=lt */
	margin-left: 0px; /* orientation=rt */
}

.UIEventViewer .EventContent {
  border: solid 1px #e1e1e1;
  font-weight: normal;
  padding: 10px 0px;
  margin: 0px 8px;
}

.UIEventViewer .ViewPreviousDocument {
  margin: 4px 0px 5px 8px; /* orientation=lt */
  margin: 4px 8px 5px 0px; /* orientation=rt */
  height: 19px;
  border: 1px #e1e1e1 solid; 
  background: #f3f3f3;
  width: 115px;
}

.UIEventViewer .ViewPreviousDocument .BackIcon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
  width: 16px; height: 16px;
  margin: 3px 0px 0px 2px; /* orientation=lt */
  margin: 3px 2px 0px 0px; /* orientation=rt */
  background: url('DefaultSkin/background/BlackDotBackArrow.gif') no-repeat left top; /* orientation=lt */
  background: url('DefaultSkin/background/BlackDotBackArrow-rt.gif') no-repeat right top; /* orientation=rt */
}

.UIEventViewer .ViewPreviousDocument a {
	color: #333333;
	line-height: 19px; 
	font-weight: normal;
	padding: 0px 3px;
}

.UIEventViewer .ViewPreviousDocument a:hover{
	color: #058ee6;
}

.UIEventViewer .EventContent .TopEventContentDetail {
  height: 100%;
}

.UIEventViewer .EventContent .EventDocumentLabel {
	margin-left: 5px; /* orientation=lt */
	margin-right: 5px; /* orientation=rt */
  line-height: 18px; 
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
}

.UIEventViewer .EventContent .EventDocumentLabel a {
	color: #058ee6;
}

.UIEventViewer .EventContent .EventDocumentLabel a:hover {
	color: orange;
}

.UIEventViewer .EventContent .EventAuthorNameLabel {
	text-align: right; /* orientation=lt */
	text-align: left; /* orientation=rt */
	width: 45%;
	color: gray;
  line-height: 16px;
  padding-right: 10px; /* orientation=lt */
  padding-left: 10px; /* orientation=rt */
}

.UIEventViewer .EventContent .DateAndTimeLabel {
	text-align: left; /* orientation=lt */
	text-align: right; /* orientation=rt */
	width: 180px;
	color: gray;
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
}

.UIEventViewer .EventContent .SummaryTitleLabel {
  line-height: 16px;
  overflow: auto;
}

.UIEventViewer .EventContent .EventContentDetail {
	border-bottom: dotted 1px #e1e1e1;
	padding: 5px 0px;
}

.UIEventViewer .EventContent .MainEventContent {
  padding: 3px 0px 5px 20px; /* orientation=lt */
  padding: 3px 20px 5px 0px; /* orientation=rt */
}

.UIEventViewer .EventContent .TitleEventContent {
	height: 17px;
  background: url('DefaultSkin/background/TitleEventViewrBG1x17.gif') repeat-x;
  padding-left: 10px; /* orientation=lt */
  padding-right: 10px; /* orientation=rt */
}

.UIEventViewer .EventContent .PanelEventContent {
  border-top: solid 1px #bdbdbd;
  background: #ffffff;
}

.UIEventViewer .EventContent .SummaryTitleLabel p a {
  color: #058EE6;
  text-decoration: underline;
}



