.sidebarTDContainer {
	width: 220px;
}

#UIContainer-pagebody {
	padding: 0px;
}

#UIContainer-sidebar {
	padding: 0px;
}

.UIHomePagePortlet .HomePortletContainer {
}

.UIHomePagePortlet .HomePortletContainer .FE {
	background: url('DefaultSkin/background/IconHomePage.jpg') no-repeat left -172px; /* orientation=lt */
	background: url('DefaultSkin/background/IconHomePage.jpg') no-repeat right -172px; /* orientation=rt */
	margin: 0px 0px 0px 10px; /* orientation=lt */
	margin: 0px 10px 0px 10px; /* orientation=rt */
	padding: 0px 0px 0px 75px; /* orientation=lt */
	padding: 0px 75px 0px 0px; /* orientation=rt */
	height: 86px; line-height: 86px;
}

.UIHomePagePortlet .HomePortletContainer .CB {
	background: url('DefaultSkin/background/IconHomePage.jpg') no-repeat left -86px; /* orientation=lt */
	background: url('DefaultSkin/background/IconHomePage.jpg') no-repeat right -86px; /* orientation=rt */
	margin: 0px 0px 0px 10px; /* orientation=lt */
	margin: 0px 10px 0px 10px; /* orientation=rt */
	padding: 0px 0px 0px 75px; /* orientation=lt */
	padding: 0px 75px 0px 0px; /* orientation=rt */
	height: 86px; line-height: 86px;
}

.UIHomePagePortlet .HomePortletContainer .ECMA {
	background: url('DefaultSkin/background/IconHomePage.jpg') no-repeat left 0px; /* orientation=lt */
	background: url('DefaultSkin/background/IconHomePage.jpg') no-repeat right 0px; /* orientation=rt */
	margin: 0px 0px 0px 10px; /* orientation=lt */
	margin: 0px 10px 0px 10px; /* orientation=rt */
	padding: 0px 0px 0px 75px; /* orientation=lt */
	padding: 0px 75px 0px 0px; /* orientation=rt */
	height: 86px; line-height: 86px;
}

.UIHomePagePortlet .HomePortletContainer .BgReat {
	background: url('DefaultSkin/background/background.png') repeat-x ;	
}

.UIHomePagePortlet .HomePortletContainer .LabelProduct {
	font-family: Arial;
	font-size: 16px;
	color: #454e56;
}

.UIHomePagePortlet .HomePortletContainer .ContentProductsDMS {
	background-color: #cacaca;
	padding-left: 30px;
	height: auto;
}

.UIHomePagePortlet .HomePortletContainer .ContentProductsDMS .Bullet {
	background: url('DefaultSkin/background/Bullet.gif') no-repeat left top; /* orientation=lt */
	background: url('DefaultSkin/background/Bullet.gif') no-repeat right top; /* orientation=rt */
	padding-left: 25px; /* orientation=lt */
	padding-right: 25px; /* orientation=rt */
	margin-left: 5px; /* orientation=lt */
	margin-right: 5px; /* orientation=rt */
}

.UIHomePagePortlet .HomePortletContainer .ContentProductsDMS .Text {
	font-size: 11px;
	line-height: 16px;
}

.UIHomePagePortlet .HomePortletContainer .LeftBottom {
	background: transparent url('DefaultSkin/background/BgBottom.gif') no-repeat left top;
	padding-left: 3px;
}

.UIHomePagePortlet .HomePortletContainer .RightBottom {
	background: transparent url('DefaultSkin/background/BgBottom.gif') no-repeat right -7px;
	padding-right: 3px;
	height: 7px;
}

.UIHomePagePortlet .HomePortletContainer .CenterBottom {
	background: url('DefaultSkin/background/BgBottom.gif') repeat-x center -14px;
	
}
/*========================DMS Guided Tour===========================*/
.UIDMSGuidedTour {
	background:transparent url(DefaultSkin/background/LeftDMSGuidedTour.gif) repeat-y left ;
}

.UIDMSGuidedTour .LeftDMSGuidedTour {
	float: left;
	width: 226px; 
}

.UIDMSGuidedTour .LeftDMSGuidedTour .Header {
	width: 226px;
	background:transparent url(DefaultSkin/background/Header.gif) no-repeat left ;
	height: 33px;
}

.UIDMSGuidedTour .LeftDMSGuidedTour .HightLineButton {
	margin-top: 2px;
	cursor: pointer;
}

.UIDMSGuidedTour .LeftDMSGuidedTour .NormalButton {
	margin-top: 2px;
	cursor: pointer;
}
.UIDMSGuidedTour .LeftDMSGuidedTour .OverButton {
	margin-top: 2px;
	cursor: pointer;
}

.UIDMSGuidedTour .LeftDMSGuidedTour .HightLineButton .ButtonL {
	background:transparent url(DefaultSkin/background/HightLineButtonL.gif) no-repeat scroll left ;
	padding-left:8px;
}

.UIDMSGuidedTour .LeftDMSGuidedTour .HightLineButton .ButtonR {
	background:transparent url(DefaultSkin/background/HightLineButtonR.gif) no-repeat scroll right ;
	padding-right:8px;
}

.UIDMSGuidedTour .LeftDMSGuidedTour .HightLineButton .ButtonC {
	background:transparent url(DefaultSkin/background/HightLineButtonC.gif) repeat-x ;
	line-height:38px;
	font-weight: bold;
	font-size: 12px;
	padding-left: 12px;
}

.UIDMSGuidedTour .LeftDMSGuidedTour .OverButton .ButtonL {
	background:transparent url(DefaultSkin/background/OverButtonL.gif) no-repeat scroll left ;
	padding-left:8px;
}

.UIDMSGuidedTour .LeftDMSGuidedTour .OverButton .ButtonR {
	background:transparent url(DefaultSkin/background/OverButtonR.gif) no-repeat scroll right ;
	padding-right:8px;
}

.UIDMSGuidedTour .LeftDMSGuidedTour .OverButton .ButtonC {
	background:transparent url(DefaultSkin/background/OverButtonC.gif) repeat-x ;
	line-height:38px;
	font-weight: bold;
	font-size: 12px;
	padding-left: 12px;
}

.UIDMSGuidedTour .LeftDMSGuidedTour .NormalButton .ButtonL {
	background:transparent url(DefaultSkin/background/NormalButtonL.gif) no-repeat scroll left ;
	padding-left:2px;
}

.UIDMSGuidedTour .LeftDMSGuidedTour .NormalButton .ButtonR {
	background:transparent url(DefaultSkin/background/NormalButtonR.gif) no-repeat scroll right ;
	padding-right:2px;
}

.UIDMSGuidedTour .LeftDMSGuidedTour .NormalButton .ButtonC {
	background:transparent url(DefaultSkin/background/NormalButtonC.gif) repeat-x ;
	line-height:38px;
	font-weight: bold;
	font-size: 12px;
	padding-left: 18px;
}

.UIDMSGuidedTour .LeftDMSGuidedTour .SignUpButton {
	background:transparent url(DefaultSkin/background/SignUpButton.gif) no-repeat ;
	line-height:50px;
	width:185px; height: 81px;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	color: white;
	margin: 12px auto;
	cursor: pointer;
}

.UIDMSGuidedTour .RightDMSGuidedTour {
	margin-left: 227px;
	padding: 8px;
	background: white;
}

.UIDMSGuidedTour .RightDMSGuidedTour .HeadTitle {
	margin: 8px;
}

.UIDMSGuidedTour .RightDMSGuidedTour .HeadTitle .HeadTitleL {
	background:transparent url(DefaultSkin/background/HeadTitleL.gif) no-repeat scroll left ;
	padding-left:5px;
}

.UIDMSGuidedTour .RightDMSGuidedTour .HeadTitle .HeadTitleR {
	background:transparent url(DefaultSkin/background/HeadTitleR.gif) no-repeat scroll right ;
	padding-right:5px;
}

.UIDMSGuidedTour .RightDMSGuidedTour .HeadTitle .HeadTitleC {
	background:transparent url(DefaultSkin/background/HeadTitleC.gif) repeat-x ;
	line-height:41px;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	color: #427EB8;
}

.UIDMSGuidedTour .RightDMSGuidedTour .CheckTitleIcon {
	line-height:30px;
	font-size: 12px;
	padding-left: 24px;
	margin-left: 8px;
	font-weight: bold;
	background:transparent url(DefaultSkin/background/CheckTitleIcon.gif) no-repeat left 5px;
}

.UIDMSGuidedTour .RightDMSGuidedTour .ShowImageDMS1 {
	background:transparent url(DefaultSkin/background/ShowImageDMS1.gif) no-repeat top left;
	height: 230px;
}

.UIDMSGuidedTour .RightDMSGuidedTour .ShowImageDMS2 {
	background:transparent url(DefaultSkin/background/ShowImageDMS2.png) no-repeat bottom right;
	height: 440px;
	margin: 4px;
}

.UIDMSGuidedTour .RightDMSGuidedTour .ShowImageDMS3 {
	background:transparent url(DefaultSkin/background/ShowImageDMS3.gif) no-repeat right;
	height: 724px;
	margin: 4px;
}

.UIDMSGuidedTour .RightDMSGuidedTour .ShowImageDMS4 {
	background:transparent url(DefaultSkin/background/ShowImageDMS4.png) no-repeat left;
	height: 520px;
}

.UIDMSGuidedTour .RightDMSGuidedTour .ShowImageDMS5 {
	background:transparent url(DefaultSkin/background/ShowImageDMS5.gif) no-repeat top left;
	height: 450px;
	margin: 4px;
}

.UIDMSGuidedTour .RightDMSGuidedTour .ShowImageDMS6 {
	background:transparent url(DefaultSkin/background/ShowImageDMS6.png) no-repeat bottom right;
	height: 450px;
}


.UIDMSGuidedTour .RightDMSGuidedTour .TitleBar .TitleBarTL {
	background:transparent url(DefaultSkin/background/TitleBarTL.gif) no-repeat scroll left ;
	padding-left:5px;
}

.UIDMSGuidedTour .RightDMSGuidedTour .TitleBar .TitleBarTR {
	background:transparent url(DefaultSkin/background/TitleBarTR.gif) no-repeat scroll right ;
	padding-right:5px;
}

.UIDMSGuidedTour .RightDMSGuidedTour .TitleBar .TitleBarTC {
	background:transparent url(DefaultSkin/background/TitleBarTC.gif) repeat-x ;
	height:5px;
}

.UIDMSGuidedTour .RightDMSGuidedTour .TitleBar .TitleBarBL {
	background:transparent url(DefaultSkin/background/TitleBarBL.gif) no-repeat scroll left ;
	padding-left:5px;
}

.UIDMSGuidedTour .RightDMSGuidedTour .TitleBar .TitleBarBR {
	background:transparent url(DefaultSkin/background/TitleBarBR.gif) no-repeat scroll right ;
	padding-right:5px;
}

.UIDMSGuidedTour .RightDMSGuidedTour .TitleBar .TitleBarBC {
	background:transparent url(DefaultSkin/background/TitleBarBC.gif) repeat-x ;
	height:5px;
}

.UIDMSGuidedTour .RightDMSGuidedTour .TitleBar .TitleBarMC {
	background: #78B3E2 url(DefaultSkin/background/TitleBarMC.jpg) repeat-x ;
	border-left: 1px solid #33669A;
	border-Right: 1px solid #33669A;
	font-size: 12px;
	color: white;
	text-align: center;
	padding: 8px 0px;
}

.UIDMSGuidedTour .RightDMSGuidedTour .DMSGuidedTour2 .TitleBar{
	margin-top: 90px;
}

.UIDMSGuidedTour .RightDMSGuidedTour .DMSGuidedTour3 .TitleBar{
	margin-top: 90px;
}

.UIDMSGuidedTour .RightDMSGuidedTour .H1 {
	background:transparent url(DefaultSkin/background/H1.gif) no-repeat left;
	height: 324px; width: 388px;
	margin: 4px;
}

.UIDMSGuidedTour .RightDMSGuidedTour .H2 {
	background:transparent url(DefaultSkin/background/H2.gif) no-repeat left;
	height: 362px;width: 363px;
	margin: 4px;
}

.UIDMSGuidedTour .RightDMSGuidedTour .H3 {
	background:transparent url(DefaultSkin/background/H3.gif) no-repeat left;
	height: 107px;width: 345px;
	margin: 4px;
}

.UIDMSGuidedTour .RightDMSGuidedTour .H4 {
	background:transparent url(DefaultSkin/background/H4.gif) no-repeat left;
	height: 145px; width: 252px;
	margin: 4px;
}

.UIDMSGuidedTour .RightDMSGuidedTour .H5 {
	background:transparent url(DefaultSkin/background/H5.gif) no-repeat left;
	height: 430px; width: 931px;
	margin: 4px;
}

/***************************************************************************************************/

.SideBar {
	border:1px solid #FFFFFF;
	margin:5px 5px 5px;
}

.SideBar  .PortletDecoration{
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #C6C6C6;
	padding:7px 7px 10px;
}

.SideBar .DownloadButton{
	background: #fff url('DefaultSkin/background/DownloadButton.jpg') no-repeat center center;
	width: 192px; height: 92px;
	margin: 0px auto;
}

.SideBar .ArowIcon{
	padding-left: 10px; /* orientation=lt */
	padding-right: 10px; /* orientation=rt */
	margin: 2px 8px;
}

.SideBar .DotLine{
	background: url('DefaultSkin/background/DotLine1x2.gif') repeat-x ;
	height: 2px;
	margin: 10px;
}

.SideBar .LeftButton {
	background: url('DefaultSkin/background/BgButton.gif') no-repeat left top; /* orientation=lt */
	background: url('DefaultSkin/background/BgButton-rt.gif') no-repeat 98% top; /* orientation=rt */
	padding-left: 17px; /* orientation=lt */
	padding-right: 17px; /* orientation=rt */
	margin: 8px 25px 0px 25px;
	
}

.SideBar .RightButton {
	background: url('DefaultSkin/background/BgButton.gif') no-repeat right -56px; /* orientation=lt */
	background: url('DefaultSkin/background/BgButton-rt.gif') no-repeat -2px -56px; /* orientation=rt */
	padding-right: 17px; /* orientation=lt */
	padding-left: 15px; /* orientation=rt */
}

.SideBar .CenterButton {
	background: url('DefaultSkin/background/BgButton.gif') repeat-x left -112px;
	line-height: 35px;
	font-size: 15px;
	font-family: tahoma;
	font-weight: bold;
	color: white;
	height: 56px;
	text-align: center;
}

.SideBar .SignUp {
	font-size: 18px;
	font-family: tahoma;
	font-weight: bold;
	padding-left: 70px;
	color: #e63c00;
}


.SideBar .VersionIcon {
	background: url('DefaultSkin/background/VersionIcon.gif') no-repeat ;
	width: 58px; height: 64px;
	margin: auto;
}

.SideBar .ProVersion {
	font-family: tahoma;
	font-weight: bold;
	padding-left: 18px; /* orientation=lt */
	padding-right: 18px; /* orientation=rt */
	color: #f95106;
	font-size: 12px;
}


.UIWindow .UIHomePagePortlet {	
	margin: 0px;
	padding: 10px;
}

.UIHomePagePortlet {	
	margin: 5px 5px 5px 5px;
	border: 1px solid #fff;
}

.UIHomePagePortlet .PortletDecoration {	
	padding: 7px 7px 10px 7px;
	border: 1px solid #c6c6c6;
	background: #fff;
}

.UIHomePagePortlet .HomePortletAdBackround {	
	background: #fff url('DefaultSkin/background/BgRepeat.jpg') repeat-x center;
}

.UIHomePagePortlet .AdImageLeft {
	background: url('DefaultSkin/background/LeftHome.jpg') no-repeat left 0px; /* orientation=lt */
	background: url('DefaultSkin/background/LeftHome.jpg') no-repeat right -514px; /* orientation=rt */
	text-align: right; /* orientation=lt */
	text-align: left; /* orientation=rt */
	height: 257px; /* orientation=lt */
	height: 256px; /* orientation=rt */
	overflow: hidden;
	padding: 0px 36px 0px 0px; /* orientation=lt */
	padding: 0px 0px 0px 36px; /* orientation=rt */
	letter-spacing: 1px;
}

*html .UIHomePagePortlet .AdImageLeft {
	background: url('DefaultSkin/background/LeftHome.jpg') no-repeat right -257px; /* orientation=rt */
}

.UIHomePagePortlet .AdImageRight {
	background: url('DefaultSkin/background/RightHome.jpg') no-repeat right 0px; /* orientation=lt */
	background: url('DefaultSkin/background/RightHome.jpg') no-repeat left -258px; /* orientation=rt */

}

*html .UIHomePagePortlet .AdImageRight {
	background: url('DefaultSkin/background/RightHome.jpg') no-repeat left -258px; /* orientation=rt */
	height: 256px; /* orientation=rt */
}

.UIHomePagePortlet .EmptyBlock {
	height: 105px;
}

.UIHomePagePortlet .AdImageRight .ProductSlogan {
	color:#2C2C2C;
	font-family:Arial;
	font-size:15px;
	font-style:italic;
	font-weight:bold;
	letter-spacing:0;
	padding-right:100px;
	text-transform:uppercase;
}

.UIHomePagePortlet .AdImageRight .ProductIntro {
	color:#F95106;
	font-size:12px;
	font-weight:bold;
	letter-spacing:0;
	line-height:30px;
	padding-right:100px;
}



.UIHomePagePortlet .AccountInfos .Lable {
	line-height: 16px;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	display: block;
}


.UIHomePagePortlet .AccountInfos span {
	font-weight: bold;
	color: #2c6fbd;
	padding-left:0px 3px;
	line-height: 16px;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	display: block;
}
