
.uiAddressBar {
  padding: 8px;
  margin-bottom: 15px;
}

.uiAddressBar .TblAddressBar{
	table-layout: fixed;
	width: 100%;
	_width: auto;
}

.uiAddressBar .right {
	width: 180px;
	
	.Advance {
		width: 165px;
		margin-left: 8px;
		position: relative;
		
		input {
			width: 150px;
			margin: 0px;
		}
	}

	.Advance .SearchBtn {
		background: url(/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/SearchBtn.jpg) no-repeat center;
		width: 18px;
		height: 16px;
		position: absolute;
		right: 5px;
		top: 5px;
	}
}

.uiAddressBar .uiAddressBarAction {

	.DropDownButtonBox {
		width: 18px;  
		height: 18px;
		position: absolute;
		right: 10px;
		top: 5px;
	}
	
	.DropDownButton {
		cursor: pointer;
		margin: auto;
		margin-top: 6px;
	}

	.InputContainer {
		margin: 0 4px 0 0;
	}

	.InputContainer input {
		width: 98%;
		margin: 0px;
	}
}

.uiAddressBar .BlockMiddle,
.uiAddressBar .BlockMiddle1,
.uiAddressBar .BlockMiddle2,
.uiAddressBar .BlockMiddle3,
.uiAddressBar .BlockMiddle4 {
	position: relative;
}

/*---------------------*/

.uiAddressBar .AddressBarSeparator {
  float: left;
  height: 26px;
  padding: 2px 4px 0px 4px;
}

.uiAddressBar .BlockLeft {
  float: left;
}

.uiAddressBar .AddressLabel {
  float: left;
  line-height: 28px;
  padding-left: 2px;
}

.uiAddressBar .BlockRight {
  float: right;
}

.uiAddressBar .BackButton {
  float: left;
  margin: 3px 3px 0px 3px;
  cursor: pointer;
}

.uiAddressBar .GoButton {
  float: left;
  margin: 8px 3px 0px 3px;
  cursor: pointer;
}

.uiAddressBar .GoText {
  float: left;
  height: 16px;
}

.uiAddressBar .UISelectContent {
  border: solid 1px #716f64;
  border-top: none;
  position: absolute;
  height: 150px;
  width: 100%;
  overflow: auto;
  background: white;
  left: -1px;
  display: none;
}

.UITaggingForm .UIFormTextAreaInput {
  border: solid 1px #716f64;
  border-top: none;
  position: absolute;
  height: 50px;
  width: 50%;
  overflow: auto;
  background: white;
  left: -1px;
  display: none;
}

.uiAddressBar .UISelectContent .AddressItem {
  line-height: 18px;
  margin: 2px;
  cursor: pointer;
}

.uiAddressBar .UISelectContent .SelectedAddressItem {
  line-height: 18px;
  margin: 2px;
  cursor: pointer;
  color: white;
  background-color: #316ac5;
}


/*********** Icon ***********/

/*New Search Bar*/


.uiAddressBar .Block .IconFileExplorer{
	width: 28px;
}

.uiAddressBar .Block {
	margin: 4px;
}

.uiAddressBar .Center {
	height: 22px;
	margin-left: 116px;
	margin-right: 236px;
	line-height:22px;
}

.uiAddressBar .View {
	height: 22px;
}

.uiAddressBar .ViewIcon {
	height: 25px;
	width: 28px;
	margin: 0px 1px 0px 0px;
}

.uiAddressBar {

 .MoreViewIcon {
		background: url(/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/MoreViewIcon.gif) no-repeat center;
		width: 13px;
		height: 24px;
		margin-left: 4px;
	}

	.DetailMoreViewIcon {
		width: 17px;
	}

	.MoreViewIconSelected {
		background: url(/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/MoreViewIconSelected.gif) no-repeat center;
		width: 12px;
		height: 24px;
	}

	.ExtendedView {
		float: left; /* orientation=lt */
		float: right; /* orientation=rt */
		position: relative;
	}

	.ListExtendedView {
		position: absolute;
		background: #f7f7f7;
		border: 1px solid #b7b7b7;
		padding: 5px;
	}

	.DefaultView {
		background: url(/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/DefaultView.png) no-repeat center;
		display: block;
	}

	.HomeLabel {
		float: left;
		margin: 0px 0px 0px 4px;
		color: #515151;
	}

	.Block .BackAndRefreshBlock {
		margin-left: 3px; /* orientation=lt */
		margin-right: 3px; /* orientation=rt */
	}

	.DefaultViewSelected {
		background: url(/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/DefaultViewSelected.gif) no-repeat center;
		display: block;
	}

	.icon-view{
		background: url(/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/IconView.gif) no-repeat center center;
		display: block;
	}


	.icon-view-selected{
		background: url(/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/IconViewSelected.gif) no-repeat center;
		display: block;
	}

	.admin-view{
		background: url(/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/DetailView.png) no-repeat center;
		display: block;
	}

	.anonymous-view{
		background: url(/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/DefaultView.png) no-repeat center;
		display: block;
	}

	.authoring-view{
		background: url(/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/authoring-view.png) no-repeat center;
		display: block;
	}

	.taxonomy-list{
		background: url(/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/taxonomy-list.png) no-repeat center;
		display: block;
	}

	.system-view{
		background: url(/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/system-view.png) no-repeat center;
		display: block;
	}


	.wcm-category-view{
		background: url(/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/wcm-category-view.png) no-repeat center;
		display: block;
	}

	.wcm-view{
		background: url(/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/wcm-view.png) no-repeat center;
		display: block;
	}

	.taxonomy-icons{
		background: url(/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/taxonomy-icons.png) no-repeat center;
		display: block;
	}

	.anonymous-view-selected{
		background: url(/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/DefaultViewSelected.gif) no-repeat center;
		display: block;
	}

	.authoring-view-selected{
		background: url(/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/authoring-view-selected.png) no-repeat center;
		display: block;
	}

	.taxonomy-list-selected{
		background: url(/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/taxonomy-list-selected.png) no-repeat center;
		display: block;
	}

	.system-view-selected{
		background: url(/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/system-view-selected.png) no-repeat center;
		display: block;
	}


	.wcm-category-view-selected{
		background: url(/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/wcm-category-view-selected.png) no-repeat center;
		display: block;
	}

	.wcm-view-selected{
		background: url(/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/wcm-view-selected.png) no-repeat center;
		display: block;
	}

	.taxonomy-icons-selected{
		background: url(/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/taxonomy-icons-selected.png) no-repeat center;
		display: block;
	}

	.admin-view-selected{
		background: url(/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/DetailViewSelected.png) no-repeat center;
		display: block;
	}

	.simple-view{
		background: url(/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/ThumbnailView.gif) no-repeat center; 
		display: block;
	}

	.simple-view-selected{
		background: url(/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/ThumbnailViewSelected.gif) no-repeat center;
		display: block;
	}

	.cover-flow{
		background: url(/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/CoverflowView.gif) no-repeat center center;
		display: block;
	}

	.cover-flow-selected{
		background: url(/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/CoverflowViewSelected.gif) no-repeat center;
		display: block;
	}

	.slide-show {
		background: url(/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/SlideShow.png) no-repeat center;
		display: block;
	}
	.slide-show-selected {
		background: url(/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/SlideShowSelected.png) no-repeat center;
		display: block;
	}
	.timeline-view {
		background: url(/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/TimeLine.png) no-repeat center;
		display: block;
	}
	.timeline-view-selected{
		background: url(/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/TimeLineSelected.png) no-repeat center;
		display: block;
	}

	.BackBtn {
		background: url(/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/BackBtn.png) no-repeat center center;
		height: 24px;
		width: 28px;
		display: block;
	}
}
.uiAddressBar .Center .SearchTxtField {
	height: 20px;
	border: 1px solid #ccc;
	background: #fff;
	width: 100%;
}



/*********icon2**********/


.uiAddressBar {
	.a_timeline-view {
		background: url('/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/TimeLine.png') no-repeat center;
		display: block;
	}
	.a_timeline-view-selected{ 
		background: url('/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/TimeLineSelected.png') no-repeat center;
		display: block;
	}

	.b_list-view {
		background: url('/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/DefaultView.png') no-repeat center;
		display: block;
	}

	.b_list-view-selected {
		background: url('/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/DefaultViewSelected.gif') no-repeat center;
		display: block;
	}

	.c_icon-view{
		background: url('/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/IconView.gif') no-repeat center center;
		display: block;
	}

	.c_icon-view-selected{
		background: url('/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/IconViewSelected.gif') no-repeat center;
		display: block;
	}

	.d_cover-flow{
		background: url('/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/CoverflowView.gif') no-repeat center center;
		display: block;
	}

	.d_cover-flow-selected{
		background: url('/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/CoverflowViewSelected.gif') no-repeat center;
		display: block;
	}

	.e_admin-view{
		background: url('/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/DetailView.png') no-repeat center;
		width: 23px;
		height: 24px;
		display: block;
	}

	.e_admin-view-selected{
		background: url('/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/DetailViewSelected.png') no-repeat center;
		display: block;
	}
}