.exo_cssFolder16x16Icon {
  height: 16px;
  background: url('icons/exo-cssFolder.gif') no-repeat;
}

.exo_jsFolder16x16Icon {
  height: 16px;
  background: url('icons/exo-jsFolder.gif') no-repeat;
}

.exo_webFolder16x16Icon {
  height: 16px;
  background: url('icons/exo-webFolder.gif') no-repeat;
}

.exo_portalFolder16x16Icon {
  height: 16px;
  background: url('icons/exo_portalFolder.png') no-repeat;
}

.exo_linkFolder16x16Icon {
  height: 16px;
  background: url('icons/exo-linkFolder.gif') no-repeat;
}

.exo_themeFolder16x16Icon {
  height: 16px;
  background: url('icons/exo-themeFolder.gif') no-repeat;
}

.exo_link16x16Icon {
  height: 16px;
  background: url('icons/exo-webLink.gif') no-repeat;
}

.exo_webContent16x16Icon {
  height: 16px;
  background: url('icons/exo-webContent.gif') no-repeat;
  line-height: 16px;
}

.exo_multimediaFolder16x16Icon {
  height: 16px;
  background: url('icons/exo-mediaFolder.gif') no-repeat;
  line-height: 16px;
}

.exo_pictureOnHeadWebcontent16x16Icon {
  height: 16px;
  background: url('icons/exo-topPictureContent.png') no-repeat;
}

.exo_twoColumnsWebcontent16x16Icon {
  height: 16px;
  background: url('icons/exo-twoColumnContent.png') no-repeat;
}

.UIJCRExplorerPortlet .WCMContentView .UIListGrid .LeftColumn .Icon16x16 {
  position: static;
}

.UIJCRExplorerPortlet .WCMCategoryView .UIListGrid .LeftColumn .Icon16x16 {
  position: static;
}