/**
 * Created by The eXo Platform SARL
 * Author : Tran The Trong
 *          trongtt@gmail.com
 * August 01, 2006
 * version: $Id$
 */

.UIECMAdminPortlet .UITaxonomyManager {
}

.UIECMAdminPortlet .UITaxonomyContainer {
  border: solid 1px #bdbdbd;
  padding: 5px;
  background-color: white;
}

.UIECMAdminPortlet .UITaxonomyManager .Icon16x16 {
  margin: 7px 7px 0px 0px;
  float: left;
  cursor: pointer;
}

.UIECMAdminPortlet .UITaxonomyManager .Icon24x24 {
  margin: 2px 3px 0px 0px;
  float: left;
}

.UIECMAdminPortlet .UITaxonomyManager .UITaxonomyForm  {
	padding: 10px;
}

.UIECMAdminPortlet .UITaxonomyManager .UITaxonomyForm .HorizontalLayout  {
	padding-top: 10px;
	background: #F7F7F7;
}

.UIECMAdminPortlet .UITaxonomyManager .UITaxonomyForm .FormContainer  {
	width: 500px;
	margin: auto;
}

.UIECMAdminPortlet .UITaxonomyManager .HomeNode {
  padding: 0px 7px;
  line-height: 30px;
  background-color: #eaedf6;
  margin-bottom: 1px;
  font-weight: bold;
}

.UIECMAdminPortlet .UITaxonomyManager .NoneIcon {
  margin: 7px 0px;
  float: left;
  width: 16px;
  height: 16px;  
}

.UIECMAdminPortlet .UITaxonomyManager .Node {
  line-height: 30px;
  background-color: #eaedf6;
  margin-bottom: 1px;
}

.UIECMAdminPortlet .UITaxonomyManager .NodeEven {
  background: #e4e7f3;
  line-height: 30px;
  margin-bottom: 1px;
}

.UIECMAdminPortlet .UITaxonomyManager .ExpandIcon {
  margin: 7px 0px;
  float: left;
  cursor: pointer;
  background: url('DefaultSkin/background/SmallGray.gif') no-repeat left -16px;
}

.UIECMAdminPortlet .UITaxonomyManager .ColapseIcon {
  margin: 7px 0px;
  float: left;
  cursor: pointer;
  background: url('DefaultSkin/background/SmallGray.gif') no-repeat left top;
	width: 16px; height: 16px;
}

.UIECMAdminPortlet .UITaxonomyManager .NodeActionsContainer {
  float: right;
}

.UIECMAdminPortlet .TrueFalseContainer{
  width: 65px;
  margin: auto;
}

/*############################## -- UITaxonomyPageIterator   -- ##############################*/

.UITaxonomyPageIterator {
	margin: 0px 0px 0px 9px;
	padding: 9px 0px 0px 0px;
}

.UITaxonomyPageIterator .NodePageIterator {
	background: #ededed;
	border-right: 1px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
	padding-left: 1px;
	width: auto;
}

.UITaxonomyPageIterator .DisablePage {
	filter:alpha(opacity=40); -moz-opacity:.40; opacity:.40;
	cursor: default;
}

.UITaxonomyPageIterator .Icon {
	margin: 0px 4px;
	padding: 0px;
	float: left;
}

.UITaxonomyPageIterator a {
	color: #2f7bc9;
	padding: 0px 3px;
	display: block;
	line-height: 18px;
}

.UITaxonomyPageIterator a.PageSelected {
	color: #fd2020;
}
