/**
 * Created by The eXo Platform SARL
 * Author : Dang Van Minh
 *          minhdv@exoplatform
 * Nov 2, 2006
 * version: $Id$
 */
/*############################## -- UINodeTypeManager-- ########################*/

.UIECMAdminPortlet .UINodeTypeManager {
  padding: 2px 0px 0px 0px;
  width: 97%;
}

.UIECMAdminPortlet .UINodeTypeManager .nodeTypeDefinition .FormContainer {
  width: 500px ;
  margin: auto;
}

.UIECMAdminPortlet .UINodeTypeManager .propertyDefinition .FormContainer {
  width: 500px ;
  margin: auto;
}

.UIECMAdminPortlet .UINodeTypeManager .childNodeDefinition .FormContainer {
  width: 500px ;
  margin: auto;
}

.UIECMAdminPortlet .UINodeTypeManager .UIFormTabPane {
  width: 95%;
  margin: 10px auto;
}

.UIECMAdminPortlet .UINodeTypeManager .UIFormTableInputSet {
	padding: 2px;
}

.UIECMAdminPortlet .UINodeTypeManager .UINodeTypeImportPopup {
	padding: 10px;
}

.UIECMAdminPortlet .UINodeTypeManager .UINodeTypeImportPopup .HorizontalLayout {
	padding-top: 10px;
	background: #f7f7f7;
}

.UIECMAdminPortlet .UINodeTypeManager .UINodeTypeUpload .ProgressBarFrame { 
	width: 330px;
	overflow: hidden;
	margin: 0px;
}

.UIECMAdminPortlet .UINodeTypeManager .UINodeTypeUpload .SelectFileFrame { 
	width: 330px;
	overflow: hidden;
	margin: 0px;
}

.UIECMAdminPortlet .UINodeTypeManager .UINodeTypeUpload .FileNameLabel {
	width: auto;	
}

.UIECMAdminPortlet .UINodeTypeManager .UINodeTypeExport {
	padding: 10px;	
}


.UIECMAdminPortlet .UINodeTypeManager .UIFormInputSet .UIGrid .text{
  width: 100% ;
  overflow-x: hidden;
}



.UINodeTypeManager .UINodeTypeList .IconNodeType{
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	padding-left: 20px; /* orientation=rt */
}

/*############################## -- End UINodeTypeManager-- ########################*/