/**
 * Created by The eXo Platform SAS
 * Modifile : Vu Duy Tu
 *           duytucntt@gmail.com
 * January 03, 2006
 * version: $Id$
 */
/*############################## -- UINodeTypeManager-- ########################*/

.UIECMAdminPortlet .UINodeTypeManager {
  padding: 2px 0px 0px 0px;
  width: 97%;
}

.UINodeTypeManager .UINodeTypeList .IconNodeType {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	padding-left: 20px; /* orientation=rt */
}

.UIECMAdminPortlet .UINodeTypeManager .nodeTypeDefinition .FormContainer {
  width: 500px ;
  margin: auto;
}

.UIECMAdminPortlet .UINodeTypeManager .childNodeDefinition .FormContainer {
  width: 500px ;
  margin: auto;
}

.UIECMAdminPortlet .UINodeTypeManager .propertyDefinition .FormContainer {
  width: 500px ;
  margin: auto;
}

.UIECMAdminPortlet .UINodeTypeManager .UIFormTabPane {
  width: 95%;
  margin: 10px auto;
}

.UIECMAdminPortlet .UINodeTypeManager .UIFormTableInputSet {
	padding: 2px;
}

.UIECMAdminPortlet .UINodeTypeManager .UINodeTypeUpload .ProgressBarFrame { 
	width: 330px;
	overflow: hidden;
	margin: 0px;
}

.UIECMAdminPortlet .UINodeTypeManager .UINodeTypeUpload .SelectFileFrame { 
	width: 330px;
	overflow: hidden;
	margin: 0px;
}

.UIECMAdminPortlet .UINodeTypeManager .UINodeTypeUpload .FileNameLabel {
	width: auto;	
}

.UIECMAdminPortlet .UINodeTypeManager .UINodeTypeImportPopup {
	margin: 10px;
}

.UIECMAdminPortlet .UINodeTypeManager .UINodeTypeExport {
	margin: 10px;	
}




/*############################## -- End UINodeTypeManager-- ########################*/