/**
 * Created by The eXo Platform SAS
 * Modifile : Vu Duy Tu
 *           duytucntt@gmail.com
 * January 03, 2006
 * version: $Id$
 */
/*############################## -- UINodeTypeManager-- ########################*/

.UIECMAdminPortlet .ActionContainer {
  width: auto ;
  margin: auto ;
}

.UIECMAdminPortlet .UINodeTypeExport .UIFormWithTitle {
  width: auto;
  margin: auto;
}

.UIECMAdminPortlet .UINodeTypeExport .UIFormWithTitle .HorizontalLayout {
  padding: 8px;
}

.UIECMAdminPortlet .UINodeTypeExport .UIFormWithTitle .UIGrid {
  border-right: 0px ; border-left: 0px ;
}

.UIECMAdminPortlet .UINodeTypeExport .HorizontalLayout .FieldContainer {
	margin-top: 5px;
	width: 99.7%;
}

.UIECMAdminPortlet .UINodeTypeUpload .HorizontalLayout {
	border: 1px solid #afaeae;
	width: 95%;
	margin: 10px auto;
	padding: 0px;
}

.UIECMAdminPortlet .UINodeTypeExport .UIGrid .text {
  width: 100% ;
}

.UIECMAdminPortlet .UINodeTypeUpload .UIFormWithTitle {
  width: 450px ;
  border: 1px solid #afaeae;
  margin-left: auto;
}

.UIECMAdminPortlet .UINodeTypeManager .UINodeTypeImportPopup {
	
}

.UIECMAdminPortlet .UINodeTypeUpload .FieldContainer .SelectFileFrame .SelectFileLabel {
  width: 100px;
  margin: 0px;
}

.UIECMAdminPortlet .UINodeTypeUpload .FieldContainer .SelectFileFrame .FileNameLabel {
  padding: 0px 0px 0px 5px;
  width: auto;
}

.UIECMAdminPortlet .UINodeTypeImport .UIFormWithTitle {
  width: 400px ;
  border: 1px solid #afaeae ;
  margin-left: 25px;
}

.UIECMAdminPortlet .UINodeTypeExport {
  width: 95%;
  margin: auto;
}

.UIECMAdminPortlet .UINodeTypeManager {
  width: 97.5%;
}
.UINodeTypeManager .UINodeTypeList .IconNodeType{
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	padding-left: 20px; /* orientation=rt */
}

.UIECMAdminPortlet .UINodeTypeManager .nodeTypeDefinition .FormContainer {
  width: 500px ;
  margin: auto;
}

.UIECMAdminPortlet .UINodeTypeManager .propertyDefinition .FormContainer {
  width: 500px ;
  margin: auto;
}

.UIECMAdminPortlet .UINodeTypeManager .childNodeDefinition .FormContainer {
  width: 500px ;
  margin: auto;
}

.UIECMAdminPortlet .UINodeTypeManager .UIFormTabPane label {
  width: 135px;
}

.UIECMAdminPortlet .UINodeTypeManager .UIFormTabPane {
  width: 600px ;
  margin: auto; margin-top: 10px;
}

.UIECMAdminPortlet .UINodeTypeManager .UIFormTabPane .UIFormInputSet{
	padding-top: 5px;
}

.UIECMAdminPortlet .UINodeTypeManager .UIFormInputSet .UIGrid {
  width: 100% ;
  border-left: 0px ; border-right: 0px ;
}

.UIECMAdminPortlet .UINodeTypeManager .UIFormInputSet .UIGrid .text{
  width: 100% ;
}

.UIECMAdminPortlet .UINodeTypeManager .UIGrid .label{
	padding-left: 10px;
}

.UIECMAdminPortlet .UINodeTypeManager .UIGrid .checkbox {
	margin-left: 10px;
}

.UIECMAdminPortlet .UINodeTypeManager .UIFormTabPane .UIGrid {
  width: 99.7% ;
  margin: 1px;
}

.UIECMAdminPortlet .UINodeTypeManager  .UIFormInputSetWithActions .checkbox {
  width: 45px;
}

.UIECMAdminPortlet .UINodeTypeImportPopup .HorizontalLayout .FormContainer {
	width: 440px;
	margin: 15px auto;
}


/*############################## -- End UINodeTypeManager-- ########################*/