//
// Sprites
// --------------------------------------------------


// ICONS
// -----

// All icons receive the styles of the <i> tag with a base class
// of .i and are then given a unique class to add width, height,
// and background-position. Your resulting HTML will look like
// <i class="iconinbox"></i>.

// For the white version of the icons, just add the .iconwhite class: 
// <i class="iconinbox iconwhite"></i>

[class^="uiIconEcms"]{
  background-image: url("/eXoWCMResources/skin/images/Icons/uiIconsEcmsDarkGray.png");
}

/* Blue icons with optional class, or on hover/active states of certain elements */

.uiActionWithLabel:hover > [class^="uiIconEcms"],.actionIcon:hover > [class^="uiIconEcms"],
.nav-pills > .active > a > [class^="uiIconEcms"],
.nav-list > .active > a > [class^="uiIconEcms"],
.navbar-inverse .nav > .active > a > [class^="uiIconEcms"],
.dropdown-menu > li > a:hover > [class^="uiIconEcms"],
.dropdown-menu > .active > a > [class^="uiIconEcms"],
.uiDropdownWithIcon .dropdown-submenu:hover > a > [class^="uiIconEcms"],
.btn:hover [class^="uiIconEcms"],
[class^="uiIconEcms"]:hover, .uiActionBar [class^="uiIconEcms"]:hover, .uiIconEcmsBlue
{
  background-image: url("/eXoWCMResources/skin/images/Icons/uiIconsEcmsBlue.png");
}

/* light grey icons with optional class, or on  */


.dropdown-menu > li > a > [class^="uiIconEcms"],
.dropdown-menu > .active > a > [class^="uiIconEcms"],
.uiDropdownWithIcon .dropdown-submenu> a > [class^="uiIconEcms"],
.uiDropDownCal li a [class^="uiIconEcms"], .uiActionBar [class^="uiIconEcms"], .uiIconEcmsLightGrey
{
  background-image: url("/eXoWCMResources/skin/images/Icons/uiIconsEcmsLightGray.png");
}


/* White icons with optional class, or on hover/active states of Drop down with Icons */

.uiDropdownWithIcon .nav-pills > .active > a > [class^="uiIconEcms"],
.uiDropdownWithIcon .nav-list > .active > a > [class^="uiIconEcms"],
.uiDropdownWithIcon .navbar-inverse .nav > .active > a > [class^="uiIconEcms"],
.uiDropdownWithIcon .dropdown-menu > li > a:hover > [class^="uiIconEcms"],
.uiDropdownWithIcon .dropdown-menu > .active > a > [class^="uiIconEcms"],
.uiDropdownWithIcon .dropdown-submenu:hover > a > [class^="uiIconEcms"],
.btn-primary [class^="uiIconEcms"], 
.btn-primary:hover [class^="uiIconEcms"],
.uiDropDownCal a:hover [class^="uiIconEcms"],
.uiDropDownCal .active a:hover [class^="uiIconEcms"],
.eventAllDay [class^="uiIconEcms"], .eventDayContainer [class^="uiIconEcms"], .uiIconEcmsWhite
{
  background-image: url("/eXoWCMResources/skin/images/Icons/uiIconsEcmsWhite.png");
}


.uiIconEcmsGeneralDrive, .uiIconEcmsDriveManager {
	background-position: 0px 0px;
}

.uiIconEcmsGroupDrive {
	background-position: -20px 0px;
}

.uiIconEcmsPersonalDrive {
	background-position: -40px 0px;
}

.uiIconEcmsPrivateDrive {
	background-position: -60px 0px;
}

.uiIconEcmsPublicDrive {
	background-position: -80px 0px;
}

.uiIconEcmsTemplateList {
	background-position: -100px 0px;
}

.uiIconEcmsTemplateDocument, .uiIconEcmsTemplatesManager {
	background-position: -120px 0px;
}

.uiIconEcmsExplorerView, .uiIconEcmsViewManager {
	background-position: -140px 0px;
}

.uiIconEcmsNameSpace, .uiIconEcmsNamespaceManager {
	background-position: -160px 0px;
}

.uiIconEcmsQuery, .uiIconEcmsQueriesManager {
	background-position: -180px 0px;
}

.uiIconEcmsScript, .uiIconEcmsScriptManager {
	background-position: 0px -20px;
}

.uiIconEcmsFavorite,.uiIconEcmsVote {
	background-position: -20px -20px;
}

.uiIconEcmsCopy {
	background-position: -40px -20px;
}

.uiIconEcmsCut {
	background-position: -60px -20px;
}

.uiIconEcmsRemove {
	background-position: -80px -20px;
}

.uiIconEcmsRename {
	background-position: -100px -20px;
}

.uiIconEcmsAddSymLink {
	background-position: -120px -20px;
}

.uiIconEcmsPatse {
	background-position: -140px -20px;
}

.uiIconEcmsViewDocument {
	background-position: -160px -20px;
}

.uiIconEcmscopyUrlToClipboard {
	background-position: -180px -20px;
}

.uiIconEcmsCheckout {
	background-position: 0px -40px;
}

.uiIconEcmsShowHideContent,.uiIconEcmsManageHidden {
	background-position: -20px -40px;
}

.uiIconEcmsPublication,.uiIconEcmsManagePublications {
	background-position: -40px -40px;
}

.uiIconEcmsRelation,.uiIconEcmsManageRelations {
	background-position: -60px -40px;
}

.uiIconEcmsVersion,.uiIconEcmsManageVersions {
	background-position: -80px -40px;
}

.uiIconEcmsLocalisedContent,.uiIconEcmsAddLocalizationLink {
	background-position: -100px -40px;
}

.uiIconEcmsOverloadThumbnail {
	background-position: -120px -40px;
}

.uiIconEcmsApprove {
	background-position: -140px -40px;
}

.uiIconEcmsPublish {
	background-position: -160px -40px;
}

.uiIconEcmsStructure,.uiIconEcmsShowJCRStructure {
	background-position: -180px -40px;
}

.uiIconEcmsMetadata, .uiIconEcmsMetadataManager {
	background-position: 0px -60px;
}

.uiIconEcmsType, .uiIconEcmsNodeTypeManager {
	background-position: -20px -60px;
}

.uiIconEcmsProperties,.uiIconEcmsViewProperties {
	background-position: -40px -60px;
}

.uiIconEcmsReference,.uiIconEcmsViewReferences {
	background-position: -60px -60px;
}

.uiIconEcmsShowHideRelation,.uiIconEcmsViewRelations {
	background-position: -80px -60px;
}

.uiIconEcmsAddFolder {
	background-position: -100px -60px;
}

.uiIconEcmsAddDocument {
	background-position: -120px -60px;
}

.uiIconEcmsExportNode {
	background-position: -140px -60px;
}

.uiIconEcmsImportNode {
	background-position: -160px -60px;
}

.uiIconEcmsViewNodeType {
	background-position: -180px -60px;
}

.uiIconEcmsClipboard {
	background-position: 0px -80px;
}

.uiIconEcmsViewDefault {
	background-position: -40px -80px;
}

.uiIconEcmsViewList,.uiIconEcmsViewB_list {
	background-position: -20px -80px;
}

.uiIconEcmsViewIcon,.uiIconEcmsViewC_icon {
	background-position: -60px -80px;
}

.uiIconEcmsViewTimeline {
	background-position: -80px -80px;
}

.uiIconEcmsViewAuthor,.uiIconEcmsViewAuthoring {
	background-position: -100px -80px;
}

.uiIconEcmsViewAdmin,.uiIconEcmsViewE_admin {
	background-position: -120px -80px;
}

.uiIconEcmsViewCoverflow {
	background-position: -140px -80px;
}

.uiIconEcmsViewSimple {
	background-position: -160px -80px;
}

.uiIconEcmsViewWcm {
	background-position: -180px -80px;
}

.uiIconEcmsExpand {
	background-position: 0px -100px;
}

.uiIconEcmsGoBack {
	background-position: -20px -100px;
}

.uiIconEcmsGotoFolder {
	background-position: -40px -100px;
}

.uiIconEcmsArticle {
	background-position: -60px -100px;
}

.uiIconEcmsAudit,.uiIconEcmsManageAuditing {
	background-position: -80px -100px;
}

.uiIconEcmsNavigation,.uiIconEcmsContentNavigation {
	background-position: -100px -100px;
}

.uiIconEcmsCheckin {
	background-position: -120px -100px;
}

.uiIconEcmsCheckout {
	background-position: -140px -100px;
}

.uiIconEcmsLock {
	background-position: -160px -100px;
}

.uiIconEcmsUnlock {
	background-position: -180px -100px;
}

.uiIconEcmsClipboardMini {
	background-position: 0px -140px;
}

.uiIconEcmsRelationListMini,.uiIconEcmsRelationMini {
	background-position: -20px -140px;
}

.uiIconEcmsSearchMini,.uiIconEcmsSavedSearchesMini {
	background-position: -40px -140px;
}

.uiIconEcmsTreeMini,.uiIconEcmsExplorerMini {
	background-position: -60px -140px;
}

.uiIconEcmsHome {
	background-position: -80px -140px;
}

.uiIconEcmsFileMini {
	background-position: -100px -140px;
}

.uiIconEcmsTreeMini {
	background-position: -120px -140px;
}

.uiIconEcmsTagExplorerMini {
	background-image: url("/eXoResources/skin/images/Icons/uiIconsDarkGray.png");
	background-position: -60px -20px;
}

.uiIconEcmsTagExplorerMini:hover {
	background-image: url("/eXoResources/skin/images/Icons/uiIconsBlue.png");
}



