/*------------------org.exoplatform.wcm.webui.search.UIWCMSearchForm-------------------*/
.UIWCMSearchPortlet .UISearchForm {
  background: white none repeat scroll 0 0;
  padding: 10px;
}

.UIWCMSearchPortlet .UISearchForm .UIFormGrid {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.UIWCMSearchPortlet .UISearchForm .UIAction {
  padding-bottom: 10px;
  padding-top: 0;
  text-align: center;
}

.UIWCMSearchPortlet .UISearchForm .CheckboxField {
  float: left;
  padding-left: 18px;
}

.UIWCMSearchPortlet .UISearchForm .CheckboxText {
  float: left;
  padding-left: 4px;
  line-height: 18px;
}

.UIWCMSearchPortlet .UISearchForm input {
  font-size: 11px;
  width: 98%;
}

.UIWCMSearchPortlet .UISearchForm .radio {
  font-size: 11px;
  width: 15px;
  padding-right: 10px;
}

.UIWCMSearchPortlet .UISearchForm .CheckboxField .checkbox {
  float: left;
  width: 20px;
}

.UIWCMSearchPortlet .UISearchForm select {
  font-size: 11px;
  float:right;
}
/*-------------------------------------------------------------------------------------*/
