.UIJCRBrowser {
	padding: 10px;
}

.ExplorerTree {
  float: left ;
  width: 230px ;
  background: #f3f3f3;
}

.ExplorerTree .InnerExplorerTree {
  border: solid 1px #b1b0b0;
  padding: 10px;
}

.UITreeList {
  margin-left: 240px;
}

.UITreeList table {
	*width: 93%;
}

.UITreeList table .Icon16x16 {
	float: none;
	margin: 5px;
}

.UITreeList .Text {
	width: auto; height: 24px;
	line-height: 24px;
	padding-left: 26px;
}

.UIRelationManager .UITreeList .Text {
	width: auto; height: 20px;
	line-height: 20px;
	padding-left: 26px;
}

.UIOneNodePathSelector {
	padding: 10px;
}

.UICategoriesSelector .UITabPane .TabPaneContent {
  overflow: hidden;
  padding: 8px;
}

.UICategoriesSelector .ExplorerTree {
  float: left ;
  width: 230px ;
  background: #f3f3f3;
  margin:10px;
}

.UICategoriesSelector .UIBreadcumbs {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.UICategoriesSelector .UISelectedCategoriesGrid {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.UICategoriesSelector .UICategoriesSelectPanel {
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 250px;
}

.UIOneNodePathSelector .UIBreadcumbs {
	padding-bottom: 10px;
}

.UITaxonomyManager .UIBreadcumbs {
	padding-bottom: 10px;
}