/**
  LTR skin for mix:votable template
*/
.UIVote {
	padding: 5px 2px 2px 2px;
}

.UIVote .VoteResultContainer {
	width: 270px;
}

 .UIVote .VoteResultContainer .RatingInfoContainer {
	float: right;
}

.UIVote .VoteResultContainer .AvgRatingImages {
	width: 100px; 
	overflow: hidden;
	margin-left: 15px;
}

.UIVote .AvgRatingImages .Voted {
	float: left;
	width: 16px;
	height: 16px;
	background: url('/eXoWCMResources/skin/images/vote/ImageVote.gif') no-repeat left top;
	margin: 5px 1px;
}

.UIVote .AvgRatingImages .Unvoted {
	float: left;
	width: 16px;
	height: 16px;
	background: url('/eXoWCMResources/skin/images/vote/ImageVote.gif') no-repeat left -16px;
	margin: 5px 1px;
}

.UIVote .VoteRatingInfo {
	font: normal normal 11px verdana;
	float: left;
	vertical-align: middle;
	padding: 0px 5px;
	margin-top: 5px;
}

.UIVote .VoteRatingInfo .VoteRatingLabel {
	margin: 0px 5px;
	float: left;
}

.UIVote .VoteRatingInfo .VotedInfo {
	color: #058ee6;
	float: left;
}