/**
  RTL skin for mix:votable template
*/
.UIVote {
	padding: 5px 2px 2px 2px;
}

.UIVote .VoteResultContainer {
	margin-left: auto;
	padding-left: 8px;
	width: 370px;
	height: 26px;
}

.UIVote .LeftVoteBar {
	background: url('/eXoWCMResources/skin/images/vote/ImageVote.gif') no-repeat left -32px;
	padding-left: 5px;
	height: 26px;
}

.UIVote .RightVoteBar {
	background: url('/eXoWCMResources/skin/images/vote/ImageVote.gif') no-repeat right -32px;
	padding-right: 5px;
	height: 26px;
}

.UIVote .CenterVoteBar {
	height: 26px; 
	line-height: 26px;
	background: url('/eXoWCMResources/skin/images/vote/ImageVote.gif') repeat-x left -58px;
}

 .UIVote .VoteResultContainer .RatingInfoContainer {
	float: left;
}

.UIVote .VoteResultContainer .AvgRatingImages {
	width: 100px; 
	overflow: hidden;
	margin-right: 15px;
}

.UIVote .AvgRatingImages .Voted {
	float: right;
	width: 16px;
	height: 16px;
	background: url('/eXoWCMResources/skin/images/vote/ImageVote.gif') no-repeat right top;
	margin: 5px 1px;
}

.UIVote .AvgRatingImages .Unvoted {
	float: right;
	width: 16px;
	height: 16px;
	background: url('/eXoWCMResources/skin/images/vote/ImageVote.gif') no-repeat right -16px;
	margin: 5px 1px;
}

.UIVote .VoteRatingInfo {
	font: normal normal 11px verdana;
	float: right;
	vertical-align: middle;
	padding: 0px 5px;
	margin-top: 5px;
}

.UIVote .VoteRatingInfo .VoteRatingLabel {
	margin: 0px 5px;
	float: right;
}

.UIVote .VoteRatingInfo .VotedInfo {
	color: #058ee6;
	float: right;
}