.UIWCMSearchContent {
  padding: 10px 0px;
}

.UIWCMSearchContent .Label {
  float: left;
  padding: 0px 5px 0px 10px;
}

.UIWCMSearchContent select.selectbox {
  float: left;
  width: 90px;
  margin: 8px 5px;
}

.UIWCMSearchContent input {
  float: left;
  width: 200px;
  margin: 8px 5px;
}

.UIWCMSearchContent a {
  display: block;
  background: url('background/SearchIcon.png') no-repeat center;
  width: 20px;
  height: 20px;
  float: left;
  margin: 6px;
}

.UIWCMSearchContent .DeleteIcon {
  background: url('background/DustBin.gif') no-repeat center;
  width: 20px;
  height: 20px;
}

.UIWCMSearchContent .title {
  width: 52%;
		font-size: 11px;
		color: #000;
}

.UIWCMSearchContent .score {
  width: 15%;
}

.UIWCMSearchContent .publicationstate {
  width: 18%;
}

#UIContentSelectorOne #UIContentSearchResult .UIGrid .action .ActionContainer img {
  margin:0px;
}

.UIWebSearchResult .action {
  width: 15%;
}

/******************************************************/
.UIWCMSearchContainer {
  
}

.UIWCMSearchContainer .UIBreadcumbs .LeftBreadcumbsBar {
  background: white;
  border: 1px solid #b7b7b7;
}

.UIWCMSearchContainer .UITreeBuilder {
  float: left;
  border: 1px solid #B1B0B0;
  width: 300px;
}

.UIWCMSearchContainer .UITreeBuilder .ExplorerTree {
  float: none;
  width: auto;
}

.UIWCMSearchContainer .UISelectPathPanel {
  margin-left: 310px;
  border: 1px solid #B1B0B0;
  background: white;
}

.UIWCMSearchContainer .UISelectPathPanel .UITreeList {
  padding: 16px 0px 16px 16px;
  margin: 0px;
}

.UIWCMSearchContainer .UISelectPathPanel .UITreeList .UIGrid {
  width: 96%;
  margin: 0px;
}

.UIWCMSearchContainer .UIContentSelected {
  height: 200px;
}

.UIWCMSearchContainer .UIContentSelected .UICLVContentSelectedGrid {
  padding: 16px;
  margin: 0px;
}

.UIWCMSearchContainer .SelectContent .Title {
  background: #D2DDF1 url(/eXoResources/skin/DefaultSkin/webui/component/UIGrid/background/ThGridRepeatBg1x19.jpg) repeat-x;
  height: 20px;
  line-height: 20px;
  padding: 0px 10px;
  font-weight: bold;
  border-bottom: 1px solid #B1B0B0;
  overflow: hidden;
}

.UIWCMSearchContainer .ExplorerTree .InnerExplorerTree {
  border: none;
  padding: 10px;
}

.UIWCMSearchContainer .ExplorerTree .UITrees {
  background: white;
}

.AddMetadataTypeIcon {
  width: 24px;
  height: 24px;
  background: url('background/ManageMetadataIcon.gif') no-repeat;
}

.IconConstraint {
  cursor: pointer;
}

/* ############################### WebContentSearchForm ########################*/
.UIWebContentSearchForm {
  padding: 10px 20px;
}

.ContentSearchForm {
  padding: 4px 0px;
}

.ContentSearchForm .TitleTextBox {
  float: left;
  line-height: 20px;
  margin: 0px 5px;
}

.ContentSearchForm .DateInput {
  position: relative;
  float: left;
}

/********************  UIDocumentPathSelector  ***************************/
.UIDocumentPathSelector {
  
}

.UIDocumentPathSelector .UIBreadcumbs .LeftBreadcumbsBar {
  background: white;
  border: 1px solid #b7b7b7;
}

.UIDocumentPathSelector .ExplorerTree .UITrees {
  background: white;
}

.UIDocumentPathSelector .UIBreadcumbs {
  margin: 5px 0px;
}

/*********************** UIWebContentSelector *********************************/
.UIWebContentPathSelector .UIBreadcumbs {
  margin: 5px 0px;
}

/*********************** UITreeView ********************************************/

.LeftWorkspace .ViewChildNodesContainer {
  padding-left: 20px;
  display: none;
}
.LeftWorkspace .LoadingProgress {
  background: url(background/LoadingProgress.gif) no-repeat center center;
  height: 150px;
  width: 100%;
}

.LeftWorkspace .SelectNodeIcon {
  background: url(background/CollapseIcon.gif) no-repeat left center;
  height: auto;
  padding-left: 18px;
  white-space: nowrap;
  width: auto;
  margin: 5px 0;
  cursor: pointer;
}

.LeftWorkspace .NoneSelectNodeIcon {
  background: url(background/ExpandIcon.gif) no-repeat left center;
  height: auto;
  padding-left: 18px;
  white-space: nowrap;
  width: auto;
  margin: 5px 0;
  cursor: pointer;
}

.LeftWorkspace .DefaultPageIcon {
  background: transparent url(background/DefaultPageIcon.gif) no-repeat scroll left center;
  background-position: left center;
  display: block;
  height: 20px;
  line-height: 20px;
  padding-left: 20px;
  white-space: nowrap;
  width: auto;
}

/******************* UITreeViewBreadcumbs ******************************************/
.UITreeViewBreadcumbs {
  border: 1px solid gray;
  margin: 10px 0px;
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  white-space: nowrap;
}

.UITreeViewBreadcumbs .TreeHomeIcon {
  background: transparent url(background/HomeIcon.gif) no-repeat scroll left center;
  line-height: 16px;
  height: 16px;
  margin-top: 5px;
  margin-left: 5px;
  padding-left: 25px;
  float: left;
  width: 100%;
}

.UITreeViewBreadcumbs .FirstNode {
  line-height: 13px;
  padding: 0px 5px;
  float: left;
  cursor: pointer;
}

.UITreeViewBreadcumbs .RightArrowIcon {
  background: transparent url(background/RightArrowIcon.gif) no-repeat scroll left center;
  line-height: 13px;
  padding: 0px 5px;
  float: left;
  cursor: pointer;
}

.UISingleContentViewerPortlet .UIContentNodeTypeSelector .UIFormGrid {
  width: 50%;
}

.UISingleContentViewerPortlet .UIContentNodeTypeSelector .UIFormGrid td.FieldLabel {
  text-align: left;
}

#UIContentSelectorFolder {
  padding: 10px;
}

#UIContentSelectorMulti .GrayTabContainer .UITabContent, #UIContentSelectorFolder .GrayTabContainer .UITabContent, #UIContentSelectorOne .GrayTabContainer .UITabContent {
  background: white;
}

/* ===========================*/
/* Tree */
.Tree .HomeNode {
	background: url('background/TreeRoot24x18.gif') no-repeat left;
	padding-left: 24px; 
	height: 18px;
	line-height: 18px;
}

.Tree .Node {
	background: url('background/Dotted.gif') repeat-y 5px top;
	line-height: 18px;
	padding-top: 7px;	
	white-space: nowrap;
}

.Tree .NodeGroup {
	display: none;
	padding-left: 20px;
}

.Tree .LastNode{
	background: url('background/Dotted.gif') no-repeat 5px top;
}

.Tree .IconNode {
	padding-left: 20px;
}

.Tree .Expand {
	background: url('background/ExpandIcon.gif') no-repeat 5px top;
	height: auto;
	padding-left: 23px;
}

.Tree .Collapse {
	background: url('background/CollapseIcon.gif') no-repeat 5px top;
	height: auto;
	padding-left: 23px;
	border: 1px solid white;
}

.Tree .IconClose {
	padding-left: 25px;
	margin-left: 5px;
}

.exo_portalFolder16x16Icon {
	background:transparent url('background/nt-unstructured.gif') no-repeat scroll 0% 0%;
	height:16px;
	width:16px;
}

.exo_webContent16x16Icon {
	background:transparent url('background/nt-unstructured.gif') no-repeat scroll 0% 0%;
	height:16px;
	width:16px;
}

.ListContainer .CheckIcon {
	background:transparent url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/SelectIcon.gif') no-repeat scroll 0% 0%;
	height:20px;
	width:16px;
	margin: auto;
}

.ListContainer .DeleteIcon {
	background:transparent url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/NavigationIcons/Delete.gif') no-repeat scroll 0% 0%;
	height:20px;
	width:16px;
	margin: auto;
}

.UIWCMSearchContainer .LeftWorkspace{
	 width: 210px;
	 float: left;
	 border: 1px solid #f4f4f4;
	 background:#fafafa;
	 overflow: auto;
	 height: 461px;
}

.UIWCMSearchContainer .RightWorkspace{
	 margin-left: 218px;
}

.UIContentBrowsePanelFolder .ListContainer .RightWorkspace .ListView th {
	border:1px solid #C7C7C7;
	vertical-align:middle;
	height: 24px;
	padding-left: 7px;
}

.UIContentBrowsePanelFolder .ListContainer .RightWorkspace .ListView td {
	border:1px solid #C7C7C7;
	vertical-align:middle;
	height: 24px;
	padding-left: 7px;
}
.ListContainer .RightWorkspace .PageIterator {
	padding-top: 7px;
}

.ListContainer .RightWorkspace .MultiListContainer .ListView th {
	border:1px solid #C7C7C7;
	vertical-align:middle;
	height: 24px;
	padding-left: 7px;
}

.ListContainer .RightWorkspace .MultiListContainer .ListView td {
	border:1px solid #C7C7C7;
	vertical-align:middle;
	height: 24px;
	padding-left: 7px;
}

.ListContainer .RightWorkspace .MultiListContainer .ListFileContainer {
	margin-top:6px;
	overflow: auto;
	height: 130px;
}

.UIWCMSearchContainer .LeftWorkspace a:hover {
	font-weight: bold;
}


.UIWCMSearchContainer .LeftWorkspace .Node {
	line-height:18px;
	margin-left:15px;
	padding-top:7px;
	white-space:nowrap;
}

.UIWCMSearchContainer .LeftWorkspace .ChildrenContainer {
	margin-left:15px;
}

.UIWCMSearchContainer .LeftWorkspace .Node .ExpandIcon {
	background: url('background/ExpandIcon.gif') no-repeat scroll left center;
	height:auto;
	padding-left:18px;
}

.UIWCMSearchContainer .LeftWorkspace .Node .CollapseIcon {
	background: url('background/CollapseIcon.gif') no-repeat scroll left center;
	height:auto;
	padding-left:18px;
}

.UIWCMSearchContainer .LeftWorkspace .Node .NodeIcon {
	background-position:left center;
	height:20px;
	padding-left:20px;
	display: block;
}

.UIWCMSearchContainer .BreadcumbsPortlet{
	background: #fbfbfb;
	border: 1px solid #f4f4f4;
	padding: 4px 8px 4px 16px;
	margin: 0px 0px 8px 0px;
	height: 18px;
}

.UIWCMSearchContainer .BreadcumbsPortlet .BreadcumbsContainer{
	Float: left;
}

.UIWCMSearchContainer .BreadcumbsPortlet .BreadcumbTab{
	Float: left;
}

.UIWCMSearchContainer .BreadcumbsPortlet .HomeIcon{
	background: url('background/HomeIcon.gif') no-repeat center;
	float: left;
	margin: 0px 8px 0px 0px;
	height: 16px;
	width: 16px;
}


.UIWCMSearchContainer .BreadcumbsPortlet .RightArrowIcon{
	background: url('background/RightArrowIcon.gif') no-repeat center;
	float: left;
	margin: 0px 8px 0px 0px;
	height: 16px;
	width: 16px;
}

.UIWCMSearchContainer .BreadcumbsPortlet .Selected{
	float: left;
	display: block;
	margin: 0px 8px 0px 0px;
	color: #1b59aa;
}

.UIWCMSearchContainer .BreadcumbsPortlet .Nomal{
	float: left;
	display: block;
	margin: 0px 8px 0px 0px;
	text-decoration: none;
	color: black;
}

.UIWCMSearchContainer .BreadcumbsPortlet .BreadcumbTab a:hover{
	font-weight: bold;
}

.UIWCMSearchContainer .RightWorkspace table{
	/*border: 1px solid #f4f4f4;*/
}

.UIWCMSearchContainer .RightWorkspace td{
	border: 1px solid #e9e9e9;
}


.UIWCMSearchContainer .RightWorkspace .THBar{
	background: #c9c9c9;
	text-align: center;
	padding-left: 12px;
	border-left: 1px solid #f4f4f4;
	line-height: 20px;
}

.UIWCMSearchContainer .RightWorkspace .TRNoContent{
	font-style: italic;
	color: #FF5604;
	text-align: center;
}

.UIWCMSearchContainer .RightWorkspace .EvenItem{
	background: #f5f4ee;
	text-align: left;
}

.UIWCMSearchContainer .RightWorkspace .SelectItem{
	background: #fffadc;
	text-align: left;
}

.UIWCMSearchContainer .RightWorkspace .OddItem{
	text-align: left;
	background: #e9e9e9;
}

.UIWCMSearchContainer .RightWorkspace .Item{
	/* background-position:left 3px; */
	cursor:pointer;
	height:24px;
	line-height:24px;
	padding-left:20px;
	width:auto;
}

.UIWCMSearchContainer .RightWorkspace .Item td {
  vertical-align: middle;
}

.UIWCMSearchContainer .RightWorkspace .EventItem a:hover{
	font-weight: bold;
}

.UIWCMSearchContainer .RightWorkspace .OddItem a:hover{
	font-weight: bold;
}

.UIWCMSearchContainer .ActionBar {
	background:none repeat scroll 0 0 #F5F5F5;
	border:1px solid #D7D7D7;
	height:30px;
	padding:0 8px 0 16px;
	margin-bottom: 6px;
}
.UIWCMSearchContainer .ActionBar .FilterTitle {
	float:left;
	line-height:26px;
}
.UIWCMSearchContainer .ActionBar .FilterInput {
	float:left;
	line-height:20px;
	margin:4px 0;
}
.UIWCMSearchContainer .ActionBar .FilterInput .Filter {
	background: white;
	border:1px solid #D7D7D7;
	width:120px;
}
.UIWCMSearchContainer .ActionBar .SeparatorLineL {
	border-left:1px solid #D7D7D7;
	float:left;
	height:30px;
	margin:0 8px;
}

.UIWCMSearchContainer .ActionBar .ControlButton {
	float:left;
	line-height:20px;
	margin:6px 18px 2px 0;
	padding-left:20px;
}


#UIContentSelectorMulti, #UIContentSelectorOne {
	padding: 8px;
}

.SelectIcon {
  background: url('background/SelectIcon.gif') repeat scroll 0 0 transparent;
  height: 16px;
  width: 16px;
  margin: auto;
}
/* ================================================= Page Iterator =========================================*/

.PageIterator {    
	float:right;
	margin: 0px ;
	padding: 3px 0px 0px 5px ;
}

.PageIterator .PageIteratorContainer {    
  float: right ;
  overflow: hidden; 
}

.PageIterator .PageIteratorContainer .LeftPageIteratorBlock{    
  line-height: 18px ; 
  float: right ;
  margin-right: 15px;
}

.PageIterator .PageIteratorContainer .RightPageIteratorBlock{    
  float: right ;
}

.PageIterator .Icon {
  float: left ;
  margin: 0px 2px 0px 0px ;
  width: 18px ; height: 17px ;
}

.PageIterator .TotalPages {
  float: left ;
  line-height: 16px ; 
}

.PageIterator .PagesTotalNumber {
  float: left ;
  line-height: 17px ; 
  color: #0183f1;
  margin-left: 5px;
}

.PageIterator .LastTopPageIcon {
  vertical-align: middle ;
  background: url('../images/ScrollDoubleBackArrows.gif') no-repeat ;
  cursor: pointer ;
}

.PageIterator .NextTopPageIcon {
  background: url('../images/ScrollDoubleNextArrows.gif') no-repeat ;
  cursor: pointer ;
}

.PageIterator .LastPageIcon {
  background: url('../images/ScrollSingleBackArrow.gif') no-repeat ;
  cursor: pointer ; 
}

.PageIterator .NextPageIcon {
  background: url('../images/ScrollSingleNextArrow.gif') no-repeat ;
  cursor: pointer ;
}

.PageIterator .DisableLastTopPageIcon {
  vertical-align: middle ;
  background: url('../images/DoubleBackArrows.gif') no-repeat ;
}

.PageIterator .DisableNextTopPageIcon {
  background: url('../images/DoubleNextArrows.gif') no-repeat ;
}

.PageIterator .DisableLastPageIcon {
  background: url('../images/SingleBackArrow.gif') no-repeat ;
}

.PageIterator .DisableNextPageIcon {
  background: url('../images/SingleNextArrow.gif') no-repeat ;
}
/* End */

.PageIterator .Number {
  float: left ;
  text-align: center;
  margin: 0px 2px 0px 0px;
  line-height: 17px;
}

.PageIterator .PageSelected {
  line-height: 15px;
  height: 15px ;
  border: 1px solid #dfdfdf;
  color: #f16701;
  font-weight: bold;
  padding: 0px 6px;
  cursor: default;
}

.PageIterator .PageNormal {
	margin: 0px 0px 0px 0px ;
  padding: 1px 7px;
  border: 1px solid #dfdfdf;
  color: #333333 ;
  background: white;
}

.PageIterator .Number a {
  padding: 1px 6px 1px 7px;
}

.PageIterator .Number a:hover {
  padding: 1px 6px 1px 7px;
  color: #058ee6 ;
  border: 1px solid #777777;
}

.pg-normal {
    color: black;
    font-weight: normal;
    text-decoration: none;    
    cursor: pointer;    
}
.pg-selected {
    color: black;
    font-weight: bold;        
    text-decoration: underline;
    cursor: pointer;
}
.UIOneTaxonomySelector .Explorer .ExplorerTree .InnerExplorerTree .ScrollArea {
  overflow-x:auto;
}

.UIOneTaxonomySelector .UITreeList{
	width: 325px;
	overflow:auto;
}