
@import url("../../../icons/DefaultStylesheet.css");
@import url("UICategoryTree/DefaultStylesheet.css");
@import url("UIContentView/DefaultStylesheet.css");
@import url("UISubContent/DefaultStylesheet.css");
@import url("UINavigation/DefaultStylesheet.css");
@import url("UICBSearchForm/DefaultStylesheet.css");
@import url("UIEventViewer/DefaultStylesheet.css");


.UIWindow .UIBrowseContentPortlet {
	border: 1px solid white;
	margin: 0px;
	min-width: 400px;
}

.UIBrowseContentPortlet {
	background: white;
	border: 1px solid #b7b7b7;
	overflow: auto;
	margin: 5px;
}

.UIBrowseContentPortlet .UIFormGrid {
	width: 100%;
}

.UIBrowseContentPortlet .ContentHolder {
	padding: 5px;
	width: 98%;
	margin: auto;
}

.UIBrowseContentPortlet .UIFormWithTitle {
	margin: 10px auto;
	width: 650px;
}

.UIBrowseContentPortlet .UIOneNodePathSelector .UIFormWithTitle {
	margin: 10px auto;
	width: 580px;
	border:1px solid #b7b7b7;
}

.UIBrowseContentPortlet .UIConfigTabPane {
	padding: 5px;
}

.UIBrowseContentPortlet .ViewActicle {
	margin: 9px 10px 0px 0px; /* orientation=lt */
	margin: 9px 0px 0px 10px; /* orientation=rt */
}

.UIBrowseContentPortlet .UITagList {
  float: right;
}

.UIBrowseContentPortlet .TagmapHolder {
	width: 200px;
	background: #ffffff;
	padding: 1px;
}

.UIBrowseContentPortlet .TagmapHolder .TagmapTitle {
	height: 19px; line-height: 19px;
	margin: 0px;
	background: url('DefaultSkin/background/TagmapTitleBG1x19.gif') repeat-x;
	border: solid 1px #e1e1e1;
	border-bottom: none;
}

.UIBrowseContentPortlet .TagmapHolder .TagLabel {
	padding: 0px 8px;
	line-height: 19px;
	font-weight: bold;
}
		
.UIBrowseContentPortlet .TagmapHolder .TagmapContent {
	border: solid 1px #e1e1e1;	
	border-top: solid 1px #cdcdcd;
	background: #ffffff;
	padding: 5px;
	text-align: left; /* orientation=lt */
	text-align: right; /* orientation=rt */
	line-height: 22px;
}

.UIBrowseContentPortlet .TagmapHolder .TagmapContent a {
	color: red;
	padding: 3px 7px 3px 0px; /* orientation=lt */
	padding: 3px 0px 3px 7px; /* orientation=rt */
}

.UIBrowseContentPortlet .TagmapHolder .TagmapContent a:hover {
	color: yellow;
	padding: 3px 7px 3px 0px; /* orientation=lt */
	padding: 3px 0px 3px 7px; /* orientation=rt */
}

.UIBrowseContentPortlet .TagmapHolder .Icon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 19px; height: 16px; 
	margin: 2px 5px 0px 5px;
	background: url('DefaultSkin/background/TagMapIcon19x16.gif') no-repeat; 
}

.UIBrowseContentPortlet .UIFormGrid td.FieldLabel {
	width: 25%;
}

.UIBrowseContentPortlet .UIFormGrid .FieldLabel:first-letter {
	text-transform: capitalize;
}

.UIBrowseContentPortlet .UIConfigContainer .HorizontalLayout .UIFormGrid {
	margin: auto;
}

.UIBrowseContentPortlet .UIForm .FieldComponent .FieldComponent .AddIcon16x16 {
	margin-left: 5px; /* orientation=lt */
	margin-right: 5px; /* orientation=rt */
}

.UIBrowseContentPortlet .UIForm .HorizontalLayout td.FieldComponent {
	padding: 4px 0px;
}

.UIBrowseContentPortlet .UIConfigContainer .FieldComponent .path {
	padding: 0px;
}

.UIBrowseContentPortlet .UIConfigContainer .path .UIFormInputSet .AddIcon16x16 {
	float: none;
	margin-left: 5px; /* orientation=lt */
	margin-right: 5px; /* orientation=rt */
}

.UIBrowseContentPortlet .UIFormInputSet .UIFormInputSetWithAction td.FieldLabel {
	padding: 0px 4px;
}

.UIBrowseContentPortlet .UIConfigContainer .HorizontalLayout .FormContainer {
	padding: 3px 0px;
	border: none;
}

.UIBrowseContentPortlet .UIForm .HorizontalLayout .UIFormInputSet {
	width: 100%;
	padding: 0px;
	margin: auto;
}

/*############################## -- Begin UIBrowseContainer -- ##############################*/
.UIBrowseContentPortlet .UIBrowseContainer {
	padding: 0px;
	background: white;
  margin: auto;
}

/*############################## -- Begin UIToolBar -- ##############################*/
.UIBrowseContentPortlet .UIToolBar {
	background: url('DefaultSkin/background/CBToolbarBG1x27.gif') repeat-x;
	height: 27px;
	margin-bottom: 5px;
}

.UIBrowseContentPortlet .UIToolBar .SeparatorLine {
	width: 2px;
	height: 20px;
	margin: 4px 5px 0px 0px; /* orientation=lt */
	margin: 4px 0px 0px 5px; /* orientation=rt */
	background: url('DefaultSkin/background/LineDecorator2x1.gif') repeat-y;
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
}

.UIBrowseContentPortlet .UIToolBar .ShowHiddenIcon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	height: 24px;
	cursor: pointer;
	margin: 2px 0px 2px 5px; /* orientation=lt */
	margin: 2px 5px 2px 0px; /* orientation=rt */
}

.UIBrowseContentPortlet .CategoryListIcon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	height: 16px; width: 16px;
	background: url('DefaultSkin/background/CategoryListIcon.gif') no-repeat;
	margin: 6px 5px 0px 8px; /* orientation=lt */
	margin: 6px 8px 0px 5px; /* orientation=rt */
}

.UIBrowseContentPortlet .UIToolBar .PathLabel {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	height: 27px;
	font-weight: bold; font-size: 11px; color: #058ee6;
	line-height: 27px; vertical-align: middle;
}

.UIBrowseContentPortlet .UIToolBar .PathChildLabel {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	height: 27px;
	font-size: 11px; color: black;
	line-height: 27px; vertical-align: middle;
}

.UIBrowseContentPortlet .UIToolBar a:hover {
	color: #f97c01;
}

.UIBrowseContentPortlet .UIToolBar .PathIcon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	height: 16px; width: 16px;
	margin: 11px 0px 0px 5px; /* orientation=lt */
	margin: 11px 5px 0px 0px; /* orientation=rt */
	background: url('DefaultSkin/background/CBPathArrow8x7.gif') no-repeat left top; /* orientation=lt */
	background: url('DefaultSkin/background/CBPathArrow8x7-rt.gif') no-repeat right top; /* orientation=rt */
}

.UIBrowseContentPortlet .UIToolBar .SelectViewLabel {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	line-height: 28px;
	padding-left: 10px; /* orientation=lt */
	padding-right: 10px; /* orientation=rt */
}

.UIBrowseContentPortlet .UIToolBar .SelectBox {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	padding: 3px 15px;
	font-size: 11px;
}

.UIBrowseContentPortlet .UIToolBar .CBActionContainer {
	height: 27px;
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
}

.UIBrowseContentPortlet .UIToolBar .CBActionContainer .Icon {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	margin: 2px 6px;
	cursor: pointer;
}

.UIBrowseContentPortlet .UIToolBar .CBRefreshButton {
	width: 24px; height: 24px;
	background: url('DefaultSkin/background/CBRefreshButton.gif') no-repeat;
}

.UIBrowseContentPortlet .UIToolBar .CBSearchButton {
	width: 24px; height: 24px;
	background: url('MacSkin/background/CBSearchButton.gif') no-repeat left top; /* orientation=lt */
	background: url('MacSkin/background/CBSearchButton-rt.gif') no-repeat right top; /* orientation=rt */
}

.UIBrowseContentPortlet .UIToolBar .VoteDocumentButton{
	width: 24px; height: 24px;
	background: url('DefaultSkin/background/VoteDocumentButton.gif') no-repeat left top; /* orientation=lt */
	background: url('DefaultSkin/background/VoteDocumentButton-rt.gif') no-repeat right top; /* orientation=rt */
}

.UIBrowseContentPortlet .UIToolBar .WriteCommentButton {
	width: 24px; height: 24px;
	background:url('DefaultSkin/background/WriteCommentButton.gif') no-repeat left top; /* orientation=lt */
	background:url('DefaultSkin/background/WriteCommentButton-rt.gif') no-repeat right top; /* orientation=rt */
}

.UIBrowseContentPortlet .RightColumn {
  margin-right: 210px; /* orientation=lt */
  margin-left: 210px; /* orientation=rt */
 }
  
.UIBrowseContentPortlet .CenterColumn {
  margin-left: 210px; /* orientation=lt */
  margin-right: 210px; /* orientation=rt */
} 

.UIBrowseContainer .UIDocumentList {
	margin: 5px;
}

.UIBrowseContainer .DocNodeIcon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	margin: 2px 3px 0px 10px; /* orientation=lt */
	margin: 2px 10px 0px 3px; /* orientation=rt */
	width: 16px; height: 16px;
}

.UIBrowseContainer .UIDocumentList .DocumentLabel {
	vertical-align: middle;
	line-height: 16px;
}

.UIBrowseContainer .UIDocumentList .TopSubContent {
	margin-top: 10px;
	font-weight: bold;
}

.UIBrowseContainer .UIDocumentList .UIPageIterator {
	background: none;
	border: none;
}

.UIBrowseContainer .CommentHolder {
}

.UIBrowseContainer .VoteHolder {
	width: 250px;
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
}

.UIBrowseContentPortlet .UIBrowseContainer .UIArticle{
	width: 97%;
}

.UIBrowseContentPortlet .UIBrowseContainer .UIDivInfo {
	width: 97%;
	padding: 0px;
}

/*############################## -- FIX BUG POPUP -- ##############################*/

.UIBrowseContentPortlet .UISearchController {
	padding: 5px;
}

.UIBrowseContentPortlet .UISearchController .SearchResult {
	border: solid 1px #b7b7b7;
	padding: 5px;
}

.UIBrowseContentPortlet .UISearchController .HorizontalLayout .UIForm input {
  width: auto;
}

.UIBrowseContentPortlet .UISearchController .HorizontalLayout .UIForm select {
  width: auto;
}

.UIBrowseContentPortlet .UISearchController .UIPageIterator {
	margin-right: 0px; /* orientation=lt */
	margin-left: 0px; /* orientation=rt */
}

.UIBrowseContentPortlet .UISearchController .ResultInfo {
	line-height: 26px; vertical-align: middle;
	font-size: 11px;	
}

.UIBrowseContentPortlet .UISearchController .GotoIcon {
	width: 16px;	height: 16px;
	background: url('DefaultSkin/background/DefaultFolderIcon.gif') no-repeat;
}

/*############################## -- Begin UIVoteForm	 -- ##############################*/

.UIBrowseContentPortlet .UIVoteForm {
	padding: 10px;
}

.UIBrowseContentPortlet .VoteFormContainer {
	padding-top: 8px;
	background: #efefef;
	border: solid 1px #aeaeae;
}

.UIBrowseContentPortlet .VoteFormContainer .UIRatingInfoContainer {
	background: white;
	width: 150px;
	padding: 5px 12px;
	border: solid 1px #b7b7b7;
	margin: auto;
}

.UIBrowseContentPortlet .UIVoteForm .NormalVote {
	cursor: pointer;
}

.UIBrowseContentPortlet .UIVoteForm .OptionsContainer {
	margin: auto;
	width: 120px; height: 20px;
}

.UIBrowseContentPortlet .UIVoteForm .OptionsContainer .NormalVote {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	margin: 2px 3px 0px 3px;
	width: 16px; height: 16px;
	background: url('/eXoDMSResources/skin/images/vote/ImageVote.gif') left -16px; /* orientation=lt */
	background: url('/eXoDMSResources/skin/images/vote/ImageVote-rt.gif') right -16px; /* orientation=rt */
}

.UIBrowseContentPortlet .UIVoteForm .OptionsContainer .RatedVote {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	margin: 2px 3px 0px 3px;
	width: 16px; height: 16px;
	background: url('/eXoDMSResources/skin/images/vote/ImageVote.gif') left -16px; /* orientation=lt */
	background: url('/eXoDMSResources/skin/images/vote/ImageVote-rt.gif') right -16px; /* orientation=rt */
}

.UIBrowseContentPortlet .UIVoteForm .OptionsContainer .OverVote {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	margin: 2px 3px 0px 3px;
	width: 16px; height: 16px;
	background: url('/eXoDMSResources/skin/images/vote/ImageVote.gif') left top; /* orientation=lt */
	background: url('/eXoDMSResources/skin/images/vote/ImageVote-rt.gif') right top; /* orientation=rt */
}

/*############################## -- End UIVoteForm	 -- ##############################*/

.UIBrowseContentPortlet .UICBCommentForm {
	padding: 10px;
}

.UIBrowseContentPortlet .UICBCommentForm .UIFormGrid .FieldLabel {
	width: auto;
}

.UIBrowseContentPortlet .UIOneNodePathSelector .rootNodeInfo .FormContainer {
	padding: 0px;
}

.UIBrowseContentPortlet .UIForm .HorizontalLayout .rootNodeInfo td.FieldComponent {
	padding: 0px;
}

/*###################################################*/
.UIFormInputSetWithAction .UIFormGrid td.FieldComponent {
  white-space: normal;
}

.UIBrowseContentPortlet .LinkSmall {
	background: url('DefaultSkin/background/LinkSmall.gif') no-repeat right bottom;
  width: 20px;
  height: 15px;
  right: 0;
  bottom: 0;
}

.UIBrowseContentPortlet .UIOneNodePathSelector .LinkSmall {
	background: url('DefaultSkin/background/LinkSmall.gif') no-repeat left bottom;
  width: 20px;
  height: 15px;
  padding-left: 12px;
  right: 0;
  bottom: 0;
}


.UIBrowseContentPortlet .UITrees .Node .NodeIconLink {
	background-position: left top;
	font-weight: bold;
	height:  16px;
	padding-left: 11px;
	width: 20px;
}

.UIBrowseContentPortlet .Link {
  background: url('DefaultSkin/background/Link.gif') no-repeat right bottom;
  width: 48px;
  height: 48px;
  right: 0;
  bottom: 0;
}


/*********************************Template Style - Fix for IE*************************************/
