@import url('category-navigation-portlet/vertical-hierachy/SimpleVerticalHierachy/Stylesheet.css');

@import url('content-list-viewer-portlet/list-contents/UIContentListPresentationDefault/Stylesheet.css');

@import url('content-list-viewer-portlet/list-contents/UIPCLVDefault/Stylesheet.css');

@import url('content-list-viewer-portlet/list-contents/UIPCLVHotNews/Stylesheet.css');

@import url('content-list-viewer-portlet/paginator/UIPaginatorDefault/Stylesheet.css');

@import url('search-portlet/paginator/UIPaginatorDefault/Stylesheet.css');

@import url('search-portlet/search-form/UISearchForm/Stylesheet.css');

@import url('search-portlet/search-result/UIAdvanceSearchResultDefault/Stylesheet.css');

@import url('wcm-content-dialog/Stylesheet.css');

@import url('wcm-content-selector/Stylesheet.css');

@import url('wcm-explorer/Stylesheet.css');

@import url('wcm-nodetypes/16x16/Stylesheet.css');

@import url('wcm-nodetypes/20x20/Stylesheet.css');

@import url('wcm-nodetypes/70x80/Stylesheet.css');

@import url('wcm-nodetypes/277x182/Stylesheet.css');

@import url('wcm-nodetypes/48x48/Stylesheet.css');

@import url('wcm-portal/Stylesheet.css');

@import url('inline-editing/Stylesheet.css');

@import url('wcm-publication/Stylesheet.css');
@import url('seo/Stylesheet.css');


.UIPageIterator .selectbox {
  display:block; 
  float:left; 
  font-size: 11px;
}

.cke_show_borders {
	background:#fff;
	overflow:auto;
}

.cke_show_borders a:link {
    color: #2200C1;
    cursor: pointer;
    text-decoration: none;
}

.cke_show_borders a:visited {
    color: #800080;
    text-decoration: none;
}

.cke_show_borders a:hover {
    color: #2200C1;
    cursor: pointer;
    text-decoration: underline;
}

.cke_show_borders a:active {
    color: #2200C1;
    cursor: pointer;
    text-decoration: underline;
}

.cke_show_borders ol, .cke_show_borders ul, .cke_show_borders dl {
    padding: 0 40px;
    margin-top: 15px;		
}

.UISiteAdminToolBar {
	height: auto;
	padding-right: 20px;
}

.FormScrollLayout .HorizontalLayout {
	overflow: auto;
}

.UITabPane .UITabContentContainer .UITabContentScroll {
	height: 320px;
	overflow: auto;
}

/* UIRightClickPopupMenu */
/* re-writing css instead of re-using itseft from exogtn to avoid the case that UI of this popup broken in EPP */


.UIRightClickPopupMenu {
	display: none;
	position: absolute;
	background: #ffffff;
	border: 1px solid #c6c6c6;
	-moz-box-shadow: 1px 3px 5px #BDBDCE;
	-webkit-box-shadow: 1px 3px 5px #BDBDCE;
	box-shadow: 1px 3px 5px #BDBDCE;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.UIContextMenuContainer {
	background: #ffffff;
} 

.UIRightClickPopupMenu .UIRightPopupMenuContainer {
	margin: 0;
	padding: 0;
	background: transparent;
}

.UIRightClickPopupMenu .MenuItem {
	padding: 0 10px;
} 

.UIRightClickPopupMenu .RightClickCustomItem {
	display: none;
}

.UIRightClickPopupMenu .MenuItem .ItemIcon {
	padding: 5px 0px 5px 26px; /* orientation=lt */
	padding: 5px 26px 5px 0px; /* orientation=rt */
	line-height: 16px;
	width: auto;
	cursor: pointer;
	white-space: nowrap;
	display: block;
}

.UIRightClickPopupMenu .MenuItem:hover {
	background: #eaeaea;
}

.UIRightClickPopupMenu .MenuItem:hover .ItemIcon {
	color: orange;
}

.UIRightClickPopupMenu .UIRightPopupMenuContainer a:hover {
	color: orange;
	background-color: #eaeaea;
}
