/**
 * Created by The eXo Platform SARL
 * Author : Tran The Trong
 *          trongtt@gmail.com
 * August 01, 2006
 * version: $Id$
 */

/*############################## -- Begin NodeType Icon -- ########################*/

.dc_elementSet48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/dc-elementSet.gif') no-repeat;  
}

.default48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/default.gif') no-repeat;  
}

.exo_accessControllable48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/exo-accessControllable.gif') no-repeat;  
}

.exo_action48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/exo-action.gif') no-repeat;  
}

.exo_actionable48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/exo-actionable.gif') no-repeat;  
}

.exo_article48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/exo-article.gif') no-repeat;  
}

.exo_article_reference48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/exo-article-reference.gif') no-repeat;  
}

.exo_backupAction48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/exo-backupAction.gif') no-repeat;  
}

.exo_businessProcessAction48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/exo-businessProcessAction.gif') no-repeat;  
}

.exo_categorized48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/exo-categorized.gif') no-repeat;  
}

.exo_mockNodeType48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/exo-mockNodeType.gif') no-repeat;  
}

.exo_move48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/exo-move.gif') no-repeat;  
}

.exo_namespace48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/exo-namespace.gif') no-repeat;  
}

.exo_published48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/exo-published.gif') no-repeat;  
}

.exo_relationable48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/exo-relationable.gif') no-repeat;  
}

.exo_ruleAction48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/exo-ruleAction.gif') no-repeat;  
}

.exo_scriptAction48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/exo-scriptAction.gif') no-repeat;  
}

.exo_sendMailAction48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/exo-sendMailAction.gif') no-repeat;  
}

.exo_tab48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/exo-tab.gif') no-repeat;  
}

.exo_taxonomy48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/exo-taxonomy.gif') no-repeat;  
}

.exo_template48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/exo-template.gif') no-repeat;  
}

.exo_tag48x48Icon {
  width: 16px; height: 16px;
  background: url('icons/NodeTypes/exo-tag.gif') no-repeat;  
}

.exo_tagStyle48x48Icon{
  width: 16px; height: 16px;
  background: url('icons/NodeTypes/exo-tagStyle.gif') no-repeat;  
}

.exo_versionStorage48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/exo-versionStorage.gif') no-repeat;  
}

.exo_transformBinaryToTextAction48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/exo-transformBinaryToTextAction.gif') no-repeat;  
}

.exo_view48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/exo-view.gif') no-repeat;  
}

.exo_workflowAction48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/exo-workflowAction.gif') no-repeat;  
}

.exo_createRSSFeedAction48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/exo-createRSSFeedAction.gif') no-repeat;  
}

.exo_documentFolder48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/exo-documentFolder.gif') no-repeat;  
}

.exo_searchFolder48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/exo-searchFolder.gif') no-repeat;  
}

.exo_musicFolder48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/exo-musicFolder.gif') no-repeat;  
}

.exo_pictureFolder48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/exo-pictureFolder.gif') no-repeat;  
}

.exo_videoFolder48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/exo-videoFolder.gif') no-repeat;  
}

.mix_lockable48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/mix-lockable.gif') no-repeat;  
}

.mix_referenceable48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/mix-referenceable.gif') no-repeat;  
}

.mix_versionable48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/mix-versionable.gif') no-repeat;  
}

.nt_base48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/nt-base.gif') no-repeat;  
}

.nt_childNodeDefinition48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/nt-childNodeDefinition.gif') no-repeat;  
}

.nt_file48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/nt-file.gif') no-repeat;  
}

.nt_folder48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/nt-folder.gif') no-repeat;  
}

.nt_frozenNode48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/nt-frozenNode.gif') no-repeat;  
}

.nt_hierarchyNode48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/nt-hierarchyNode.gif') no-repeat;  
}

.nt_linkedFile48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/nt-linkedFile.gif') no-repeat;  
}

.nt_nodeType48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/nt-nodeType.gif') no-repeat;  
}

.nt_propertyDefinition48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/nt-propertyDefinition.gif') no-repeat;  
}

.nt_query48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/nt-query.gif') no-repeat;  
}

.nt_resource48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/nt-resource.gif') no-repeat;  
}

.nt_unstructured48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/nt-unstructured.gif') no-repeat;  
}

.nt_version48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/nt-version.gif') no-repeat;  
}

.nt_versionedChild48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/nt-versionedChild.gif') no-repeat;  
}

.nt_versionHistory48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/nt-versionHistory.gif') no-repeat;  
}

.nt_query48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/nt-query.gif') no-repeat;  
}

.nt_versionLabels48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/nt-versionLabels.gif') no-repeat;  
}

.rma_filePlan48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/rma-filePlan.gif') no-repeat;  
}

.kfx_document48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/kfx-document.gif') no-repeat;  
}
/*############################## -- End NodeType Icon -- ########################*/
.application_msword48x48Icon, .application_vnd_openxmlformats-officedocument_wordprocessingml_document48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/doc.gif') no-repeat;  
}

.application_xls48x48Icon, .application_vnd_openxmlformats-officedocument_spreadsheetml_sheet48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/xls.gif') no-repeat;  
}

.application_ppt48x48Icon, .application_vnd_openxmlformats-officedocument_presentationml_presentation48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/ppt.gif') no-repeat;  
}

.application_pdf48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/pdf.gif') no-repeat;  
}

.application_vnd_oasis_opendocument_text48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/odt.gif') no-repeat;  
}

.application_vnd_oasis_opendocument_spreadsheet48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/ods.gif') no-repeat;  
}

.application_vnd_oasis_opendocument_presentation48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/odp.gif') no-repeat;  
}

.application_zip48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/zip.gif') no-repeat;  
}

.application_rar48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/rar.gif') no-repeat;  
}

.text_rtf48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/rtf.gif') no-repeat;  
}

.text_xml48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/xml.gif') no-repeat;  
}

.text_plain48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/txt.gif') no-repeat;  
}

.image_jpeg48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/jpg.gif') no-repeat;  
}

.image_png48x48Icon {
  width: 48px; height: 48px;
  background: url('icons/NodeTypes/png.gif') no-repeat;  
}

.audio_mp348x48Icon {
	width: 48px; height: 48px;
  background: url('icons/NodeTypes/mp3.gif') no-repeat;
}

.image_gif48x48Icon {
 	width: 48px; height: 48px;
  background: url('icons/NodeTypes/gif.gif') no-repeat;
}

.application_octet-stream48x48Icon {
	width: 48px; height: 48px;
  background: url('icons/NodeTypes/exe.gif') no-repeat;
}

.text_html48x48Icon {
 	width: 48px; height: 48px;
  background: url('icons/NodeTypes/html.gif') no-repeat;
 }
 
.text_css48x48Icon {
 	width: 48px; height: 48px;
  background: url('icons/NodeTypes/css.gif') no-repeat;
 }
 
.application_x-javascript48x48Icon {
 	width: 48px; height: 48px;
  background: url('icons/NodeTypes/js.gif') no-repeat;
 }
 
.application_postscript48x48Icon {
 	width: 48px; height: 48px;
  background: url('icons/NodeTypes/ai.gif') no-repeat;
 }
 
 .image_bmp48x48Icon{
 	width: 48px; height: 48px;
  background: url('icons/NodeTypes/bmp.gif') no-repeat;
 }