
/******************************* UIForm **************************/
.UIForm .UIFormGrid .parentPath {
    display: block;
    width: 400px;
    word-wrap: break-word;
}

.UIForm .UIFormGrid td.FieldLabel {
  max-width: 500px;
  overflow: hidden;
}

/******************************* UIFormWithoutAction **************************/
.UIFormWithoutAction {
  margin: 0px 0px 10px 0px;
}

.UIFormWithoutAction .UIForm .HorizontalLayout {
	padding: 10px;
}

.UIFormWithoutAction .rootNodeInfo .UIFormInputSet {
	width: auto;
	padding: 0px;
}


/**************************************************************************/

.UIECMAdminPortlet .UIWorkspaceList .UIFormGrid {
	width: 95%;
}

.UIECMAdminPortlet .UIWorkspaceList .rootNodeInfo .UIFormGrid {
	width: 100%;
}

.UIJCRExplorerPortlet .UIWorkspaceList .UIFormGrid {
	width: 95%;
}

.UIJCRExplorerPortlet .UIWorkspaceList .rootNodeInfo .UIFormGrid {
	width: 100%;
}

.UIBrowseContentPortlet .UIWorkspaceList .UIFormGrid {
	width: 95%;
}

.UIBrowseContentPortlet .UIWorkspaceList .rootNodeInfo .UIFormGrid {
	width: 100%;
}

.UIFastContentCreatorPortlet .UIWorkspaceList .UIFormGrid {
	width: 95%;
}

.UIFastContentCreatorPortlet .UIWorkspaceList .rootNodeInfo .UIFormGrid {
	width: 100%;
}

/*====================================UIAnyPermission==================================*/
.UIAnyPermission {
	margin-bottom: 2px;
	border: 1px solid white;
}

.UIAnyPermission .UIForm .HorizontalLayout {
	padding: 0px;
}

.UITabPane .UIAnyPermission .UIForm .HorizontalLayout {
	border:1px solid #AEAEAE;
}

.UIJCRExplorerPortlet .UIJcrExplorerEditContainer .UIForm .UIFormGrid td.FieldLabel {
	vertical-align: middle;
	width:240px;
	padding-right: 8px;
}

.UIJCRExplorerPortlet .UIJcrExplorerEditContainer .UIForm .UIFormGrid td.FieldComponent {
  padding-left: 0px;
}

.UIAnyPermission .UIForm .HorizontalLayout .UIFormGrid {
	width: auto;
	margin: 0px;
}

.UIAnyPermission .UIFormInputSet .UIFormInputSetWithAction .UIFormGrid td {
	vertical-align: middle;
	padding: 2px;
}

.UIDocumentFormController .UIForm .HorizontalLayout textarea {
	font-size: 11px;
	border: 1px solid #b7b7b7;
  	height: auto;
	width: 95%;
}

.HorizontalLayout .UIFormInputSet .FormContainer .UIFormGrid td{
	padding: 4px;
}

/**************************************UIFormInputSet*******************************/

.UIFormInputSet .FormContainer {
	padding: 0px;
}

.FieldComponent .UIFormInputSet .UIFormInputSetWithAction td.FieldComponent {
	padding: 0px;
}

.FieldComponent .permission .UIFormInputSet .UIFormInputSetWithAction td.FieldComponent {
	padding: 4px;
}

.UIViewMetadataManager .tabNormal {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  background: url('/eXoDMSResources/skin/images/metadata/Metadata.gif') repeat-x left top;
  height: 20px; width: 120px; line-height: 20px; text-align: center;
  border: solid 1px #a3abb6;
  font-size: 12px; font-weight: bold;
}

.UIViewMetadataManager .tabSelected {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  background: url('/eXoDMSResources/skin/images/metadata/Metadata.gif') repeat-x left -20px;
  height: 20px; width: 120px; line-height: 20px; text-align: center;
  border: solid 1px #a3abb6;
  font-size: 12px; font-weight: bold;
}

.UIViewMetadataManager .ContentBlock {
  margin: 15px;
}

.UIViewMetadataManager .LabelMetadata {
  border-bottom: 1px dotted #666666;
  padding-bottom: 5px;
  height:14px;
  font-weight: bold;
  font-size: 12px;
  text-align: left; /* orientation=lt */
  text-align: right; /* orientation=rt */
  color: #f68822;
}

.UIViewMetadataManager .Header {
  font-weight: bold;
  font-size: 14px;
  text-align: left; /* orientation=lt */
  text-align: right; /* orientation=rt */
}

.UIViewMetadataManager .Text {
  text-align: left; /* orientation=lt */
  text-align: right; /* orientation=rt */
}

.UIViewMetadataManager .MetaImage {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
}
