/*************************** NodeType Icon ***********************/
.application_vnd_google-apps_presentation16x16Icon {
  background: url('icons/ppt.gif') no-repeat left center !important; /* orientation=lt */
  background: url('icons/ppt.gif') no-repeat right center !important; /* orientation=rt */
}

.application_vnd_google-apps_presentation48x48Icon {
  background: url('icons/ppt.gif') no-repeat left center !important; /* orientation=lt */
  background: url('icons/ppt.gif') no-repeat right center !important; /* orientation=rt */
}

.application_vnd_google-apps_document16x16Icon {
  background: url('icons/doc.gif') no-repeat left center !important; /* orientation=lt */
  background: url('icons/doc.gif') no-repeat right center !important; /* orientation=rt */
}

.application_vnd_google-apps_photo16x16Icon {
  background: url('icons/jpg.gif') no-repeat left center !important; /* orientation=lt */
  background: url('icons/jpg.gif') no-repeat right center !important; /* orientation=rt */
}

.application_vnd_google-apps_script16x16Icon {
  background: url('icons/js.gif') no-repeat left center !important; /* orientation=lt */
  background: url('icons/js.gif') no-repeat right center !important; /* orientation=rt */
}

.application_vnd_google-apps_spreadsheet16x16Icon {
  background: url('icons/xls.gif') no-repeat left center !important; /* orientation=lt */
  background: url('icons/xls.gif') no-repeat right center !important; /* orientation=rt */
}

.application_vnd_google-apps_video16x16Icon {
  background: url('icons/mpeg.gif') no-repeat left center !important; /* orientation=lt */
  background: url('icons/mpeg.gif') no-repeat right center !important; /* orientation=rt */
}

.application_vnd_google-apps_audio16x16Icon {
  background: url('icons/mp3.gif') no-repeat left center !important; /* orientation=lt */
  background: url('icons/mp3.gif') no-repeat right center !important; /* orientation=rt */
}

.application_vnd_google-apps_drawing16x16Icon {
  background: url('icons/bmp.gif') no-repeat left center !important; /* orientation=lt */
  background: url('icons/bmp.gif') no-repeat right center !important; /* orientation=rt */
}

.application_xml16x16Icon {
  background: url('icons/xml.gif') no-repeat left center !important; /* orientation=lt */
  background: url('icons/xml.gif') no-repeat right center !important; /* orientation=rt */
}

.application_x-msdos-program16x16Icon {
  background: url('icons/exe.gif') no-repeat left center !important; /* orientation=lt */
  background: url('icons/exe.gif') no-repeat right center !important; /* orientation=rt */
}

.application_vnd_google-apps_form16x16Icon {
  background: url('icons/xls.gif') no-repeat left center !important; /* orientation=lt */
  background: url('icons/xls.gif') no-repeat right center !important; /* orientation=rt */
}

.ConnectGoogleDriveIcon {
    background: url('icons/MonConnectGoogleDrive.png') no-repeat scroll left center transparent !important;
    height: 20px !important;
}

/******** Pnotify icons ********/
.picon-32.picon-task-complete {background-image:url("icons/oxygen/32/status/task-complete.png")}
.picon-32.picon-throbber {background-image:url("icons/oxygen/32/animations/throbber.gif")}
.picon-32.picon-dialog-error {background-image:url("icons/oxygen/32/status/dialog-error.png")}
.picon-32.picon-dialog-information {background-image:url("icons/oxygen/32/status/dialog-information.png")}
.picon-32.picon-process-stop {background-image:url("icons/oxygen/32/actions/process-stop.png")}
.picon.picon-task-complete {background-image:url("icons/oxygen/16/status/task-complete.png")}
.picon.picon-throbber {background-image:url("icons/oxygen/16/animations/throbber.gif")}
.picon.picon-dialog-error {background-image:url("icons/oxygen/16/status/dialog-error.png")}
.picon.picon-dialog-information {background-image:url("icons/oxygen/16/status/dialog-information.png")}
.picon.picon-process-stop {background-image:url("icons/oxygen/16/actions/process-stop.png")}


