.uiIconEcmsConnectBox {
	background: url('icons/box-gray-16x16.png') no-repeat scroll left center transparent !important;
	height: 16px !important;
	width: 16px !important;
}

.uiIconEcmsConnectDialog-box {
	background: url('icons/box-gray-24x24.png') no-repeat scroll left center transparent !important;
	height: 32px !important;
	width: 32px !important;
}

.uiIcon16x16CloudFile-box {
	background: url("icons/box-gray-16x16.png") no-repeat left center transparent !important;
}

.uiIcon16x16CloudDrive-box {
	left: 2px;
	top: 4px;
	-webkit-transform: scale(0.36);
    -moz-transform: scale(0.36);
    -o-transform: scale(0.36);
    -ms-transform: scale(0.36);
    transform: scale(0.36);
	background: url("icons/box-gray-16x16.png") no-repeat center center transparent !important;
}

.uiIcon24x24CloudDrive-box {
	left: -1px;
	top: -3px;
	-webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -o-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
	background: url("icons/box-gray-16x16.png") no-repeat center center transparent !important;
}

.uiIcon64x64CloudDrive-box {
	left: 1px;
	top: -20px;
	-webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -o-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
	background: url("icons/box-gray-32x32.png") no-repeat center center transparent !important;
}

.uiCloudDriveChanges {
	position:relative;
	left:8px;
	top:9px;
	display: block;
	
	-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

    width: 12px;
    height: 10px;
    padding: 1px;
    
    background: red;
    border: 0px solid #f0f0f0;
    color: #fff;
    text-align: center;
    
    font: 9px Arial, sans-serif
}

/*************************** NodeType Icon ***********************/
.uiIcon24x24applicationvndms-excel,.uiIcon16x16applicationvndms-excel {
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_10_excel_list.png') no-repeat left center !important; /* orientation=lt */
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_10_excel_list.png') no-repeat right center !important; /* orientation=rt */
}

.uiIcon64x64applicationvndms-excel {
	width: auto;
	height: 128px;
	-webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_10_excel_xl128.png') no-repeat left center !important; /* orientation=lt */
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_10_excel_xl128.png') no-repeat right center !important; /* orientation=rt */
}

.uiIcon16x16applicationx-exoboxwebdoc {
	background: url('icons/box-webdoc-16x16.png') center center no-repeat !important;
}

.uiIcon24x24applicationx-exoboxwebdoc {
    background: url('icons/box-webdoc-24x24.png') center center no-repeat !important;
}

.uiIcon64x64applicationx-exoboxwebdoc {
    background: url('icons/box-webdoc-64x64.png') center center no-repeat !important;
}

.application_xml16x16Icon {
	background: url('icons/xml.gif') no-repeat left center !important; /* orientation=lt */
	background: url('icons/xml.gif') no-repeat right center !important; /* orientation=rt */
}

.application_xml48x48Icon {
	width: 48px;
	height: 48px;
	background: url('icons/xml.gif') no-repeat left center !important; /* orientation=lt */
	background: url('icons/xml.gif') no-repeat right center !important; /* orientation=rt */
}

.application_x-msdos-program16x16Icon {
	background: url('icons/exe.gif') no-repeat left center !important; /* orientation=lt */
	background: url('icons/exe.gif') no-repeat right center !important; /* orientation=rt */
}

.application_x-msdos-program48x48Icon {
	width: 48px;
	height: 48px;
	background: url('icons/exe.gif') no-repeat left center !important; /* orientation=lt */
	background: url('icons/exe.gif') no-repeat right center !important; /* orientation=rt */
}

/**** menu ****/
.cloudFileDisabled {
	opacity : 0.7; 
	pointer-events : none;
	cursor : not-allowed !important;
}

/******** Pnotify icons ********/
.picon-32.picon-task-complete {
	background-image: url("icons/oxygen/32/status/task-complete.png")
}

.picon-32.picon-throbber {
	background-image: url("icons/oxygen/32/animations/throbber.gif")
}

.picon-32.picon-dialog-error {
	background-image: url("icons/oxygen/32/status/dialog-error.png")
}

.picon-32.picon-dialog-information {
	background-image: url("icons/oxygen/32/status/dialog-information.png")
}

.picon-32.picon-dialog-warning {
	background-image: url("icons/oxygen/32/status/dialog-warning.png")
}

.picon-32.picon-process-stop {
	background-image: url("icons/oxygen/32/actions/process-stop.png")
}

.picon.picon-task-complete {
	background-image: url("icons/oxygen/16/status/task-complete.png")
}

.picon.picon-throbber {
	background-image: url("icons/oxygen/16/animations/throbber.gif")
}

.picon.picon-dialog-error {
	background-image: url("icons/oxygen/16/status/dialog-error.png")
}

.picon.picon-dialog-information {
	background-image: url("icons/oxygen/16/status/dialog-information.png")
}

.picon.picon-dialog-warning {
	background-image: url("icons/oxygen/16/status/dialog-warning.png")
}

.picon.picon-process-stop {
	background-image: url("icons/oxygen/16/actions/process-stop.png")
}