.uiIconEcmsConnectGoogleDrive {
	background: url('icons/googledrive-color-16x16.png') no-repeat scroll left center transparent !important;
	height: 16px !important;
	width: 16px !important;
}

/*************************** NodeType Icon ***********************/
/*https://ssl.gstatic.com/docs/doclist/images/icon_10_generic_xl128.png*/
/*.application_vnd_google-apps_presentation16x16Icon,.application_vnd_ms-powerpoint16x16Icon {*/
.uiIcon24x24applicationvndgoogle-appspresentation,.uiIcon16x16applicationvndgoogle-appspresentation,.uiIcon24x24applicationvndms-powerpoint,.uiIcon16x16applicationvndms-powerpoint {
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_11_presentation_list.png') no-repeat left center !important; /* orientation=lt */
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_11_presentation_list.png') no-repeat right center !important; /* orientation=rt */
}

/*.application_vnd_google-apps_presentation48x48Icon,.application_vnd_ms-powerpoint48x48Icon {*/
.uiIcon64x64applicationvndgoogle-appspresentation,.uiIcon64x64applicationvndms-powerpoint {
	width: auto;
	height: 128px;
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_11_presentation_xl128.png') no-repeat left center !important; /* orientation=lt */
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_11_presentation_xl128.png') no-repeat right center !important; /* orientation=rt */
}

.uiIcon24x24applicationvndgoogle-appsdocument,.uiIcon16x16applicationvndgoogle-appsdocument {
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_11_document_list.png') no-repeat left center !important; /* orientation=lt */
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_11_document_list.png') no-repeat right center !important; /* orientation=rt */
}

.uiIcon64x64applicationvndgoogle-appsdocument {
	width: auto;
	height: 128px;
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_11_document_xl128.png') no-repeat left center !important; /* orientation=lt */
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_11_document_xl128.png') no-repeat right center !important; /* orientation=rt */
}

/*.application_vnd_google-apps_photo16x16Icon {*/
.uiIcon24x24applicationvndgoogle-appsphoto,.uiIcon16x16applicationvndgoogle-appsphoto,.uiIcon24x24imagepng,.uiIcon16x16imagepng,.uiIcon24x24imagejpeg,.uiIcon16x16imagejpeg,.uiIcon24x24imagegif,.uiIcon16x16imagegif {
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_11_image_list.png') no-repeat left center !important; /* orientation=lt */
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_11_image_list.png') no-repeat right center !important; /* orientation=rt */
}

/*.application_vnd_google-apps_photo48x48Icon {*/
.uiIcon64x64applicationvndgoogle-appsphoto,.uiIcon64x64imagepng,.uiIcon64x64imagejpeg,.uiIcon64x64imagegif {
	width: auto;
	height: 128px;
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_11_image_xl128.png') no-repeat left center !important; /* orientation=lt */
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_11_image_xl128.png') no-repeat right center !important; /* orientation=rt */
}

/*.application_vnd_google-apps_script16x16Icon {*/
.uiIcon24x24applicationvndgoogle-appsscript,.uiIcon16x16applicationvndgoogle-appsscript {
	background: url('icons/js.gif') no-repeat left center !important; /* orientation=lt */
	background: url('icons/js.gif') no-repeat right center !important; /* orientation=rt */
}

/*.application_vnd_google-apps_script48x48Icon {*/
.uiIcon64x64applicationvndgoogle-appsscript {
	width: auto;
	height: 128px;
	background: url('icons/js.gif') no-repeat left center !important; /* orientation=lt */
	background: url('icons/js.gif') no-repeat right center !important; /* orientation=rt */
}

/*.application_vnd_google-apps_spreadsheet16x16Icon {*/
.uiIcon24x24applicationvndgoogle-appsspreadsheet,.uiIcon16x16applicationvndgoogle-appsspreadsheet {
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_11_spreadsheet_list.png') no-repeat left center !important; /* orientation=lt */
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_11_spreadsheet_list.png') no-repeat right center !important; /* orientation=rt */
}

.uiIcon64x64applicationvndgoogle-appsspreadsheet {
	width: auto;
	height: 128px;
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_11_spreadsheet_xl128.png') no-repeat left center !important; /* orientation=lt */
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_11_spreadsheet_xl128.png') no-repeat right center !important; /* orientation=rt */
}

/*.application_vnd_google-apps_video16x16Icon,.video_quicktime16x16Icon,.video_x-msvideo16x16Icon,.video_x-ms-wmv16x16Icon,.video_3gpp16x16Icon,.video_avi16x16Icon,.video_mpeg16x16Icon*/
.uiIcon24x24applicationvndgoogle-appsvideo,.uiIcon16x16applicationvndgoogle-appsvideo,.uiIcon24x24videomp4,.uiIcon16x16videomp4,.uiIcon24x24videox-msvideo,.uiIcon16x16videox-msvideo,.video_quicktime16x16Icon,.video_x-ms-wmv16x16Icon,.video_3gpp16x16Icon,.video_avi16x16Icon,.video_mpeg16x16Icon,.QuicktimeMovieFile {
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_11_video_list.png') no-repeat left center !important; /* orientation=lt */
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_11_video_list.png') no-repeat right center !important; /* orientation=rt */
}

/*.application_vnd_google-apps_video48x48Icon,.video_quicktime48x48Icon,.video_x-msvideo48x48Icon {*/
.uiIcon64x64applicationvndgoogle-appsvideo,.uiIcon64x64videomp4,.uiIcon64x64videox-msvideo,.video_quicktime48x48Icon {
	width: auto;
	height: 128px;
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_11_video_xl128.png') no-repeat left center !important; /* orientation=lt */
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_11_video_xl128.png') no-repeat right center !important; /* orientation=rt */
}

/*.application_vnd_google-apps_audio16x16Icon,.audio_midi16x16Icon,.audio_mp316x16Icon,.audio_mpeg16x16Icon,.audio_x-wav16x16Icon {*/
.uiIcon24x24applicationvndgoogle-appsaudio,.uiIcon16x16applicationvndgoogle-appsaudio,.audio_midi16x16Icon,.audio_mp316x16Icon,.audio_mpeg16x16Icon,.audio_x-wav16x16Icon {
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_10_audio_list.png') no-repeat left center !important; /* orientation=lt */
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_10_audio_list.png') no-repeat right center !important; /* orientation=rt */
}

/*.application_vnd_google-apps_audio48x48Icon,.audio_midi48x48Icon,.audio_mp348x48Icon,.audio_mpeg48x48Icon,.audio_x-wav48x48Icon {*/
.uiIcon64x64applicationvndgoogle-appsaudio,.audio_midi48x48Icon,.audio_mp348x48Icon,.audio_mpeg48x48Icon,.audio_x-wav48x48Icon {
	width: auto;
	height: 128px;
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_10_audio_xl128.png') no-repeat left center !important; /* orientation=lt */
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_10_audio_xl128.png') no-repeat right center !important; /* orientation=rt */
}

/*.application_vnd_google-apps_drawing16x16Icon {*/
.uiIcon24x24applicationvndgoogle-appsdrawing,.uiIcon16x16applicationvndgoogle-appsdrawing {
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_11_drawing_list.png') no-repeat left center !important; /* orientation=lt */
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_11_drawing_list.png') no-repeat right center !important; /* orientation=rt */
}

/*.application_vnd_google-apps_drawing48x48Icon {*/
.uiIcon64x64applicationvndgoogle-appsdrawing {
	width: auto;
	height: 128px;
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_11_drawing_xl128.png') no-repeat left center !important; /* orientation=lt */
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_11_drawing_xl128.png') no-repeat right center !important; /* orientation=rt */
}

/*.application_vnd_ms-word16x16Icon,.application_msword16x16Icon {*/
.uiIcon24x24applicationvndms-word,.uiIcon16x16applicationvndms-word,.uiIcon24x24applicationmsword,.uiIcon16x16applicationmsword { 
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_10_word_list.png') no-repeat left center !important; /* orientation=lt */
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_10_word_list.png') no-repeat right center !important; /* orientation=rt */
}

/*.application_vnd_ms-word48x48Icon,.application_msword48x48Icon {*/
.uiIcon64x64applicationvndms-word,.uiIcon64x64applicationmsword {
	width: auto;
	height: 128px;
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_10_word_xl128.png') no-repeat left center !important; /* orientation=lt */
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_10_word_xl128.png') no-repeat right center !important; /* orientation=rt */
}

/*.application_vnd_ms-excel16x16Icon {*/
.uiIcon24x24applicationvndms-excel,.uiIcon16x16applicationvndms-excel {
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_10_excel_list.png') no-repeat left center !important; /* orientation=lt */
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_10_excel_list.png') no-repeat right center !important; /* orientation=rt */
}

/*.application_vnd_ms-excel48x48Icon {*/
.uiIcon64x64applicationvndms-excel {
	width: auto;
	height: 128px;
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_10_excel_xl128.png') no-repeat left center !important; /* orientation=lt */
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_10_excel_xl128.png') no-repeat right center !important; /* orientation=rt */
}

.application_xml16x16Icon {
	background: url('icons/xml.gif') no-repeat left center !important; /* orientation=lt */
	background: url('icons/xml.gif') no-repeat right center !important; /* orientation=rt */
}

.application_xml48x48Icon {
	width: 48px;
	height: 48px;
	background: url('icons/xml.gif') no-repeat left center !important; /* orientation=lt */
	background: url('icons/xml.gif') no-repeat right center !important; /* orientation=rt */
}

.application_x-msdos-program16x16Icon {
	background: url('icons/exe.gif') no-repeat left center !important; /* orientation=lt */
	background: url('icons/exe.gif') no-repeat right center !important; /* orientation=rt */
}

.application_x-msdos-program48x48Icon {
	width: 48px;
	height: 48px;
	background: url('icons/exe.gif') no-repeat left center !important; /* orientation=lt */
	background: url('icons/exe.gif') no-repeat right center !important; /* orientation=rt */
}

.application_vnd_google-apps_form16x16Icon {
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_11_form_list.png') no-repeat left center !important; /* orientation=lt */
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_11_form_list.png') no-repeat right center !important; /* orientation=rt */
}

.application_vnd_google-apps_form48x48Icon {
	width: 48px;
	height: 48px;
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_11_form_list.png') no-repeat left center !important; /* orientation=lt */
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_11_form_list.png') no-repeat right center !important; /* orientation=rt */
}

.application_vnd_google-apps_unknown16x16Icon,.application_vnd_google-apps_file16x16Icon {
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_10_generic_list.png') no-repeat left center !important; /* orientation=lt */
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_10_generic_list.png') no-repeat right center !important; /* orientation=rt */
}

.application_vnd_google-apps_unknown48x48Icon,.application_vnd_google-apps_file48x48Icon {
	width: 48px;
	height: 48px;
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_10_generic_list.png') no-repeat left center !important; /* orientation=lt */
	background: url('https://ssl.gstatic.com/docs/doclist/images/icon_10_generic_list.png') no-repeat right center !important; /* orientation=rt */
}

/******** Pnotify icons ********/
.picon-32.picon-task-complete {
	background-image: url("icons/oxygen/32/status/task-complete.png")
}

.picon-32.picon-throbber {
	background-image: url("icons/oxygen/32/animations/throbber.gif")
}

.picon-32.picon-dialog-error {
	background-image: url("icons/oxygen/32/status/dialog-error.png")
}

.picon-32.picon-dialog-information {
	background-image: url("icons/oxygen/32/status/dialog-information.png")
}

.picon-32.picon-process-stop {
	background-image: url("icons/oxygen/32/actions/process-stop.png")
}

.picon.picon-task-complete {
	background-image: url("icons/oxygen/16/status/task-complete.png")
}

.picon.picon-throbber {
	background-image: url("icons/oxygen/16/animations/throbber.gif")
}

.picon.picon-dialog-error {
	background-image: url("icons/oxygen/16/status/dialog-error.png")
}

.picon.picon-dialog-information {
	background-image: url("icons/oxygen/16/status/dialog-information.png")
}

.picon.picon-process-stop {
	background-image: url("icons/oxygen/16/actions/process-stop.png")
}

/* .FileContent .ActionButton */ 
.uiIconEcmsOpenCloudFile,.uiIconEcmsRefreshCloudDrive {
	background: url("icons/googledrive-color-16x16.png") no-repeat left center transparent !important;
}