/* Deprecated (not used) style for red badge on Refresh icon in ECMS explorer when drive has been changed */
.uiCloudDriveChanges {
	position: relative;
	left: 8px;
	top: 9px;
	display: block;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	width: 12px;
	height: 10px;
	padding: 1px;
	background: red;
	border: 0px solid #f0f0f0;
	color: #fff;
	text-align: center;
	font: 9px Arial, sans-serif
}

.fileContent .content, .mediaContent .content #CloudFileViewer {
	text-align: left;
}

.uiIconEcmsViewSharing {
	background: url("icons/clouddrive-logo-lightgray-16x16.png") no-repeat left center transparent !important;
}


/*************************** NodeType Icon ***********************/

.application_xml16x16Icon {
	background: url('icons/xml.gif') no-repeat left center !important; /* orientation=lt */
	background: url('icons/xml.gif') no-repeat right center !important; /* orientation=rt */
}

.application_xml48x48Icon {
	width: 48px;
	height: 48px;
	background: url('icons/xml.gif') no-repeat left center !important; /* orientation=lt */
	background: url('icons/xml.gif') no-repeat right center !important; /* orientation=rt */
}

.application_x-msdos-program16x16Icon {
	background: url('icons/exe.gif') no-repeat left center !important; /* orientation=lt */
	background: url('icons/exe.gif') no-repeat right center !important; /* orientation=rt */
}

.application_x-msdos-program48x48Icon {
	width: 48px;
	height: 48px;
	background: url('icons/exe.gif') no-repeat left center !important; /* orientation=lt */
	background: url('icons/exe.gif') no-repeat right center !important; /* orientation=rt */
}

/**** menu ****/

.cloudFileDisabled {
	opacity: 0.65;
	pointer-events: none;
	cursor: not-allowed !important;
}

.notCloudFile {
	opacity: 0.55;
}

.syncingIconView {
	display: block;
	position: absolute;
	margin: 110px 0px 0px 0px;
	padding: 10px 30px 0px 25px;
	width: 35px;
	height: 35px;
	pointer-events: none;
	background: url('icons/oxygen/32/animations/throbber.gif') no-repeat left center !important; /* orientation=lt */
	background: url('icons/oxygen/32/animations/throbber.gif') no-repeat right center !important; /* orientation=rt */
}

.syncingListView {
	position: relative;
	display: inline;
	padding-left: 15px;
	pointer-events: none;
	background: url('icons/oxygen/16/animations/throbber.gif') no-repeat left center !important; /* orientation=lt */
	background: url('icons/oxygen/16/animations/throbber.gif') no-repeat right center !important; /* orientation=rt */
}

/******** Pnotify icons ********/
.picon-32.picon-task-complete {
	background-image: url("icons/oxygen/32/status/task-complete.png")
}

.picon-32.picon-throbber {
	background-image: url("icons/oxygen/32/animations/throbber.gif")
}

.picon-32.picon-dialog-error {
	background-image: url("icons/oxygen/32/status/dialog-error.png")
}

.picon-32.picon-dialog-information {
	background-image: url("icons/oxygen/32/status/dialog-information.png")
}

.picon-32.picon-dialog-warning {
	background-image: url("icons/oxygen/32/status/dialog-warning.png")
}

.picon-32.picon-process-stop {
	background-image: url("icons/oxygen/32/actions/process-stop.png")
}

.picon.picon-task-complete {
	background-image: url("icons/oxygen/16/status/task-complete.png")
}

.picon.picon-throbber {
	background-image: url("icons/oxygen/16/animations/throbber.gif")
}

.picon.picon-dialog-error {
	background-image: url("icons/oxygen/16/status/dialog-error.png")
}

.picon.picon-dialog-information {
	background-image: url("icons/oxygen/16/status/dialog-information.png")
}

.picon.picon-dialog-warning {
	background-image: url("icons/oxygen/16/status/dialog-warning.png")
}

.picon.picon-process-stop {
	background-image: url("icons/oxygen/16/actions/process-stop.png")
}