/**
  LTR skin for exo:comments template
*/
.Comments {
	padding: 10px;
}

.Comments .CommentBar .LeftCommentBar {
	height: 54px;
	padding-left: 5px;
	background: url('/eXoWCMResources/skin/images/article/CommentBar.gif') no-repeat left top ;
}

.Comments .CommentBar .RightCommentBar {
	padding-right: 5px;
	height: 54px;    	
	background: url('/eXoWCMResources/skin/images/article/CommentBar.gif') no-repeat right top;
}

.Comments .CommentBar .MiddleCommentBar {    	
	height: 54px;
	background: url('/eXoWCMResources/skin/images/article/CommentBar.gif') repeat-x left -54px ;
	padding: 0px 3px;
}

.Comments .CommentBar .MiddleCommentBar .LabelPostedComment {    	
	font: italic normal 12px Arial; 
	padding: 8px 3px 3px 3px; 
}

.Comments .CommentBar .MiddleCommentBar .ShowComment {    	
	color: #0489d5; 
	font: normal bold 11px verdana;
	padding-top: 3px;
}

.Comments .CommentBar .MiddleCommentBar .ShowComment a {    	
	color: #0489d5; 
	text-decoration: underline;
	cursor: pointer;
}

.Comments .CommentBar .MiddleCommentBar .ShowComment a:hover {    	
	color: orange; 
	text-decoration: none;
	cursor: pointer;
}

.Comments .CommentInfo {
	font-style: italic;  
	margin: 15px 5px 5px 5px;
}

 .Comments .CommentInfo a {
	color: #0489D5;   	
	font-weight: bold; font-style:normal ;
	cursor:pointer;
	padding-left: 5px;
}

.Comments .CommentInfo a:hover {     	
	color: blue;
	text-decoration:underline;
	padding-left: 5px;
}

.Comments .CommentBox {
	margin-right: auto;
}

.Comments .CommentBox .CommentBoxTopLeft {
	height: 12px;
	padding-left:27px; /* orientation=lt */  
	background: url('/eXoWCMResources/skin/images/article/CommentBox.gif') no-repeat left top;
}

.Comments .CommentBox .CommentBoxTopRight {
	height: 12px;
	padding-right: 3px;
	background: url('/eXoWCMResources/skin/images/article/CommentBox.gif') no-repeat right -30px;
}

.Comments .CommentBox .CommentBoxTopCenter {
	height: 12px;
	background: url('/eXoWCMResources/skin/images/article/CommentBox.gif') repeat-x left -12px;
}

.Comments .CommentBox .CommentBoxMiddleLeft {
	padding-left: 3px;
	background: url('/eXoWCMResources/skin/images/article/MiddleCommentBox.gif') repeat-y left top;
}

.Comments .CommentBox .CommentBoxMiddleRight {
	padding-right:3px;
	background: url('/eXoWCMResources/skin/images/article/MiddleCommentBox.gif') repeat-y right top;
}

.Comments .CommentBox .CommentBoxCenterBG {
	padding: 8px; 
	background: white;
	max-height: 200px;
  overflow: auto;
}

.Comments .CommentBox .CommentBoxBottomLeft {
	height: 3px;
	padding-left: 3px;
	background: url('/eXoWCMResources/skin/images/article/CommentBox.gif') no-repeat left -24px ;
}

.Comments .CommentBox .CommentBoxBottomRight {
	height: 3px;
	padding-right: 3px;
	background: url('/eXoWCMResources/skin/images/article/CommentBox.gif') no-repeat right -24px;
}

.Comments .CommentBox .CommentBoxBottomCenter {    	
	height: 3px;
	background: url('/eXoWCMResources/skin/images/article/CommentBox.gif') repeat-x left -27px;
}

.Comments p a {
	color: #058EE6;
	text-decoration: underline;
}

.CommentInfo .EditComment {
	background: url('/eXoWCMResources/skin/images/article/EditDocument.gif') no-repeat left top;
	margin: auto;
	padding: 2px;
	height: 16px;
	cursor: pointer;
}

.CommentInfo .RemoveAttachments {
	background: url('/eXoWCMResources/skin/images/article/DustBin.gif') no-repeat left top;
	margin: auto;
	padding: 2px;
	height: 16px;
	cursor: pointer;
}
