@import "../../variables.less";
@import "../../mixins.less";
@import "Sprites/Style.less";
@import "content/Style.less";
@import "UIDocumentPreview/Style.less";
@import "shareContent/share-content.less";
@import "Sprites/Style.less";
@import "jqueryui/Style.less";
@import "UISelectImage/Style.less";

/******** UIContentBrowserPanel **************/

.permission{
	.controls{
		.PemissionInputset{
			overflow: hidden;
			padding-right: 10px;
			input{
				width: 100%;
			}
		}
	}
}

/*=========== Task Addon Attachment plugin ============*/
.taskAttachment {
  .uiAttachIcon {
    padding-right: 2px ~'; /** orientation=lt */ ';
    padding-left: 2px ~'; /** orientation=rt */ ';
    &:before {
      content: "\e91f";
      font-family: "PLF-FONT-ICONS" !important;
      color: @likeButtonColor;
      font-style: normal;
      font-size: 18px;
    }
  }
}
