@import "variables.less";
@import "mixins.less";

/*=========== Vetical tabs =============*/

.UIECMAdminPortlet{
	.ecmAdminPanel{
		height: 100%;
		overflow: auto;
		width: 233px;
		padding: 24px 13px 0px 24px;
	}
	.uiECMAdminWorkingArea{
		margin: 24px 10px 10px;
		.pagination{
			margin: 0px 0px 9px 0px;
		}
	}
}

.uiIconTemplatesManager{
	background-position: -240px -71px;
}

.uiIconUnLockManager{
	background-position: -312px -96px;
}

.uiIconActionManager{
	background-position: -144px -48px;
}

.uiIconView{
	background-position: -217px 0px;
}

.uiIconEditStyle{
	background-position: -168px -24px;
}

.uiIconEditInfo{
	background-position: -168px -24px;
}

.uiIconRemoveStyle{
	background-position: 0 -1px;
}