@import "variables.less";
@import "mixins.less";

/*=========== Vetical tabs =============*/

.UIECMAdminPortlet{
	.ecmAdminPanel{
		height: 100%;
		overflow: auto;
		width: 233px;
		padding: 24px 13px 0px 24px;
	}
	.uiECMAdminWorkingArea{
		margin: 24px 10px 10px;
		.pagination{
			margin: 0px 0px 9px 0px;
		}
		.uiPopup{
			.control-group{
				.controls{
					.textarea{height: 100px;}
				}
			}
		}
	}
}

.uiIconEcmsFolksonomyManager{
	background-image: url(/eXoResources/skin/images/Icons/uiIconsDarkGray.png);
	background-position: -60px -20px;
}

.uiIconEcmsFolksonomyManager:hover{
	background-image: url(/eXoResources/skin/images/Icons/uiIconsBlue.png);
}

.uiIconEcmsTaxonomyManagerTrees{
	background-image: url(/eXoResources/skin/images/Icons/uiIconsDarkGray.png);
	background-position: -20px -60px;
}

.uiIconEcmsTaxonomyManagerTrees:hover{
	background-image: url(/eXoResources/skin/images/Icons/uiIconsBlue.png);
}

.uiIconEcmsActionManager{
	background-image: url(/eXoResources/skin/images/Icons/uiIconsDarkGray.png);
	background-position: 0px -40px;
}

.uiIconEcmsActionManager:hover{
	background-image: url(/eXoResources/skin/images/Icons/uiIconsBlue.png);
}

.uiIconEcmsUnLockManager{
	background-image: url(/eXoResources/skin/images/Icons/uiIconsDarkGray.png);
	background-position: -60px 0px;
}

.uiIconEcmsUnLockManager:hover{
	background-image: url(/eXoResources/skin/images/Icons/uiIconsBlue.png);
}

.uiSearchBox {
  margin: 0 0 14px 0;
  padding: 8px;
  border-radius: @baseBorderRadius;
  border: 1px solid @tableBorder;
}

.MultiValueContainer{
	.multiFieldAction{
		margin-left: 4px;
	}
}


.UITaxonomyTreeCreateChild {
	.breadcrumb{
		border: 1px solid #e1e1e1;
		background: #f7f7f7;
		border-radius: 0px;
		margin: 0 0 16px 0;
		padding: 4px;
	}
	.uiTreeList{
		margin-left: 244px;
	}
}

.uiTaxonomyTreeWizard{
	.wizardLabel{
		padding: 15px 8px 14px;
	}
	.UIActionTaxonomyManager{
		.form-horizontal{
			padding-top: 0px;
		}
	}
}

.uiECMAdminWorkingArea {
	.tabActions{
		 width:240px; 
		 float:left;
		 margin: 0px;
	}
}