/**
  LTR skin for exo:podcast template
*/
.PostCast {
  padding: 8px;
}

.ContentPodcast {
	border-bottom: 1px solid #bdbdbd; 
	height: 25px;
	line-height: 25px;
	
}

.PostCast .TitleBG span.text { 
	line-height: 20px;
	padding-left: 5px;
}

.ContentPodcast .text  { 
	vertical-align:bottom; 
	text-align: left ;
	font-weight: bold;
	width: 120px;
}
.ContentPodcast .TextDetail{
	text-align: left;
	vertical-align:bottom;
}

.ContentPodcast .text span  { 
	font-weight: normal;
}

.PostCast .summary { 
	height: 160px ; 
	padding: 5px 5px 5px 10px;
	font-weight: normal;
	overflow: auto;
} 

.PostCast .content { 
	font-size: 11px; 
	padding: 5px; 
	overflow: auto;
}
