.UIJCRExplorerPortlet .RightContainer {
	overflow: hidden;
}

.uiActionBar {
	position: relative;

	.UIViewBarContainer {
		position: absolute;
		right: 10px;
		top: 40px;
	}
}

.uiTabGrayInPage .tab-content .nav-pills > li > a > i {
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: top;
}