@import "variables.less"; 
@import "mixins.less";

.UIJCRExplorerPortlet {
	padding: 25px !important;
}

.uiActionBar {
	.tab-content {
		position: relative;
	}
	.UIViewBarContainer {
		position: absolute;
		right: 10px;
		top: 7px;
	}
}

.uiTabGrayInPage .tab-content .nav-pills > li.dropdown  {
	margin-right: 200px;
}

.uiTabGrayInPage .tab-content .nav-pills > li > a > i {
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: top;
}

/********Resize Content********/
.uiWorkingArea {
	width: 100%;
	
	.leftContainer {
		float: left;
		width: 240px;
		overflow: hidden;
	}
	
	.rightContainer {
		float: left;
	}
}

/***** ResizeBar *****/
.uiWorkingArea .resizeBar {
	float: left;
	width: 40px;
	
	.resizeBarContent {
		width: 22px;
		cursor:col-resize;
		position: relative;
		
		&:hover {
			border-right: solid 1px #dedede;
				
			.resizeButton {
				display: block;
			}
		}
	}

	.resizeButton {
		#gradient .vertical(@white, #f1f1f1);
		.border-radius(5px 0px 0px 5px);
		.size(24px,16px);
		float:right;
		margin : auto;
		cursor : pointer;
		border: 1px solid #E1E1E1;
		border-right: none;
		display: none;
		position: absolute;
		top: 5px;
		right: 0px;
			
			[class^="uiIcon"] {
				width: 10px;
				margin-top: 3px;
			}
	}

}

.uiWorkingArea .resizeBarDisplay {
	.resizeBarContent {
		border-right: solid 1px #E1E1E1;
		cursor:col-resize;
	}
	.resizeButton {
		display: block;
	}
}

.uiWorkingArea .resizeNoneBorder {
	width: 0px;
	
	.resizeBarContent {
		width: 0px;
	}
	
	.resizeBarContent:hover {
		border: none;
		cursor: default;
	}
	.resizeButton {
		border: 1px solid #E1E1E1;
		.border-radius(0px 5px 5px 0px);
		display: block;
		right: 8px;
		border-left: none;
	}
}


/*############################## -- Begin UISideBar   -- ##############################*/

.uiSideBar  {

	.SelectItem {
		overflow: auto;
		height: 286px;
	}
	
	.ResizeTreeExplorer{
		height: 18px;
		/*cursor: row-resize;*/
	}

	.ResizeTreeButton{
		background: url('/ecmexplorer/skin/webui/component/explorer/sidebar/DefaultSkin/icons/ResizeTreeButton.gif') no-repeat center;
		height: 18px;
		width: 12px;
		margin: auto;
		cursor : pointer;
	}

	.ShowContentButton{
		background: url('/ecmexplorer/skin/webui/component/explorer/sidebar/DefaultSkin/icons/ShowContentButton.gif') no-repeat center;
		height: 7px;
		width: 10px;	
		margin: auto;		
	}

	.SideBarContent{
		border: 1px solid #e1e1e1;
		border-bottom: none;
		overflow: hidden;
	}

	#UIAllItemsByType{
		margin-top: 18px;
	}

	#UIAllItemsByType .SideBarContent{
		border-bottom: 1px solid #e1e1e1;
	}

	#UIAllItems .SideBarContent{
		border-bottom: 1px solid #e1e1e1;
	}

	.BarContent{
		background: #f8f8f8;
		padding: 0px 4px 2px 4px;
		height: 24px;
		line-height: 24px;
		overflow: hidden;
		border-bottom: 1px solid #e1e1e1;
	}

	.SideContent .ArrowSidContent{
		background: url('/ecmexplorer/skin/webui/component/explorer/sidebar/DefaultSkin/icons/ArrowSideBar.gif') no-repeat left center;
	}

	.SideContent .TextSiderContent {
		padding-left:17px;
		line-height: 23px;
		font-size: 12px;
		color: #383838;
		margin-left:15px;
	}

	.SideContent .TrueSelectIcon {
		background: url('/ecmexplorer/skin/webui/component/explorer/sidebar/DefaultSkin/background/SelectCheck.gif') no-repeat left center;
	}

	.SideContent .TrueSelectIcon {
		background: url('/ecmexplorer/skin/webui/component/explorer/sidebar/DefaultSkin/background/SelectCheck.gif') no-repeat left center;
	}


	.SideContent{
		 background: white;
		 overflow: auto;
		 padding: 4px 0px;
	}

	.BarContent { 
		.Title {
			float: left;
			line-height: 24px;
			color: #5d5d5d;
			padding-left: 4px;
			overflow: hidden;
			white-space: nowrap;
			font-size: 14px;
		}

		.DriversButton{
			background: url('/ecmexplorer/skin/webui/component/explorer/sidebar/DefaultSkin/icons/DriversButton.png') no-repeat left center;
			cursor: pointer;
			float: right;
			height:20px;
			margin-top:2px;
			width:33px;
		}

		.SideGeneratal{
			cursor: pointer;
			float: right;
			height:17px;
			margin-top:4px;
			width:17px;
		}

		.TagExplorer {
			background: url('/ecmexplorer/skin/webui/component/explorer/sidebar/DefaultSkin/icons/Tags.png') no-repeat center;
			width: 15px; height: 15px;
			cursor: pointer;
			float: right;
			margin-top:4px;
		}
	}

	.UISelectContent { 
		.NormalItem {
			line-height: 26px;
			cursor: pointer;
			padding: 7px 11px;
			float: left;
			width: 14px;
		}

		.MoreItem {
			line-height: 26px;
			cursor: pointer;
			padding: 7px 11px;
			float: left;
			width: 14px;
		}

		.SelectedItem {
			line-height: 26px;
			cursor: pointer;
			padding: 7px 11px;
			background: url('/ecmexplorer/skin/webui/component/explorer/sidebar/DefaultSkin/background/SelectedItem.gif') repeat-x top;
			float: left;
			border-left: 1px solid #E1E1E1;
			border-right: 1px solid #E1E1E1;
			margin: 0 2px;
			width: 14px;
		}

		.ItemIcon {
			margin: auto;
		}
	}

	.ListExtendedItem{
			background: none repeat scroll 0 0 #F7F7F7;
			border: 1px solid #B7B7B7;
			padding: 5px;
			position: absolute;
	}

	.ListExtendedItem .IconPopup{
			display: block;
			margin: 4px 0;
			padding: 2px 6px;
	}

	.uiSideBarContainer {
		width: 100%;
			
		/*
		* minh.js.exo
		*/
	}

	.UISelectContent {
		border: 1px solid #e1e1e1;
		background: url('/ecmexplorer/skin/webui/component/explorer/sidebar/DefaultSkin/background/SelectContentBG.gif') repeat-x;
		border-top: none;
		height: 29px;
	}

	.UISelectContent .ItemIcon {
		margin: auto;
	}

	.SideGeneratal {
		background: url('/ecmexplorer/skin/webui/component/explorer/sidebar/DefaultSkin/icons/Generatal.png') no-repeat center;
		width: 17px; height: 17px;
	}

	.Search {
		background: url('/ecmexplorer/skin/webui/component/explorer/sidebar/DefaultSkin/icons/Search.png') no-repeat center;
		width: 17px; height: 17px;
	}

	.AdvancedSearch {
		background: url("/ecmexplorer/skin/webui/component/explorer/sidebar/DefaultSkin/icons/SearchIcon.png") no-repeat scroll center center transparent;
		width: 17px; height: 17px;
		cursor: pointer;
		float: right;
		margin-top:4px;
	}

	.UISelectContent .DefaultIcon {
		background: url('/ecmexplorer/skin/webui/component/explorer/sidebar/DefaultSkin/icons/Generatal.png') no-repeat center;
		width: 14px; height: 15px;
	}

	.UISelectContent .ExplorerIcon {
		background: url('/ecmexplorer/skin/webui/component/explorer/sidebar/DefaultSkin/icons/FileExplorer.png') no-repeat center;
		width: 14px; height: 15px;
	}

	.UISelectContent .RelationIcon {
		background: url('/ecmexplorer/skin/webui/component/explorer/sidebar/DefaultSkin/icons/Relations.gif') no-repeat center;
		width: 14px; height: 14px;
	}

	.UISelectContent .ClipboardIcon {
		background: url('/ecmexplorer/skin/webui/component/explorer/sidebar/DefaultSkin/icons/Clipboard.png') no-repeat center;
		width: 16px; height: 16px;
	}

	.UISelectContent .TagExplorerIcon {
		background: url('/ecmexplorer/skin/webui/component/explorer/sidebar/DefaultSkin/icons/Tags.png') no-repeat center;
		width: 15px; height: 15px;
	}

	.UISelectContent .SavedSearchesIcon {
		background: url('/ecmexplorer/skin/webui/component/explorer/sidebar/DefaultSkin/icons/SearchIcon.png') no-repeat center;
		width: 17px; height: 17px;
	}

	.UISelectContent .ActionItem {
		background: url('/ecmexplorer/skin/webui/component/explorer/sidebar/DefaultSkin/icons/ActionItem.gif') no-repeat center;
		width: 17px; height: 17px;
	}

	.UIViewRelationList .FrameContent {
		padding: 5px 3px 5px 15px;
	}

	.UIViewRelationList .TitleLabel {
		padding: 5px 0px 5px 8px;
		font: normal bold 11px Verdana;
	}

	.SelectedNode {    	
		display: block;
		background-color: #B3DCF2;	
	}
}

/*############################## -- UIViewRelationList   -- ##############################*/

.uiSideBar .UIViewRelationList {
	width:auto;
}

.uiSideBar .UIViewRelationList .RelationFrame {
  margin-top: 2px;
  border: solid 1px #bdbdbd;
}

.uiSideBar .UIViewRelationList .RelationFrame .TitleLabel {
  height: 18px;
  padding: 2px 0px 0px 15px;
  font: normal bold 11px Verdana;
  background: url('/eXoWCMResources/skin/images/article/EventFrameBG.gif') repeat-x;
}

.uiSideBar .UIViewRelationList .RelationFrame .FrameContent {
  padding: 10px;
}

/*############################## -- End UISideBar   -- ##############################*/

/*############################## -- UITagExplorer   -- ##############################*/

.uiSideBar .UITagExplorer .TagmapHolder .TagmapTitle{
	height: 19px; line-height: 19px;
	margin: 0px;
	background: url('DefaultSkin/background/TagmapTitleBG1x19.gif') repeat-x;
	border: solid 1px #e1e1e1;
	border-bottom: none;
}

.uiSideBar .UITagExplorer .TagmapHolder .TagLabel {
	padding: 0px 8px;
	line-height: 19px;
	font-weight: bold;
}
	
.uiSideBar .UITagExplorer .TagmapHolder .TagmapContent {
   padding: 5px;
   text-align: left;
   line-height: 22px;
}

.uiSideBar .UITagExplorer .TagmapHolder .TagmapContent a{
   color: red;
   padding: 3px 7px 3px 0px;
}

.uiSideBar .UITagExplorer .TagmapHolder .TagmapContent a:hover {
   color: yellow;
   padding: 3px 7px 3px 0px;
}

.UIBrowseContentPortlet .TagmapHolder .Icon {
	float: left;
	width: 19px; height: 16px; 
	margin: 2px 5px 0px 5px;
	background: url('DefaultSkin/background/TagMapIcon19x16.gif') no-repeat; 
}

