@import "variables.less"; 
@import "mixins.less";
@import "UISideBar/Style.less";
@import "UIAddressBar/Style.less";


.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBarAlone {
	height: 44px;
}

.UIJCRExplorerPortlet {
	padding: 25px !important;
	
	.UIActionBarAlone {
		
		.tab-content {
			.border-top-radius(3px);
			border: 1px solid #c1c1c1;
			
			.nav-pills {
				.border-top-radius(3px);
			}
		}
	}
}

.uiActionBar {
	.tab-content {
		position: relative;
		.border-radius(0px);
	}
	.UIViewBarContainer {
		position: absolute;
		right: 10px;
		top: 7px;
	}
}

.uiTabGrayInPage .tab-content .nav-pills > li.dropdown  {
	margin-right: 200px;
}

.uiTabGrayInPage .tab-content .nav-pills > li > a > i {
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: top;
}

/********Resize Content********/
.uiWorkingArea {
	width: 100%;
	
	.leftContainer {
		float: left;
		width: 240px;
		overflow: hidden;
	}
	
	.rightContainer {
		float: left;
	}
	
	.UIDocumentWorkspace {
    margin-left: 0px;
    overflow: auto;
	}
	
	.UIListView {
		padding: 20px;
		border: 1px solid #cfcfcf;
		border-top: 0px;
		.border-bottom-radius(4px);
	}
}

/***** ResizeBar *****/
.uiWorkingArea .resizeBar {
	float: left;
	width: 40px;
	
	.resizeBarContent {
		width: 22px;
		cursor:col-resize;
		position: relative;
		
		&:hover {
			border-right: solid 1px #dedede;
				
			.resizeButton {
				display: block;
			}
		}
	}

	.resizeButton {
		#gradient .vertical(@white, #f1f1f1);
		.border-radius(5px 0px 0px 5px);
		.size(24px,16px);
		float:right;
		margin : auto;
		cursor : pointer;
		border: 1px solid #E1E1E1;
		border-right: none;
		display: none;
		position: absolute;
		top: 5px;
		right: 0px;
			
			[class^="uiIcon"] {
				width: 10px;
				margin-top: 3px;
			}
	}

}

.uiWorkingArea .resizeBarDisplay {
	.resizeBarContent {
		border-right: solid 1px #E1E1E1;
		cursor:col-resize;
	}
	.resizeButton {
		display: block;
	}
}

.uiWorkingArea .resizeNoneBorder {
	width: 0px;
	
	.resizeBarContent {
		width: 0px;
	}
	
	.resizeBarContent:hover {
		border: none;
		cursor: default;
	}
	.resizeButton {
		border: 1px solid #E1E1E1;
		.border-radius(0px 5px 5px 0px);
		display: block;
		right: 8px;
		border-left: none;
	}
}

.UIBrowseContentPortlet .TagmapHolder .Icon {
	float: left;
	width: 19px; height: 16px; 
	margin: 2px 5px 0px 5px;
	background: url('DefaultSkin/background/TagMapIcon19x16.gif') no-repeat; 
}

