.UIPCLVPortlet .SelectTargetPageIcon {
  background: url('DefaultSkin/images/SearchIcon.png') no-repeat;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.UIPCLVPortlet .RssIcon {
  background: url('DefaultSkin/images/RSS.gif') no-repeat left top;
  padding-left: 22px;
  float: right;
  color: #fe9832;
  display: block;
  margin-top: 9px;
  line-height: 16px;
  font-size: 11px;
}

.UIPCLVPortlet .UIFormGrid {
  margin: 0;
  margin-left: 40px;
}

.UIPCLVPortlet .HorizontalLayout .UIFormInputSet {
  padding: 0;
}

.UIPCLVPortlet .HorizontalLayout .FormContainer {
  padding: 0;
}

.UIPCLVPortlet .UIPageSelector {
  margin: 0;
  width: auto;
}

.UIPCLVPortlet #UIPageNodeSelector {
  float: left;
  width: 48%;
}

.UIPCLVPortlet .MiddleRightContainerOptions {
  width: 200%;
}

.UIPCLVPortlet .UIPageNodeSelector {
  width: 100%;
}

.UIPCLVPortlet #UIPageSelectorPanel {
  float: left;
  width: 48%;
  padding-left: 10px;
}

.UIPCLVPortlet .CaptionFunc {
  height: 1%;
  overflow: hidden;
  margin: 2px 0px;
}

.UIPCLVPortlet .CaptionFunc .CaptionRefresh {
  width: 200px;
  float: left;
}

.UIPCLVPortlet .CaptionFunc .CaptionRefresh a {
  display: block;
  padding: 0 3px 3px 25px;
  background: url('DefaultSkin/images/RefreshIcon.gif') no-repeat;
  color: #ff4200;
  font-weight: bold;
  font-size: 13px;
}

.UIContainerConfigOptions .ContainerConfigOptions {
  background: #F2F2F2 none repeat scroll 0 0;
  border: 1px solid #BCBCBC;
  padding: 5px;
  width: 100%;
}

.UIPageNodeSelector .UIVerticalSlideTabs {
  border: medium none;
  width: 100%;
}

.UIPCLVPortlet .UIPCLVConfig .TitleBar {
  background: transparent url('DefaultSkin/images/BgCategoryTitle1x25.gif') repeat-x scroll 0 0;
  border-top: 1px solid #B7B7B7;
  border-left: 1px solid #B7B7B7;
  border-right: 1px solid #B7B7B7;
  color: #424242;
  font-weight: bold;
  line-height: 25px;
  padding-left: 10px;
  text-align: center;
}
