/*---------------------------UICLVPortlet---------------------------------*/
.UICLVPortlet {
  
}

/*---------------------------UIFolderPathSelectorForm------------------------------------*/
.UICLVPortlet .UICLVFolderSelector {
  padding: 10px;
}

.UICLVPortlet .FolderExplorer {
  float: left;
  width: 230px;
  margin-right: 10px;
}

.UICLVPortlet .FolderExplorer .FolderExplorerTree {
  width: 230px;
}

.UICLVPortlet .UICLVFolderSelector .UITreeList {
  margin-left: 240px;
}

.UICLVPortlet .UICLVFolderSelector .Select16x16Icon {
  background: url('DefaultSkin/icons/SelectPage.gif') no-repeat;
  cursor: pointer;
  height: 16px;
  width: 16px;
}

.UICLVPortlet .TitleBox {
  background: #D2DDF1 url(/eXoResources/skin/DefaultSkin/webui/component/UIGrid/background/ThGridRepeatBg1x19.jpg) repeat-x scroll 0 0;
  border: 1px solid #B7B7B7;
  font-weight: bold;
  padding: 0 4px;
  vertical-align: middle;
  margin-bottom: -1px;
  line-height: 18px;
}

/*---------------------------UIViewerManagementForm------------------------------------*/
.UICLVPortlet .UICLVConfig .SelectFolderPathIcon {
  background: url('DefaultSkin/icons/AddPage.gif') no-repeat left center;
  width: 16px;
  height: 16px;
  margin-left: 10px;
  cursor: pointer;
  vertical-align: -2px;
}

.UICLVPortlet .UICLVConfig .FolderPathInputSet .UIFormInputSet .FormContainer {
  margin-left: -2px;
  padding: 0px;
}

.UICLVPortlet .UIForm .HorizontalLayout .UIFormInputSet {
  margin-left: -2px;
  padding: 0px;
}

.UICLVPortlet .UICLVConfig .UIFormInputSet {
    margin: auto;
    padding: 0px;
}

.UICLVPortlet .UICLVConfig input,.UICLVPortlet .UICLVConfig select {
    font-size: 11px;
    width: auto;
}

.UICLVPortlet .UIFormInputSetWithAction input,.HorizontalLayout .UICLVPortlet .UIFormInputSetWithAction input  {
	width:220px;
}

.UICLVPortlet .UICLVConfig .FieldLabel {
  width: 125px;
}

.UICLVPortlet .UICLVConfig .TitleBar {
  background: transparent url('DefaultSkin/icons/BgCategoryTitle1x25.gif') repeat-x scroll 0 0;
  border-top: 1px solid #B7B7B7;
  border-left: 1px solid #B7B7B7;
  border-right: 1px solid #B7B7B7;
  color: #424242;
  font-weight: bold;
  line-height: 25px;
  padding-left: 10px;
  text-align: center;
}

.UICLVPortlet .UICLVConfig .tdShowHelp {
  width: 30px;
}

.UICLVPortlet .UICLVConfig .fieldsetPreferences{
	margin: 10px;
	border: 1px solid #b7b7b7;
}

.UICLVPortlet .UICLVConfig .UIFormGrid {
	width: 100%;
}

.UICLVPortlet .UIStartEditionInPageWizard {
  text-align: center;
  padding: 20px;
}

.UICLVPortlet .UIStartEditionInPageWizard a:hover {
  font-size: 12px;
  color: #058EE6
}

.UIContentGrid {
  border: 1px solid #B7B7B7;
  border-collapse: collapse;
  margin: auto;
  padding-left: 1px;
}

.UIContentGrid .OddRow {
  background: #F0F0F0 none repeat scroll 0 0;
}

.UIContentGrid .EvenRow {
  background: #F5F5F5 none repeat scroll 0 0;
}

.UIContentGrid td {
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  border-top: 1px solid white;
  height: 20px;
  line-height: 20px;
  padding: 4px;
}

.UIContentGrid th {
  background: #D2DDF1 url(/eXoResources/skin/DefaultSkin/webui/component/UIGrid/background/ThGridRepeatBg1x19.jpg) repeat-x scroll 0 0;
  border: 1px solid #B7B7B7;
  font-weight: normal;
  line-height: 19px;
  padding: 0 4px;
  vertical-align: middle;
}

.UIContentGrid .DownRowIcon {
  background-image: url('DefaultSkin/icons/BlueDownArrow.gif');
  cursor: pointer;
  height: 16px;
  width: 16px;
}

.UIContentGrid .UpRowIcon {
  background-image: url('DefaultSkin/icons/BlueUpArrow.gif');
  cursor: pointer;
  height: 16px;
  width: 16px;
}

.UIContentGrid .DeleteContentIcon {
  background-image: url('DefaultSkin/icons/Delete.gif');
  cursor: pointer;
  height: 16px;
  width: 16px;
}

.UIContentGrid .DeleteIcon {
  width: 16px;
  height: 16px;
  background: url('DefaultSkin/icons/DustBin.gif') no-repeat;
}

.UICLVPortlet .UICLVContentSelector {
  margin: 10px;
}

.UICLVPortlet .UICLVContentSelectionPanel {
  margin-bottom: 10px;
  width: 93%;
}

.UICLVPortlet .UICLVContentSelectedGrid {
  width: 93%;
}

.UICLVPortlet .UICLVConfig .ItemsPerPage input {
  width: 20px;
}

.UICLVPortlet .UIContentListPresentationDefault .Caption .CaptionFunc {
  padding: 10px 0;
  height: 39px;
  overflow: hidden;
}

.UICLVPortlet .CaptionFunc .UIPaginatorDefault {
  text-align: right;
  float: right;
}

.UICLVPortlet .CaptionFunc .CaptionRefresh {
  float: left;
}

.UICLVPortlet .CaptionFunc .CaptionRefresh a {
  display: block;
  padding: 0 3px 3px 25px;
  background: url('DefaultSkin/icons/RefreshIcon.gif') no-repeat;
  color: #ff4200;
  font-weight: bold;
  font-size: 13px;
}

.UICLVPortlet .SelectTargetPageIcon {
  background: url('DefaultSkin/icons/SearchIcon.png') no-repeat;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.UICLVPortlet .QuestionIcon {
  background: url('DefaultSkin/icons/QuestionIcon.png') no-repeat;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.OneColumnCLVTemplate .Contents .Column1 img {
  width: 51px;
}

.UICLVPortlet .UIFormGrid {
  margin: 0;
}

.UICLVPortlet .HorizontalLayout .UIFormInputSet {
  padding: 0;
}

.UICLVPortlet .UIPageSelector {
  margin: 0;
  width: auto;
}

.UICLVPortlet #UIPageNodeSelector {
  float: left;
  width: 48%;
}

.UICLVPortlet .MiddleRightContainerOptions {
  width: 200%;
}

.UICLVPortlet .UIPageNodeSelector {
  width: 100%;
}

.UICLVPortlet #UIPageSelectorPanel {
  float: left;
  width: 48%;
  padding-left:10px;
}

.UIPageNodeSelector .UIVerticalSlideTabs {
  border: medium none;
  width: 100%;
}

.UIForm .FieldComponent .FieldComponent input {
  width: 220px;
}

.UIContainerConfigOptions .ContainerConfigOptions {
  -moz-background-clip: border;
  -moz-background-inline-policy: continuous;
  -moz-background-origin: padding;
  background: #F2F2F2 none repeat scroll 0 0;
  width: 100%;
}


.UICLVPortlet .RssIcon {
  background: url('DefaultSkin/icons/RSS.gif') no-repeat left top;
  padding-left: 22px;
  float: right;
  color: #fe9832;
  display: block;
  margin-top: 9px;
  line-height: 16px;
  font-size: 11px;
}

.TwoColumnsCLVTemplate .CLV {
	border:1px solid transparent;
	-moz-border-radius-topleft:0px;
	-moz-border-radius-topright:0px;
}

.TwoColumnsCLVTemplate .Contents .Column2 {
	margin-right:10px;
	padding:0 0 10px 0;
}

/*
.UIPresentationContainer{
	border:1px solid transparent;
}
*/

.UICLVFolderMode{
	border:1px solid transparent;
}

.Column2{
	border:1px solid transparent;
}

.Column1{
	border:1px solid transparent;
	overflow:hidden;
}

/*
.UISingleContentViewerPortlet {
	border:1px solid transparent;
}
*/


