/* ################# Common Tag ###################*/
html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

table {
	font-family: Tahoma;
	font-size: 11px;
}

a {
	color: black;
	text-decoration: none;
}

.Explorer {
	font-family: Tahoma;
	font-size: 11px;	
}

.Explorer .Separator {
	background: url('../images/Separator4x1.gif') repeat-y top right;
	width: 4px;
	height: 100%;
	float: left;
}

/* Folder Navigation */
.Navigation {
	width: 200px;	
	float: left;	
	height: 100%;
}

.Navigation .TitleText {
	padding-left: 15px;
}

.Navigation .Tree {
	font-weight: bold;
	overflow: auto;
	height: 100%;
}

/* Tree */
.Tree .HomeNode {
	background: url('../images/TreeRoot24x18.gif') no-repeat left;
	padding-left: 24px; 
	height: 18px;
	line-height: 18px;
}

.Tree .Node {
	background: url('../images/TreeDot8x10.gif') repeat-y 5px top;
	line-height: 18px;
	padding-top: 7px;	
	white-space: nowrap;
}

.Tree .NodeGroup {
	display: none;
	padding-left: 20px;
}

.Tree .LastNode{
	background: url('../images/TreeDot8x10.gif') no-repeat 5px top;
}

.Tree .IconNode {
	padding-left: 20px;
}

.Tree .Expand {
	background: url('../images/TreeMinus18x16.gif') no-repeat 5px top;
	height: auto;
	padding-left: 23px;
}

.Tree .Collapse {
	background: url('../images/TreePlus18x16.gif') no-repeat 5px top;
	height: auto;
	padding-left: 23px;
	border: 1px solid white;
}

.Tree .IconClose {
	padding-left: 25px;
	margin-left: 5px;
}

.exo_portalFolder16x16Icon {
	background:transparent url('../images/icons/nt-unstructured.gif') no-repeat scroll 0% 0%;
	height:16px;
	width:16px;
}

.exo_webContent16x16Icon {
	background:transparent url('../images/icons/nt-unstructured.gif') no-repeat scroll 0% 0%;
	height:16px;
	width:16px;
}

/* Folder Explorer */
.Workspace {
	margin-left: 200px;	
}



/* ################# Action Button ###################*/
.ActionContainer {
	width: auto;
	margin: auto;
}

.ActionContainer .ActionButton {
	float: left;
	margin: 0px 3px 0px 3px;
	height: 23px;
	line-height: 23px;
}

.ActionButton .ButtonMiddle {
	background: url('../images/Button6x44.gif') repeat-x bottom center;
	line-height: 22px;
	padding: 0px 15px;
}

.ActionButton .ButtonLeft {
	background: url('../images/Button6x44.gif') no-repeat top left;
	line-height: 22px;
	padding-left: 3px;
}

.ActionButton .ButtonRight {
	background: url('../images/Button6x44.gif') no-repeat top right;
	line-height: 22px;
	padding-right: 3px;
}

/* ################# Menu Setting ###################*/
.Workspace .TitleBar {
	text-align: center;
	background: url('../images/TitleBar1x24.gif') repeat-x;
	line-height: 24px;
	font-weight: bold;
}

.Workspace .Setting {
	background-color: #F7F7F7;
	border-top: 1px #B7B7B7 solid;
	border-bottom: 1px #B7B7B7 solid;
	padding-bottom: 10px;
}

.Setting .SettingTable {
	text-align: center;
	margin-top: 10px;
}

.Setting .SettingTable tr {
	text-align: left;
}

.Setting .SettingTable td {
	width: 110px;
	padding-left: 40px;
	line-height: 23px;
}

.Setting .SettingTable input {
	margin-right: 10px;
}

.Setting .SettingTable a {
	color: #000000;
	text-decoration: none;
}

.Setting .SettingTable a:hover{
	color: #058EE6;
}

/* ################# List Item ###################*/
.DisplayArea {
	overflow: auto;
	padding-right: 4px;
}

.ThumbnailTable {
	float: left;
	width:100px;
}

.DocumentTable a {
	padding-left: 20px; 
}

.DocumentTable .ItemName {
	width: 50%;
}

.DocumentTable .ItemName a {
	color: #058EE6;
	text-decoration: none;
}

.DocumentTable .ItemDate {
	width: 400px;
	text-align: right;
}

.DocumentTable .ItemSize {
	width: 100px;
	text-align: right;
}



.ListContainer{
	margin-top: 8px;
}

.ListContainer .LeftWorkspace{
	 width: 210px;
	 float: left;
	 border: 1px solid #f4f4f4;
	 background:#fafafa;
	 overflow: auto;
	 height: 540px;
}

.ListContainer .RightWorkspace{
	 margin-left: 218px;
}

.ListContainer .ActionBar {
	background: #f5f5f5;
	border: 1px solid #d7d7d7;
	padding: 0px 8px 0px 16px;
	height: 30px;
}

.ListContainer .ActionBar .FinterTitle{
	float: left;
	line-height: 26px;
}

.ListContainer .ActionBar .FinterInput{
	float: left;
	line-height: 20px;
	margin: 4px 0px;
}

.ListContainer .ActionBar .FinterInput .Finter{
	background: white url('../images/FinterIcon.gif') no-repeat 95% center;
	height: 18px;
  width: 120px;
  border: 1px solid #d7d7d7;
  padding-right: 20px;
  
}

.ListContainer .ActionBar .SeparatorLineL{
	float: left;
	border-left: 1px solid #d7d7d7;
	height: 30px;
	margin: 0px 8px;
}

.ListContainer .ActionBar .SeparatorLineR{
	float: right;
	border-left: 1px solid #d7d7d7;
	height: 30px;
	margin: 0px 8px;
}

.ListContainer .ActionBar .ControlButton{
	float: left;
	margin: 6px 18px 2px 0px;
	padding-left: 20px;
	line-height: 20px;
}

.ListContainer a{
	color: black;
	text-decoration: none;
}

.ListContainer a:hover{
	color: #058ee6;
}

.ListContainer .ActionBar .InsertLinksIcon{
	background: url('../images/InsertLinksIcon.gif') no-repeat left center;
}

.ListContainer .ActionBar .UploadIcon{
	background: url('../images/UploadIcon.gif') no-repeat left center;
}

.ListContainer .ActionBar .SettingIcon{
	background: url('../images/SettingIcon.gif') no-repeat left center;
	float: right;
	margin: 6px 8px 2px 0px;
	padding-left: 20px;
	line-height: 20px;
	width: 70px;
}


.ListContainer .BreadcumbsPortlet{
	background: #fbfbfb;
	border: 1px solid #f4f4f4;
	padding: 4px 8px 4px 16px;
	margin-top: 8px;
	height: 18px;
}

.ListContainer .BreadcumbsPortlet .BreadcumbsContainer{
	Float: left;
}

.ListContainer .BreadcumbsPortlet .BreadcumbTab{
	Float: left;
}

.ListContainer .BreadcumbsPortlet .HomeIcon{
	background: url('../images/HomeIcon.gif') no-repeat center;
	float: left;
	margin: 0px 8px 0px 0px;
	height: 16px;
	width: 16px;
}


.ListContainer .BreadcumbsPortlet .RightArrowIcon{
	background: url('../images/RightArrowIcon.gif') no-repeat center;
	float: left;
	margin: 0px 8px 0px 0px;
	height: 16px;
	width: 16px;
}

.ListContainer .BreadcumbsPortlet .Selected{
	float: left;
	display: block;
	margin: 0px 8px 0px 0px;
	color: #1b59aa;
}

.ListContainer .BreadcumbsPortlet .Nomal{
	float: left;
	display: block;
	margin: 0px 8px 0px 0px;
	text-decoration: none;
	color: black;
}

.ListContainer .RightWorkspace .THBar{
	background: #dee0e4;
	text-align: left;
	padding-left: 12px;
	border-left: 1px solid #f4f4f4;
	line-height: 20px;
}

.ListContainer .RightWorkspace .TRNoContent{
	font-style: italic;
	color: #FF5604;
	text-align: center;
}

.ListContainer .RightWorkspace .EvenItem{
	background: #f5f4ee;
	text-align: left;
}

.ListContainer .RightWorkspace .SelectItem{
	background: #fffadc;
	text-align: left;
}

.ListContainer .RightWorkspace .OddItem{
	text-align: left;
	background: #f1f1f1;
}

.ListContainer .RightWorkspace .Item{
	padding-left: 20px;
	line-height: 26px;
	background-position: left 3px;
	cursor: pointer;
}

.ListContainer td {
	border-left: 1px solid #f4f4f4;
}

.ListContainer .LeftWorkspace .Node {
	line-height:18px;
	margin-left:15px;
	padding-top:7px;
	white-space:nowrap;
}

.ListContainer .LeftWorkspace .ChildrenContainer {
	margin-left:15px;
}

.ListContainer .LeftWorkspace .Node .Expand {
	background: url('images/ExpandIcon.gif') no-repeat scroll left center;
	height:auto;
	padding-left:18px;
}

.ListContainer .LeftWorkspace .Node .Collapse {
	background: url('images/CollapseIcon.gif') no-repeat scroll left center;
	height:auto;
	padding-left:18px;
}

.ListContainer .LeftWorkspace .Node .IconNode {
	background-position:left center;
	height:20px;
	padding-left:20px;
	display: block;
}

.ListContainer .LeftWorkspace .Node .DefaultPageIcon {
	background: url('images/DefaultPageIcon.gif') no-repeat scroll left center;
}

.text_html16x16Icon {
  background: url('images/icons/html.gif') no-repeat left center; /* orientation=lt */
  background: url('images/icons/html.gif') no-repeat right center; /* orientation=rt */
}
 
.text_css16x16Icon {
  background: url('images/icons/css.gif') no-repeat left center; /* orientation=lt */
  background: url('images/icons/css.gif') no-repeat right center; /* orientation=rt */
}
 
.application_x-javascript16x16Icon {
  background: url('images/icons/js.gif') no-repeat left center; /* orientation=lt */
  background: url('images/icons/js.gif') no-repeat right center; /* orientation=rt */
}

.image_png16x16Icon {
  background: url('images/icons/png.gif') no-repeat left center; /* orientation=lt */
  background: url('images/icons/NodeTypes/png.gif') no-repeat right center; /* orientation=rt */
}

.exo_image16x16Icon {
  background: url('images/icons/exo-image.gif') no-repeat left center; /* orientation=lt */
  background: url('images/icons/exo-image.gif') no-repeat right center; /* orientation=rt */
}

.DisplayArea .default16x16Icon {
	height:auto;
	width:auto;
}

.UIAction .ActionContainer {
 width: auto;
 margin: auto;
} 

.UIAction .ActionButton {
 display: block;
 float: left; /* orientation=lt */
 float: right; /* orientation=rt */
 margin: 0px 3px;
 cursor: pointer;
}

.UIAction a {
}

.UIAction a:hover {
 color: #058ee6;
}


.UIAction .ActionButton .Icon {
 padding-left: 20px; /* orientation=lt */
 padding-right: 20px; /* orientation=rt */
 width: auto;
 height: auto;
 background-position: left center; /* orientation=lt */
 background-position: right center; /* orientation=rt */
 background-repeat: no-repeat;
}

.UIAction .LightBlueStyle .ButtonLeft {
 background: url('images/LightBlueStyle.gif') no-repeat left top;
 padding: 0px 0px 0px 3px;
}

.UIAction .LightBlueStyle .ButtonRight {
 background: url('images/LightBlueStyle.gif') no-repeat right top;
 padding: 0px 3px 0px 0px ;
}

.UIAction .LightBlueStyle .ButtonMiddle {
  line-height: 22px; text-align: center; 
 background: url('images/LightBlueStyle.gif') repeat-x bottom;
 white-space: nowrap;
 display: table-cell;
 padding: 0px 12px;
}

.UIHomePagePortlet .UIWorkingWorkspace .RightWorkspace .ListView {
	border: 1px solid #e7e7e7;
}

/* ================================================= Page Iterator =========================================*/

.PageIterator {    
	float:right;
	margin: 0px ;
	padding: 3px 0px 0px 5px ;
}

.PageIterator .PageIteratorContainer {    
  float: right ;
  overflow: hidden; 
}

.PageIterator .PageIteratorContainer .LeftPageIteratorBlock{    
  line-height: 18px ; 
  float: right ;
  margin-right: 15px;
}

.PageIterator .PageIteratorContainer .RightPageIteratorBlock{    
  float: right ;
}

.PageIterator .Icon {
  float: left ;
  margin: 0px 2px 0px 0px ;
  width: 18px ; height: 17px ;
}

.PageIterator .TotalPages {
  float: left ;
  line-height: 16px ; 
}

.PageIterator .PagesTotalNumber {
  float: left ;
  line-height: 17px ; 
  color: #0183f1;
  margin-left: 5px;
}

.PageIterator .LastTopPageIcon {
  vertical-align: middle ;
  background: url('../images/ScrollDoubleBackArrows.gif') no-repeat ;
  cursor: pointer ;
}

.PageIterator .NextTopPageIcon {
  background: url('../images/ScrollDoubleNextArrows.gif') no-repeat ;
  cursor: pointer ;
}

.PageIterator .LastPageIcon {
  background: url('../images/ScrollSingleBackArrow.gif') no-repeat ;
  cursor: pointer ; 
}

.PageIterator .NextPageIcon {
  background: url('../images/ScrollSingleNextArrow.gif') no-repeat ;
  cursor: pointer ;
}

.PageIterator .DisableLastTopPageIcon {
  vertical-align: middle ;
  background: url('../images/DoubleBackArrows.gif') no-repeat ;
}

.PageIterator .DisableNextTopPageIcon {
  background: url('../images/DoubleNextArrows.gif') no-repeat ;
}

.PageIterator .DisableLastPageIcon {
  background: url('../images/SingleBackArrow.gif') no-repeat ;
}

.PageIterator .DisableNextPageIcon {
  background: url('../images/SingleNextArrow.gif') no-repeat ;
}
/* End */

.PageIterator .Number {
  float: left ;
  text-align: center;
  margin: 0px 2px 0px 0px;
  line-height: 17px;
}

.PageIterator .PageSelected {
  line-height: 15px;
  height: 15px ;
  border: 1px solid #dfdfdf;
  color: #f16701;
  font-weight: bold;
  padding: 0px 6px;
  cursor: default;
}

.PageIterator .PageNormal {
	margin: 0px 0px 0px 0px ;
  padding: 1px 7px;
  border: 1px solid #dfdfdf;
  color: #333333 ;
  background: white;
}

.PageIterator .Number a {
  padding: 1px 6px 1px 7px;
}

.PageIterator .Number a:hover {
  padding: 1px 6px 1px 7px;
  color: #058ee6 ;
  border: 1px solid #777777;
}

.pg-normal {
    color: black;
    font-weight: normal;
    text-decoration: none;    
    cursor: pointer;    
}
.pg-selected {
    color: black;
    font-weight: bold;        
    text-decoration: underline;
    cursor: pointer;
}
