/* ################# Common Tag ###################*/
html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

table {
	font-family: Tahoma;
	font-size: 11px;
}

a {
	color: black;
	text-decoration: none;
}

.Explorer {
	font-family: Tahoma;
	font-size: 11px;	
}

.Explorer .Separator {
	background: url('../images/Separator4x1.gif') repeat-y top right;
	width: 4px;
	height: 100%;
	float: left;
}

/* Folder Navigation */
.Navigation {
	width: 200px;	
	float: left;	
	height: 100%;
}

.Navigation .TitleText {
	padding-left: 15px;
}

.Navigation .Tree {
	font-weight: bold;
	overflow: auto;
	height: 100%;
}

/* Tree */
.Tree .HomeNode {
	background: url('../images/TreeRoot24x18.gif') no-repeat left;
	padding-left: 24px; 
	height: 18px;
	line-height: 18px;
}

.Tree .Node {
	background: url('../images/TreeDot8x10.gif') repeat-y 5px top;
	line-height: 18px;
	padding-top: 7px;	
	white-space: nowrap;
}

.Tree .NodeGroup {
	display: none;
	padding-left: 20px;
}

.Tree .LastNode{
	background: url('../images/TreeDot8x10.gif') no-repeat 5px top;
}

.Tree .IconNode {
	padding-left: 20px;
}

.Tree .Expand {
	background: url('../images/TreeMinus18x16.gif') no-repeat 5px top;
	height: auto;
	padding-left: 23px;
}

.Tree .Collapse {
	background: url('../images/TreePlus18x16.gif') no-repeat 5px top;
	height: auto;
	padding-left: 23px;
	border: 1px solid white;
}

.Tree .IconClose {
	padding-left: 25px;
	margin-left: 5px;
}

.exo_portalFolder16x16Icon {
	background:transparent url('../images/icons/nt-unstructured.gif') no-repeat scroll 0% 0%;
	height:16px;
	width:16px;
}

.exo_webContent16x16Icon {
	background:transparent url('../images/icons/nt-unstructured.gif') no-repeat scroll 0% 0%;
	height:16px;
	width:16px;
}

/* Folder Explorer */
.Workspace {
	margin-left: 200px;	
}

.MenuBar {
	background: url('../images/MenuBar1x28.gif') repeat-x;
	line-height: 28px;				
	padding-left: 5px;
	height: 28px;
	border-bottom: 1px #B7B7B7 solid;
}

.Workspace .MenuBar .Item {
	float: left;
	padding-left: 28px;
	margin-right: 13px;
}

.Workspace .MenuBar .IconRefresh {
	background: url('../images/icons/Refresh22x23.gif') no-repeat center left;
}

.Workspace .MenuBar .IconUpload {
	background: url('../images/icons/Upload22x23.gif') no-repeat center left;
}

.Workspace .MenuBar .IconSeparator {
	float: left;
	margin-right: 10px;
}

.Workspace .MenuBar .IconSetting {
	background: url('../images/icons/Setting22x23.gif') no-repeat center left;
}

.Workspace .MenuBar .IconHelp {
	background: url('../images/icons/Help22x23.gif') no-repeat center left;
}

/* ################# Action Button ###################*/
.ActionContainer {
	width: auto;
	margin: auto;
}

.ActionContainer .ActionButton {
	float: left;
	margin: 0px 3px 0px 3px;
	height: 23px;
	line-height: 23px;
}

.ActionButton .ButtonMiddle {
	background: url('../images/Button6x44.gif') repeat-x bottom center;
	line-height: 22px;
	padding: 0px 15px;
}

.ActionButton .ButtonLeft {
	background: url('../images/Button6x44.gif') no-repeat top left;
	line-height: 22px;
	padding-left: 3px;
}

.ActionButton .ButtonRight {
	background: url('../images/Button6x44.gif') no-repeat top right;
	line-height: 22px;
	padding-right: 3px;
}

/* ################# Menu Setting ###################*/
.Workspace .TitleBar {
	text-align: center;
	background: url('../images/TitleBar1x24.gif') repeat-x;
	line-height: 24px;
	font-weight: bold;
}

.Workspace .Setting {
	background-color: #F7F7F7;
	border-top: 1px #B7B7B7 solid;
	border-bottom: 1px #B7B7B7 solid;
	padding-bottom: 10px;
}

.Setting .SettingTable {
	text-align: center;
	margin-top: 10px;
}

.Setting .SettingTable tr {
	text-align: left;
}

.Setting .SettingTable td {
	width: 110px;
	padding-left: 40px;
	line-height: 23px;
}

.Setting .SettingTable input {
	margin-right: 10px;
}

.Setting .SettingTable a {
	color: #000000;
	text-decoration: none;
}

.Setting .SettingTable a:hover{
	color: #058EE6;
}

/* ################# List Item ###################*/
.DisplayArea {
	padding: 10px 0px 0px 10px;
	overflow: auto;
}

.ThumbnailTable {
	float: left;
	width:100px;
}

.DocumentTable a {
	padding-left: 20px; 
}

.DocumentTable .ItemName {
	width: 50%;
}

.DocumentTable .ItemName a {
	color: #058EE6;
	text-decoration: none;
}

.DocumentTable .ItemDate {
	width: 400px;
	text-align: right;
}

.DocumentTable .ItemSize {
	width: 100px;
	text-align: right;
}

/* ################# Context Menu ###################*/
.ContextMenu {
	background: #C4C4C4 none repeat scroll 0%;
	border: 1px solid #7E7E7F;
	background: #F6F6F6 none repeat 0%;
	margin: 1px;
	padding: 5px 0px;
	position: absolute;
}

.ContextMenu .MenuItem {
	cursor: pointer;
	line-height: 16px;
	white-space: nowrap;
}

.ContextMenu .IconItem {
	line-height: 16px;
	margin: 0px 7px;
	padding: 5px 0px 5px 26px;
}

.AddNewDocument {
	display: none;
	border: 1px #C7C7C7 solid;
	position: absolute;
}

.AddNewDocument .IconAdd {
	background: url('../images/icons/NewDocument16x14.gif') no-repeat left center;
	width: auto;
}

.ListItemOption {
	display: none;
	width: 88px;
	border: 1px #C7C7C7 solid;
	position: absolute;
}

.ListItemOption .IconView {
	background: url('../images/icons/View16x20.gif') no-repeat left center;
	width: auto;
}

.ListItemOption .IconSelect {
	background: url('../images/icons/Select16x20.gif') no-repeat left center;
	width: auto;
}

.StatusBar {
	width: 100%; 
	height: 20px; 
	padding: 2px;
	line-height: 20px; 
	background: #E3E1CD;
}

.AddForm, .AlertForm {
	border: 1px #000000 solid;
	padding: 10px;
	z-index: 1;
	background: #ffffff;
	width: 300px;
	margin: auto;
	overflow: auto;
}

.IFrameFormContainer {
	left: 250px; 
	top: 200px; 
	position: absolute;
	border: 1px #000000 solid;
	padding: 10px;
	z-index: 1;
	background: #ffffff;
}

.Mask {
	background: black; 
	position: absolute;
	display: none;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	*filter: alpha(opacity = 50);
}



.UploadForm .Abort  .Abort {
	display: block;
}

.UploadForm .Abort  .Delete {
	display: none;
	background: none;
}

.UploadForm .Delete  .Abort {
	display: none;
}

.UploadForm .Delete  .Delete {
	display: block;
	background: none;
}

.UploadForm input {
	margin: 10px 6px 0px 0px;
	width: 260px;
}

.UploadForm iframe {
	height: 0px;
	border: none;
}
.UploadForm  .progress {
    height: 18px;
    line-height: 18px;
}
.PopupContainer {
	height: auto!important;
}

.UIHomePagePortlet {
  font-family: verdana;
  font-size: 11px;
  margin: auto;
}

.UIHomePagePortlet  .UIHomePageDT{
  background: #9d9fa2;
  padding: 10px;
  -moz-border-radius-bottomleft:5px;
  -webkit-border-bottom-left-radius:5px;
  -moz-border-radius-bottomright:5px;
  -webkit-border-bottom-right-radius:5px;
}

.UIHomePagePortlet  .UIBannerPortlet {
  padding: 8px;
}


.UIHomePagePortlet  .TitleBar{
  background: #0a4da5;
  -moz-border-radius-topleft:3px;
  -webkit-border-top-left-radius:3px;
  -moz-border-radius-topright:3px;
  -webkit-border-top-right-radius:3px;
  padding: 0px 8px 0px 20px;
  color: white;
  line-height: 24px;
  height: 24px;
  
}

.UIHomePagePortlet  .UIWorkingWorkspace{
	 background: white;
	 padding: 8px;
}

.UIHomePagePortlet  .UIWorkingWorkspace .ListContainer{
	margin-top: 8px;
}

.UIHomePagePortlet  .UIWorkingWorkspace .ListContainer .LeftWorkspace{
	 width: 210px;
	 float: left;
	 border: 1px solid #f4f4f4;
	 background:#fafafa;
	 overflow: auto;
	 height: 461px;
}

.UIHomePagePortlet  .UIWorkingWorkspace .ListContainer .RightWorkspace{
	 margin-left: 218px;
	 overflow: auto;
}

.UIHomePagePortlet  .UIWorkingWorkspace .ActionBar {
	background: #f5f5f5;
	border: 1px solid #d7d7d7;
	padding: 0px 8px 0px 16px;
	height: 30px;
}

.UIHomePagePortlet  .UIWorkingWorkspace .ActionBar .FinterTitle{
	float: left;
	line-height: 26px;
}

.UIHomePagePortlet  .UIWorkingWorkspace .ActionBar .FinterInput{
	float: left;
	line-height: 20px;
	margin: 4px 0px;
}

.UIHomePagePortlet  .UIWorkingWorkspace .ActionBar .FinterInput .Finter{
	background: white url('../images/FinterIcon.gif') no-repeat 95% center;
	height: 18px;
  width: 120px;
  border: 1px solid #d7d7d7;
  padding-right: 20px;
  
}

.UIHomePagePortlet  .UIWorkingWorkspace .ActionBar .SeparatorLineL{
	float: left;
	border-left: 1px solid #d7d7d7;
	height: 30px;
	margin: 0px 8px;
}

.UIHomePagePortlet  .UIWorkingWorkspace .ActionBar .SeparatorLineR{
	float: right;
	border-left: 1px solid #d7d7d7;
	height: 30px;
	margin: 0px 8px;
}

.UIHomePagePortlet  .UIWorkingWorkspace .ActionBar .ControlButton{
	float: left;
	margin: 6px 18px 2px 0px;
	padding-left: 20px;
	line-height: 20px;
}

.UIHomePagePortlet  .UIWorkingWorkspace .ActionBar .ViewType{
	float: right;	
	line-height: 20px;
  margin: 4px 2px 2px 0px;
	width: 200px;
}

.UIHomePagePortlet  a{
	color: black;
	text-decoration: none;
}

.UIHomePagePortlet  a:hover{
	color: #058ee6;
}

.UIHomePagePortlet  .UIWorkingWorkspace .ActionBar .InsertLinksIcon{
	background: url('../images/InsertLinksIcon.gif') no-repeat left center;
}

.UIHomePagePortlet  .UIWorkingWorkspace .ActionBar .UploadIcon{
	background: url('../images/UploadIcon.gif') no-repeat left center;
}

.UIHomePagePortlet  .UIWorkingWorkspace .ActionBar .SettingIcon{
	background: url('../images/SettingIcon.gif') no-repeat left center;
	float: right;
	margin: 6px 8px 2px 0px;
	padding-left: 20px;
	line-height: 20px;
	width: 70px;
}


.UIHomePagePortlet  .UIWorkingWorkspace .BreadcumbsPortlet{
	background: #fbfbfb;
	border: 1px solid #f4f4f4;
	padding: 4px 8px 4px 16px;
	margin-top: 8px;
	height: 18px;
}

.UIHomePagePortlet  .UIWorkingWorkspace .BreadcumbsPortlet .BreadcumbsContainer{
	Float: left;
}

.UIHomePagePortlet  .UIWorkingWorkspace .BreadcumbsPortlet .BreadcumbTab{
	Float: left;
}

.UIHomePagePortlet  .UIWorkingWorkspace .BreadcumbsPortlet .HomeIcon{
	background: url('../images/HomeIcon.gif') no-repeat center;
	float: left;
	margin: 0px 8px 0px 0px;
	height: 16px;
	width: 16px;
}


.UIHomePagePortlet  .UIWorkingWorkspace .BreadcumbsPortlet .RightArrowIcon{
	background: url('../images/RightArrowIcon.gif') no-repeat center;
	float: left;
	margin: 0px 8px 0px 0px;
	height: 16px;
	width: 16px;
}

.UIHomePagePortlet  .UIWorkingWorkspace .BreadcumbsPortlet .Selected{
	float: left;
	display: block;
	margin: 0px 8px 0px 0px;
	color: #1b59aa;
}

.UIHomePagePortlet  .UIWorkingWorkspace .BreadcumbsPortlet .Nomal{
	float: left;
	display: block;
	margin: 0px 8px 0px 0px;
	text-decoration: none;
	color: black;
}
/* ################# Select View Type ###################*/
.ViewType a {  
    margin: 0 6px 0 0;
}
.list-view{
	background: url("/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/wcm-view.png") no-repeat scroll center center transparent;
  display: block;
  height: 25px;
  width: 28px;
  float: right;
}
.list-view-selected{
	background: url("/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/wcm-view-selected.png") no-repeat scroll center center transparent;
  display: block;
  height: 25px;
  width: 28px;
  float: right;
}
.thumbnail-view{
  background: url("/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/ThumbnailView.gif") no-repeat scroll center center transparent;
  display: block;
	height: 25px;
  width: 28px;
  float: right;
}
.thumbnail-view-selected{
  background: url("/ecmexplorer/skin/webui/component/explorer/control/DefaultSkin/background/ThumbnailViewSelected.gif") no-repeat scroll center center transparent;
  display: block;
	height: 25px;
  width: 28px;
  float: right;
}
/*############################## -- Begin UIThumbnailsView -- ##############################*/

.UIHomePagePortlet  .UIWorkingWorkspace .RightWorkspace .UIThumbnailsView{
}

.UIHomePagePortlet  .UIWorkingWorkspace .RightWorkspace .UIThumbnailsView .ThumbnailImage {
  width: 64px;
  height: 64px;
  border: 1px solid #afffff;
  text-align: center;
  margin: auto;
}

.UIHomePagePortlet .UIWorkingWorkspace .RightWorkspace .UIThumbnailsView .ActionIconsContainer {
  padding-left: 10px; /* orientation=lt */
  padding-right: 10px; /* orientation=rt */
}

.UIHomePagePortlet  .UIWorkingWorkspace .RightWorkspace .UIThumbnailsView .Icon48x48 {
  width: 48px;
  height: 48px;
  margin: auto;
  cursor: pointer;
  position: relative;
}

.UIHomePagePortlet  .UIWorkingWorkspace .RightWorkspace .UIThumbnailsView .ActionIconLabel a {
  color: black;
}

.UIHomePagePortlet  .UIWorkingWorkspace .RightWorkspace .UIThumbnailsView .ActionIconLabel a:hover {
  color: orange;
  cursor: pointer;
}

.UIHomePagePortlet  .UIWorkingWorkspace .RightWorkspace .UIThumbnailsView .ActionIconLabel {
  width: 100px;
  line-height: 15px;
  margin: auto;
  height: 30px;
  text-align: center;
  cursor: pointer;
}

.UIHomePagePortlet  .UIWorkingWorkspace .RightWorkspace .UIThumbnailsView .ActionIconContainer {
	width: 70px;
  height: 70px;
  border: solid 1px #eeeeee;
  background: #f8f8f8;
  margin: auto;
}

.UIHomePagePortlet  .UIWorkingWorkspace .RightWorkspace .UIThumbnailsView .ActionIconBox {
	width: 90px;
  float: left; /* orientation=lt */  
  margin: 5px;
  height: 110px;
  overflow:hidden;
	cursor: pointer;
}

.UIThumbnailsView .NoContent{
  color: #FF5604;
  font-style: italic;
  text-align: center;
}

/*############################## -- End UIThumbnailsView -- ##############################*/

.UIHomePagePortlet  .UIWorkingWorkspace .RightWorkspace .THBar{
	background: #dee0e4;
	text-align: left;
	padding-left: 12px;
	border-left: 1px solid #f4f4f4;
	line-height: 20px;
}

.UIHomePagePortlet  .UIWorkingWorkspace .RightWorkspace .TRNoContent{
	font-style: italic;
	color: #FF5604;
	text-align: center;
}

.UIHomePagePortlet  .UIWorkingWorkspace .RightWorkspace .EvenItem{
	background: #f5f4ee;
	text-align: left;
}

.UIHomePagePortlet  .UIWorkingWorkspace .RightWorkspace .SelectItem{
	background: #fffadc;
	text-align: left;
}

.UIHomePagePortlet  .UIWorkingWorkspace .RightWorkspace .OddItem{
	text-align: left;
	background: #f1f1f1;
}

.UIHomePagePortlet  .UIWorkingWorkspace .RightWorkspace .Item{
	border-left: 1px solid #f4f4f4;
	line-height: 26px;
	background-position: left 3px;
	cursor: pointer;
	padding:2px 0 2px 20px;
}

.UIHomePagePortlet  .UIWorkingWorkspace .LeftWorkspace .Node {
	line-height:18px;
	margin-left:15px;
	padding-top:7px;
	white-space:nowrap;
}

.UIHomePagePortlet  .UIWorkingWorkspace .LeftWorkspace .ChildrenContainer {
	margin-left:15px;
}

.UIHomePagePortlet  .UIWorkingWorkspace .LeftWorkspace .Node .ExpandIcon {
	background: url('../images/ExpandIcon.gif') no-repeat scroll left center;
	height:auto;
	padding-left:18px;
}

.UIHomePagePortlet  .UIWorkingWorkspace .LeftWorkspace .Node .CollapseIcon {
	background: url('../images/CollapseIcon.gif') no-repeat scroll left center;
	height:auto;
	padding-left:18px;
}

.UIHomePagePortlet  .UIWorkingWorkspace .LeftWorkspace .Node .NodeIcon {
	background-position:left center;
	height:20px;
	padding-left:20px;
	display: block;
}

.UIHomePagePortlet  .UIWorkingWorkspace .LeftWorkspace .Node .DefaultPageIcon {
	background: url('../images/DefaultPageIcon.gif') no-repeat scroll left center;
}
.text_html16x16Icon {
  background: url('../images/icons/html.gif') no-repeat left center; /* orientation=lt */
  background: url('../images/icons/html.gif') no-repeat right center; /* orientation=rt */
}
 
.application_x-javascript16x16Icon {
  background: url('../images/icons/js.gif') no-repeat left center; /* orientation=lt */
  background: url('../images/icons/js.gif') no-repeat right center; /* orientation=rt */
}

.image_png16x16Icon {
  background: url('../images/icons/png.gif') no-repeat left center; /* orientation=lt */
  background: url('../images/icons/NodeTypes/png.gif') no-repeat right center; /* orientation=rt */
}

.exo_image16x16Icon {
  background: url('../images/icons/exo-image.gif') no-repeat left center; /* orientation=lt */
  background: url('../images/icons/exo-image.gif') no-repeat right center; /* orientation=rt */
}

.UIAction .ActionButton .Icon {
 padding-left: 20px; /* orientation=lt */
 padding-right: 20px; /* orientation=rt */
 width: auto;
 height: auto;
 background-position: left center; /* orientation=lt */
 background-position: right center; /* orientation=rt */
 background-repeat: no-repeat;
}

.UIAction .LightBlueStyle .ButtonLeft {
 background: url('../images/LightBlueStyle.gif') no-repeat left top;
 padding: 0px 0px 0px 3px;
}

.UIAction .LightBlueStyle .ButtonRight {
 background: url('../images/LightBlueStyle.gif') no-repeat right top;
 padding: 0px 3px 0px 0px;
}

.UIAction .LightBlueStyle .ButtonMiddle {
  line-height: 22px; text-align: center; 
 background: url('../images/LightBlueStyle.gif') repeat-x bottom;
 white-space: nowrap;
 padding: 0px 12px;
}

.UIHomePagePortlet .UIWorkingWorkspace .RightWorkspace .ListView {
	border: 1px solid #e7e7e7;
}

/* ================================================= Page Iterator =========================================*/

.PageIterator {    
	float:right;
	margin: 0px ;
	padding: 3px 0px 0px 5px ;
}

.PageIterator .PageIteratorContainer {    
  float: right ;
  overflow: hidden; 
}

.PageIterator .PageIteratorContainer .LeftPageIteratorBlock{    
  line-height: 18px ; 
  float: right ;
  margin-right: 15px;
}

.PageIterator .PageIteratorContainer .RightPageIteratorBlock{    
  float: right ;
}

.PageIterator .Icon {
  float: left ;
  margin: 0px 2px 0px 0px ;
  width: 18px ; height: 17px ;
}

.PageIterator .TotalPages {
  float: left ;
  line-height: 16px ; 
}

.PageIterator .PagesTotalNumber {
  float: left ;
  line-height: 17px ; 
  color: #0183f1;
  margin-left: 5px;
}

.PageIterator .LastTopPageIcon {
  vertical-align: middle ;
  background: url('../images/ScrollDoubleBackArrows.gif') no-repeat ;
  cursor: pointer ;
}

.PageIterator .NextTopPageIcon {
  background: url('../images/ScrollDoubleNextArrows.gif') no-repeat ;
  cursor: pointer ;
}

.PageIterator .LastPageIcon {
  background: url('../images/ScrollSingleBackArrow.gif') no-repeat ;
  cursor: pointer ; 
}

.PageIterator .NextPageIcon {
  background: url('../images/ScrollSingleNextArrow.gif') no-repeat ;
  cursor: pointer ;
}

.PageIterator .DisableLastTopPageIcon {
  vertical-align: middle ;
  background: url('../images/DoubleBackArrows.gif') no-repeat ;
}

.PageIterator .DisableNextTopPageIcon {
  background: url('../images/DoubleNextArrows.gif') no-repeat ;
}

.PageIterator .DisableLastPageIcon {
  background: url('../images/SingleBackArrow.gif') no-repeat ;
}

.PageIterator .DisableNextPageIcon {
  background: url('../images/SingleNextArrow.gif') no-repeat ;
}
/* End */

.PageIterator .Number {
  float: left ;
  text-align: center;
  margin: 0px 2px 0px 0px;
  line-height: 17px;
}

.PageIterator .PageSelected {
  line-height: 15px;
  height: 15px ;
  border: 1px solid #dfdfdf;
  color: #f16701;
  font-weight: bold;
  padding: 0px 6px;
  cursor: default;
}

.PageIterator .PageNormal {
	margin: 0px 0px 0px 0px ;
  padding: 1px 7px;
  border: 1px solid #dfdfdf;
  color: #333333 ;
  background: white;
}

.PageIterator .Number a {
  padding: 1px 6px 1px 7px;
}

.PageIterator .Number a:hover {
  padding: 1px 6px 1px 7px;
  color: #058ee6 ;
  border: 1px solid #777777;
}

.pg-normal {
    color: black;
    font-weight: normal;
    text-decoration: none;    
    cursor: pointer;    
}
.pg-selected {
    color: black;
    font-weight: bold;        
    text-decoration: underline;
    cursor: pointer;
}
