/*############################## -- Begin UISideBar   -- ##############################*/
.uiSideBar  {
	.uiBox {
		margin: 0px;
	}

	.uiTreeExplorer {
		padding: 0px;
		margin: -10px -10px 0px -10px;
	}

	#UIAllItems {
		margin-bottom: 20px;
	}

	.uiBox .title {

		.sideGeneratal{
			cursor: pointer;
			float: right;
			height:16px;
			width:16px;
			display: block;
		}
	}

	.uiBox .uiContentBox {
		padding: 10px;
	}

	.uiSelectContent {
		background: @componentBackground;
		border-top: 1px solid @borderColor;
		height: 30px;
		line-height: 16px;
		padding: 0px 3px;
		.border-bottom-radius(3px);

		.normalItem {
			cursor: pointer;
			padding: 8px 8px 0px 8px;
			.size(23px,14px);
			float: left;
			margin-top: -1px;

			&:hover [class^="uiIconEcms"] {
				background-image: url("/eXoWCMResources/skin/images/Icons/uiIconsEcmsBlue.png");
			}

			&:hover .uiIconEcmsTagExplorerMini {
				background-image: url("@{images-path}/Icons/uiIconsBlue.png");
			}
		}

		.selectedItem {
			cursor: pointer;
			padding: 8px 8px 0px 8px;
			.size(23px,14px);
			background: @white;
			float: left;
			border-left: 1px solid @borderColor;
			border-right: 1px solid @borderColor;
			margin-top: -1px;

			[class^="uiIconEcms"] {
				background-image: url("/eXoWCMResources/skin/images/Icons/uiIconsEcmsBlue.png");
			}

			.uiIconEcmsTagExplorerMini {
				background-image: url("@{images-path}/Icons/uiIconsBlue.png");
			}
		}


		.MoreItem {
			line-height: 26px;
			cursor: pointer;
			padding: 8px;
			float: left;
			width: 14px;
			margin-top: -1px;
		}

		.itemIcon {
			margin: auto;
			.size(15px, 16px);
			display: block;
		}

		.defaultIcon {
			background: url('/ecmexplorer/skin/webui/component/explorer/sidebar/DefaultSkin/icons/Generatal.png') no-repeat center;
		}
		.actionItem {
			background: url('/ecmexplorer/skin/webui/component/explorer/sidebar/DefaultSkin/icons/ActionItem.gif') no-repeat center;
		}
	}

	.selectItem {
    overflow: auto;
	}
}

.uiSideBar  {

	.resizeTreeExplorer {
		height: 18px;
		text-align: center;
		/*cursor: row-resize;*/

		.uiIconArrowDown {
			cursor : pointer;
		}
	}

	.DriversButton {
		background: url('/ecmexplorer/skin/webui/component/explorer/sidebar/DefaultSkin/icons/DriversButton.png') no-repeat left center;
		cursor: pointer;
		float: right;
		height:20px;
		margin-top:2px;
		width:33px;
	}

	.SideGeneratal {
		cursor: pointer;
		float: right;
		height:17px;
		margin-top:4px;
		width:17px;
	}
}


.uiSideBar  {

	.ListExtendedItem {
			background: none repeat scroll 0 0 @componentBackgroundLight;
			border: 1px solid @borderColor;
			padding: 5px;
			position: absolute;
	}

	.ListExtendedItem .IconPopup{
			display: block;
			margin: 4px 0;
			padding: 2px 6px;
	}
}


/*############################## -- End UISideBar   -- ##############################*/

/*############################## -- UITagExplorer   -- ##############################*/

.uiSideBar .UITagExplorer {
	text-align: left;
	line-height: 22px;

	.title .actionIcon {
		margin: -3px;
	}

	.tagContainer a {
		color: @grayDark;
		margin: 0px 15px 7px 0px;

		&:hover {
		color: @linkColorHover;
		}
	}
}

/*############################## -- UISavedSearches   -- ##############################*/
.advancedSearchIcon {
	margin: -3px;
}

/*############################## -- uiViewRelationList   -- ##############################*/
.uiViewRelationList {
	.frameContent {
		color: @grayLight;
		a {
			color: @grayDark;
			&:hover {
				color: @linkColor;
			}
	}
	}
}
