.UIForm .UIFormGrid td.FieldLabel {
  padding: 4px;
  text-align: right;
  vertical-align: top;
  width: 20%;
}

td {
  min-width: 20px;
}

.UIForm .HorizontalLayout .UIFormInputSet {
  margin: auto;
  padding: 0px;
}

.UIForm .HorizontalLayout .FieldComponent {
  
}

.UIForm .UIFormGrid .FieldComponent .usersInputSet {
  margin-left: 0px;
}

.UIWCMSearchPortlet .HorizontalLayout .UIFormInputSet {
  padding: 0;
}

.UIWCMSearchPortlet .UIPageSelector {
  margin: 0;
  width: auto;
}

.UIWCMSearchPortlet #UIPageNodeSelector {
  float: left;
  width: 48%;
}

.UIWCMSearchPortlet .MiddleRightContainerOptions {
  width: 200%;
}

.UIWCMSearchPortlet .UIPageNodeSelector {
  width: 100%;
}

.UIWCMSearchPortlet #UIPageSelectorPanel {
  float: left;
  width: 48%;
  padding-left:10px;
}

.UIPageNodeSelector .UIVerticalSlideTabs {
  border: medium none;
  width: 100%;
}

.UIForm .FieldComponent .FieldComponent input {
  width: 210px;
}

.UIContainerConfigOptions .ContainerConfigOptions {
  -moz-background-clip: border;
  -moz-background-inline-policy: continuous;
  -moz-background-origin: padding;
  background: #F2F2F2 none repeat scroll 0 0;
  border: 1px solid #BCBCBC;
  padding: 5px;
  width: 100%;
}

.UIWCMSearchPortlet .SelectTargetPageIcon {
  background: url('DefaultSkin/icons/SearchIcon.png') no-repeat;
  width: 16px;
  height: 16px;
  cursor: pointer;
  display: block;
  margin-top: 8px;
}

.UIFormInputSet .FormContainer {
  padding: 0;
  width: 200px;
}

.UIForm .UIFormGrid td.FieldComponent {
  padding: 4px;
  width: 220px;
}
