/**
  LTR skin for exo:article template
*/
.UIArticle {
	background: white;
	padding: 8px;
}
	
.TitleLabel {
	background: white;
	padding: 0px 0px 5px 10px;
	font-size: 16px;
	color: #060606;
	font-weight: bold;
}

.LocationLabel {
  padding: 0px 0px 5px 10px;
  font-size: 12px;
  color: #080808;
  font-weight: bold;
}

.MapsFrame {
  padding: 0px 0px 5px 10px;
}

.LabelContent {
	padding-bottom: 5px;
}

.StartDateLabel {
  float: right;
}

.EndDateLabel {
  float: right;
}

.ArrowDate {
  float: right;
  background: url('/eXoDMSResources/skin/images/event/RightArrow.gif') no-repeat;
  width:16px;
  height:16px;
  margin: 10px;
}


/* Outer div */ 
div.datetime { 
border:1px solid #000; 
width:40px; 
}

div.datetime p { 
margin:0 auto; 
padding:0; 
text-align:center; 
font-size:x-small; 
}

div.datetime .top { 
color:#fefefe; 
background-color:#2f4765; 
padding: 2px 0px;
}

div.datetime .top p { 
font:bold x-small/100% Georgia, "New Century Schoolbook", "Book Antiqua", "Times New Roman", serif; 
letter-spacing:0.12em; 
text-transform:uppercase; 
}

/* day of the month (NUMBER) */ 
div.datetime p.day { 
font:bold 1.5em/98% Georgia, "New Century Schoolbook", "Book Antiqua", "Times New Roman", serif; 
letter-spacing:0.13em; 
padding-left: 2px;
}

/* year */ 
div.datetime p.yr { 
font:x-small/110% Verdana,Geneva,Arial,Helvetica,sans-serif; 
letter-spacing:0.05em; 
padding-bottom: 2px;
}

	
.UIArticle .ArticleFrame {
	background: white;
	padding: 0px 10px;
}
	
.UIArticle .ArticleFrame .TopLeftArticleFrame {
	background: url('/eXoDMSResources/skin/images/article/ImageArticle.gif') no-repeat left -16px;
	padding-left: 9px;
}

.UIArticle .ArticleFrame .TopRightArtictleFrame {
	background: url('/eXoDMSResources/skin/images/article/ImageArticle.gif') no-repeat right -16px;
	padding-right: 2px;
}

.UIArticle .ArticleFrame .TopCenterArticleFrame {
	background: url('/eXoDMSResources/skin/images/article/ImageArticle.gif') repeat-x right -32px;
	height: 16px; 
}

.UIArticle .ArticleFrame .ArticleFrameContainer {
	border: solid 1px #e0e0e0;
	border-top: none;
}

.UIArticle .TopCenterArticleFrame .ArticleField {
	padding: 0px 0px 0px 5px;
	width: 120px;
	background: #fff;
	height: 16px;
	float: left;
}

.UIArticle .MidlleLeftArticleFrame  {
	background: white;
}

.UIArticle .FieldLabel {
	float: left;
	font-weight: bold;
}

.UIArticle  .FieldIcon {
	float: left;
	margin-right: 5px;
	width: 16px; 
	height: 16px;
}

.UIArticle .SummaryIcon {
	background: url('/eXoDMSResources/skin/images/article/ImageArticle.gif') no-repeat left -48px;
}

.UIArticle .AttachmentsIcon {
	background: url('/eXoDMSResources/skin/images/article/ImageArticle.gif') no-repeat left -64px;
}

.UIArticle .RatingIcon {
	background: url('/eXoDMSResources/skin/images/article/Artitcle.gif') no-repeat left -64px;
}

.UIArticle .AttachmentsContainer .AttachmentsContentIcon {
	background: url('/eXoDMSResources/skin/images/article/AttachmentsIcon.gif') no-repeat left top;
	margin: 0px 5px 0px 3px;
	padding-left: 18px;
	height: 15px;
	float: left;
}

.UIArticle .AttachmentsContainer .RemoveAttachments {
	background: url('/eXoDMSResources/skin/images/article/DustBin.gif') no-repeat left top;
	margin: 0px 5px 0px 3px;
	padding-left: 18px;
	height: 16px;
	cursor: pointer;
	float: left;
}

.UIArticle .ContentIcon {
	background: url('/eXoDMSResources/skin/images/article/ImageArticle.gif') no-repeat left -96px;
}

.UIArticle .LinksIcon {
	background: url('/eXoDMSResources/skin/images/article/ImageArticle.gif') no-repeat left -80px;
}

.UIArticle .FieldContent {
	padding: 1px 5px 5px 0px;
	width: 90%;
}

.UIArticle .FieldContent .FieldContainerContent {
	font: normal 11px Verdana;
	background: white;
	margin: 5px 2px 3px 5px;
}

.UIArticle .FieldContent .LabelContent{
	padding: 5px 0px 0px 5px;
	overflow: auto;
	text-align: left;
}

.UIArticle .LabelContent p a {
	color: #058EE6;
	text-decoration: underline;
}

.UIArticle .DocumentRating {
	margin-left: 150px;
	width: 300px;
} 

.UIArticle .ContainerLinks {
	border-top: dotted 1px #dcdcdc;
	margin: 12px  10px 0px 10px;
	padding: 5px;
}

.UIArticle .ContentLinks {
	float: left;
	width: 75px;
}

.UIArticle .WorkContentLinks {
	float: left;
	padding-left: 5px;
}

.UIArticle .Links div {
	padding-bottom: 3px;
}

.UIArticle .Links a {
	text-decoration: none;
	color: #058ee6;
}

.UIArticle .Links a:hover {
	text-decoration: underline;
	color: orange;
}

.UIArticle .ArticleTCDecorator .Language {
	text-align: left;
	color: #7d7d7d;
	padding: 12px 0px 0px 10px;
	font-weight: bold;
}

.UIArticle  .Language a.LanguageTitle {
	text-align: left;
	color: #058ee6;
	font-weight: normal;
}

.UIArticle  .Language a:hover.LanguageTitle {
	text-align: left;
	color: #ffa21d;
	font-weight: normal;
}

.UIArticle  .Language a:hover.DefaultLanguageTitle {
	text-align: left;
	color: #ffa21d;
	font-weight: bold;
}
